##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
## Used to get the display value of a relation - this is the value that should be set on the screen when the picker returns, having picked a row
#set($sessionData = $viewMethods.getSessionData())
#set($table = $sessionData.getTable())
## The relation field
#set($pickerField = $sessionData.getCustomField('picker_field'))
#set($pickerValue = $sessionData.getCustomString('picker_value'))

##TODO: when relating to another relation. this doesn't work
##Check it out

#set($displayField = $pickerField.getDisplayField())
#if($displayField.equals($displayField.getTableContainingField().getPrimaryKey()))
  #set($displayValue = $pickerField.getDisplayValue($pickerValue))##
#else
  #set($displayValue = $pickerValue)##
#end
$displayValue