##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($pickerField=$view.getSessionData().getCustomField('picker_field'))
#set($relatedField=$pickerField.getRelatedField())
#set($displayField = $pickerField.getDisplayField())
#set($relatedTable=$relatedField.getTableContainingField())
#set($relatedTableReports = $view.getViewableReports($relatedTable))

#set($reportCount = 0)

#foreach($report in $relatedTableReports)
  #set($reportCount = $reportCount + 1)
  #set($reportName = $report.getReportName())
  #if((!$reportName.contains("dbvcalc")) && (!$reportName.contains("dbvcrit")) && (!$report.equals($relatedTable.getDefaultReport())))
    <option value="$report.getInternalReportName()" #if($reportCount == 1)selected#end>$reportName</option>
  #end
#end
<option value="$relatedTable.getDefaultReport().getInternalReportName()" #if($reportCount == 0)selected#end>All fields and records</option>  
