##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<table id="reportData" cellspacing="0">
  <thead>
    <tr>
      <th class="leading">&nbsp;</th>
          		<th>
    				       <div title="Page Title">Page Title</div>
          		</th>
          		<th>
    				       <div title="Content Preview">Content Preview</div>
          		</th>
      <th class="trailing">&nbsp;</th>
    </tr>
    <tr name="fieldFilters" id="fieldFilters" on="true">
      <td class="leading">&nbsp;</td>
        <td>
          <input type="text" name="page_title" is_filter="true" onkeyup="new fSetFilter(this)" gtpb_return="gui/resources/picker/picker_body" value="">
        </td>
        <td>
          <input type="text" name="page_content" is_filter="true" onkeyup="new fSetFilter(this)" gtpb_return="gui/resources/picker/picker_body" value="">
        </td>
		      <td class="trailing">&nbsp;</td>      
    </tr>
  </thead>
  <tbody name="reportBody" id="reportBody">
    #parse('gui/resources/picker/wiki_body.vm')
		</tbody>
</table>