##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($currentModule = $sessionData.getModule())
These modules will be loaded along with $currentModule when loaded as an app<p>
#set($internalModuleName = $module.getInternalModuleName())
## Force refresh of graph and image if necessary
#set($modules = $view.getLoggedInUser().getCompany().getModules())
#if($module.getUseDefaultRelatedModules())
  ## Generate a suggested set of related modules
  #set($relatedModules = $view.getDependentModules($currentModule))
#else
  #set($relatedModules = $currentModule.getRelatedModules())
#end
#foreach($module in $modules)
  #if(!$currentModule.equals($module))
    #set($internalModuleName = $module.getInternalModuleName())
    <input type="checkbox" identifier="$internalModuleName" id="$internalModuleName" gtpb_relatedmodule="$internalModuleName" name="update_module" #if($relatedModules.contains($module)) checked #end>
    <label for="$internalModuleName">$module</label><br>
  #end
#end