##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($module = $sessionData.getModule())
#set($currentIconPath = $module.getIconPath())
<style>
  div#moduleIconPicker table.iconPickerTable {
    border-collapse:collapsed;
    margin-top:30px;
  }
  
  div#moduleIconPicker table.iconPickerTable td {  
    border:1px solid #999999;
  }
  
  div#moduleIconPicker table.iconPickerTable td:hover {
    background-color:#dae2ff;
  }
  
  div#moduleIconPicker table.iconPickerTable td#icon_pending {
    border-color:#FFBA3B;
  }
  
  div#moduleIconPicker table.iconPickerTable td#icon_selected {
    border-color:#FFBA3B;
    background-color:#ffd588;
  }
  
  .options_wrapper div.options_set td:first-child:first-line {
    font-size: auto;
    color: auto;
  }
</style>

<div id="moduleIconPicker">
  <div class="iconPickerDiv" style="display: block;">
    <table cellspacing="5" cellpadding="0" border="0" class="iconPickerTable">
      <tbody>
        <tr>
          <td iconname="icon-adjust"><i class="icon-adjust"></i></td>
          <td iconname="icon-exclamation-sign"><i class="icon-exclamation-sign"></i></td>
          <td iconname="icon-money"><i class="icon-money"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

