##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($report = $sessionData.getReport())
#set($calendarSyncable = $report.getCalendarSyncable())
#set($calendarField = $report.getCalendarField())
#if($calendarSyncable || $calendarField)
  Allowing calendar synchronisation will allow users to export information in this report to Google Calendar (or other calendars). Once exported, data is no longer password protected so please be aware of any security considerations<p>
  <input type="checkbox" name="set_calendar_syncable" value="true" onclick="new fChange(this)" #if($calendarSyncable)checked #end> Allow calendar synchronization
  #if($calendarField)
	by $calendarField<p>
	<a href="#" onclick="javascript:fShowModalDialog('gui/calendar_export/calendar_export_wizard','Calendar Export', function() {}, 'ok cancel', 'width=650px; height=500px');">View export information</a>
  #else
	<div class="warningmessage">
	  <b>No valid dates</b><p>
	  This report contains no date fields that are accurate to the day, so can't be sync'ed to a calendar
	</div>
  #end
#else
  This calendar can't be synced as it doesn't contain any user-created date fields that are accurate to the day.
#end
