##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#parse("gui/administration/users/option_sets/radio_user_macro.vm")

#set($table=$sessionData.getTable())
<table cellspacing=0 border=0 cellpadding=0>
  <tr>
    <td>&nbsp;</td>
    <th colspan=4>privileges</th></tr>
      #foreach($user in $view.adminGetUsers())
		#set($highestReportPrivilege = "")
		#if($view.userHasPrivilege($user, "MANAGE_TABLE", $table))
          #set($highestTablePrivilege = "MANAGE_TABLE")
		#elseif($view.userHasPrivilege($user, "EDIT_TABLE_DATA", $table))
          #set($highestTablePrivilege = "EDIT_TABLE_DATA")
		#elseif($view.userHasPrivilege($user, "VIEW_TABLE_DATA", $table))
          #set($highestTablePrivilege = "VIEW_TABLE_DATA")  
		#end

        <tr>
          <td>$user.getUserName()</td>
          <td>#radio_user('none' '' 'gtpb_clear_all_table_privileges')</td>
          <td>#radio_user('read' 'VIEW_TABLE_DATA' 'gtpb_set_max_table_privilege')</td>
          <td>#radio_user('edit' 'EDIT_TABLE_DATA' 'gtpb_set_max_table_privilege')</td>
          <td>#radio_user('manage' 'MANAGE_TABLE' 'gtpb_set_max_table_privilege')</td>
        </tr>
      #end
</table>