body {
  background-color: white;
}

#calendar {
  margin: 1em;
}

#report_selection {
  width: 100%;
  border: 1px solid gray;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
}

#report_selection h2 {
  font-size: 11pt;
  margin: 0px;
}