body {
  background-color: white;
}

#rest_of_page {
  margin: 1em;
}

#calendar {
  margin-top: 1em;
}

#selected_reports {
  position: absolute;
  left: 400px;
  right: 0px;
}

#report_selection {
  width: 100%;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  display: none;
  background-color: #f4f4f4;
  padding-top: 0.3em;
}

#report_selection ul {
  margin: 0;
  padding: 0;
}

#report_selection h2 {
  font-size: 11pt;
  margin: 0px;
}

#report_selection h2 span img {
  vertical-align: middle;
}
	
#report_selection_header {
  background-color: #cccccc;
  cursor: pointer;
  padding: 0.2em;
}

.legend_report {
  margin: 0.1em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.2em;
}

.fc-event:hover {
  height: auto!important;
  z-index: 999!important;
  border: 5px solid white;
  padding: 5px;
}