body {
  background-color: white;
}

#calendar {
  margin: 1em;
}

#selected_reports {
  position: absolute;
  left: 400px;
  right: 0px;
}

#report_selection {
  width: 100%;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  display: none;
}

#report_selection h2 {
  font-size: 11pt;
  margin: 0px;
}

a#show_report_selection {
  float: right;
}

a#hide_report_selection {
  float: right;
}

#report_selection_header {
  background-color: #cccccc;
}

.gtpb_event {

}