#set($internalReportFieldName = $sessionData.getCustomString("tooltip_internalfieldname"))
#set($reportField = $sessionData.getReport().getReportField($internalReportFieldName))
$reportField
#if($reportField.getFieldDescription() && ($reportField.getFieldDescription() != "") && ($reportField.getClass().getSimpleName() != "ReportCalcFieldDefn"))
	- $reportField.getFieldDescription()
#end
#set($displayDetails = true)
#if(($reportField.getBaseField().getFieldCategory() != "NUMBER") && ($reportField.getClass().getSimpleName().equals("ReportCalcFieldDefn")))
  #set($displayDetails = false)
#end
#if($displayDetails)
  #set($chartData = $view.getFieldSummaryData($reportField))
  #set($chartDataRows = $chartData.getChartDataRows())
	#if($chartDataRows.size() > 0)
    #set($groupingValues = $chartDataRows.get(0).getGroupingValues())
    #if($groupingValues.size() == 0)
      <br>
      #set($aggregateValues = $chartDataRows.get(0).getAggregateValues())
      #foreach($aggregate in $aggregateValues.keySet())
        ## e.g. "sum(value) = 104.23"
    	$aggregate.getAggregateFunction().getLabel() = $aggregateValues.get($aggregate)<br>
      #end
    #else
      ###if($chartDataRows.size() > 30)
      ##  #parse("gui/reports_and_tables/field_tooltip_cloud.vm")
      ###else
        #parse("gui/reports_and_tables/field_tooltip_sparkline.vm")
      ###end
      #end ## if there is a grouping
	#end
#end ## if displayDetails