#set($internalReportFieldName = $sessionData.getCustomString("internal_report_field_name"))
#set($reportField = $sessionData.getReport().getReportField($internalReportFieldName))
#set($reportSummaryData = $view.getFieldSummaryData($reportField))
$reportSummaryData.toString()