##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($SQ = "'")

## a list of reports by grouping (where a grouping has been defined) for pane1
#set($sessionData=$viewMethods.getSessionData())
#set($sessionReport = $sessionData.getReport())
#set($sessionReportGrouping = $sessionReport.getReportGrouping())
#set($sessionTable = $sessionData.getTable())
#set($sessionContext=$sessionData.getContext().toString())

## include custom per-company actions
#set($company = $viewMethods.getLoggedInUser().getCompany())
#set($companyName = $viewTools.cleanString($company.getCompanyName()))
#set($customisationsTemplateLocation = "gui/customisations/$companyName/applications.vm")
#if($viewTools.templateExists($customisationsTemplateLocation))
  #parse($customisationsTemplateLocation)
#end

## obtain a mapping of group to reports (Map<String, BaseReport[])
## don't add groups/reports where the report is the default report
## or a calculation/criteria report
#set($reportGroupings=$viewTools.getNewSortedStringObjectMap())
#set($reports=$viewMethods.getAllViewableReports())
#foreach($report in $reports)
  #set($displayReport = true)
  #if($report.getParentTable().getDefaultReport().equals($report))
    ## don't group/display default reports
    #set($displayReport = false)
  #end
  #set($reportName = $report.getReportName())
  #if( (($reportName.contains("dbvcalc")) || ($reportName.contains("dbvcrit"))) && ($sessionContext != "SYSADMIN"))
    ## don't display calculation/criteria reports
    #set($displayReport = false)  
  #end
  ## add report to mapping if it should be displayed
  #if($displayReport)
    #set($grouping=$report.getReportGrouping())
    #if($grouping.equals(""))
      #set($grouping="{ungrouped}")
    #end
    #if($reportGroupings.containsKey($grouping))
      #set($reportsArray=$reportGroupings.get($grouping))
    #else
      #set($reportsArray=[])
    #end
    #set($success=$reportsArray.add($report))
    #set($success=$reportGroupings.put($grouping, $reportsArray))
  #end
#end

## only show the grouped reports section if it isn't empty!
#if($reportGroupings.size() > 0)
## only expand if we're working with a report not a table


##<li branch=true #if(!($sessionReport.equals($sessionTable.getDefaultReport()))) expanded=true #end>Applications
##  <ul>

	#foreach($grouping in $reportGroupings.keySet())
  <li name="$grouping" branch="true" #if(($sessionReportGrouping==$grouping) || ($grouping=="{ungrouped}" && $sessionReportGrouping==""))expanded="true"#end>
    #set($icon = $app_icons.get($grouping))
    #if($icon && ($icon!="")) 
		      <span><img class="appIcon" src="resources/icons/applications/$icon">$grouping</span>
		    #else
		      $grouping
		    #end
		    #set($icon = "")
		  		  ## group actions
		    #set($groupActions = $viewMethods.getModuleActions($grouping))
		    #if($groupActions.size()>0)
		      <ul class="appActions">
		        #foreach($groupAction in $groupActions)
          <li class="appAction" onclick="top.fShowModalDialog(${SQ}$groupAction.getActionTemplate()${SQ},${SQ}$groupAction.getActionName()${SQ},$groupAction.getCallbackFunction(),${SQ}$groupAction.getButtons()${SQ},${SQ}$groupAction.getAttributes()${SQ})" title="$groupAction.getDescription()">$groupAction</li>
		        #end
		      </ul>
		    #end
    <ul>
		      ## reports
		      #foreach($report in $reportGroupings.get($grouping))
        #set($table=$report.getParentTable())
        <li name="$table.getInternalTableName()$report.getInternalReportName()">
          <a href="AppController.servlet?return=gui/reports_and_tables/report_data&set_table=$table.getInternalTableName()&set_report=$report.getInternalReportName()&set_report_row_limit=100&clear_all_report_sorts=true" title="#if(!$report.getReportDescription().equals(''))$report.getReportDescription()#else from the $table.getTableName() table#end" target="pane_2" name=caption type=reportname identifier="$report.getInternalReportName()">
          		  $report
          		</a> <span class="recordcount">()</span>
        </li>
      #end
    </ul>
  </li>
#end

##  </ul>
##</li>

#end