##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
$viewTools.startTimer("gui/reports_and_tables/pane3")

#set($mobile_device = $sessionData.getCustomBoolean("mobile_device"))

#if ($sessionData.getTable().getDefaultReport().equals($sessionData.getReport()))
	## if the current report is the default report, edit the table
	#parse('gui/reports_and_tables/default_pane3.vm')
#else
	## otherwise edit the report
    #parse('gui/reports_and_tables/report_pane3.vm')
#end
$viewTools.stopTimer("gui/reports_and_tables/pane3")
