<ul>
#foreach($filter in $filters)
  #if($filter.isFilterFieldFromReport())
	#set($field = $filter.getFilterReportField())
	#set($tableField = $field.getBaseField())
	#set($source = $field.getParentReport())
  #else
	#set($field = $filter.getFilterBaseField())
	#set($tableField = $field)
	#set($source = $tableField.getTableContainingField())
  #end
  #if($tableField.equals($tableField.getTableContainingField().getPrimaryKey()))
	#set($fieldIsPrimaryKey = true)
  #end
  #set($filterValues = $filter.getFilterValues())
  #if($filterValues.size() == 0)
	#set($filterValue = "")
  #elseif($filterValues.size() == 1)
	#foreach($fV in $filterValues)
	  #set($filterValue = $fV)
	#end
  #else
	#set($filterValue = $filterValues.toString())
  #end
  #set($filterType = $filter.getFilterType())
  #if($filterType.isDateComparison())
	#set($filterValueInverse = -1 * $filterValue)
  #end
  <li>
    #if($filterType == "EQUAL")
	  <i>$field</i> is $filterValue
	#elseif($filterType == "NOT_EQUAL_TO")
	  <i>$field</i> isn't $filterValue
	#elseif($filterType == "GREATER_THAN_OR_EQUAL_TO")
	  <i>$field</i> is more than $filterValue
	#elseif($filterType == "LESS_THAN")
	  <i>$field</i> is less than $filterValue
	#elseif($filterType == "STARTS_WITH")
	  <i>$field</i> starts with $filterValue
	#elseif($filterType == "DOES_NOT_START_WITH")
	  <i>$field</i> doesn't start with $filterValue
	#elseif($filterType == "NEWER_THAN_IN_DAYS")
	  #if($filterValue==0)
	    <i>$field</i> is today (or in future)
	  #else
	    <i>$field</i> is up to $filterValue days ago
	  #end
	#elseif($filterType == "NEWER_THAN_IN_WEEKS")
	  #if($filterValue==0)
	    <i>$field</i> is this week
	  #else
	    <i>$field</i> is up to $filterValue weeks ago
	  #end
	#elseif($filterType == "NEWER_THAN_IN_MONTHS")
	  #if($filterValue==0)
	    <i>$field</i> is this month
	  #else
	    <i>$field</i> is up to $filterValue months ago
	  #end
	#elseif($filterType == "NEWER_THAN_IN_YEARS")
	  #if($filterValue==0)
	    <i>$field</i> is this year
	  #else
	    <i>$field</i> is up to $filterValue years ago
	  #end
	#elseif($filterType == "OLDER_THAN_IN_DAYS")
	  #if($filterValue==0)
	    <i>$field</i> is today or older
	  #elseif($filterValue < 0)
		<i>$field</i> is up to $filterValueInverse days from now
	  #else
	    <i>$field</i> is at least $filterValue days ago
	  #end
	#elseif($filterType == "OLDER_THAN_IN_WEEKS")
	  #if($filterValue==0)
	    <i>$field</i> is this week or older
	  #elseif($filterValue < 0)
		<i>$field</i> is up to $filterValueInverse weeks from now
	  #else
	    <i>$field</i> is at least $filterValue weeks ago
	  #end
	#elseif($filterType == "OLDER_THAN_IN_MONTHS")
	  #if($filterValue==0)
	    <i>$field</i> is this month or older
	  #elseif($filterValue < 0)
		<i>$field</i> is up to $filterValueInverse months from now
	  #else
	    <i>$field</i> is at least $filterValue months ago
	  #end
	#elseif($filterType == "OLDER_THAN_IN_YEARS")
	  #if($filterValue==0)
	    <i>$field</i> is this year or older
	  #elseif($filterValue < 0)
		<i>$field</i> is up to $filterValueInverse years from now
	  #else
	    <i>$field</i> is at least $filterValue years ago
	  #end
	#elseif($filterType == "IS_NULL")
	  #if($fieldIsPrimaryKey)
		not in <i>$source</i>
	  #else
	    there is no <i>$field</i>
	  #end
	#elseif($filterType == "IS_NOT_NULL")
	  #if($fieldIsPrimaryKey)
	    contained in <i>$source</i>
	  #else
	    <i>$field</i> is filled in
	  #end
	#elseif($filterType == "IS_ONE_OF")
	  <i>$field</i> is one of $filterValue
	#end
  </li>
#end
</ul>