##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## a list of reports by module for pane1
#set($SQ = "'")

#if($mobile_device)
  #parse('gui/browser_incapabilities.vm')
  #set($pane2_template = "gui/mobile/pane2_selector")
  #set($reportRowLimit=20)
#else
  #set($pane2_template = "gui/reports_and_tables/report_data")
  #set($reportRowLimit=100)
#end

#set($sessionReport = $sessionData.getReport())
#set($sessionReportModule = $sessionReport.getModule())
#set($sessionTable = $sessionData.getTable())

## include custom per-company actions
#set($user = $view.getLoggedInUser())
#set($company = $user.getCompany())
#set($companyName = $viewTools.cleanString($company.getCompanyName()))
#set($customisationsTemplateLocation = "gui/customisations/$companyName/applications.vm")
#if($viewTools.templateExists($customisationsTemplateLocation))
  #parse($customisationsTemplateLocation)
#end

## Create a collection $moduleReports: each module maps to an array of reports
#parse("gui/resources/calc_module_reports.vm")
## only show the grouped reports section if it isn't empty!
#if($moduleReports.size() > 0)
  ## search box
  #if($reports.size() > 5000)
  <div id="reportsearch">
    <img src="resources/icons/applications/tango/actions/system-search.png" style="float:left"/>&nbsp;
	<input type="text" size="15" name="reportsearch" id="reportsearchbox"/>
  </div>
  #end ## search box
  #set($previousSection = "")
  ## Get colours array
  #parse('gui/resources/module_color_colors.vm')
  #set($hiddenReports = $user.getHiddenReports())
  #foreach($module in $moduleReports.keySet())
	#set($visibleModuleReports = $moduleReports.get($module))
	#set($temp = $visibleModuleReports.removeAll($hiddenReports))
	#if($visibleModuleReports.size() > 0)
    	#set($section = $module.getSection())
    	#if($section == "")
    		#set($section = $previousSection)
    	#end
    	## If first module doesn't have a section name, set it to the company name
    	#if(($foreach.count == 1) && ($section == ""))
    		#set($section = "$company")
    	#end
    	#if($section != $previousSection)
          #if($foreach.count > 1) </li></ul> #end
    	  <li><h1><span>$section</span></h1>
    	  <ul>
        #end
    	#set($previousSection = $section)
    	#set($internalModuleName = $module.getInternalModuleName())
    	
    	#set($colourStyleName = '')
    	#foreach($colour in $colours)
        	#if($colour.get('colourName') == $module.getColour())
        		#set($colourStyleName = $colour.get('styleName'))
    		#end
    	#end	
    	
    	<li id="$internalModuleName" class="#if(!$mobile_device && $internalModuleName.equals($sessionReportModule.getInternalModuleName())) modulecollapsed #end $colourStyleName">
    	  #set($moduleActions = $view.getModuleActions($internalModuleName))
    	  <h2><span><img src="resources/icons/applications/tango/$module.getIconPath()"/> 
    		$module
    		#if($mobile_device && ($moduleActions.size()>0))
    		  #foreach($moduleAction in $moduleActions)
    			<button class="moduleaction" internalmodulename="$internalModuleName" actionname="$moduleAction.getActionName()">&laquo; $moduleAction &raquo;</button>
    		  #end
    		#end
    	  </span></h2>
    	  #if(($moduleActions.size()>0) && (!$mobile_device) && ($user.getUserType() != "EXTERNAL"))
    	    <ul parent="$internalModuleName" class="moduleaction">
    		  #foreach($moduleAction in $moduleActions)
    			<li title="$moduleAction.getDescription()"><div class="module-tree-item-wrap"><a href="#" onclick="top.fShowModalDialog(${SQ}$moduleAction.getActionTemplate()${SQ},${SQ}$moduleAction.getActionName()${SQ},$moduleAction.getCallbackFunction(),${SQ}$moduleAction.getButtons()${SQ},${SQ}$moduleAction.getAttributes()${SQ}); return false">$moduleAction</a></div></li>
    		  #end
    		</ul>
    	  #end ## end if there are module actions
    	  <ul parent="$internalModuleName">
    	  #foreach($report in $visibleModuleReports) 
    		#set($table=$report.getParentTable())
    		<li id="$table.getInternalTableName()$report.getInternalReportName()">
    		  <div class="module-tree-item-wrap">
    			<a href="AppController.servlet?return=$pane2_template&set_table=$table.getInternalTableName()&set_report=$report.getInternalReportName()&set_report_row_limit=$reportRowLimit&clear_all_report_sorts=true&set_module=$module.getInternalModuleName()&cachebust=$viewTools.getRandomString()" #if(!$mobile_device)target="pane_2" class="report_tooltip" rel="AppController.servlet?return=gui/reports_and_tables/report_tooltip&set_custom_report=true&reportkey=tooltip_report&custominternalreportname=$report.getInternalReportName()"#end >
    				$report
    			</a>
    			<span class="recordcount">()</span>
    		  </div>
    		</li>
    	  #end ## end of loop through reports in a module
    	  </ul>
    	</li>
      #end
	#end ## end loop through modules
  </li></ul>
#end
