##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($table = $sessionData.getTable())
#set($report = $sessionData.getReport())
<h2>Summary for <a target="portalBase" href="${viewTools.getAppUrl()}?return=gui/display_application&set_table=$table.getInternalTableName()&set_report=$report.getInternalReportName()">$report</a>
</h2>

#set($printout = true)
#parse("/gui/reports_and_tables/tabs/summary.vm")
#set($printout = false)