/* override tabs.css */
body {
  overflow: visible ;
  background-color: #dbdbdb;
}

#reportDataView .block {
  margin: 2em;
  float: left;
  width: 250px;
  height: 150px;
  overflow: hidden;
  color: black;
  background: white;
}

#reportDataView .block:hover {
  cursor: pointer;
}

#levels {
  position: relative;
}

.level {
  position: absolute;
  top: 0px;
  -moz-transition-duration: 0.5s;
  width: 100%;
}

.flyUp {
  top: -1000px;
  height: 0px;
}

.flyDown {
  top: 1000px;
  height: 0px;
}

.title {
  display: none;
}

.transparent {
  opacity: 0;
}

.invisible {
  display: none;
}