/* override tabs.css */
body {
  overflow: visible ;
  background-color: #dbdbdb; /* 777788, bdbdbd */
}

#mini_app_header {
	position:absolute;
	top:0;
	right:0;
}

#mini_links .button {
  float: right;
  padding-top: 3px;
}

#mini_links a {
  text-decoration: none;
}

#mini_links .button img {
  height: 22px;
  width: 22px;
  border: 0;
  vertical-align: middle;
}

#you_are_here {
  text-shadow: none;
}

.reportDataView .block {
  margin: 2em;
  float: left;
  width: 250px;
  height: 150px;
  overflow: hidden;
  color: black;
  /* text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.reportDataView .block.current {
  background: white;
}

.reportDataView .block .new {
  font-size: 14pt;
}

.reportDataView .block .new img {
  vertical-align: middle;
}

.reportDataView .block.centrebox {
   /* flexbox, por favor */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  
  overflow: visible; /* necessary for FF */
  
  /* Also style centrebox */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e7ea)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #e6e7ea); /* for firefox 3.6+ */
  background: -ms-linear-gradient(top,  #fff,  #e6e7ea);
  background: linear-gradient(top,  #fff,  #e6e7ea);
  
}

.reportDataView .block:hover {
  cursor: pointer;
  border-color: #50add6; /* ab light blue */
  box-shadow: 0 1px 3px rgba(80, 173, 214, 0.5); /* RGB ab light blue */
  /* box-shadow: 0 1px 3px rgba(72, 111, 152, 0.3); /* RGB ab dark blue */
}

.slide.reportDataView .related {
  box-shadow: none;
  text-shadow: none;
  border: 1px solid #eeeeee;
  margin: 1.8em; /* fit three blocks to a slide */
}

.slide.reportDataView .related:hover {
  border-color: #50add6; /* ab light blue */
  box-shadow: 0 1px 3px rgba(80, 173, 214, 0.5); /* RGB ab light blue */
  /* box-shadow: 0 1px 3px rgba(72, 111, 152, 0.3); /* RGB ab dark blue */
}

.slide .title {
  text-align: center;
  /* font-weight: bold; */
  font-size: 14pt;
  text-shadow: none;
  margin: 1em;
}

.slide input, .slide textarea {
  background: none;
  border: 2px solid #f2f2f2; /* rgba(0,0,0,0) = transparent */
  position: relative;
  top: -4px;
}

.slide input:hover, .slide textarea:hover {
  background: white;
  border-color: #50add6;
}

.slide .editing {
  background: white;
  border-color: #ff8040!important; /* agileBase orange, override hover */
}

.slide .currency_symbol {
  float: none;
  left: 0px;
  top: -4px;
}

.rewind {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.slide_icon {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  padding-left: 1em;
  padding-top: 1em;
}

.dependent_tables {
  width: 30%;
  float: right;
  text-shadow: none;
  margin-top: 1em;
  padding-right: 0.5em;
}

.dependent_table {
  padding-left: 1em;
	height: 3em;
  border-bottom: 1px solid #F2F2F2;
  overflow: hidden;
}

.dependent_table.cross_reference {
  /* border-top: 1px solid rgba(255, 128, 64, 0.4); /* aB orange, 40% */
  /* border-left:  1px solid #ff8040;
  border-right:  1px solid #ff8040;  */
}

.dependent_table.cross_reference:last-child {
	/* with above, forms collapsed borders */
  /* border-bottom: 1px solid rgba(255, 128, 64, 0.4); */
}

.dependent_table.active {
  height: 5em;
}

.dependent_table h1 {
  margin:0;
  margin-top: 0.2em;
  font-weight: normal;
  font-size:14pt;
  text-transform: lowercase;
  color: #bbbbbb;
}

.dependent_table.active h1 {
  color: #486F98;
}

.dependent_table.active.related h1 {
  /* color: #50add6; */
}

.dependent_table:hover {
  cursor: pointer;
  background-color: white;
}

.snippet {
  height: 1.3em;
  width: 100%;
  overflow: hidden;
  color: #486F98;
}

.related .snippet {
  /* color: #50add6; */
}

#navrow {
  width: 100%;
  height: 40px;
}

#searchbox {
  margin-left: 2em;
  margin-top: 0.5em;
	width: 15em;
	font-size: 13pt;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 2em;
  float: right;
  /* no webkit border radius, webkit styles search inputs anyway */
}

#breadcrumb {
  background-color: white;
  padding: 0.5em;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: gray;
}

#breadcrumb .currentLevel {
  color: black;
}

#breadcrumb a {
  color: #486f98;
}

#jumpto {
  overflow: hidden;
  height: 2em;
  position: absolute;
  left: 25em;
  top: 1em;
  height: 24px;
}

.jump_label {
  float: left;
  position: relative;
  top: 3px;
  font-size: 13pt;
  color: white;
}

a.jumpto_table {
  background: white;
  float: left;
  border: 2px solid white;
  padding: 4px;
  height: 24px;
  text-decoration: none;
  text-transform: lowercase;
}

a.jumpto_table:hover {
  border-color: #50add6;
}

a.jumpto_table.current {
  background-color: #486f98; /* ab dark blue */
  color: white;
}

#levels {
  position: relative;
  background-color: #bdbdbd;
  height: 610px;
}

.level {
  position: absolute;
  top: 0px;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.flyUp {
  top: -100px;
  /* height: 0px; */
}

.flyDown {
  top: 100px;
  /* height: 0px; */
}

.breadcrumb_title {
  display: none;
}

.transparent {
  opacity: 0;
}

.invisible {
  display: none;
}

.slide table#reportData tr.rowb {
  background-image: none;
}

.slide table#reportData td.capitalised {
  text-align: right;
  width: auto;
}

.slide table#reportData tr.separator td.capitalised {
  text-align: left;
}

.slide .separator {
	background: url("../tabs/line.gif") repeat-x scroll 0 16px transparent;
}

.slide .separator .fieldname {
  margin-left: 0px;
  background: none;
}

.slide .separator span {
  background: none;
}

.slide table#reportData th {
  background: white;
  border: 0;
  text-shadow: none;
  font-weight: normal;
  font-size: 14pt;
  padding-top: 1em;
}

.slide_controls {
  height: 3.5em;
  position: relative;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #ff8040;
  text-align: center;
  background-color: white;
}

.slide_controls .button_group {
  margin-left: 2em;
  float: left;
}

.slide_controls button {
	margin: 0;
	margin-top: 0.5em;
	margin-left: 0.5em;
}

.slide_controls button img {
  vertical-align: middle;
}

.this_table {
  width: 70%;
  float: left;
}

.changed {
  text-decoration: underline;
}

.related_header {
  color: white;
  background-color: #486f98;
  border-bottom: 1px solid #ff8040;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.related_header:first-child {
  -ms-border-top-right-radius: 0.8em;
  -webkit-border-top-right-radius: 0.8em;
	border-top-right-radius: 0.8em;
}

img.go_right {
  display: none;
  float: left;
}

img.go_new {
	display: none;
  float: left;
}

.has_new img.go_new {
  display: block;
}

.active img.go_right {
  display: block;
}

.pane1 {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: auto;
  height: 100%;
}

.pane1 h2 {
  height: auto;
}