/* override tabs.css */
body {
  overflow: visible ;
  background-color: #dbdbdb;
}

#reportDataView .block {
  margin: 2em;
  float: left;
  width: 250px;
  height: 150px;
  overflow: hidden;
  color: black;
  background: white;
}