<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
#set($company=$view.getLoggedInUser().getCompany())
#set($dashboard=$company.getDashboard())
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="icon" href="resources/icons/gtpb.ico" type="image/x-icon"> <!-- favicon -->
  <title>
    $company dashboard
  </title>
  <script src="resources/jquery.js" language="Javascript"></script>
  <script src="resources/jquery-ui/js/jquery-ui-custom.js" language="Javascript"></script>
  <link type="text/css" href="resources/jquery-ui/css/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />  <style>
    @import url('resources/dashboard/styles.css');
  </style>
  #foreach($outlier in $outliers)
  #end
  <script language="JavaScript">
  jQuery(document).ready(function(){
    setupOutlierSlider();
  });
  </script>
</head>
<body>
<div id="header">
	<a id="home" href="#" alt="GT portalBase"><img src="/portalBase/website/images/logo-gtpb.png"></a>
</div>
<div class="portlet" id="outliers">
<div class="heading">
<span class="title">- Exceptions -</span>
<table border="0" width="100%"><tr>
	<td width="33%" style="text-align:left"><small>- low</small></td>
	<td width="34%" style="text-align:center"><small>threshold</small></td>
	<td width="33%" style="text-align:right"><small>high -</small></td>
</tr></table>
</div>
	<div id="outliers_slider"> </div>
	#parse("gui/dashboard/outliers.vm")
</div>
</body>
</html>