#set($mathTool = $viewTools.getMathTool())
#set($minStdDev = 10)
#set($outliers = $dashboard.getDashboardOutliers())
<ul>
#foreach($outlier in $outliers)
  #set($modificationDate = $outlier.getModificationDate())
  #set($temp = $modificationDate.setDateResolution($viewTools.getCalendarConstant("DAY_OF_MONTH")))
  #set($report = $outlier.getReport())
  #set($module = $report.getModule())
  #set($field = $outlier.getField())
  #set($rowID = $outlier.getRowID())
  #set($dataRowField = $outlier.getDataRowField())
  #set($stddevs = $dataRowField.getNumberOfStdDevsFromMean())
  #if($mathTool.abs($stddevs) < $minStdDev)
	#set($minStdDev = $mathTool.abs($stddevs))
  #end
  #set($colour = $dataRowField.getStandardDevHexColour())
  <li stddevs="$stddevs" style="display:none">
  <img src="resources/icons/applications/tango/$module.getIconPath()"/>
  $report.getModule() - $report <span class="datestamp">$modificationDate</span><br>
  <span style="color:$colour"><b>&raquo;</b></span> $dataRowField in $field is #if($stddevs >0) higher #else lower #end than expected
  </li>
#end
</ul>
#set($minStdDev = $mathTool.toInteger($minStdDev))
#set($maxStdDev = $minStdDev + 9)
<script language="JavaScript">
function setupOutlierSlider() {
    jQuery("#outliers_slider").slider({
	  animate: true,
	  min: $minStdDev,
	  max: $maxStdDev,
	  step: 1,
	  value: 5
	});
	
	jQuery("#outliers_slider").bind('slide', function(event, ui) {
	  showOutliers(ui.value);
	});
	
	showOutliers(5);
}

function showOutliers(threshold) {
    jQuery("#outliers ul li:visible").each(function(i) {
	  var jqOutlier = jQuery(this);
	  var stddevs = Math.abs(jqOutlier.attr("stddevs"));
	  if (stddevs <= threshold) {
	    jqOutlier.slideUp("slow");
	  }
	});
    jQuery("#outliers ul li:hidden").each(function(i) {
	  var jqOutlier = jQuery(this);
	  var stddevs = Math.abs(jqOutlier.attr("stddevs"));
	  if (stddevs > threshold) {
	    jqOutlier.slideDown("slow");
	  }
	});
}
</script>