body {
  font-family: Verdana,Geneva,sans-serif;
}

table#reportData { 
  width:100%; 
  height:100%;
  border-collapse:collapse;
  border:0;
  background-color: white;
}												

#wrapper table#reportData td {
  padding: 0.5em 6px;
  cursor: pointer;
}

#wrapper table#reportData th {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 6px;
}

#wrapper table#reportData th.leading {
  border-top-left-radius: 1em;
}

table#reportData th {
  background-color: white; /* #f1f2ed; */
  font-size:8pt; 
  color:black;
  font-weight:bold;
  border:1px solid white; /* #E8E7E3 / #cecece */
  border-bottom: 1px solid #E7F5F9;
  border-top: 0px;
  padding:5px;
  text-align:left;
  height:30px; 
  text-transform: capitalize;
  cursor:default; 
  background-repeat:no-repeat;
  background-position:right center;
}

.tab-item table#reportData th {
  font-size: 11pt!important; /* override modalFramework.css */
  border-bottom: 1px solid #E7F5F9!important;
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  height: 10px;
}

table#reportData th[onclick]:hover {
  border-bottom-color:#009FE3!important;
  border-bottom-width: 2px!important;
  background-color: #E8E7E3;
/*
  background: linear-gradient(top, #fafafa, #f8f8f8)!important;
  background: -moz-linear-gradient(top, #fafafa, #f8f8f8)!important;
  background: -webkit-linear-gradient(top, #fafafa, #f8f8f8)!important;
  background: ms-linear-gradient(top, #fafafa, #f8f8f8)!important;
*/
}

table#reportData th#sortedColumn{
  background-color: #E8E7E3;
}

table#reportData th#sortedColumn[sortDirn=true] {
  background-image:url('reports/asc.png');
  border-bottom-color: #8DC63F;
}

table#reportData th#sortedColumn[sortDirn=false] {
  background-image:url('reports/desc.png');
  border-bottom-color: #EC00BC;
}

table#reportData th div {
  width:100%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

table#reportData th.waiting {
  background-image:url('reports/spinner.gif')!important;
}
	
table#reportData thead tr#fieldFilters,
table#reportData thead tr.wikiTitle { 
  background-color:white;
}

div#wrapper table#reportData #fieldFilters td {
  padding: 2px 3px;
  height: 20px;
}

table#reportData thead tr#fieldFilters input { 
  width:100%;
  border-radius: 0.5em;
  border: 1px solid #656766;
}

div#fieldFilters input {
  border-radius: 0.5em;
  border: 1px solid #656766;
}
					  
table#reportData thead td { 
  border-bottom:1px solid #E7F5F9;
}					  

table#reportData .selectable tr.rowa:hover td,
table#reportData .selectable tr.rowb:hover td { 
  /* background-color:#dae2ff; */
}

table#reportData tbody tr.rowa:hover td.colored,
table#reportData tbody tr.rowb:hover td.colored { 
  /* background-image: url('../styles/highlighted_row_fine_angled.png');  */
}   
					  
table#reportData td { 
  vertical-align:top;
  /* border-right:1px solid #f2f2f2; */
  padding:3px 7px 3px 7px;
  font-size:8.5pt;
  cursor:default;
  height:30px;
  min-width:2em;
  color:black!important
}

/* narrow spacer cols */
table#reportData td:first-child {
  min-width: 0;
}

table#reportData td:last-child {
  min-width: 0;
}

table#reportData tr#currentRow td { 
  background-color: #009FE3!important; /* #3875d7!important; /* #ffd588; */
  color: white!important;
  border-right: none;
}				

table#reportData tr#currentRow td.leading,
table#reportData tr#currentRow td.trailing {
  background-color: #009FE3; /* #FFBA3B; */
  color: white;
}

table#reportData tr#currentRow td.leading {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

table#reportData tr#currentRow td.trailing {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

table#reportData tr td.deleter {
  width: 1.3em;
  color: #EC008C!important;
}

table#reportData tr td.deleter i {
  visibility: hidden;
  height: 1.3em;
}

table#reportData tr#currentRow td.deleter i {
  visibility: visible;
  cursor: pointer;
}

table#reportData tr#currentRow td.colored {
/*
  background-image: url('../styles/selected_row_fine_angled.png');
  color: black!important;
*/
}

table#reportData tr.h1 {
  page-break-before: always;
}

table#reportData tr.h1 td {
  font-size: 10pt;
  /* font-weight: bold; */
  height: 3em;
  line-height: 1.5em;
  vertical-align: middle;
  background-color: #E8E7E3;
}

table#reportData tr.h2 td {
  font-weight: bold;
  border-bottom: 1px solid gray;
  height: 3em;
  vertical-align: middle;
  background-color: #f8f8f8;
}
           
table#reportData tr.h3 td {
  border-bottom: 1px solid gray;
  height: 3em;
  vertical-align: middle;
  background-color: #f8f8f8;
}

table#reportData tr.h1 td .smaller {
  font-size: 8pt;
}
	
table#reportData tr.rowb td, 
table#reportData tr.rowa td { 
  height:30px ;
}

.tab-item table#reportData tr td {
	height: 35px;
}

.tab-item table#reportData.draggable tr td {
  height: 20px;
}

.in_cell {
  max-height: 43px;
  overflow: hidden;
}

/*
.in_cell:hover {
	overflow:visible;
  text-shadow: 0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white,0px 0px 1em white;
  position: relative;
  z-index: 999;
}  */

.p_photo {
  width: 44px;
}

#currentRow .in_cell:hover {
  /* text-shadow: 0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef,0px 0px 1em #dde6ef; */
}

table#reportData tr.rowb  { 
  /* background-image: url('../styles/rowb.png'); */
}

#wrapper table#reportData tr.rowb  { 
  border: 1px solid #E7F5F9;
  border-left: 0;
}

table#reportData .trailing { 
  border-right:0 
}
table#reportData tr.trailing td { 
  height:auto 
}

table#reportData tr#currentRow.excludedRecord td {
  background-color: #cccccc;
  color: white!important;
}

table#reportData tr.excludedRecord td {
  background-color: #cccccc;
  color: white!important;
}

.sectioned_filter_row {
  background-color: white;
  border-bottom: 1px solid #e8e7e3;
  font-size: 8pt;
  line-height: 2em;
}

.sectioned_filter_row input {
  width: 8em;
}

.sectioned_filter_name {
  font-weight: bold;
  background-color: gray;
  padding: 2px;
  color: white;
  border-radius: 5px;
  margin-left: 0.2em
}

.sectioned_detail_heading {
  display: none;
}

.error { color: red; }

.greytext {
	color: gray;
	text-transform: none;
}

.small { font-size: 8pt!important }

.load-spinner {
	background: white url('../styles/ajax-loader.gif') no-repeat 50% 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	top: 0;
	left: 0;
}

.colour-block {
	width: 36px;
	height: 36px;
	float: left;
}

.capitalised { text-transform: capitalize; }

table#reportData td.capitalised {
  width: 30%;
  text-align: right;
  padding-top: 5px;
}

table#reportData td .sequence {
  padding-top: 2px; /* match table#reportData td.capitalised */
  font-size: 9.5pt;
  display: inline-block;
}

table#reportData.draggable td.capitalised {
  width: auto;
  text-align: left;
  padding-top: auto;
}

table#reportData tr.separator td.capitalised {
	text-align: left;
	color: #656766!important;
}


td.calculations {
  font-weight: bold;
  border: 1px solid #F2F2F2;
}

.separator {
  background:transparent url(line.gif) repeat-x scroll 0pt 28px;
  color:#888888;
  /* font-style:italic; */
  font-weight:bold;
  margin-bottom:-3px;
  position:relative;
}
/*
.separator td.leading:before {
  content: "\2013";
  color: gray;
  position: relative;
  top: 1px;
  border: 1px solid #d0d0d0;
  cursor: pointer;
}
*/
.separator.contracted td.leading:before {
  content: "+";
}	

.separator td {
  padding-top:20px!important;
  border-right:0px!important;
}

.separator span {
  background:#FFFFFF none repeat scroll 0% 0%;
  padding: 0px 5px;
}

.separator .fieldname {
  margin-left:-25px;
  font-size: 9.5pt;
}

/* Hide adjacent separators, i.e. ones with no content */
tr.separator + tr.separator {
  display: none;
}

.seemorerows {
	background: #E8E7E3;
	width: 100%;
	padding-left: 14px;
}

.seemorerows a {
	color: #555555;
	text-shadow: 0px 1px white;
}

.warningmessage {
		border-radius: 1em;
		text-align: center;
    background-color: #E8E7E3;
		margin: 1em;
		padding: 1em;
    font-weight: bold;
}

#filterhelp {
  position: relative;
  font-size: 11pt;
  color: #656766;
}

.ab_tooltip {
	position: absolute;
	z-index: 99;
	display: none;
	top: 30px;
	left: 0;
	background-color: #E8E7E3;
	-moz-box-shadow: 0.5em 0.5em 2em #cccccc;
	-webkit-box-shadow: 0.5em 0.5em 2em #cccccc;
	box-shadow: 0.5em 0.5em 2em #cccccc;
	width: auto!important;
	max-width: 1000px;
	font-weight: normal;
	font-size: 9pt;
	padding: 0.2em;
	text-transform: none;
	border-radius: 5px;
	border: 1px solid white;
}

.ab_tooltip .tooltip_content {
	font-size: 8pt;
}

.ab_tooltip td {
  border: 0;
}

table#reportData thead td .ab_tooltip td:nth-child(even) {
  border-bottom:0;
  min-width: 10em;
  border: 0;
}

table#reportData thead td .ab_tooltip td:nth-child(odd) {
  text-align: right;
  border: 0;
  border-right: 2px solid white;
}

img.mini_icon {
	vertical-align: middle;
}

.mini_action {
  font-size: 12pt!important;
  position: fixed;
  padding: 0.5em;
  background-color: #E8E7E3;
  /* height: 2.95em; */
  font-weight: normal;
  text-transform: lowercase;
  top: 0;
  opacity: 0.9;
  z-index: 99;
}

table#reportData th div.mini_action {
  width: auto; /* pane 3 override 100% width */
}

table#reportData td.appSelected {
	background-color: #E8E7E3;
}

.mini_action a {
  color: #486F98;
  text-decoration: none;
}

.mini_action img {
  border: 0;
  vertical-align: middle;
}

.time_date {
  display: inline-block;
}

.time_time {
  vertical-align: top;
}

time {
  font-family: 'pe-analogclock';
  font-size: 200%;
  background-color: #656766;
  color: white;
  border-radius: 1em;
  vertical-align: top;
}

#fieldFilterControls {
  position: absolute;
  top: 50px;
  opacity: 0.9;
}

#fieldFilterControls #dateControlCell {
  position: absolute;
  top: 0;
  width: 80em;
}

#dateControlWrapper {
  background-color: #E8E7E3;
  padding: 1em;
  padding-bottom: 6em;
  border-radius: 1em;
}

#dateControlWrapper .close {
  float:right;
  font-size: 12pt;
  color: #009FE3;
}

#dateControlCell h1 {
  font-size: 11pt;
  font-weight: normal;
  margin: 0;
  padding-bottom: 0.25em;
}

#individualDateSelector {
  margin-bottom: 1em;
}

#dateRangeSelector {
  margin-top: 2em;
}

#dateRangeInputs {
  position: relative;
  top: 2em;
}

.ui-rangeSlider-bar {
  top: -1px!important;
  height: 28px!important;
}

.favicon {
	float:left;
	height:16px;
	filter: url(filters.svg#grayscale);
  -webkit-filter: grayscale(100%);
}