* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html, body { height:100% }

body { font-family:"MS Sans Serif",arial, sans_serif; 
			 font-size:10pt; 
			 margin:0px; 
			 padding:0px; 
			 overflow:hidden; }

#toolbarDiv { background-color:#f1f2ed; 
							height:61px; 
							position:absolute; 
							top:0px; 
							left:0px; 
							width:100%; 
							padding-left:20px; 
							padding-top:2px; 
							border-bottom:5px solid #eaba72 }
													
#toolbarDiv img.divider { height:45px; 
													width:1px; 
													margin-left:7px; 
													margin-right:7px }
													
iframe#oViewPane { width:100%; 
									 height:100%; 
									 padding-top:60px }
