
	  div#fieldOptionsSet { 
	    display:none;
	  }
	  
	  div#fieldOptionsSet[selected] { 
	    display:block;
	  }
	  
	  form { 
	    height:100%;
	  }
	
	  tr#addNewField td { 
	    vertical-align:top;
    	font-size:8pt;
		border-top:1px solid orange;
	  }
						
	  optgroup { 
	    font-style:normal;
		margin-top:5px; 
		color:#333333;
	  }
  
  .chartBar { 
	    position:relative;
	    height:100%;
	    background-color:#9091f4;
	    border:0px;
	    padding:4px;
	    color:black;
	  }
	  
  .chartBarNegative { 
	    position:relative;
	    height:100%;
	    background-color:#f49092;
	    opacity:0.7;
	    text-align: right;
	    border:0px;
	    padding:4px;
	    color:black;
	  }
	  
  .tagCloud {
    color:#8D8D8D;
    position:absolute;
    width:100%;
    background-color:#ffffff;
  }
  
  .chart_controls {
  	width:100%;
  	background-color: #f1f2ed;
  	padding: 0.5em;
  	font-size: 10pt;
  }
  
  .chart_controls td {
    vertical-align: top;
  }
  
  .chart_controls .existing_element a {
    color: black;
  	background-color: #dee7f8; /* Colour of names in to: field in Apple Mail */
    text-decoration:none;
    text-transform:lowercase;
    padding:3px;
    padding-right: 10px;
    background-image: url('remove-light.png');
    background-repeat:no-repeat;
    background-position:center right;
    border: #a4bdec solid 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
  
  .chart_controls .existing_element a:hover {
    color: black;
  	background-color: #bbcef1;
    border: #6d95e0 solid 1px;
    background-image: url('remove-dark.png');
  }
  
  .two_cols {
    /* TODO: check these */
  	-moz-column-count: 2;
  	-webkit-column-count: 2;
  }
  