/* This file contains, in order */
/* - General tab css */
/* - View, edit, summary, and management tabs css */

/* 1) General tab css */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body { 
  background-color:#f1f2ed; 
  font-family:sans-serif,Arial;
  font-size:10pt;
  margin: 0;
  overflow: hidden;
}
  	  								
td.trailing input[type=button] { 
  font-size:8pt; 
}

:invalid {
  /* color: red; */
}

.tab-interface {

}

.tab-interface .tab-list {
	list-style-type: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2em;
	margin: 0;
	padding: 0 0 0 10px;
	background: #F1F2ED;
  border-top:1px solid #cecece;	
}

.tab-interface .tab-list li {
	float: left;
	margin-right: -1px;
	height: 100%;
}

.tab-interface .tab-content { 
  background-color:white;
  position: absolute;
	top: 0; 
	bottom: 2em;  
	right: 0;
	left: 0;
	/*
	overflow: scroll;
	*/
	
	overflow: auto;
	
 }
														  
.tab-interface .tab-list a, .tab-interface .tab-list strong { 
  padding: 3px 20px;
  margin: 0;
  min-width: 100px;
  text-align:center;
  border:1px solid #cecece;
  border-top:0;
  font-size:8pt;
  color:#666666;
  display: block;
  text-decoration: none;
}
															
.tab-interface .tab-list a:hover { 
  border-bottom-color:orange;
  color:black;
  padding-bottom: 6px;

}													
																
.tab-interface .tab-list strong { 
  font-weight:bold;
  background-color:white;
  padding-bottom: 6px;
  margin-top: -1px;
  font-size:9pt; 
  color:black;
}	

.tab-interface .tab-content .tab-item {
	/*
	overflow:auto;
	
	height:100%;
	*/
 }

.tab-interface .tab-content div.content { 
  width:100%;
  height:100%;
  overflow:auto; 
}
															
div.tab_content th { 
  text-transform:uppercase;
  border-bottom:1px solid #333333;
  color:#333333;
  padding-bottom:3px;
  vertical-align:bottom;
  font-size:8pt;
}
                                          
div.tab_content tr.caption:hover { 
  background:transparent;
}  
                                          
div.tab_content td { 
  padding:10px;
  font-size:8pt;
  color:#666666;
  padding-left:10px; 
}		
                     
label:hover { 
  color:black; 
}                                       
                                          
div.tab_content td:first-child:first-line { 
  font-size:10pt;
  font-weight:bold;
  color:black;
  vertical-align:top;
  padding-top:13px; 
} 
                                            
div.tab_content table#reportData tbody tr.rowa:hover td,
div.tab_content table#reportData tbody tr.rowb:hover td { 
  background-color:transparent!important;
} 

div.tab_content table#reportData tbody tr.rowa[forcehighlight=true]:hover td,
div.tab_content table#reportData tbody tr.rowb[forcehighlight=true]:hover td { 
  background-color:#dae2ff!important;
}

.draggingRow {
  border-width: 1px;
  border-color: black;
  background-color: #cccccc;
  cursor: move;
}

/* View and edit tab css */

div#recordBlank {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 20px;
	background-color: #FF0000;
	-moz-opacity: 0.3;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

div#recordUnlock {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 20px;
	width: 100%;
	height: 100%;
	text-align: center;
}

div#recordUnlock button, div#recordUnlock div#staticMessage {
	position: relative;
	width: 320px;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
}

div#recordUnlock div#staticMessage {
	background: transparent url('../recordLocking/unlock_static.png')
		no-repeat top left;
	padding-left: 140px;
	padding-right: 20px;
	padding-top: 1px;
}

div#recordUnlock button div {
	position: absolute;
	top: -110px;
	padding-right: 20px;
	padding-left: 130px;
	padding-top: 20px;
	height: 220px;
	background: transparent url('../recordLocking/padlock_closed.png')
		no-repeat 20px center;
}

div#recordUnlock button:hover div {
	background-image: url('../recordLocking/padlock_open.png');
}

div#recordUnlock button[disabled] div {
	background-image: url('../wait/hourglass.gif');
}

div#recordUnlock button div h1, div#recordUnlock div#staticMessage h1 {
	font-size: 16pt;
	font-weight: normal;
	margin-top: 40px;
	margin-bottom: 30px;
}

div#recordUnlock button div small, div#recordUnlock div#staticMessage small
{
	font-size: 8pt;
}

.mandated {color: red}

#wordcloud_controls {
  float: right;
}

img.cross_reference_image {
	max-width: 300px;
}

.gtpb_youtube {
	padding-top:10px;
}

.upload_progress_container {
  width: 100%;
  position: relative;
  min-height: 10px;
  padding: 2px;
}

.upload_progress_bar {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 0px;
  background-color: #486f98;
  padding: 2px;
  display: none;
  overflow: hidden;
  color: white;
}

/* Note: this is an example of how to make a character hang */
.currency_symbol {
  float: left;
  left: -1.5em;
  margin-top: 0.3em;
  position: relative;
  width: 0px;
}

/* 3) Summary tab css */


	  div#fieldOptionsSet { 
	    display:none;
	  }
	  
	  div#fieldOptionsSet[selected] { 
	    display:block;
	  }
	  
	  form { 
	    height:100%;
	  }
	
	  tr#addNewField td { 
	    vertical-align:top;
    	font-size:8pt;
		border-top:1px solid orange;
	  }
						
	  optgroup { 
	    font-style:normal;
		margin-top:5px; 
		color:#333333;
	  }
  
  .tagCloud {
    color:#8D8D8D;
    position:absolute;
    width:100%;
    background-color:#ffffff;
  }
  
  .chart_controls {
  	width:100%;
  	background-color: #f4f4f4;
  	padding: 0.5em;
  	font-size: 10pt;
  }
  
  .chart_controls td {
    vertical-align: top;
  }
  
  .chart_controls .existing_element a {
    color: black;
  	background-color: #dee7f8; /* Colour of names in to: field in Apple Mail */
    text-decoration:none;
    text-transform:lowercase;
    padding:3px;
    padding-right: 10px;
    background-image: url('remove-light.png');
    background-repeat:no-repeat;
    background-position:center right;
    border: #a4bdec solid 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
  
  .chart_controls .existing_element a:hover {
    color: black;
  	background-color: #bbcef1;
    border: #6d95e0 solid 1px;
    background-image: url('remove-dark.png');
  }
  
  .two_cols {
  	-moz-column-count: 2;
  	/* -webkit-column-count: 2; There seems to be a webkit bug that causes a mis-render */
  }
  
  .summary_chart {
    /* width: 100%; */
    position: relative; /* to allow the chart_remover to be placed inside */
  }
  
  .default_chart {
    background-color: #f4f4f4;
    width: 100%;
  }
  
  .chart_remover {
    position: absolute;
    display: none;
    left: 1em;
    top: 1em;
    z-index: 100; /* on top of the chart */
  }  
