/* This file contains, in order */
/* - General tab css */
/* - View, edit, summary, and management tabs css */

/* 1) General tab css */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body { 
  background-color:#f0f0f0; 
  font-family: Verdana,Arial,sans-serif;
  font-size-adjust: 0.58;
  font-size:9pt;
  margin: 0;
  overflow: hidden;
}

a {
  color: #486f98;
}

a:visited {
  color: #486f98;
}

td.trailing input[type=button] { 
  font-size:8pt; 
}

:invalid {
  /* color: red; */
}

.tab-interface {

}

.tab-interface .tab-list {
	list-style-type: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2em;
	margin: 0;
	padding: 0 0 0 10px;
	background: #f4f4f4;
  border-top:1px solid #cecece;	
}

.tab-interface .tab-list li {
	float: left;
	margin-right: -1px;
	height: 100%;
}

.tab-interface .tab-content { 
  background-color:white;
  position: absolute;
	top: 0; 
	bottom: 2em;  
	right: 0;
	left: 0;
	/*
	overflow: scroll;
	*/
	
	overflow: auto;
	
 }
														  
.tab-interface .tab-list a, .tab-interface .tab-list strong { 
  padding: 3px 20px;
  margin: 0;
  min-width: 100px;
  text-align:center;
  border:1px solid #cecece;
  border-top:0;
  font-size:8pt;
  color:#666666;
  display: block;
  text-decoration: none;
}
															
.tab-interface .tab-list a:hover { 
  border-bottom-color:orange;
  color:black;
  padding-bottom: 6px;

}													
																
.tab-interface .tab-list strong { 
  font-weight:bold;
  background-color:white;
  padding-bottom: 6px;
  margin-top: -1px;
  color:black;
}	
/*
.tab-interface .tab-content .tab-item {
	overflow:auto;
	height:100%;
 }
*/
.tab-interface .tab-content .tab-item._1 {
  padding-top: 0.5em; /* 2.6em */
  background-color: #f4f4f4;
  height: 100%;
}

.tab-interface .tab-content div.content { 
  width:100%;
  height:100%;
  overflow:auto; 
}
															
div.tab_content th { 
  text-transform:uppercase;
  border-bottom:1px solid #333333;
  color:#333333;
  padding-bottom:3px;
  vertical-align:bottom;
  font-size:8pt;
}

div.tab_content tr.caption:hover { 
  background:transparent;
}  
                                          
div.tab_content td { 
  padding:10px;
  font-size:8pt;
  color:#666666;
  padding-left:10px; 
}		
                     
label:hover { 
  color:black; 
}                                       
                                          
div.tab_content td:first-child:first-line { 
  font-size:10pt;
  color:black;
  vertical-align:top;
  padding-top:13px; 
} 
                                            
div.tab_content table#reportData tbody tr.rowa:hover td,
div.tab_content table#reportData tbody tr.rowb:hover td { 
  background-color:transparent!important;
} 

div.tab_content table#reportData tbody tr.rowa[forcehighlight=true]:hover td,
div.tab_content table#reportData tbody tr.rowb[forcehighlight=true]:hover td { 
  background-color:#dae2ff!important;
}

table#reportData td input {
  border: 1px solid #cecece;
  border-radius: 0.5em;
  padding: 0.3em;
  font-family: Verdana,Arial,sans-serif;
  font-size-adjust: 0.58;
}

table#reportData td input[type='text'] {
  width: 296px;
}

table#reportData.draggable td input[type='text'] {
  width: auto;
}

table#reportData td input[type='file'] {
  width: 296px;
}

table#reportData td select {
  min-width: 296px;  
  border-radius: 0.5em;
  border: 1px solid #cecece;
  padding: 0.3em;
  font-family: Verdana,Arial,sans-serif;
  font-size-adjust: 0.58;
}

table#reportData td .date select {
  min-width: 0;
}

.options_wrapper table#reportData td select {
  min-width: 0;
}

table#reportData td .date input[type='text'] {
  width: auto;
}

table#reportData td img {
  border-radius: 0.5em;
}

textarea {
  border: 1px solid #cecece;
  border-radius: 0.5em;
  padding: 0.3em;
  font-family: Verdana,Arial,sans-serif;
  font-size-adjust: 0.58;
  font-size: 9pt;
}

.draggingRow {
  border-width: 1px;
  border-color: black;
  background-color: #cccccc;
  cursor: move;
}

/* View and edit tab css */

*[changed] { text-decoration:underline; }
.changed { text-decoration:underline; }
.saved {
/*
	background-image:url('/agileBase/resources/icons/tick.png');
  background-repeat: no-repeat;
  background-position: right top;
*/
	display: none;
}

#reportData .block .input_saved {
  background-color: #DDEFE0; /* green */
}

*[error] { color:red; }
a[error] { font-size:8pt; }

.reportDataView #leftcol {
  float: left;
  width: 50%;
}

.reportDataView #rightcol {
  float: right;
  width: 50%;
}	

.reportDataView h1 {
  font-size: 14pt;
  font-weight: normal;
  margin: 0.4em;
  margin-left: 0;
  margin-top: 0;
  clear: both;
  position: relative;
  left: -0.5em;
}

.reportDataView h2 {
  font-size: 10pt;
  margin: 0.5em;
  margin-left: 0;
  clear: both;
  position: relative;
  left: -0.5em;
}

.reportDataView .related {
  color: #888888;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e7ea)); /* for webkit browsers */
  /* background: -moz-linear-gradient(top,  #fff,  #e6e7ea); /* for firefox 3.6+ */
  /* background: -ms-linear-gradient(top,  #fff,  #e6e7ea); */
  /* background: linear-gradient(top,  #fff,  #e6e7ea); */
  padding: 1em;
  margin: 5px;
  border: solid 1px #b4b4b4;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  word-wrap: break-word;
}

.reportDataView #current {
  color: black;
  background: white;
}

.reportDataView .related img {
  margin-right: 0.25em;
  margin-bottom: 0.25em;
}

.reportDataView .related .mini-icon {
  opacity: 0.6;
}

div#recordBlank {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 20px;
	background-color: #FF0000;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

div#recordUnlock {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 20px;
	width: 100%;
	height: 100%;
	text-align: center;
}

div#recordUnlock button, div#recordUnlock div#staticMessage {
	position: relative;
	width: 320px;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
}

div#recordUnlock div#staticMessage {
	background: transparent url('../recordLocking/unlock_static.png')
		no-repeat top left;
	padding-left: 140px;
	padding-right: 20px;
	padding-top: 1px;
}

div#recordUnlock button div {
	position: absolute;
	top: -110px;
	padding-right: 20px;
	padding-left: 130px;
	padding-top: 20px;
	height: 220px;
	background: transparent url('../recordLocking/padlock_closed.png')
		no-repeat 20px center;
}

div#recordUnlock button:hover div {
	background-image: url('../recordLocking/padlock_open.png');
}

div#recordUnlock button[disabled] div {
	background-image: url('../wait/hourglass.gif');
}

div#recordUnlock button div h1, div#recordUnlock div#staticMessage h1 {
	font-size: 16pt;
	font-weight: normal;
	margin-top: 40px;
	margin-bottom: 30px;
}

div#recordUnlock button div small, div#recordUnlock div#staticMessage small
{
	font-size: 8pt;
}

.mandated {color: red}

#wordcloud {
  text-align: center;
}

/* Match chart headings */
#wordcloud h1 {
  font-family: Verdana,Arial,sans-serif;
  font-size-adjust: 0.58;
  color: #3E576F;
  font-weight: normal;
  font-size: 16px;
  background-color: #f4f4f4;
  margin: 0px;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.2em;
}

#wordcloud a {
  text-decoration: none;
}

#wordcloud a:hover {
  border-bottom: 5px dotted #cccccc;
}

#wordcloud_controls {
  float: right;
  clear: right;
}

#map_adder {
  float: right;
  clear: right;
}

img.cross_reference_image {
	max-width: 300px;
}

.tab_container img {
  max-width: 100%;
}

.tab_container img.profile_photo {
  max-width: 15em;
}

.gtpb_youtube {
	padding-top:10px;
}

.gtpb_youtube object,embed {
  max-width: 100%;
}

.twitter.tweet, twitter.query {
  background-color: transparent;
  display: inline-block;
}

.twitter.tweet .tweet_list, .twitter.query .tweet_list {
  background-color: transparent;
}

.upload_progress_container {
  width: 100%;
  float: left;
  position: relative;
  min-height: 10px;
  padding: 2px;
  border: 1px dashed #777777;
  display: none;
  border-radius: 0.5em;
}

.upload_progress_bar {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  width: 0px;
  background-color: #486f98;
  padding: 2px;
  overflow: hidden;
  color: white;
  -webkit-transition-property: background-color, width;
  -webkit-transition-duration: 2s;
  -moz-transition-property: background-color, width;
  -moz-transition-duration: 2s;
  transition-property: background-color, width;
  transition-duration: 2s;
}

.upload_progress_bar.upload_complete {
  background-color: rgb(131,214,27); /* match 'saved' tick icon */
}

div.relation_field {
	display: inline; /* allow comments to the right */
  /* float: left; /* allow comments to the right */
}

    div.relation_field input {
      /* margin-right:10px; */
    }
  
  div.relation_field span {
    padding-right:10px;
  }
    
    div.relation_field a {
      font-size:8pt;
      margin-right:15px;
    }
     
    div.relation_picker {
      display:inline;
      background-color:white;
      max-width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      padding-top:30px;
    }
    
    div.relation_picker div#toolbar {
      border-bottom:1px solid black;
      background-color:#F1F2ED;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:30px;
      font-size:8pt;
      padding:3px 10px;
      z-index:999;
    }
    
    div.relation_picker div#toolbar select {
      margin:0;
    }
    
    div.relation_picker div#toolbar a {
      float:right;
      color:black;
      text-decoration:none;
      margin-top:5px;
    }
    
    div.relation_picker div#toolbar a:hover {
      text-decoration:underline;
    }
    
    div.relation_picker div#content {
      position:relative;
      height:100%;
      overflow:scroll;
    }
   
.comment_toggle {
  opacity: 0;
  cursor: pointer;
  margin-left: 1em;
  vertical-align: top;
  -moz-transition-delay: 1s;
  -moz-transition-duration: 2s;
  -webkit-transition-delay: 1s;
  -webkit-transition-duration: 2s;
  -ms-transition-delay: 1s;
  -ms-transition-duration: 2s;
  transition-delay: 1s;
  transition-duration: 2s;
}

#reportData .block .comment_toggle {
  margin-left:0em;
  margin-right:0em;
  float: right;
}

.row:hover .comment_toggle {
  opacity: 0.5;
}

.row:hover .comment_toggle:hover {
  opacity: 1;
}

.add_comment_row {
	display: none;
	padding: 1em;
	color: gray;
	width: 100%;
}

span.comment_text {
  background-color: #f0f0f0;
  color: black;
  padding: 0.5em;
  margin: 0.1em;
  display: inline-block;
  border-radius: 0.5em;
}

span.comment_attribution {
  color: gray;
}
	
/* Note: this is an example of how to make a character hang */
.currency_symbol {
	/*
  float: left;
  left: -1.5em;
  margin-top: 0.3em;
  position: relative;
  width: 0px;
  */
}

.select_layout {
  float:left; width:30%; text-align:center; padding: 1em; margin: 1em;
  border-radius: 1em;
}

.select_layout:hover {
  background-color: white;
}

.selected_layout {
  border: 0.25em solid black;
  background-color: white;
}

.two_cols {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  -ms-column-gap: 0;
  column-gap: 0;
}

#saved_charts {
  /* Issue https://github.com/highslide-software/highcharts.com/issues/913 */
  /* There seems to be a webkit bug that causes a mis-render charts in .two_cols, override */
  -webkit-column-count: 0;
}

#reportData .block.two_cols.non_section {
  /* background-color: #f4f4f4; */
  -moz-column-gap: 3em;
  -webkit-column-gap: 3em;
  -ms-column-gap: 3em;
  column-gap: 3em;
  line-height: 1em;
}

#reportData .block.two_cols.non_section input, #reportData .block.two_cols.non_section select {
  float: none;
  top: 0;
}

.block.two_cols.non_section .fieldname {
  min-width: 10em;
  display: inline-block;
}

div#reportData {
  background-color: #f4f4f4;
}

.tab-item._1 div#reportData {
  margin-right: 0.5em;
}

#reportData .block {
  background-color: white;
  margin: 0.5em;
  margin-right: 0;
  margin-top: 0;
  padding: 1em;
  padding-bottom: 0.5em;
  border-radius: 0.5em;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  color: #777777;
  line-height: 1.2em;
}

#reportData .block.grandchildren {
  overflow-x: hidden;
}

#reportData .block .row {
  vertical-align: bottom;
}

#reportData .block.non_section .row {
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  min-height: 2em;
}

#reportData .block h1 {
  text-transform: capitalize;
	margin: 0;
	margin-bottom: 1em;
  font-size: 120%;
  font-weight: normal;
  text-align: center;
}

#reportData .block.non_section h1 {
	text-align: left;
	margin-bottom: 0.8em;
	margin-top: 0.5em; /* Chrome fix */
	color: black;
}

#reportData .block img {
	margin-right: 1em;
}

#reportData .block input, #reportData .block select {
  float: right;
  width: 50%;
  border: 1px solid #dddddd;
  font-size: 9pt;
  padding: 0.2em;
  /* 
  position: relative;
  top: -0.4em;
  */
  border-radius: 0.5em;
  font-family: Verdana,Arial,sans-serif;
  font-size-adjust: 0.58;
}

#reportData .block textarea {
  border: 1px solid #dddddd;
}

#reportData .block select {
  /* height: 2em /* 1.7em; */
}

#reportData .block select:hover {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}

#reportData .block textarea {
  width: 100%;
  font-family: Verdana,Arial,sans-serif;
  font-size-adjust: 0.58;
}

#reportData .block .date {
  width: 50%;
  float: right;
}

#reportData .block.non_section .date {
  float: none;
  margin-left: 1em;
}

.two_cols .block .fieldname {
  position: relative;
  top: 0.4em;
}

.date select, .date input {
  width: auto!important;
  float: none!important;
  /* border: 1px solid #cecece!important; */
}
	
.block input.ac_input {
  width:50%;
}

#reportData .block input:hover {
  border: 1px solid #cecece!important;
}

#reportData .block input:focus {
  border: 1px solid #cecece!important;
}

#reportData .block input[type=checkbox] {
  float: left!important;
  width: auto;
  margin-right: 0.5em;
  margin-left: 0;
  top: 0;
}

#reportData .two_cols .block input[type=checkbox] {
  margin-top: 0.4em;
}

#reportData .block input[type=file] {
  border: 0;
  top: 0;
  height: 2em;
}

#reportData .block input[type=button] {
  float: none;
  width: auto;
  top: 0;
}

#reportData .block input.comment_input {
	float: none;
	width: 90%;
	top: 0;
	border: 1px solid #cecece;
	position: static; /* Workaround https://bugs.webkit.org/show_bug.cgi?id=76834 */
}

#reportData .block .add_comment_row input[type=button] {
  position: static;
}

#reportData .block .comment_feed input[type=button] {
  position: static;
}

.comment_feed {
  padding-bottom: 0.5em;
  display: block;
}

.form_tabber {
	position: relative;
	background-color: #cccccc;
  margin: 0.5em;
  margin-bottom: 0;
  border-radius: 0.5em 0.5em 0 0;
  margin-right: 0;
}

.form_tabber .tab_choice {
  color: black; /* #777777 */
  border-radius: 0.5em;
  text-transform: uppercase;
  font-size: 9pt;
  display: inline-block;
  margin: 0.5em;
  margin-right: 2em;
  margin-left: 0;
  padding: 0.5em;
  text-align: center;
  /* width: 13em; */
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
  -moz-transition-property: background-color, color;
  -moz-transition-duration: 1s;
  transition-property: background-color, color;
  transition-duration: 1s;
  background-color: none; /* #f4f4f4 */
  text-shadow: 0px 0px 2em white;
}

.form_tabber .tab_choice.no_records {
  color: #777777;
}

.form_tabber .tab_choice:first-child {
  margin-left: 0.5em;
}

.form_tabber .tab_choice.active {
  color: black;
  background-color: white!important;
}

.form_tabber .tab_choice:hover {
  cursor: pointer;
  background-color: #EEF3F9;
}

.form_tabber .tab_choice img {
  height: 1.3em;
  display: none;
  vertical-align: top;
}

.form_tabber #tab_deleter img {
	height: 1.3em;
	vertical-align: top;
	cursor: pointer;
}

.form_tabber .tab_choice.active img {
  display: inline;
}

.form_tabber .tab_choice.active img:hover {
  background-color: #f0f0f0;
}

.form_tabber #tab_deleter {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0.5em;
}

.selectorReport {
  max-height: 15em;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0.5em;
  margin-right: 0;
  margin-top: 0;
  border: 0.75em solid #cccccc;
  border-top: 0;
  border-radius: 0 0 0.5em 0.5em;
}

.grandchildren .selectorReport {
  max-height: 45em;
  border: 0;
}

.selectorReport table#reportData td {
  cursor: pointer;
}

.tab_new_record {
  width: 100%;
  padding: 1em;
  text-align: center;
}

.selectorReport table#reportData {
  /* background-color: #EEF3F9; */
}

.gtpb_url {
	float: right;
	position: relative;
	top: 0.2em;
}
	
/* 3) Summary tab css */


	  div#fieldOptionsSet { 
	    display:none;
	  }
	  
	  div#fieldOptionsSet[selected] { 
	    display:block;
	  }
/* This causes the image disconnect problem where images appear 'beneath' form fields below them	  
	  form { 
	    height:100%;
	  }
*/	
	  tr#addNewField td { 
	    vertical-align:top;
    	font-size:8pt;
		border-top:1px solid orange;
	  }
						
	  optgroup { 
	    font-style:normal;
		margin-top:5px; 
		color:#333333;
	  }
  
  .tagCloud {
    color:#8D8D8D;
    position:absolute;
    width:100%;
    background-color:#ffffff;
  }
  
  .chart_controls {
  	width:100%;
  	background-color: #f4f4f4;
  	padding: 0.5em;
  	font-size: 9pt;
  }
  
  .chart_controls td {
    vertical-align: top;
  }
  
  .chart_controls .existing_element a {
    color: black;
  	background-color: #dee7f8; /* Colour of names in to: field in Apple Mail */
    text-decoration:none;
    text-transform:lowercase;
    padding:3px;
    padding-right: 10px;
    background-image: url('remove-light.png');
    background-repeat:no-repeat;
    background-position:center right;
    border: #a4bdec solid 1px;
    border-radius: 10px;
  }
  
  .chart_controls .existing_element a:hover {
    color: black;
  	background-color: #bbcef1;
    border: #6d95e0 solid 1px;
    background-image: url('remove-dark.png');
  }
  
  .summary_chart {
    /* width: 100%; */
    position: relative; /* to allow the chart_remover to be placed inside */
  }
  
  .default_chart {
    background-color: #f4f4f4;
    width: 100%;
  }
  
  .chart_remover {
    position: absolute;
    display: none;
    left: 1em;
    top: 1em;
    z-index: 100; /* on top of the chart */
  }
  
  form#savechart {
    text-align: center;
    font-weight: bold;
  }

  #map_canvas {
    height: 600px;
    position: relative;
    width: 100%;
  }
  
  #map_control {
    position: absolute;
    width: 200px;
    right: 0;
    top: 0;
    padding: 1em;
    margin: 1em;
    background-color: rgba(255,255,255,0.8);
    border-radius: 1em;
  }
  
  #map_legend img {
    vertical-align: middle;
  }
  
  .advanced {
    display: none;
  }