##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<li branch="true" class="modulecollapsed silver">
	<h2><span>Administration</span></h2>
  <ul>
	<li id="administrationmodules">
	  <div class="tree-item-wrap">
    	  <a class="title" href="AppController.servlet?return=gui/administration/modules/list" target="pane_2" title="Manage application modules and assign icons">
    		modules
    	  </a>
	  </div>
	</li>
    <li id="administrationusers">
	  <div class="tree-item-wrap">
          <a class=title href="AppController.servlet?return=gui/administration/users/list" target="pane_2" title="Set up users and user privileges">
            users
          </a>
	  </div>
	</li>
    <li id="administrationroles">
	  <div class="tree-item-wrap">		
          <a class=title href="AppController.servlet?return=gui/administration/roles/list" target="pane_2" title="Set up roles and role privileges">
            roles
          </a>
	  </div>
	</li>
    <li id="administrationinformation">
	  <div class="tree-item-wrap">		
          <a class=title href="AppController.servlet?return=gui/administration/information/list" target="pane_2" title="Show company information and usage stats">
            admin dashboard
          </a>  
	  </div>
	</li>
  </ul>
</li>