##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">

<HTML>
<HEAD>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <script src="resources/jquery.js" language="Javascript"> </script>
  <script src="resources/jquery.sparkline.js" language="Javascript"> </script>
  <SCRIPT language=Javascript src="resources/wait/request.js"></SCRIPT> 
  <SCRIPT language=Javascript src="resources/wait/editData.js"></SCRIPT>  
  <SCRIPT language="JavaScript">
    jQuery(document).ready(function(){
      #if($pane2_id)
        parent.pane_2.fSetRowSelection('$pane2_id');
      #end
      fInit(); // in editData.js
     });

//Sparklines - see gui/administration/information/option_sets/information_export_data.vm
function fSparkLines() {
    var template_base="gui/administration/information/sparkline_data/";
    var template = template_base + "logins";
    jQuery.get("AppController.servlet",
	  {"return": template},
	  function(returned_data) { jQuery(".sparkline_logins").sparkline(eval(returned_data), {minSpotColor: false, maxSpotColor: false}); }
	);
	template = template_base + "report_views";
	jQuery.get("AppController.servlet",
	  {"return": template},
	  function(returned_data) { jQuery(".sparkline_report_views").sparkline(eval(returned_data), {minSpotColor: false, maxSpotColor: false}); }
	);
	template = template_base + "data_edits";
	jQuery.get("AppController.servlet",
	  {"return": template},
	  function(returned_data) { jQuery(".sparkline_data_edits").sparkline(eval(returned_data), {minSpotColor: false, maxSpotColor: false}); }
	);
	template = template_base + "report_changes_build";
	jQuery.get("AppController.servlet",
	  {"return": template},
	  function(returned_data) { jQuery(".sparkline_report_additions").sparkline(eval(returned_data), {type:"bar"}); }
	);
	template = template_base + "report_changes_demolish";
	jQuery.get("AppController.servlet",
	  {"return": template},
	  function(returned_data) { 
	    var returned_data_values = eval(returned_data);
		for(var i=0; i < returned_data_values.length; i++) {
		  returned_data_values[i] = returned_data_values[i] * -1;
		}
	    jQuery(".sparkline_report_removals").sparkline(returned_data_values, {type:"bar"} ); 
	  }
	);
	template = template_base + "table_changes_build";
	jQuery.get("AppController.servlet",
	  {"return": template},
	  function(returned_data) {
	    jQuery(".sparkline_table_additions").sparkline(eval(returned_data), {type:"bar"} ); 
	  }
	);
	template = template_base + "table_changes_demolish";
	jQuery.get("AppController.servlet",
	  {"return": template},
	  function(returned_data) { 
	    var returned_data_values = eval(returned_data);
		for(var i=0; i < returned_data_values.length; i++) {
		  returned_data_values[i] = returned_data_values[i] * -1;
		}
	    jQuery(".sparkline_table_removals").sparkline(returned_data_values, {type:"bar"} );
	  }
	);
}

</SCRIPT>

  <STYLE>

	  @import url('resources/module-colours.css');	
	
      html, body { padding:0;
    	             margin:0;
    	             height:100%;
    	             font-family:sans-serif,Arial;
    	             font-size:10pt;
    	           }
				   
      * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
    *[changed] { text-decoration:underline }
    .changed { text-decoration:underline }
	*[error] { color:red }
	a[error] { font-size:8pt }
    	           
    #navigation { position:absolute; 
                  height:100%;
                  width:120px;
                  background-color:#f1f2ed;
                  border-top:2px solid #cccccc;
                  border-right:1px solid #cecece;
                  top:0;
                  left:0;
                  text-align:center;
				  overflow:auto;
                }
				
	#navigation button { margin:5px }
                
    .options_wrapper { padding-left:120px; 
    		           height:100%;
                       /*
                       width:100%;
                       position:absolute;
                       top:0;
                       left:0;*/ }
                       
    .options_wrapper div.options_set { display:none;
    	                               position:relative;
                                       padding-top:40px;
									   padding-left:30px;
    	                               height:100%; 
    		                           /*width:100%*/ }
    		                                   
    .options_wrapper div.options_set[selected] { display:block }    		                                   
    		                                                          
    .options_wrapper div.options_set h1 { position:absolute;
    	                                  top:0;
    	                                  left:30px;
    	                                  width:100%;
    	                                  height:27px; 
    	                                  font-size:14pt;
                                          font-weight:normal;
                                          border-bottom:1px solid black}                       
                       
    .options_wrapper div.options_set div.data  { height:100%;
                                                 /*width:100%;*/
                                                 padding-top:10px;
                                                 overflow:auto }					
                       
   
    .options_wrapper div.options_set tr:first-child:hover, 
	.options_wrapper div.options_set tr.trailing { background-color:transparent }
    
    .options_wrapper div.options_set th { text-transform:uppercase;
                                          border-bottom:1px solid #333333;
                                          color:#333333;
                                          padding-bottom:3px;
                                          vertical-align:bottom;
                                          font-size:8pt }
                                          
    .options_wrapper div.options_set tr.caption:hover { background:transparent }  
                                          
    .options_wrapper div.options_set td { padding:10px;
                                          font-size:8pt;
                                          color:#666666;
                                          padding-left:10px }
                                          
    label:hover { color:black }                                       
                                          
    .options_wrapper div.options_set td:first-child:first-line { 
      font-size:10pt;
      font-weight:bold;
      color:black;
      /* vertical-align:top;*/ /* this mucked up the module editing screens - doesn't seem to affect anything else */
      padding-top:13px;
    }                                      
   				   
	.rolehasprivilege {
	  background-color: #bddfed;
	}
  </STYLE>
</HEAD>
<BODY>
  #parse('gui/resources/option_set_wrapper.vm')
</BODY>
</HTML>