##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<request>
  #set($record_is_locked=$view.isRecordLocked())
  ## the recird should have unlocked.  If it's still locked, raise an exception...
  #if($record_is_locked)
    <exception type="event failure">Record didn't unlock.  #if($view.getWhetherExceptionOccurred())Possible cause is: $view.getException().getMessage()#end</exception>
    <response>exception</response>  
  #elseif($view.getWhetherExceptionOccurred())
    <exception type="$view.getException().getClass().getSimpleName()">$view.getException().getMessage()</exception>
    <response>exception</response>
  #else
    <response>ok</response>
  #end
</request>