##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<request>
  #if($view.getWhetherExceptionOccurred())
    <exception type="$view.getException().getClass().getSimpleName()">$view.getException().getMessage()</exception>
    <response>exception</response>
  #else
    <response>ok</response>
	## See if we need to include a warning by checking value against report stats
	#set($fieldInputValues = $sessionData.getFieldInputValues())
	$viewTools.log("Field input values are $fieldInputValues")
	#set($fieldsArray = $fieldInputValues.keySet().toArray())
	#set($field = "")
	#set($value = $fieldInputValues.get($field))
	#if($field.getFieldCategory() == "NUMBER")
	  #set($reportData = $view.getReportData())
	  #set($fieldStats = $reportData.getFieldStats())
	  #foreach($reportField in $fieldStats.keySet())
		#if($reportField.getBaseField().equals($field))
		  #set($reportDataFieldStats = $fieldStats.get($reportField))
		  #set($stdDev = $reportDataFieldStats.getStdDev())
		  #set($mean = $reportDataFieldStats.getMean())
		  #if($stdDev != 0)
			#set($numStdDevsFromMean = ($value - $mean) / $stdDev)
		  #end
		  #if(($numStdDevsFromMean > 10) || ($numStdDevsFromMean < -10))
			<warning>$values is an unusual value</warning>
		  #end
		  #break ## TODO: check this breaks out of the foreach as we want
		#end
	  #end
	#end	
  #end
</request>