##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##

#parse("gui/resources/dashboard_enabled.vm")
#if($dashboard_enabled)
  #if($view.getLoggedInUser().getUserType() == "EXECUTIVE")
	## Executives get the dashboard by default
	#parse("gui/customisations/common/dashboard/dashboard.vm")
  #else
	## Note: reference to load_tabs.vm replaced
	## so tabs don't load any more but also toolbar plugins don't load
	## If we want to start using toolbar plugins again, we'll have to introduce them elsewhere
    #parse("gui/display_application.vm")
  #end
#else
  #parse("gui/display_application.vm")
#end
