<!doctype HTML>
#set($commitUrl = $viewTools.getCommitUrl())
#set($commitMessage = $viewTools.getCommitMessage())
<html>
<head>
  <title>Agilebase release version</title>
  <link type="text/css" rel="stylesheet" href="resources/bootstrap/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="resources/display_application_amalgam.css" />
</head>
<body style="padding: 1em">
	<div class="container">
		<h1>agileBase build reference</h1>
		The last code commit that was used to build this version of agileBase is <p>
		<a href="$commitUrl">$commitUrl</a><p>
		Tip: use the 'parent' link to browse through past commits<p>
		Details of the commit:
		<div class="infomessage">$commitMessage</div>
	</div>
</body>
</html>
