##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<table cellspacing=0 border=0 cellpadding=0>
  #set($userRoles = $view.adminGetRolesForUser($sessionUser))
  #foreach($role in $view.adminGetRoles())
  <tr>
    <td>$role.getRoleName()</td>
    <td>
      <input type=checkbox 
       name="$role.getRoleName()" 
       fn_checked="assign_user_to_role" 
       fn_unchecked="remove_user_from_role" 
       #if($userRoles.contains($role))checked#end
       gtpb_internalrolename="$role.getInternalRoleName()"
       gtpb_internalusername="$sessionUser.getInternalUserName()"
       onclick="fSetPBfn(this);new fChange(this)">
    </td>
  </tr>
  #end ##end of foreach
</table>