##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($option_set_id='table_privileges')
#set($option_set_title='table privileges')
#set($option_set_subtitle="$sessionUser.getForename() has the following privileges. A shaded background shows that $sessionUser.getForename() is a member of a role that has that privilege.")
#set($option_set_data_path='gui/administration/users/option_sets/table_privileges_data.vm')

#parse('gui/administration/option_set.vm')