##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#macro(radio_user $caption $privilege $pbfn)
  <label FOR="$table.getInternalTableName()$privilege$foreach.count">
    <input type=radio 
     id="$table.getInternalTableName()$privilege$foreach.count"
     name="setuser$foreach.count" 
     value="$privilege"
     gtpb_internalusername="$user.getInternalUserName()"
     gtpb_internaltablename="$table.getInternalTableName()"
     gtpb_privilegetype="$privilege"
     gtpb_assignto="user"
	 $pbfn
     onclick="new fChange(this)"
     #if($highestTablePrivilege.equals($privilege)) checked #end
    >
    <br>$caption
  </label>
#end

#set($user=$sessionUser)
<table cellspacing=0 border=0 cellpadding=0>
  <tr>
    <td>&nbsp;</td>
    <th colspan=4>privileges</th>
  </tr>
      #foreach($table in $view.getLoggedInUser().getCompany().getTables())
		## Find the highest privilege the *user* object has
        #set($highestTablePrivilege = "")
        #set($highestTablePrivilegeNum = 0)
        #if($view.userHasPrivilege("MANAGE_TABLE", $table))
          #set($highestTablePrivilege = "MANAGE_TABLE")
          #set($highestTablePrivilegeNum = 3)
        #elseif($view.userHasPrivilege("EDIT_TABLE_DATA", $table))
          #set($highestTablePrivilege = "EDIT_TABLE_DATA")
          #set($highestTablePrivilegeNum = 2)
        #elseif($view.userHasPrivilege("VIEW_TABLE_DATA", $table))
          #set($highestTablePrivilege = "VIEW_TABLE_DATA")          
          #set($highestTablePrivilegeNum = 1)
		#end
		## Find the highest privilege any of the user's roles has
		#set($highestRolePrivilegeNum = 0)
		#foreach($role in $view.adminGetRolesForUser($user))
			#if(($highestRolePrivilegeNum < 3) && ($view.roleHasPrivilege($role, "MANAGE_TABLE", $table)))
				#set($highestRolePrivilegeNum = 3)
			#elseif(($highestRolePrivilegeNum < 2) && ($view.roleHasPrivilege($role, "EDIT_TABLE_DATA", $table)))
				#set($highestRolePrivilegeNum = 2)
			#elseif(($highestRolePrivilegeNum < 1) && ($view.roleHasPrivilege($role, "VIEW_TABLE_DATA", $table)))
				#set($highestRolePrivilegeNum = 1)
			#end
			#if($highestRolePrivilegeNum == 3)
				#break
			#end
		#end
        <tr>
          <td>$table.getTableName()<br>$table.getTableDescription()</td>
##          <td class="rolehasprivilege">#radio_user('none' '' 'gtpb_clear_all_table_privileges')</td>
##          <td #if($highestRolePrivilegeNum >= 1) class="rolehasprivilege" #end>#radio_user('read' 'VIEW_TABLE_DATA' 'gtpb_set_max_table_privilege')</td>
##          <td #if($highestRolePrivilegeNum >= 2) class="rolehasprivilege" #end>#radio_user('edit' 'EDIT_TABLE_DATA' 'gtpb_set_max_table_privilege')</td>
##          <td #if($highestRolePrivilegeNum == 3) class="rolehasprivilege" #end>#radio_user('manage' 'MANAGE_TABLE' 'gtpb_set_max_table_privilege')</td>
          <td class="rolehasprivilege">#if($highestRolePrivilegeNum == 0) #radio_user('none' '' 'gtpb_clear_all_table_privileges') #end</td>
          <td #if($highestRolePrivilegeNum >= 1) class="rolehasprivilege" #elseif($highestTablePrivilegeNum >=1) class="userhasprivilege" #end>#if($highestRolePrivilegeNum == 1) #radio_user('read' '' 'gtpb_clear_all_table_privileges') #elseif(1 > $highestRolePrivilegeNum) #radio_user('read' 'VIEW_TABLE_DATA' 'gtpb_set_max_table_privilege') #end</td>
          <td #if($highestRolePrivilegeNum >= 2) class="rolehasprivilege" #elseif($highestTablePrivilegeNum >=2) class="userhasprivilege" #end>#if($highestRolePrivilegeNum == 2) #radio_user('edit' '' 'gtpb_clear_all_table_privileges') #elseif(2 > $highestRolePrivilegeNum) #radio_user('edit' 'EDIT_TABLE_DATA' 'gtpb_set_max_table_privilege') #end</td>
          <td #if($highestRolePrivilegeNum == 3) class="rolehasprivilege" #elseif($highestTablePrivilegeNum >=3) class="userhasprivilege" #end>#if($highestRolePrivilegeNum == 3) #radio_user('manage' '' 'gtpb_clear_all_table_privileges') #elseif(3 > $highestRolePrivilegeNum) #radio_user('manage' 'MANAGE_TABLE' 'gtpb_set_max_table_privilege') #end</td>
        </tr>
      #end
</table>