##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<table cellspacing=0 border=0 cellpadding=0>
  <tr>
    <td>Name:</td>
    <td>
      <input type="text" name="forename" gtpb_internalusername="$sessionUser.getInternalUserName()" gtpb_update_user value="$sessionUser.getForename()" onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6">
      <br />forename(s)
    </td>
    <td>
      <input type="text" name="surname" gtpb_internalusername="$sessionUser.getInternalUserName()" gtpb_update_user value="$sessionUser.getSurname()" onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6">
      <br />surname
    </td>
  </tr>
  <tr>
    <td>Login:</td>
    <td>
      <input type="text" name="username" gtpb_internalusername="$sessionUser.getInternalUserName()" gtpb_update_user value="$sessionUser.getUserName()" onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6">
      <br />username
    </td>
    <td>
      <input type="password" name="password" gtpb_internalusername="$sessionUser.getInternalUserName()" gtpb_update_user #*value="$sessionUser.getPassword()"*# onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6" #*onfocus="this.setAttribute('type','text')" onblur="this.setAttribute('type','password')*#">
      <br />type new password to reset
    </td>
  </tr>
</table>