##
##  Copyright 2013 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($internalUserName = $sessionUser.getInternalUserName())
<table cellspacing=0 border=0 cellpadding=0>
  <tr style="vertical-align: top">
    <td>Name:</td>
    <td>
      <input type="text" name="forename" gtpb_internalusername="$internalUserName" gtpb_update_user value="$sessionUser.getForename()" onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6">
      <br />forename(s)
    </td>
    <td>
      <input type="text" name="surname" gtpb_internalusername="$internalUserName" gtpb_update_user value="$sessionUser.getSurname()" onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6">
      <br />surname
    </td>
  </tr>
  <tr style="vertical-align: top">
    <td>Login:</td>
    <td>
      <input type="text" name="username" gtpb_internalusername="$internalUserName" gtpb_update_user value="$sessionUser.getUserName()" onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6">
      <br />username
    </td>
    <td>
      <input type="password" name="password" gtpb_internalusername="$internalUserName" gtpb_update_user onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6">
      <br />type new password to reset
    </td>
  </tr>
  <tr style="vertical-align: top">
    <td>Email:</td>
    <td colspan="2">
      #set($email = $sessionUser.getEmail())
      #if(!$email)
        #set($email = "")
      #end
      <input type="text" name="email" gtpb_internalusername="$internalUserName" gtpb_update_user value="$email" onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6">
      <br />only enter this if you want the user to receive notifications of *all comments* added throughout agileBase<p>
      <button data_internalusername="$internalUserName" onclick="sendPasswordReset(this);" #if($sessionUser.getAllowPasswordReset()) disabled="true" title="A password reset has already been sent to this user" #end />Send password notification</button>
      <br /><span id="password_reset_result">Send $sessionUser.getForename() an email link they can use to choose a password</span>
    </td>
  </tr>
  <tr style="vertical-align: top">
    <td>Profile picture</td>
    <td colspan="2">
      <form method="post" enctype="multipart/form-data" action="AppController.servlet" class="fileUploader">
        <input type="hidden" name="upload_profile_picture" />
        <input type="hidden" name="return" value="gui/resources/xmlreturn_rowid" /> 
        #if($sessionUser.getHasProfileImage())
          <img src="profiles/$internalUserName.jpg.40.jpg" class="profile_photo" />
        #else
          <img src="resources/icons/file_placeholders/profile_photo.png" class="profile_photo" />
        #end
        <input type="file" name="profilephoto" class="submit-trigger" />
        <div class="upload_progress_container">
          <div class="upload_progress_bar"></div>
          <span class="upload_info" upload_speed="$view.getUploadSpeed()"></span>
        </div>
      </form>
    </td>
  </tr>
  <tr style="vertical-align: top">
	<td>Initial view:<br>What the user will see on logging in</td>
	<td colspan="2">
	  #set($sessionUserType = $sessionUser.getUserType())
	  <select name="initialview" gtpb_internalusername="$internalUserName" gtpb_update_user value="$sessionUserType" onchange="top.oBuffer.writeBuffer(this);">
		<option value="LIMITED" #if($sessionUserType == "LIMITED") selected #end>Limited - for external users outside the company</option>
        <option value="REPORT" #if($sessionUserType == "REPORT") selected #end>Full height report view</option>
        <option value="FULL" #if($sessionUserType == "FULL") selected #end>Full three pane interface</option>
		<option value="EXECUTIVE_DASHBOARD" #if($sessionUserType == "EXECUTIVE_DASHBOARD") selected #end>Executive dashboard</option>
	  </select><p>
	  #set($companyId = $viewTools.cleanString($sessionUser.getCompany().getCompanyName()))
	  #set($customTemplate = "gui/customisations/$companyId/index.vm")
      <input type="checkbox" name="uses_custom_ui" gtpb_update_user="true" gtpb_internalusername="$internalUserName" #if($sessionUser.getUsesCustomUI()) checked #end onchange="top.oBuffer.writeBuffer(this);" #if(!$viewTools.templateExists($customTemplate)) disabled=true #end /> Use the custom $sessionUser.getCompany() UI rather than agileBase's<p>
      <input type="checkbox" name="uses_app_launcher" gtpb_update_user="true" gtpb_internalusername="$internalUserName" #if($sessionUser.getUsesAppLauncher()) checked #end onchange="top.oBuffer.writeBuffer(this);" /> Show the app launcher when logging in
	</td>
  </tr>
  <tr style="vertical-align: top">
	<td>Last login:</td>
	<td colspan="2">$view.getUsageStats().getLastLoginAge($sessionUser)</td>
  </tr>
</table>