##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($wikiPageName = $view.getSessionData().getCustomString("wikipagename"))
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>Loading ${wikiPageName}...</title>
</head>
<body>
<script language="JavaScript">
##document.location="../jamwiki/$cleanCompanyName/StartingPoints";
document.location="$view.getWikiPageUrl($wikiPageName, false)";
</script>
</script>
</body>
</html>