## Create a collection $moduleReports: each module maps to an array of reports
#parse("gui/forms/calc_module_tables.vm")
#set($sessionTable = $sessionData.getTable())
#set($savedTables = $user.getFormTables())
<div id="report_selection_header" class="report_selection_header"><a href="#" class="expander">&plusmn; forms</a>: </div>
<div id="report_selection" class="report_selection">
#set($modules = $moduleTables.keySet())
#foreach($module in $modules)
  #set($internalModuleName = $module.getInternalModuleName())
  #set($formTables = $moduleTables.get($module))
  <ul>
    <li id="$internalModuleName">
      <h2><span><img src="resources/icons/applications/tango/$module.getIconPath()"/> 
        $module
      </span></h2>
      <ul parent="$internalModuleName">
      #foreach($table in $formTables)
        #set($internalTableName = $table.getInternalTableName())
        <li id="$internalTableName">
          <input type="checkbox" #if($table.equals($sessionTable)) sessiontable="true" #end simpletablename="$table.getSimpleName()" internaltablename="$internalTableName" #if($savedTables.contains($table)) checked #end>$table
        </li> 
      #end
      </ul>
    </li>
  </ul>
#end
</div>

