<div class="block">
  #foreach($tileType in $view.getTileTypes())
    #set($tileTypeId = $tileType.name().toLowerCase())
    <legend for="$tileTypeId" class="btn">
      <input type="radio" name="apptype" value="$tileTypeId" id="$tileTypeId" />
      <h1>$tileType.getTileName()</h1>
      <p>$tileType.getDescription()
    </legend>
  #end
</div>