##
##  Copyright 2013 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($tiles = $view.getLoggedInUser().getTiles())
#set($colours = ["blue,yellow,green,purple,pink"])
<div class="block">
  #foreach($tileType in $view.getTileTypes())
    #set($tileTypeId = $tileType.name().toLowerCase())
    #if($tileTypeId != "custom")
      #set($alreadyAdded = false)
      #if(($tileTypeId == "comment_stream") || ($tileTypeId == "data_stream") || ($tileTypeId == "focus") || ($tileTypeId == "calendar") || ($tileTypeId == "chat"))
        ## check existing tiles
        #foreach($tile in $tiles)
          #if($tileTypeId == $tile.getTileType().name().toLowerCase())
            #set($alreadyAdded = true)
          #end
        #end
      #end
      #if(!$alreadyAdded)
        <label for="$tileTypeId" class="tiletype transition" data-tiletype="$tileTypeId">
          <input type="radio" name="apptype" value="$tileTypeId" id="$tileTypeId" />
          <h1>$tileType.getTileName()</h1>
          <p>$tileType.getDescription()</p>
        </label>
      #end
    #end
  #end
  <ul class="reportSelector big notfocus transition" style="display: none">
    ## Create a collection $moduleReports: each module maps to an array of reports
    #parse("gui/resources/calc_module_reports.vm")
    #foreach($module in $moduleReports.keySet())
      <li class="module transition" #if($module.getIconPath()) data-icon="$module.getIconPath()" #else data-icon="" #end>
        <p>$module</p>
        <ul class="reports notfocus transition" style="display:none">
          #foreach($report in $moduleReports.get($module))
            <li data-internalreportname="$report.getInternalReportName()">$report</li>
          #end
        </ul>
      </li>
    #end
  </ul>
  <div class="iconChooser big notfocus" style="display:none">
<i class='icon-large icon-adjust'></i>
<i class='icon-large icon-asterisk'></i>
<i class='icon-large icon-ban-circle'></i>
<i class='icon-large icon-bar-chart'></i>
<i class='icon-large icon-barcode'></i>
<i class='icon-large icon-beaker'></i>
<i class='icon-large icon-bell'></i>
<i class='icon-large icon-bolt'></i>
<i class='icon-large icon-book'></i>
<i class='icon-large icon-bookmark'></i>
<i class='icon-large icon-bookmark-empty'></i>
<i class='icon-large icon-briefcase'></i>
<i class='icon-large icon-bullhorn'></i>
<i class='icon-large icon-calendar'></i>
<i class='icon-large icon-camera'></i>
<i class='icon-large icon-camera-retro'></i>
<i class='icon-large icon-certificate'></i>
<i class='icon-large icon-check'></i>
<i class='icon-large icon-check-empty'></i>
<i class='icon-large icon-cloud'></i>
<i class='icon-large icon-cog'></i>
<i class='icon-large icon-cogs'></i>
<i class='icon-large icon-comment'></i>
<i class='icon-large icon-comment-alt'></i>
<i class='icon-large icon-comments'></i>
<i class='icon-large icon-comments-alt'></i>
<i class='icon-large icon-credit-card'></i>
<i class='icon-large icon-dashboard'></i>
<i class='icon-large icon-download'></i>
<i class='icon-large icon-download-alt'></i>
<i class='icon-large icon-edit'></i>
<i class='icon-large icon-envelope'></i>
<i class='icon-large icon-envelope-alt'></i>
<i class='icon-large icon-exclamation-sign'></i>
<i class='icon-large icon-external-link'></i>
<i class='icon-large icon-eye-close'></i>
<i class='icon-large icon-eye-open'></i>
<i class='icon-large icon-facetime-video'></i>
<i class='icon-large icon-film'></i>
<i class='icon-large icon-filter'></i>
<i class='icon-large icon-fire'></i>
<i class='icon-large icon-flag'></i>
<i class='icon-large icon-folder-close'></i>
<i class='icon-large icon-folder-open'></i>
<i class='icon-large icon-gift'></i>
<i class='icon-large icon-glass'></i>
<i class='icon-large icon-globe'></i>
<i class='icon-large icon-group'></i>
<i class='icon-large icon-hdd'></i>
<i class='icon-large icon-headphones'></i>
<i class='icon-large icon-heart'></i>
<i class='icon-large icon-heart-empty'></i>
<i class='icon-large icon-home'></i>
<i class='icon-large icon-inbox'></i>
<i class='icon-large icon-info-sign'></i>
<i class='icon-large icon-key'></i>
<i class='icon-large icon-leaf'></i>
<i class='icon-large icon-legal'></i>
<i class='icon-large icon-lemon'></i>
<i class='icon-large icon-lock'></i>
<i class='icon-large icon-unlock'></i>
<i class='icon-large icon-magic'></i>
<i class='icon-large icon-magnet'></i>
<i class='icon-large icon-map-marker'></i>
<i class='icon-large icon-minus'></i>
<i class='icon-large icon-minus-sign'></i>
<i class='icon-large icon-money'></i>
<i class='icon-large icon-move'></i>
<i class='icon-large icon-music'></i>
<i class='icon-large icon-off'></i>
<i class='icon-large icon-ok'></i>
<i class='icon-large icon-ok-circle'></i>
<i class='icon-large icon-ok-sign'></i>
<i class='icon-large icon-pencil'></i>
<i class='icon-large icon-picture'></i>
<i class='icon-large icon-plane'></i>
<i class='icon-large icon-plus'></i>
<i class='icon-large icon-plus-sign'></i>
<i class='icon-large icon-print'></i>
<i class='icon-large icon-pushpin'></i>
<i class='icon-large icon-qrcode'></i>
<i class='icon-large icon-question-sign'></i>
<i class='icon-large icon-random'></i>
<i class='icon-large icon-refresh'></i>
<i class='icon-large icon-remove'></i>
<i class='icon-large icon-remove-circle'></i>
<i class='icon-large icon-remove-sign'></i>
<i class='icon-large icon-reorder'></i>
<i class='icon-large icon-resize-horizontal'></i>
<i class='icon-large icon-resize-vertical'></i>
<i class='icon-large icon-retweet'></i>
<i class='icon-large icon-road'></i>
<i class='icon-large icon-rss'></i>
<i class='icon-large icon-screenshot'></i>
<i class='icon-large icon-search'></i>
<i class='icon-large icon-share'></i>
<i class='icon-large icon-share-alt'></i>
<i class='icon-large icon-shopping-cart'></i>
<i class='icon-large icon-signal'></i>
<i class='icon-large icon-signin'></i>
<i class='icon-large icon-signout'></i>
<i class='icon-large icon-sitemap'></i>
<i class='icon-large icon-sort'></i>
<i class='icon-large icon-sort-down'></i>
<i class='icon-large icon-sort-up'></i>
<i class='icon-large icon-star'></i>
<i class='icon-large icon-star-empty'></i>
<i class='icon-large icon-star-half'></i>
<i class='icon-large icon-tag'></i>
<i class='icon-large icon-tags'></i>
<i class='icon-large icon-tasks'></i>
<i class='icon-large icon-thumbs-down'></i>
<i class='icon-large icon-thumbs-up'></i>
<i class='icon-large icon-time'></i>
<i class='icon-large icon-tint'></i>
<i class='icon-large icon-trash'></i>
<i class='icon-large icon-trophy'></i>
<i class='icon-large icon-truck'></i>
<i class='icon-large icon-umbrella'></i>
<i class='icon-large icon-upload'></i>
<i class='icon-large icon-upload-alt'></i>
<i class='icon-large icon-user'></i>
<i class='icon-large icon-user-md'></i>
<i class='icon-large icon-volume-off'></i>
<i class='icon-large icon-volume-down'></i>
<i class='icon-large icon-volume-up'></i>
<i class='icon-large icon-warning-sign'></i>
<i class='icon-large icon-wrench'></i>
<i class='icon-large icon-zoom-in'></i>
<i class='icon-large icon-zoom-out'></i>
<i class='icon-large icon-file'></i>
<i class='icon-large icon-cut'></i>
<i class='icon-large icon-copy'></i>
<i class='icon-large icon-paste'></i>
<i class='icon-large icon-save'></i>
<i class='icon-large icon-undo'></i>
<i class='icon-large icon-repeat'></i>
<i class='icon-large icon-paper-clip'></i>
<i class='icon-large icon-text-height'></i>
<i class='icon-large icon-text-width'></i>
<i class='icon-large icon-align-left'></i>
<i class='icon-large icon-align-center'></i>
<i class='icon-large icon-align-right'></i>
<i class='icon-large icon-align-justify'></i>
<i class='icon-large icon-indent-left'></i>
<i class='icon-large icon-indent-right'></i>
<i class='icon-large icon-font'></i>
<i class='icon-large icon-bold'></i>
<i class='icon-large icon-italic'></i>
<i class='icon-large icon-strikethrough'></i>
<i class='icon-large icon-underline'></i>
<i class='icon-large icon-link'></i>
<i class='icon-large icon-columns'></i>
<i class='icon-large icon-table'></i>
<i class='icon-large icon-th-large'></i>
<i class='icon-large icon-th'></i>
<i class='icon-large icon-th-list'></i>
<i class='icon-large icon-list'></i>
<i class='icon-large icon-list-ol'></i>
<i class='icon-large icon-list-ul'></i>
<i class='icon-large icon-list-alt'></i>
<i class='icon-large icon-arrow-down'></i>
<i class='icon-large icon-arrow-left'></i>
<i class='icon-large icon-arrow-right'></i>
<i class='icon-large icon-arrow-up'></i>
<i class='icon-large icon-chevron-down'></i>
<i class='icon-large icon-circle-arrow-down'></i>
<i class='icon-large icon-circle-arrow-left'></i>
<i class='icon-large icon-circle-arrow-right'></i>
<i class='icon-large icon-circle-arrow-up'></i>
<i class='icon-large icon-chevron-left'></i>
<i class='icon-large icon-caret-down'></i>
<i class='icon-large icon-caret-left'></i>
<i class='icon-large icon-caret-right'></i>
<i class='icon-large icon-caret-up'></i>
<i class='icon-large icon-chevron-right'></i>
<i class='icon-large icon-hand-down'></i>
<i class='icon-large icon-hand-left'></i>
<i class='icon-large icon-hand-right'></i>
<i class='icon-large icon-hand-up'></i>
<i class='icon-large icon-chevron-up'></i>        
<i class='icon-large icon-play-circle'></i>
<i class='icon-large icon-play'></i>
<i class='icon-large icon-pause'></i>
<i class='icon-large icon-stop'></i>
<i class='icon-large icon-step-backward'></i>
<i class='icon-large icon-fast-backward'></i>
<i class='icon-large icon-backward'></i>
<i class='icon-large icon-forward'></i>
<i class='icon-large icon-fast-forward'></i>
<i class='icon-large icon-step-forward'></i>
<i class='icon-large icon-eject'></i>
<i class='icon-large icon-fullscreen'></i>
<i class='icon-large icon-resize-full'></i>
<i class='icon-large icon-resize-small'></i>
<i class='icon-large icon-phone'></i>
<i class='icon-large icon-phone-sign'></i>
<i class='icon-large icon-facebook'></i>
<i class='icon-large icon-facebook-sign'></i>
<i class='icon-large icon-twitter'></i>
<i class='icon-large icon-twitter-sign'></i>
<i class='icon-large icon-github'></i>
<i class='icon-large icon-github-sign'></i>
<i class='icon-large icon-linkedin'></i>
<i class='icon-large icon-linkedin-sign'></i>
<i class='icon-large icon-pinterest'></i>
<i class='icon-large icon-pinterest-sign'></i>
<i class='icon-large icon-google-plus'></i>
<i class='icon-large icon-google-plus-sign'></i>
<i class='icon-large icon-sign-blank'></i>
  </div>
</div>