#set($report = $sessionData.getReport())
#set($table = $report.getParentTable())
<div class="sideAction report report1">
  <div class="explainer right notfocus">$report</div>
  <i class="icon-circle"></i>
</div>
#set($reportNum = 1)
#set($defaultReport = $table.getDefaultReport())
#set($hiddenReports = $view.getLoggedInUser().getHiddenReports())
#set($alternativeReports = [])
#foreach($tableReport in $table.getReports())
  #set($tableReportName = $tableReport.getReportName())
  #if((!$tableReport.equals($report)) && (!$tableReport.equals($defaultReport)) && (!$tableReportName.contains("dbvcalc")) && (!$tableReportName.contains("dbvcrit")))
    #if(!$hiddenReports.contains($tableReport))
      #set($success = $alternativeReports.add($tableReport))
    #end
  #end
#end

#foreach$tableReport in $alternativeReports)
  #set($tableReportName = $tableReport.getReportName())
  #set($reportNum = $reportNum + 1)
  <div class="sideAction report report$reportNum" data-internalreportname="$tableReport.getInternalReportName()">
    <div class="explainer right notfocus">$tableReportName</div>
    <i class="icon-circle-blank"></i>
  </div>
#end
