##
##  Copyright 2013 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#parse("gui/calendar/calendar_selection.vm")
<div id="calendar" class="transition notfocus"></div>
<div id="agenda" class="transition">
#if(!$tile)
  #set($tile = $sessionData.getTile())
#end
#set($user = $view.getLoggedInUser())
#set($savedReports = $user.getOperationalDashboardReports())
#set($events = $viewTools.getNewSortedCalendarRowSet())
#set($maxEvents = 10)
#foreach($report in $savedReports)
  #if($report.getCalendarStartField())
    #set($calendarStartField = $report.getCalendarStartField())
    #set($filter = $viewTools.getNewFilterMap())
    #set($success = $filter.put($calendarStartField.getBaseField(), ">now and <7 days hence"))
    #set($reportDataRows = $view.getReportDataRows($report, 50, $filter, false))
    #foreach($reportDataRow in $reportDataRows)
      #set($rowId = $reportDataRow.getRowId())
      #set($event = $viewTools.getNewCalendarRow($report, $reportDataRow))
      #set($success = $events.add($event))
    #end
  #end
#end
#set($DAY_OF_MONTH = $viewTools.getCalendarConstant("DAY_OF_MONTH")) 
#set($colour = $tile.getColour())
#foreach($event in $events)
  #set($date = $event.getDate())
  #set($day = $date.get($DAY_OF_MONTH))
  <div class="event" data-internaltablename="$event.getReport().getParentTable().getInternalTableName()" data-rowid="$event.getDataRow().getRowId()">
    <div class="day ${colour}_fg">
      #set($dayString = "$day")
      #set($lastCharPos = $dayString.length() - 1)
      #set($lastDigit = $dayString.substring($lastCharPos))
      #if($lastDigit == "1") #set($suffix = "st")
      #elseif($lastDigit == "2")  #set($suffix = "nd")
      #elseif($lastDigit == "3")  #set($suffix = "rd")
      #else  #set($suffix = "th")
      #end
      $dayString<sup>$suffix</sup>
    </div>
    #set($calendarStartField = $event.getReport().getCalendarStartField())
    #if($calendarStartField.getDateResolution() > $DAY_OF_MONTH)
      #set($HOUR_OF_DAY = $viewTools.getCalendarConstant("HOUR_OF_DAY")) 
      #set($MINUTE = $viewTools.getCalendarConstant("MINUTE")) 
      #set($hour = $date.get($HOUR_OF_DAY))
      #set($minute = $date.get($MINUTE))
      #if(($hour != 0) || ($minute != 0))
        #set($minute = "$minute")
        #if($minute.length() == 1) #set($minute = "0$minute") #end
        <b>$hour:$minute</b>
      #end
    #end
    $event.getTitle()
  </div>
  #if($foreach.count > 20) #break #end
#end
</div> ## end of agenda