## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#if(!$tile)
  #set($tile = $sessionData.getTile())
#end
#set($comments = $view.getCompanyComments(50))
#foreach($comment in $comments)
  #set($thisUniqueId = $comment.getRowId())
  <div class="report_data_row comment" data-rowid="$thisUniqueId">
    #set($profileImage = false)
    #set($profileImage = $view.getUserProfileImage($comment.getAuthorInternalName()))
    #if($profileImage)
      <img src="$profileImage" class="comment_author_picture" />
    #else
      <img src="resources/icons/file_placeholders/profile_photo.png" class="comment_author_picture" />
    #end
    <span class="comment_text">$comment.getText()</span> <span class="comment_attribution">- $comment.getAuthor(), $comment.getTimestampString()</span>
  </div>
#end