## See which reports the user most often uses and suggest these as tiles. The client may then auto-create or suggest them
#set($mostPopularReports = $view.getMostPopularReports(5))
Most popular reports are $mostPopularReports<p>
#set($usedTables = [])
<div id="tile_suggestions">
  #foreach($report in $mostPopularReports)
    #set($table = $report.getTable())
    #if(!($usedTables.contains($table)))
      <span data-internaltablename="$report.getParentTable().getInternalTableName()">$report.getInternalReportName()</span>
      #set($success = $usedTables.add($table))
    #end
  #end
</div>