##
##  Copyright 2013 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($user = $view.getLoggedInUser())
#set($tiles = $user.getTiles())
#foreach($tile in $tiles)
  #set($tileType = $tile.getTileType())
  #set($colour = $tile.getColour())
  #set($table = false)
  #if($tile.getReport())
    #set($table = $tile.getReport().getParentTable())
  #end
  <div title="$tile" class="tile transition $colour #if($tileType.isLarge()) large #end" #if($table) data-internaltablename="$table.getInternalTableName()" #end data-colour="$colour" data-type="$tileType.toString().toLowerCase()" data-internaltilename="$tile.getInternalTileName()">
    #set($template = $viewTools.cleanString($tileType.toString()))
    #if($template == "data_stream")
      #set($filter = $sessionData.getGlobalFilterString($tile.getReport()))
      <input type="search" placeholder="$tile search" #if($filter) value="$filter" #end/>
    #else
      <div class="title">$tile</div>
    #end
    #if($template == "data_link")
      <div class="tile_icon transition"><i class="$tile.getReport().getModule().getIconPath()"></i></div>
    #end
    <div class="content">
      #parse("s/tiles/${template}.vm")
    </div>
  </div>
#end
<div class="tile adder blue transition" data-colour="blue" title="add new app" data-type="adder">
  <div class="tile_icon transition">+</div>
  <div class="content"></div>
</div>
<div class="sideAction backHome" title="home"><i class="icon-chevron-left"></i></div>
<div class="sideAction removeTile" title="remove tile"><i class="icon-remove-sign"></i></div>
