##
##  Copyright 2013 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($user = $view.getLoggedInUser())
#set($tiles = $user.getTiles())
#if($tiles.size() == 0)
  #parse("s/tiles/suggest_tiles.vm")
#end
## User profile editing
<div class="profile_edit notfocus">
  <div class="controls">
    <a href="AppController.servlet?return=blank&logout=true">log out</a>
  </div>
  #set($internalUserName = $user.getInternalUserName())
  <b>My details</b><p>
  <form>
    <input type="text" name="forename" placeholder="forename" value="$user.getForename()" onkeyup="top.oBuffer.writeBuffer(this);" gtpb_update_user="true" gtpb_internalusername="$internalUserName">&nbsp;
    <input type="text" name="surname" placeholder="surname" value="$user.getSurname()" onkeyup="top.oBuffer.writeBuffer(this);" gtpb_update_user="true" gtpb_internalusername="$internalUserName">
    <p>
    <input type="text" name="email" placeholder="email address" value="$user.getEmail()" onkeyup="top.oBuffer.writeBuffer(this);" gtpb_update_user="true" gtpb_internalusername="$internalUserName">
  </form>
</div>
## App tiles
#foreach($tile in $tiles)
  #set($tileType = $tile.getTileType())
  #set($tileTypeString = $tileType.toString().toLowerCase())
  #set($colour = $tile.getColour())
  #set($dataColour = $colour)
  #if($tileType == "FOCUS")
    #set($colour = "${colour}_fg")
  #end
  #set($table = false)
  #set($hasPrintout = false)
  #if($tile.getReport())
    #set($report = $tile.getReport())
    #set($table = $report.getParentTable())
    #if($tileTypeString == "data_link")
      #set($internalCompanyName = $user.getCompany().getInternalCompanyName())
      #set($internalReportName = $report.getInternalReportName())
      #if($viewTools.listFiles("WEB-INF/templates/uploads/$internalCompanyName/$internalReportName").size() > 0)
        #set($hasPrintout = true)
      #end
    #end
  #end
  <div data-title="$tile" class="tile transition $colour $tileTypeString #if($tileType.isLarge()) large #end #if($hasPrintout) printable #end" #if($table) data-internaltablename="$table.getInternalTableName()" data-internalreportname="$report.getInternalReportName()" #end data-colour="$dataColour" data-type="$tileTypeString" data-internaltilename="$tile.getInternalTileName()">
    #set($template = $viewTools.cleanString($tileType.toString()))
    #if($template == "data_stream")
      #set($filter = $sessionData.getGlobalFilterString($tile.getReport()))
      <input type="search" class="condensed" placeholder="$tile search" #if($filter) value="$filter" #end/>
      <div class="add condensed" title="add $table.getSingularName()"><I class="icon-plus-sign"></i></div>
      <div class="foot_fade condensed"></div> 
    #elseif($template == "comment_stream")
      <div class="title">$tile</div>
      <div class="foot_fade condensed"></div> 
    #else
      <div class="title">$tile</div>
    #end
    #if($template == "data_link")
      <div class="tile_icon transition"><i class="transition $tile.getReport().getModule().getIconPath()"></i></div>
    #end
    <div class="content transition #if(($template != 'data_stream') && ($template != 'comment_stream') && ($template != 'focus') && ($template != 'calendar')) notfocus #end">
      #parse("s/tiles/${template}.vm")
    </div>
  </div>
#end
<div class="tile adder blue transition" data-colour="blue" title="add new app" data-type="adder">
  <div class="tile_icon transition">+</div>
  <div class="content"></div>
</div>
<div class="sideAction backHome" title="home">
  <div class="explainer notfocus">back to tiles</div>
  <i class="icon-chevron-left"></i>
</div>
<div class="sideAction print" title="print or generate report">
  <div class="explainer notfocus">print</div>
  <i class="icon-print"></i>
</div>
<div class="sideAction removeTile" title="remove tile">
  <i class="icon-remove-sign"></i>
</div>
<div class="sideAction backToView" title="finish changes">
  <div class="explainer notfocus">back to report</div>
  <i class="icon-ok-sign"></i>
</div>
<div class="sideAction newRecord" title="add new item">
  <div class="explainer notfocus">new item</div>
  <i class="icon-plus-sign"></i>
</div>
<div class="sideAction cloneRecord" title="copy this item">
  <div class="explainer notfocus">copy item</div>
  <i class="icon-copy"></i>
</div>
<div class="sideAction removeRecord" title="delete this record">
  <div class="explainer notfocus">delete item</div>
  <i class="icon-minus-sign"></i>
</div>
