##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## include custom per-company actions
#set($company = $view.getLoggedInUser().getCompany())
#set($companyName = $viewTools.cleanString($company.getCompanyName()))
#set($customisationsTemplateLocation = "gui/customisations/$companyName/applications.vm")
#if($viewTools.templateExists($customisationsTemplateLocation))
  #parse($customisationsTemplateLocation)
  #set($module = $sessionData.getReport().getModule())
  #set($internalModuleName = $module.getInternalModuleName())
  #set($moduleActions = $view.getModuleActions($internalModuleName))
  #if($moduleActions.size() > 0)
	&nbsp;
    #foreach($moduleAction in $moduleActions)
	  <button class="moduleaction" internalmodulename="$internalModuleName" actionname="$moduleAction.getActionName()">&laquo; $moduleAction &raquo;</button>
    #end
  #end
#end
