<div id="record_actions">
#set($table = $sessionData.getTable())
#if($view.loggedInUserAllowedTo("EDIT_TABLE_DATA",$table))	

<form method="post" action="AppController.servlet" name="recordform">
<input type="hidden" name="return" value="gui/reports_and_tables/pane3">
<input type="hidden" name="set_custom_string" value="1">
<input type="hidden" name="stringkey" value="mobile_pane3_selection">
<input type="hidden" name="customstringvalue" value="$mobile_pane3_selection">
<input type="hidden" name="gtpbaction" value="true">
	
<button title="Create a new record" id="button_new" onclick="document.recordform.gtpbaction.name='save_new_record'; submit();" >New</button> 
<button title="Create a copy of this record" id="button_new" onclick="document.recordform.gtpbaction.name='clone_record'; submit();">Clone</button> 
<button title="Remove this record" class="_gtpb" id="button_new" onclick="document.recordform.gtpbaction.name='remove_record'; submit();">Delete</button>

#set($browser = $viewTools.getBrowser())
#if(($browser != "Konqueror") && ($browser != "iPod/iPhone"))
  #parse("gui/mobile/module_action_buttons.vm")
#end
</form>

#end
</div>
