##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<div class="tab_content" id="selected_tab">
<div id="html_content" class="content">
<style>
#parse("gui/mobile/styles.vm")
</style>

<div id="mobile_header">
<button onclick="document.location='?return=gui/mobile/pane2_selector'">&lArr; $sessionData.getReport()</button> Details
#set($table = $sessionData.getTable())
#if($view.loggedInUserAllowedTo("EDIT_TABLE_DATA",$table))	
<div id="record_actions">
<form method="post" action="AppController.servlet" name="recordform">
<input type="hidden" name="return" value="gui/reports_and_tables/pane3">
<input type="hidden" name="set_custom_string" value="1">
<input type="hidden" name="stringkey" value="mobile_pane3_selection">
<input type="hidden" name="customstringvalue" value="$mobile_pane3_selection">
<input type="hidden" name="gtpbaction" value="true">
	
#if($mobile_pane3_selection == "edit")
<button title="Create a new record" id="button_new" onclick="document.recordform.gtpbaction.name='save_new_record'; submit();" >New</button> 
<button title="Create a copy of this record" id="button_new" onclick="document.recordform.gtpbaction.name='clone_record'; submit();">Clone</button> 
<button title="Remove this record" class="_gtpb" id="button_new" onclick="document.recordform.gtpbaction.name='remove_record'; submit();">Delete</button>
#end

##<button #if($mobile_pane3_selection == "view") disabled #end onclick="document.recordform.customstringvalue.value='view'; submit();">view data</button> 
##<button #if($mobile_pane3_selection == "edit") disabled #end onclick="document.recordform.customstringvalue.value='edit'; submit();">edit data</button> 

</form>
</div>
#end

</div>
## What content to display in pane 3? View, edit etc.
#set($mobile_pane3_selection = $sessionData.getCustomString("mobile_pane3_selection"))
#if($mobile_pane3_selection == "edit")
  #parse("gui/reports_and_tables/tabs/edit.vm")
  #parse("gui/mobile/pane3_footer.vm")
#else
  #set($mobile_pane3_selection = "view")
  #parse("gui/reports_and_tables/tabs/view.vm")
  ## Don't allow editing in mobile version for now, doesn't work 100%
  #parse("gui/mobile/pane3_footer.vm")
#end
</div>
</div> ## close tab_content