##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## What content to display in pane 2? Report, summary etc.
#set($mobile_device = $sessionData.getCustomBoolean("mobile_device"))
#set($report = $sessionData.getReport())
#set($sessionReport = $report)
#set($mobile_pane2_selection = $sessionData.getCustomString("mobile_pane2_selection"))
#parse('gui/browser_incapabilities.vm')
#if($mobile_pane2_selection == "report")
  #parse("gui/reports_and_tables/report_data.vm")
#elseif($mobile_pane2_selection == "summary")
  <html>
	<head><title>$report summary</title>
	  <meta name = "viewport" content = "width = device-width">
	  <link href="styles/report.css" type="text/css" rel="stylesheet" />
	  <link href="resources/tabs/tabs.css" type="text/css" rel="stylesheet" />
	  <link href="resources/tabs/summary.css" type="text/css" rel="stylesheet" />
	  <!-- <meta name="apple-mobile-web-app-capable" content="yes" /> broken -->
  	  <script src="resources/jquery.js" language="Javascript"> </script>
    </head>
	<body>
	  #parse("gui/mobile/pane2_header.vm")
      #parse("gui/reports_and_tables/tabs/summary.vm")
	</body></head>
  </html>
#else
  #set($mobile_pane2_selection = "report")
  #parse("gui/reports_and_tables/report_data.vm")
#end