##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<div class="tab_content" id="selected_tab">
<div id="html_content" class="content">
<style>
#parse("gui/mobile/styles.vm")
</style>

<div id="mobile_header">
<button onclick="document.location='?return=gui/mobile/pane2_selector'">&lt; $sessionData.getReport()</button> Details
</div>
## What content to display in pane 3? View, edit etc.
#set($mobile_pane3_selection = $sessionData.getCustomString("mobile_pane3_selection"))
#if($mobile_pane3_selection == "edit")
  #parse("gui/reports_and_tables/tabs/edit.vm")
  #parse("gui/mobile/pane3_footer.vm")
#else
  #set($mobile_pane3_selection = "view")
  #parse("gui/reports_and_tables/tabs/view.vm")
  ## Don't allow editing in mobile version for now, doesn't work 100%
  ## #parse("gui/mobile/pane3_footer.vm")
#end
</div>
</div> ## close tab_content