##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<style>
#mobile_header {
  position: relative;
  height: 40px;
  width: 100%;
  font-size: 16pt;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
  padding: 3px;
}

/* workaround 'curious consequence' mentioned on http://www.quirksmode.org/mobile/viewports.html */
/* Note also two backgrounds - top and bottom */
body {
  background: url('resources/mobile/header_middle.png') repeat-x left top, url('resources/mobile/header_middle.png') repeat-x left bottom;
}

html, body {
  height: auto; /* to allow bottom background to position correctly */
}


.mobile_back_button {
  /* use absolute positioning and transforms as these will be subject to hardware transitions */
  position: absolute;
  -webkit-transform: translate(0px, 0px);
  /* the buttons should be displayed on top of the titles so that they can always receive touches */
  z-index: 1;
  /* set up the font appearance */
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* set up the chrome background */
  -webkit-border-image : url('resources/mobile/back_button.png') 0 4 0 13;
  border-width : 0 4px 0 13px;
  padding-top: 7px;
  padding-right: 4px;
  /* base metrics used to ensure a minumum size and specify a max size that can be used to trim the contents */
  min-width: 40px;
  max-width: 160px;
  height: 23px; 
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}

body.landscape .mobile_back_button {
  max-width: 90px;
}

/* touched state for the buttons */
.mobile_back_button:active {
  -webkit-border-image : url('images/back_button_touched.png') 0 4 0 13;
}

table#reportData {
  height: auto;
}

table#reportData td, table#reportData th {
  font-size: 12pt; /* larger text for mobile */
}

#mobile_header button {
  vertical-align: middle;
  font-size: 12pt;
}

</style>

<div id="mobile_header">
<button onclick="document.location='?return=gui/pane1'">&lArr; all modules &lArr;</button> $sessionReport.getModule() - $sessionReport
</div>