##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## Buttons to select different pane 3 functions

<style>
#mobile_footer {
  position: relative;
  height: 40px;
  width: 100%;
  background-image: url('resources/mobile/header_middle.png');
  border-top: 1px solid rgb(45, 54, 66);
  font-size: 16pt;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}
</style>
