#mobile_header {
  position: relative;
  height: 40px;
  width: 100%;
  font-size: 16pt;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
  padding: 3px;
}

/* workaround 'curious consequence' mentioned on http://www.quirksmode.org/mobile/viewports.html */
/* Note also two backgrounds - top and bottom */
body {
  background: url('resources/mobile/header_middle.png') repeat-x left top, url('resources/mobile/header_middle.png') repeat-x left bottom;
}

html, body {
  height: auto; /* to allow bottom background to position correctly */
  overflow: visible;
}


.mobile_back_button {
  /* use absolute positioning and transforms as these will be subject to hardware transitions */
  position: absolute;
  -webkit-transform: translate(0px, 0px);
  /* the buttons should be displayed on top of the titles so that they can always receive touches */
  z-index: 1;
  /* set up the font appearance */
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* set up the chrome background */
  -webkit-border-image : url('resources/mobile/back_button.png') 0 4 0 13;
  border-width : 0 4px 0 13px;
  padding-top: 7px;
  padding-right: 4px;
  /* base metrics used to ensure a minumum size and specify a max size that can be used to trim the contents */
  min-width: 40px;
  max-width: 160px;
  height: 23px; 
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}

body.landscape .mobile_back_button {
  max-width: 90px;
}

/* touched state for the buttons */
.mobile_back_button:active {
  -webkit-border-image : url('images/back_button_touched.png') 0 4 0 13;
}

#record_actions {
  position: absolute;
  top: 0px;
  right: 0px;
}

table#reportData {
  height: auto;
}

table#reportData td, table#reportData th, table#reportData input, table#reportData textarea, table#reportData select {
  font-size: 12pt; /* larger text for mobile */
}

div.relation_field a {
  font-size: 12pt!important;
}

table#reportData thead tr#fieldFilters input { 
  font-size: 12pt;
}

table#reportData tr.rowb  { 
  background-image: url('/agileBase/styles/rowb_mobile.png');
}

#mobile_header button {
  vertical-align: middle;
  font-size: 12pt;
}

#mobile_footer {
  position: relative;
  height: 40px;
  width: 100%;
  font-size: 16pt;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
  padding: 3px;
}

#mobile_footer button {
  vertical-align: middle;
  font-size: 12pt;
}