#infovis {
  position: relative;
  font-size: 8pt;
  font-family: Verdana, Geneva, Arial, sans-serif;
  height: 600px;
  width: 100%; /* match bootstrap container */
  color: #656766;
}

#infovis div {  
    position:absolute;  
    overflow:hidden;  
}

.container {
  transition-duration: 1s;
  transition-property: opacity, width, height;
  -moz-transition-duration: 1s;
  -moz-transition-property: opacity, width, height;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: opacity, width, height;
}

.app {
  opacity: 1;
  height: 45px;
  width: 45px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: green;
  float: left;
  transition-duration: 1s;
  transition-property: opacity, width, height;
  -moz-transition-duration: 1s;
  -moz-transition-property: opacity, width, height;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: opacity, width, height;
}

.app.expanded {
  width: 100%;
  height: 100px;
  transition-duration: 1s;
  transition-property: opacity, width, height;
  opacity: 0.8;
}

.app.notfocus {
  background-color: blue;
  opacity: 0.5;
  width: 10px; 
  /* height: 10px; */
  transition-duration: 1s;
  transition-property: opacity, width, height;
}
