#infovis {
  position: relative;
  font-size: 8pt;
  font-family: Verdana, Geneva, Arial, sans-serif;
  height: 600px;
  width: 100%; /* match bootstrap container */
  color: #656766;
}

#infovis div {  
    position:absolute;  
    overflow:hidden;  
}

body {
  transition-duration: 1s;
  transition-property: background-color;
  -moz-transition-duration: 1s;
  -moz-transition-property: background-color;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: background-color;
}

.container {
  transition-duration: 1s;
  transition-property: opacity, width, height;
  -moz-transition-duration: 1s;
  -moz-transition-property: opacity, width, height;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: opacity, width, height;
}

.header.row {
  background-color: white;
  padding-bottom: 1em;
  width: 100%;
  margin-left: 0px; /* override bootstrap */
  transition-duration: 1s;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -moz-transition-property: opacity;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: opacity;
}

.header.row.expanded {
  opacity: 0.5;
}

#title {
  color: white;
  margin: 2em;
  position: absolute;
  margin: 2em;
  top: 0;
  right: 0;
}

.tile {
  opacity: 1;
  height: 395px;
  width: 395px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: green;
  float: left;
  transition-duration: 1s;
  transition-property: opacity, width, height, margin-right, top, left;
  -moz-transition-duration: 1s;
  -moz-transition-property: opacity, width, height, margin-right, top, left;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: opacity, width, height, margin-right, top, left;
  cursor: pointer;
  color: white;
}

.tile .icon {
  font-size: 150pt;
  display: block;
  text-align: center;
  line-height: 0.75em;
}

.tile.expanded {
  width: 100%;
  height: 800px;
  cursor: auto;
}

.tile.adder.expanded {
  width: 100%;
  height: 800px;
}

.tile.notfocus {
  opacity: 0;
  width: 0; 
  margin-right: 0;
  transition-duration: 0.5s; /* stop placement 'jump' at end of transition - hide faster than expand */
  height: 100px;
}

.tile.adder {
  width: 145px;
  height: 145px;
}

label .input[type=radio] {
  /* display: none; */
}

/* Colours */
.blue {
  background-color: #009FE3;
}

.pink {
  background-color: #EC00BC;
}

.green {
  background-color: 8DC63F;
}

.yellow {
  background-colour: #E6BC3A;
}

.purple {
  background-colour: #522d67;
}