* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* http://stackoverflow.com/questions/11452356/duplicated-icon-issue-with-twitter-bootstrap-and-font-awesome */
[class^="icon-"], [class*=" icon-"]{
  background: none;
}

#infovis {
  position: relative;
  font-size: 8pt;
  font-family: Verdana, Geneva, Arial, sans-serif;
  height: 600px;
  width: 100%; /* match bootstrap container */
  color: #656766;
}

#infovis div {  
    position:absolute;  
    overflow:hidden;  
}

body {
  transition-duration: 1s;
  transition-property: background-color;
  -moz-transition-duration: 1s;
  -moz-transition-property: background-color;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: background-color;
}

.transition {
  transition-duration: 1s;
  transition-property: opacity, width, height, margin-right, top, left;
  -moz-transition-duration: 1s;
  -moz-transition-property: opacity, width, height, margin-right, top, left;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: opacity, width, height, margin-right, top, left;
}

#tiles {
  position: relative;
}

.header.row {
  background-color: white;
  padding-bottom: 1em;
  width: 100%;
  margin-left: 0px; /* override bootstrap */
}

.header.row.expanded {
  opacity: 0.5;
}

#title {
  color: white;
  margin: 2em;
  position: absolute;
  margin: 2em;
  top: 0;
  right: 0;
}

.tile {
  opacity: 1;
  height: 245px;
  width: 245px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  cursor: pointer;
  color: white;
  overflow: hidden;
  border-radius: 0.25em;
  padding: 1em;
}

.tile.large {
  height: 500px;
  width: 400px;
}

.tile .title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14pt;
}

#tiles .tile .tile_icon {
  font-size: 150pt;
  display: block;
  text-align: center;
  line-height: 0.5em;
}

/* fontawesome / bootstrap overrides */
#tiles .tile .tile_icon i {
  line-height: 1em;
  width: auto;
}

.tile.expanded {
  width: 100%;
  height: 800px;
  cursor: auto;
}

.tile.adder.expanded {
  width: 100%;
  height: 800px;
}

.notfocus {
  opacity: 0;
  width: 0!important; 
  height: 0!important;
  margin-right: 0;
  padding: 0;
  transition-duration: 0.5s; /* stop placement 'jump' at end of transition - hide faster than expand */
}

.tile.adder {
  width: 145px;
  height: 145px;
}

.adder ul.reportSelector {
  background-color: transparent;
}

.adder ul.reportSelector li {
  float: left;
  margin: 1em;
  cursor: pointer;
}

.adder ul.reportSelector ul.reports {
 display: inline-block;
 color: #009FE3;
 text-transform: lowercase;
}

.adder ul.reportSelector li:first-child {
  clear: left;
}


label input[type=radio] {
  display: none;
}

label {
  float: left;
  width: 30em;
  height: 5em;
  padding: 2em;
}

#submit_tile {
  display: none;
}

.report_data_row {
  background-color: white;
  border-radius: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  color: #656766;
}

.report_data_row .body {
  height: 3em;
  overflow: hidden;
  font-size: 9pt;
}

.report_data_row .row_title {
  font-weight: bold;
  font-size: 10pt;
  height: 1.5em;
  overflow: hidden;
}

.report_data_row img {
  float: left;
  border-radius: 0.75em;
  margin-right: 0.5em;
}

input[type=search] {
  width: 100%;
}

.sideAction {
  color: white;
  cursor: pointer;
  font-size: 30pt;
  position: absolute;
  top: 1em;
  opacity: 0;
  transition-duration: 3s;
  transition-property: opacity;
  -moz-transition-duration: 3s;
  -moz-transition-property: opacity;
  -webkit-transition-duration: 3s;
  -webkit-transition-property: opacity;
}

.sideAction.expanded {
  opacity: 0.5;
}

.sideAction.backHome {
  left: -1em;
}

.sideAction.removeTile {
  right: -0.5em;
}

/* Colours */
.blue {
  background-color: #009FE3;
}

.pink {
  background-color: #EC00BC;
}

.green {
  background-color: #8DC63F;
}

.yellow {
  background-color: #f5bd26;
}

.purple {
  background-color: #5c2969;
}

.white {
  background-color: white;
}

.blue_fg {
  color: #009FE3;
}

.pink_fg {
  color: #EC00BC;
}

.green_fg {
  color: #8DC63F;
}

.yellow_fg {
  color: #f5bd26;
}

.purple_fg {
  color: #5c2969;
}
