/* Pane 1 Tree view */
.blue {background: -moz-linear-gradient(top, #E7F5F9, white)}
.blue h2 {background-color: #B3E3F3;}

.cyan {background-color: #E7F5F9;}
.cyan h2 {background-color: #B3E3F3;}

.green {background-color: #E7F5F9;}
.green h2 {background-color: #B3E3F3;}

.orange {background-color: #E7F5F9;}
.orange h2 {background-color: #B3E3F3;}

.pink {background-color: #E7F5F9;}
.pink h2 {background-color: #B3E3F3;}

.purple {background-color: #E7F5F9;}
.purple h2 {background-color: #B3E3F3;}

.silver {background-color: #E7F5F9;}
.silver h2 {background-color: #B3E3F3;}

.yellow {background-color: #E7F5F9;}
.yellow h2 {background-color: #B3E3F3;}

/* Pane 2 report list */
#reportData .blue {background-color: #DDE6EF;}
#reportData .cyan {background-color: #DDEFEE;}
#reportData .green {background-color: #DDEFE0;}
#reportData .orange {background-color: #EFEADD;}
#reportData .pink {background-color: #EFDDE7;}
#reportData .purple {background-color: #E8DDEF;}
#reportData .silver {background-color: #F1F2ED;}
#reportData .yellow {background-color: #EBEFDD;}

/* Pane 3 colour picker */
#module_color .blue {background-color: #DDE6EF;}
#module_color .cyan {background-color: #DDEFEE;}
#module_color .green {background-color: #DDEFE0;}
#module_color .orange {background-color: #EFEADD;}
#module_color .pink {background-color: #EFDDE7;}
#module_color .purple {background-color: #E8DDEF;}
#module_color .silver {background-color: #F1F2ED;}
#module_color .yellow {background-color: #EBEFDD;}

/* App Launcher */
#apps .blue {background-color: #DDE6EF;}
#apps .cyan {background-color: #DDEFEE;}
#apps .green {background-color: #DDEFE0;}
#apps .orange {background-color: #EFEADD;}
#apps .pink {background-color: #EFDDE7;}
#apps .purple {background-color: #E8DDEF;}
#apps .silver {background-color: #F1F2ED;}
#apps .yellow {background-color: #EBEFDD;}

#apps .blue h1 {color: #EEF3F9;}
#apps .cyan h1 {color: #EEF9F8;}
#apps .green h1 {color: #EEF9F0;}
#apps .orange h1 {color: #F9F6EE;}
#apps .pink h1 {color: #F9EEF4;}
#apps .purple h1 {color: #F5EEF9;}
#apps .silver h1 {color: #FAFAF8;}
#apps .yellow h1 {color: #F6F9EE;}