<html>
<head>
    <link rel="icon" href="resources/icons/gtpb.ico" type="image/x-icon"> <!-- favicon -->
    <link href="/agileBase/website/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/agileBase/website/styles.css" type="text/css" rel="stylesheet" />
    <link href="/agileBase/website/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
    <link href="resources/simple/simple.css" type="text/css" rel="stylesheet" />
    <title>Agilebase usage</title>
    <script src="resources/jquery.js" language="JavaScript"></script>
    <script language="JavaScript" src="customisations/common/dashboard/dashboard.js"></script> ## TODO: prune leaving only sparklines or move sparklines somewhere else
    <script language="JavaScript" src="resources/simple/simple.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span4">
        <div style="height: 100px; width: 100%; background-color: red;"></div>
      </div>
      <div class="span8">
        <div class="row">
          <div class="span2">
            <div style="height: 40px; margin-bottom: 5px;  margin-bottom: 5px; width: 100%; background-color: green;"></div>
          </div>
          <div class="span2">
            <div style="height: 40px; margin-bottom: 5px;  width: 100%; background-color: green;"></div>
          </div>
          <div class="span2">
            <div style="height: 40px; margin-bottom: 5px;  width: 100%; background-color: green;"></div>
          </div>
          <div class="span2">
            <div style="height: 40px; margin-bottom: 5px;  width: 100%; background-color: green;"></div>
          </div>
        </div>
        <div class="row">
          <div class="span2">
            <div style="height: 40px; margin-bottom: 5px;  width: 100%; background-color: green;"></div>
          </div>
          <div class="span2">
            <div style="height: 40px; margin-bottom: 5px;  width: 100%; background-color: green;"></div>
          </div>
          <div class="span2">
            <div style="height: 40px; margin-bottom: 5px;  width: 100%; background-color: green;"></div>
          </div>
          <div class="span2">
            <div style="height: 40px; margin-bottom: 5px;  width: 100%; background-color: green;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>