##
##  Copyright 2013 GT webMarque Ltd
##
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($user = $view.getLoggedInUser())
#set($tiles = $user.getTiles())
<!DOCTYPE html>
<html>
<head>
  #set($hasCalendar = false)
  #foreach($tile in $tiles)
    #if($tile.getTileType() == "CALENDAR")
      #set($hasCalendar = true)
      #break
    #end
  #end
	<link rel="icon" href="resources/icons/gtpb.ico" type="image/x-icon"> <!-- favicon -->
  <link href="resources/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="resources/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/agileBase/website/styles.css" type="text/css" rel="stylesheet" />
  <link href="/agileBase/website/fontawesome/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
  <link href="resources/pane2_amalgam.css" type="text/css" rel="stylesheet" />
  <link href="resources/pane3_amalgam.css" type="text/css" rel="stylesheet" />
  <link href="resources/simple/simple.css" type="text/css" rel="stylesheet" />
  ##<link href="resources/simple_amalgam.css" type="text/css" rel="stylesheet" />
  <link href="/agileBase/website/styles.css" type="text/css" rel="stylesheet" />
  #if($hasCalendar)
    <link href="resources/fullcalendar/fullcalendar.css" type="text/css" rel="stylesheet" />
  #end

	<title>Agilebase</title>
	<script type="text/javascript" src="resources/jquery.js"></script>
  <script type="text/javascript" src="resources/jquery.scrollTo.js"></script>
  <script type="text/javascript" src="resources/simple/simple.js"></script>
  <script type="text/javascript" src="resources/pane2_amalgam.js"></script>
  <script type="text/javascript" src="resources/pane3_amalgam.js"></script>
  #if($tiles.size() == 0)
    ## Used for tile auto-add
    <script type="text/javascript" src="resources/jquery.ajaxq.js"></script>
  #end
  #if($hasCalendar)
    <script type="text/javascript" src="resources/fullcalendar/jquery-ui-custom.js"></script>
    <script type="text/javascript" src="resources/fullcalendar/fullcalendar.js"></script>
  #end
</head>
<body>
  <div class="header row transition">
    <div class="span4 spaced">
      <a href="AppController.servlet?return=gui/display_application&amp;clear_tile=true"><img id="nav_home" src="/agileBase/website/images/logo-agilebase.png" alt="" /></a>
    </div>
    <div class="span8 spaced profile transition">
      #set($profileImage = false)
      #set($profileImage = $view.getUserProfileImage($user.getInternalUserName()))
      #if($profileImage)
        <img src="$profileImage" class="comment_author_picture" alt="" />
      #else
        <img src="resources/icons/file_placeholders/profile_photo.png" class="comment_author_picture" alt="" />
      #end
      $user.getForename()
    </div>
  </div> ## end row
  <div id="title"><h1></h1></div>
  <div class="container transition" id="tiles">
    #parse("s/tiles/tiles.vm")
  </div>
</body>
</html>