##
##  Copyright 2013 GT webMarque Ltd
##
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<!DOCTYPE html>

<html>
  <head>
    <title>Agilebase usage</title>
    <link type="text/css" rel="stylesheet" href="/agileBase/website/bootstrap/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/agileBase/website/styles.css" />
    <link type="text/css" rel="stylesheet" href="/agileBase/website/fontawesome/css/font-awesome.css" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <link type="text/css" rel="stylesheet" href="resources/simple/simple.css" />
    <link type="image/x-icon" rel="icon" href="resources/icons/gtpb.ico" /> <!-- favicon -->
    <script type="text/javascript" src="resources/jquery.js"></script>
    <script type="text/javascript" src="resources/jit.js"></script>
    <script type="text/javascript" src="resources/jquery.sparkline.js"></script>
    <script type="text/javascript" src="customisations/common/dashboard/dashboard.js"></script> ## TODO: prune leaving only sparklines or move sparklines somewhere else
    <script type="text/javascript" src="resources/simple/simple.js"></script>
  </head>

<body>
	<div class="container">
	  <div class="row spaced">
	    <div class="span4">
	      <a href="AppController.servlet?return=boot"><img id="nav_home" src="/agileBase/website/images/logo-agilebase.png" alt="" /></a>
	    </div>
	  </div> ## end row
	  <h1 class="spaced">What's in use?</h1>
	  <p class="big">Large areas have high use. Blue areas have increasing use, grey decreasing
	  <div id="infovis">
	  </div>
	  <h1 class="spaced">Long term trends</h1>
	  <div class="row">
        <div class="span4">
            OPERATIONAL<br>
            These 'sparkline' charts show trends in adoption and usage over the past year
        </div>
        <div class="span4">
            TACTICAL<br>
            These charts are a pointer to levels of analysis rather than pure data entry
        </div>
        <div class="span4">
            STRATEGIC<br>
            Table building points to agileBase use in new areas or projects. Removals suggest halts and cost reductions
        </div>
      </div>
	  <div class="row" style="margin-bottom: 2em">
	    <div class="span4">
			<span class="sparkline_logins">...</span>
			<a href="?return=gui/administration/information/export/login&returntype=download&returnfilename=logins.csv">logins</a>
			<br>
			<span class="sparkline_report_views" alt="report_views">...</span>
			<a href="?return=gui/administration/information/export/report_view&returntype=download&returnfilename=report_views.csv">report views</a>
			<br>
			<span class="sparkline_data_edits">...</span>
			<a href="?return=gui/administration/information/export/data_change&returntype=download&returnfilename=data_changes.csv">data changes</a>
	    </div>
        <div class="span4">
			<span class="sparkline_report_additions">...</span>
			<span class="sparkline_report_removals">...</span>
			<br><span style="color:009FE3">report building</span> and <span style="color:#E30083">demolishing</span><br>
			<a href="?return=gui/administration/information/export/report_schema_change&returntype=download&returnfilename=report_schema_changes.csv">download all changes</a>
        </div>
        <div class="span4">
			<span class="sparkline_table_additions">...</span>
			<span class="sparkline_table_removals">...</span>
			<br>
			<span style="color:009FE3">table building</span> and <span style="color:#E30083">demolishing</span><br>
			<a href="?return=gui/administration/information/export/table_schema_change&returntype=download&returnfilename=table_schema_changes.csv">download all changes</a>
        </div>
	  </div>
	</div> ## end container
</body>