<html>
<head>
    <link rel="icon" href="resources/icons/gtpb.ico" type="image/x-icon"> <!-- favicon -->
    <link href="/agileBase/website/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/agileBase/website/styles.css" type="text/css" rel="stylesheet" />
    <link href="/agileBase/website/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
    <link href="resources/simple/simple.css" type="text/css" rel="stylesheet" />
    <title>Agilebase usage</title>
    <script src="resources/jquery.js" language="JavaScript"></script>
    <script language="JavaScript" src="resources/jit.js"></script>
    <script language="JavaScript" src="resources/jquery.sparkline.js"></script>
    <script language="JavaScript" src="customisations/common/dashboard/dashboard.js"></script> ## TODO: prune leaving only sparklines or move sparklines somewhere else
    <script language="JavaScript" src="resources/simple/simple.js"></script>
</head>
<body>
	<div class="container">
	  <div class="row spaced">
	    <div class="span4">
	      <a href="AppController.servlet?return=boot"><img id="nav_home" src="/agileBase/website/images/logo-agilebase.png" /></a>
	    </div>
	  </div> ## end row
	  <h1 class="spaced">What's in use?</h1>
	  <p class="big">Large areas have high use. Dark areas have increasing use, light decreasing
	  <div id="infovis">
	  </div>
	  <h1 class="spaced">Long term trends</h1>
	  <div class="row">
        <div class="span4">
            These 'sparkline' charts show trends in adoption and usage over the past year
        </div>
        <div class="span4">
            These charts are a pointer to levels of analysis rather than pure data entry
        </div>
        <div class="span4">
            Table building points to agileBase use in new areas or projects. Removals suggest halts and cost reductions
        </div>
      </div>
	  <div class="row" style="margin-bottom: 2em">
	    <div class="span4">
			<span class="sparkline_logins">...</span> 
			<a href="?return=gui/administration/information/export/login&returntype=download&returnfilename=logins.csv">logins</a>
			<br>
			<span class="sparkline_report_views" alt="report_views">...</span> 
			<a href="?return=gui/administration/information/export/report_view&returntype=download&returnfilename=report_views.csv">report views</a>
			<br>
			<span class="sparkline_data_edits">...</span> 
			<a href="?return=gui/administration/information/export/data_change&returntype=download&returnfilename=data_changes.csv">rata changes</a>
	    </div>
        <div class="span4">
			<span class="sparkline_report_additions">...</span> 
			<span class="sparkline_report_removals">...</span>
			<br><span style="color:009FE3">report building</span> and <span style="color:#E30083">demolishing</span><br>
			<a href="?return=gui/administration/information/export/report_schema_change&returntype=download&returnfilename=report_schema_changes.csv">download all changes</a>
        </div>
        <div class="span4">
			<span class="sparkline_table_additions">...</span>
			<span class="sparkline_table_removals">...</span>
			<br>
			<span style="color:009FE3">table building</span> and <span style="color:#E30083">demolishing</span><br>
			<a href="?return=gui/administration/information/export/table_schema_change&returntype=download&returnfilename=table_schema_changes.csv">download all changes</a>
        </div>
	  </div>
	</div> ## end container
</body>