##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($hasSections = false)
#foreach($field in $fields)
  #if($field.getFieldCategory() == "SEPARATOR")
    #set($hasSections = true)
  #elseif(!$field.getHidden())
    #set($lastField = $field)
  #end
#end
#set($singleColumn = true) ## will be modified by table_data_row.vm
#foreach($field in $fields)
  #if($field.getHidden() == false)
		#if(!$parentTable || (!$field.getRelatedTable().equals($parentTable)))
      #if(!$firstField && !$field.equals($primaryKey))
        #set($firstField = $field)
      #end
      #parse("gui/reports_and_tables/tabs/table_data_row.vm")
		#end
  #end
#end
#if(!$singleColumn)
    #if($formStyle == 'TWO_COLUMNS')
    </td></tr></table>
  #end
  </div> <!-- end of last block -->
  #if($hasSections)
    </div> <!-- end of two sections container -->
  #end
  #foreach($formTab in $formTabs)
    <div style="display:none; min-height:15em" id="form_tabs_$sessionTable.getInternalTableName()_$formTab.getTable().getInternalTableName()">
    </div>
  #end
#end
