##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
$viewTools.startTimer("gui/reports_and_tables/tabs/edit")
## edit the data in the session table

## used by the input element templates
#set($updateAsType = true)
#set($rowCount = 0)
#set($tabCaption='edit')
#set($sessionTable=$sessionData.getTable())
#set($sessionReport=$sessionData.getReport())
#set($sessionRowId=$sessionData.getRowId())
#if($sessionRowId == -1)
	<div class="warningmessage">
		#set($lastAppAction = $sessionData.getLastAppAction())
		#if($lastAppAction == "REMOVE_RECORD") 
		  <b>Record removed</b><p>
		  You can return to '$sessionReport' or create a new record
		#else
		  <b>No record selected:</b><p>
		  Pick a record from above to view data or press the 'New' button to create a record
		#end
	</div>
#else
  ## show the interface to edit the record
  #set($lastAppAction = $sessionData.getLastAppAction())
  #set($lastAppActionRowId = $sessionData.getLastAppActionRowId())
  #if(($lastAppAction == "CLONE_RECORD") && ($lastAppActionRowId == $sessionRowId))
    #set($cloned_record = true)
  #end
	  <table cellspacing="0" cellpadding="0" border="0" id="reportData" #if($cloned_record) style="background:url('styles/cloned.png') no-repeat top right !important;" #end>
			#if(!$mobile_device)
			<thead>
			      <tr>
			        <th class="leading">&nbsp;</th>			
			        <th>field</th>
			        <th>value</th>
			        <th class="trailing">&nbsp;</th>
			      </tr>
		    </thead>
			#end
		    #set($tableDataRow=$view.getTableDataRow())
		    #if ($tableDataRow.size() == 0)
		      Please select a record to edit, or press the 'New' button in the toolbar to create one
		    #else
		      #set($viewOnly=false) ## $viewOnly used by resources/input/input.vm
		      #set($fields = $sessionTable.getFields())
			  #if($lastAppAction != "CLONE_RECORD" && $lastAppAction != "SAVE_NEW_RECORD")
				## Check if any mandatory fields remain unfilled
				#set($unfilledMandatories = false)
				#foreach($field in $fields)
					#if($field.getNotNull() && $tableDataRow.get($field) == "")
						#set($unfilledMandatories = true)
					#end
				#end
			  #end
			  #if($unfilledMandatories)
				  #set($rowCount = $rowCount + 1)
				  <tr #if($rowCount%2!=0) class="rowb" #else class="rowa" #end>
					<td class=leading>&nbsp;</td>
					<td colspan="2"><div class="warningmessage">
					The following fields are mandated and must be completed before continuing.<br>
					This record will be highlighted in the dashboard as an exception until values are filled in.<br>
					If the information necessary isn't available yet, other records can continue to be edited.
					</div></td>
					<td class="trailing">&nbsp;</td>
				  </tr>
			      #foreach($field in $fields)
					#if($field.getNotNull() && $tableDataRow.get($field) == "")
						#parse("gui/reports_and_tables/tabs/table_data_row.vm")
					#end
			      #end ## end loop through fields
				  #set($rowCount = $rowCount + 1)
				  <tr #if($rowCount%2!=0) class="rowb" #else class="rowa" #end>
					<td class=leading>&nbsp;</td>
					<td>&nbsp;</td>
					<td><input type="button" value="Complete" alt="Complete the rest of the record" onclick="parent.pane_2.document.location='AppController.servlet?return=gui/reports_and_tables/report_data';"></td>
					<td class="trailing">&nbsp;</td>
				  </tr>
			  #else
			      #foreach($field in $fields)
				        #if($field.getHidden() == false)
							#parse("gui/reports_and_tables/tabs/table_data_row.vm")
				        #end
			      #end ## end loop through fields
			  #end ## end if no unfilled mandatories
			      #if($view.isWikiIntegrated() && (!$mobile_device))
			        #parse("gui/reports_and_tables/tabs/wiki.vm")  
			      					  <tr class="trailing">
			          <td>&nbsp;</td>
			          <td colspan="2">&nbsp;</td>
			          <td>&nbsp;</td>
		        </tr> 
		      #else
		    			    <tr class="trailing">
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
		        </tr> 
					      #end
		    #end 
	  </table>
	  ## See if there are any actions for this table
	  #if(!$moduleActions)
          #set($user = $view.getLoggedInUser())
          #set($company = $user.getCompany())
          #set($companyName = $viewTools.cleanString($company.getCompanyName()))
          #set($customisationsTemplateLocation = "gui/customisations/$companyName/applications.vm")
          #if($viewTools.templateExists($customisationsTemplateLocation))
            #parse($customisationsTemplateLocation)
          #end
	  #end
      #set($tableActions = $view.getModuleActions($sessionTable.getInternalTableName()))
	  #foreach($tableAction in $tableActions)
	    <button class="tableaction">&laquo; $tableAction &raquo;</button>
	  #end
	  #if($view.isRecordLocked())
	  		  <div id="recordBlank"></div>
	  		  
	  	#if($view.loggedInUserAllowedTo('MANAGE_TABLE',$sessionTable))
	  		<div id="recordUnlock">
	  		  <button id="recordUnlockButton">
	  		  	<div>
	  		  		<u>this record is locked</u>
	  		  		<h1>unlock record</h1>
	  		  		<small>once unlocked, the record will remain open until you unlock another record or log out</small>
	  		  	</div>
	  		  </button>
	  		 </div>
	    #else
	      <div id="recordUnlock">
	        <div id="staticMessage">
	          <h1>record is locked</h1>
	          <small>
	            This record has been locked and you don't have permission to edit it.  
	            If you need to change it, an administrator will be able to do it for you.
	          </small>
	        </div>
	      </div>
	    #end
	#end
#end ## end of if session row_id is set
$viewTools.stopTimer("gui/reports_and_tables/tabs/edit")