##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
$viewTools.startTimer("gui/reports_and_tables/tabs/edit")
## edit the data in the session table

## used by the input element templates
#set($updateAsType = true)
#set($rowCount = 0)
#set($tabCaption='edit')
#set($sessionData = $viewMethods.getSessionData())
#set($sessionTable=$sessionData.getTable())
#set($sessionReport=$sessionData.getReport())
#set($sessionRowId=$sessionData.getRowId())
#if($sessionRowId == -1)
	  Select a record to edit data
#else
  ## show the interface to edit the record
  #if(($sessionData.getLastAppAction() == "CLONE_RECORD") && ($sessionData.getLastAppActionRowId() == $sessionRowId))
    #set($cloned_record = true)
  #end
	  <table cellspacing="0" cellpadding="0" border="0" id="reportData" #if($cloned_record) style="background:url('styles/cloned.png') no-repeat top right !important;" #end>
		    <thead>
			      <tr>
			        <th class="leading">&nbsp;</th>			
			        <th>field</th>
			        <th>value</th>
			        <th class="trailing">&nbsp;</th>
			      </tr>
		    </thead>
		    #set($tableDataRow=$viewMethods.getTableDataRow())
		    #if ($tableDataRow.size() == 0)
		      Please select a record to edit, or press the 'New' button in the toolbar to create one
		    #else
		      #set($viewOnly=false) ## $viewOnly used by resources/input/input.vm
		      #set($fields = $sessionTable.getFields())
			      #foreach($field in $fields)
				        #if($field.getHidden() == false)
          #parse("gui/reports_and_tables/tabs/table_data_row.vm")
				        #end
			      #end ## end loop through fields
			      #if($viewMethods.isWikiIntegrated() && (!$mobile_device))
			        #parse("gui/reports_and_tables/tabs/wiki.vm")  
			      					  <tr class="trailing">
			          <td>&nbsp;</td>
			          <td colspan="2">&nbsp;</td>
			          <td>&nbsp;</td>
		        </tr> 
		      #else
		    			    <tr class="trailing">
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
		        </tr> 
					      #end
		    #end 
	  </table>
	  #if($viewMethods.isRecordLocked())
	  		  <div id="recordBlank"></div>
	  		  
	  	#if($viewMethods.loggedInUserAllowedTo('MANAGE_TABLE',$sessionTable))
	  		<div id="recordUnlock">
	  		  <button id="recordUnlockButton">
	  		  	<div>
	  		  		<u>this record is locked</u>
	  		  		<h1>unlock record</h1>
	  		  		<small>once unlocked, the record will remain open until you unlock another record or log out</small>
	  		  	</div>
	  		  </button>
	  		 </div>
	    #else
	      <div id="recordUnlock">
	        <div id="staticMessage">
	          <h1>record is locked</h1>
	          <small>
	            This record has been locked and you don't have permission to edit it.  
	            If you need to change it, an administrator will be able to do it for you.
	          </small>
	        </div>
	      </div>
	    #end
	  #end
#end ## end of if session row_id is set
$viewTools.stopTimer("gui/reports_and_tables/tabs/edit")