<div class="form_tabber" data-internaltablename="$sessionTable.getInternalTableName()">
  <div class="tab_choice active" data-internaltablename="$sessionTable.getInternalTableName()">$sessionTable.getSingularName()</div>
  #foreach($formTab in $formTabs)
    #set($formTable = $formTab.getTable())
    #if($view.loggedInUserAllowedTo("VIEW_TABLE_DATA",$formTable))
      <div class="tab_choice" data-internaltablename="$formTable.getInternalTableName()">$formTab&nbsp;<img src="resources/toolbar/new.png" /></div>
    #end
  #end
</div>
