<div class="form_tabber" data-internaltablename="$sessionTable.getInternalTableName()">
  <div class="tab_choice active" data-internaltablename="$sessionTable.getInternalTableName()">$sessionTable.getSingularName()</div>
  #foreach($formTab in $formTabs)
    #set($formTable = $formTab.getTable())
    #if($view.loggedInUserAllowedTo("VIEW_TABLE_DATA",$formTable))
			#set($formInternalTableName = $formTable.getInternalTableName())
      <div class="tab_choice" id="tab_choice_$formInternalTableName" data-internaltablename="$formInternalTableName">$formTab&nbsp;<img class="new" src="resources/toolbar/new.png" title="add new $formTable.getSingularName()"/></div>
    #end
  #end
</div>
