##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
$viewTools.startTimer("gui/reports_and_tables/tabs/global_edit")
## edit the data in the session table
#set($tabCaption='global edit')
#set($rowCount = 0)
#set($sessionTable=$sessionData.getTable())
#set($sessionRowId=$sessionData.getRowId())
#if($sessionRowId == -1)
	<div class="warningmessage">
		<b>No record selected:</b><p>
		The report contains no data to edit ## Unless there are any circumstances in which the session row ID can be unselected
	</div>
#else
  ## show the interface to edit the record
	  <table cellspacing="0" cellpadding="0" border="0" id="reportData">
		    <thead>
			      <tr>
			##        <th class="leading">&nbsp;</th>			
			        <th class="leading"><!--<img src="resources/icons/help.png" title="Globally edit a value in *all* filtered records in pane 2">-->&nbsp;</th>
			        <th>field</th>
			        <th>value</th>
			        <th class="trailing">&nbsp;</th>
			      </tr>
		    </thead>
		    #set($tableDataRow=$view.getTableDataRow())
		    #if ($tableDataRow.size() == 0)
		      Please select a record to edit, or press the 'New' button in the toolbar to create one
		    #else
		      #set($viewOnly=false) ## $viewOnly used by resources/input/input.vm
		      #set($globalEdit=true) ## $globalEdit used by resources/input/* to determine whether to show values
		      #set($fields = $sessionTable.getFields())
			      #foreach($field in $fields)
				        #if($field.getHidden() == false)
          #parse("gui/reports_and_tables/tabs/table_data_row.vm")
				        #end
			      #end ## end loop through fields
			      #if($view.isWikiIntegrated())
			        #parse("gui/reports_and_tables/tabs/wiki.vm")  
			      					  <tr class="trailing">
			          <td>&nbsp;</td>
			          <td colspan="2">&nbsp;</td>
			          <td>&nbsp;</td>
		        </tr> 
		      #else
		    			    <tr class="trailing">
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
			          <td>&nbsp;</td>
		        </tr> 
					      #end
		    #end 
	  </table>
#end ## end of if session row_id is set
$viewTools.stopTimer("gui/reports_and_tables/tabs/global_edit")