#set($report = $sessionData.getReport())
#set($reportFields = $report.getReportFields())
#set($map = $report.getMap())
#set($postcodeField = $map.getPostcodeField())
#if(!$postcodeField)
  #foreach($reportField in $reportFields)
    #set($cleanName = $viewTools.cleanString($reportField.getFieldName()))
    #if($cleanName == "postcode")
      #set($postcodeField = $reportField)
    #end
  #end
#end
#set($colourField = $map.getColourField())
#set($categoryField = $map.getCategoryField())
<div id="mapcontrol">
  Map setup:
  <table style="border:0">
    <tr>
      <td>Postcode field:</td>
      <td>
        <form method="POST" action="AppController.servlet">
          <input type="hidden" name="return" value="gui/reports_and_tables/pane3" />
          <input type="hidden" name="update_map" value="true" />
          <select name="postcodefieldinternalname" onchange="form.submit();">
            <option value="">Please choose a field...</option>
            #foreach($reportField in $reportFields)
              #if($reportField.getBaseField().getFieldCategory() != "RELATION")
                <option value="$reportField.getInternalFieldName()" #if($reportField.equals($postcodeField)) selected #end>$reportField</option>
              #end
            #end
          </select>
        </form>
      </td>
    </tr>
    <tr>
      <td>Colour by:</td>
      <td>
        <form method="POST" action="AppController.servlet">
          <input type="hidden" name="return" value="gui/reports_and_tables/pane3" />
          <input type="hidden" name="update_map" value="true" />
          <select name="colourfieldinternalname" onchange="form.submit();">
            <option value="">Please choose a field...</option>
            #foreach($reportField in $reportFields)
              #if($reportField.getBaseField().getFieldCategory() != "RELATION")
                <option value="$reportField.getInternalFieldName()" #if($reportField.equals($colourField)) selected #end>$reportField</option>
              #end
            #end
          </select>
        </form>
      </td>
    </tr>
    <tr>
      <td>Categorise by:</td>
      <td>
        <form method="POST" action="AppController.servlet">
          <input type="hidden" name="return" value="gui/reports_and_tables/pane3" />
          <input type="hidden" name="update_map" value="true" />
          <select name="categoryfieldinternalname" onchange="form.submit();">
            <option value="">Please choose a field...</option>
            #foreach($reportField in $reportFields)
              #if($reportField.getBaseField().getFieldCategory() != "RELATION")
                <option value="$reportField.getInternalFieldName()" #if($reportField.equals($categoryField)) selected #end>$reportField</option>
              #end
            #end
          </select>
        </form>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <input type="submit" name="submit" value="Update map" />
      </td>
    </tr>
  </table>
</div>