##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
$viewTools.startTimer("gui/reports_and_tables/tabs/summary")
#set($mathTool = $viewTools.getMathTool())
## Show summary data for the report

#set($tabCaption='summary')
#set($report = $sessionData.getReport())
#set($reportSummary = $report.getReportSummary())
#set($groupings = $reportSummary.getGroupings())
#set($aggregateFunctions = $reportSummary.getAggregateFunctions())
#set($numCols = 1 + $groupings.size() + $aggregateFunctions.size())
#set($loggedInUserAllowedToManage = $view.loggedInUserAllowedTo("MANAGE_TABLE", $report.getParentTable()))
#set($showManageUi = false)
##$printout set in gui/reports_and_tables/report_data_print.vm
#if((!$dashboard) && (!$printout) && (!$mobile_device) && ($loggedInUserAllowedToManage))
  #set($showManageUi = true)
#end
#if($mobile_device)
  #set($return_template="gui/mobile/pane2_selector")
#else
  #set($return_template="gui/reports_and_tables/pane3")
#end

<div id="chart_$report.getInternalReportName()" style="width:100%"></div>

<div id="chart_groupings" class="chart_controls">
<form name=addgrouping method=post action="/portalBase/AppController.servlet">
#if($groupings.size() > 0)
  Grouped by
  #foreach($grouping in $groupings)
  <span class="existing_element"><a href="AppController.servlet?return=$return_template&remove_grouping_from_summary_report=true&internalfieldname=$grouping.getGroupingReportField().getInternalFieldName()">
    $grouping
	#set($groupingModifier = $grouping.getGroupingModifier())
	#if($groupingModifier)
	  - $groupingModifier.getDescription()
	#end
  </a></span>
  #end
#end &nbsp;
  <input type="hidden" name="return" value="$return_template" />
  <input type="hidden" name="add_grouping_to_summary_report" value="1" />
  						            <select name="internalfieldname">
							              #foreach($reportField in $report.getReportFields())
												#set($baseField = $reportField.getBaseField())
								                #if ($reportField.getBaseField().getFieldCategory().getDescription().equals("Relation")) ## added to show display field name for relation fields
								                  	<option value="$reportField.getInternalFieldName()">$reportField.getBaseField().getRelatedTable().getTableName(): $reportField.getBaseField().getDisplayField()</option>
								                #else
							              			#if(!($baseField.equals($baseField.getTableContainingField().getPrimaryKey())))
														#set($category = $baseField.getFieldCategory())
														## Dont't allow grouping by files or text without lookups
														#if(!( (($category == "TEXT") && ($baseField.usesLookup() == false)) || ($category =="FILE") ))
															#if($category == "DATE")
																<option value="$reportField.getInternalFieldName()_year">$reportField - year</option>
																<option value="$reportField.getInternalFieldName()_quarter">$reportField - quarter</option>
																<option value="$reportField.getInternalFieldName()_month">$reportField - month</option>
																<option value="$reportField.getInternalFieldName()_day">$reportField - day</option>
															#else
																<option value="$reportField.getInternalFieldName()">$reportField</option>
															#end
														#end
													#end
								                #end
							              #end
					            	</select>
									<input type="submit" value="group">
</form>
</div>
<div id="chart_aggregates" class="chart_controls">
<form name=addaggregate method=post action="/portalBase/AppController.servlet">
Showing
#foreach($aggregateFunction in $aggregateFunctions)
  <span class="existing_element"><a href="AppController.servlet?return=$return_template&remove_function_from_summary_report=true&internalaggregatename=$aggregateFunction.getInternalAggregateName()">
    $aggregateFunction
  </a></span>
#end &nbsp;
					            	<input type="hidden" name="return" value="$return_template" />
						            <input type="hidden" name="add_function_to_summary_report" value="1" />
						            <select name="function" id="aggregatefunction">
						              	#foreach($function in $reportSummary.getPossibleFunctionTypes())
							              	  <option value="$function.toString()">$function.getLabel()</option>
							              #end
						            </select> 
									<select name="internalfieldname">
							              #foreach($reportField in $report.getReportFields())
							              	#set($baseField = $reportField.getBaseField())
							              	#if($baseField.equals($baseField.getTableContainingField().getPrimaryKey()))
							                  <option value="$reportField.getInternalFieldName()">each '$baseField.getTableContainingField()' record</option>
											#else
							                  <option value="$reportField.getInternalFieldName()">$reportField.getFieldName()</option>
							                #end
							              #end
						            </select>
									<input type="submit" value="add calculation">
</form>
</div>

#set($chartTitle = "$report - $viewTools.joinWith($aggregateFunctions,', ')")
#set($yAxisTitle = "$viewTools.joinWith($aggregateFunctions,', ')")
#set($xAxisCategories = [])
#set($reportSummaryData = $view.getReportSummaryData())
#set($reportSummaryRows = $reportSummaryData.getReportSummaryDataRows())
#foreach($summaryRow in $reportSummaryRows)
  #set($xAxisCategory = "")
  #foreach($grouping in $groupings)
	#if($grouping.equals($groupings.first()))
	  #set($xAxisCategory = $summaryRow.getGroupingValue($grouping))
	#else
	  #set($xAxisCategory = "$xAxisCategory | $summaryRow.getGroupingValue($grouping)")
	#end
  #end
  #set($success = $xAxisCategories.add("'$xAxisCategory'"))
#end
#set($series = [])
#set($seriesString = "")
#foreach($aggregateFunction in $aggregateFunctions)
  #set($seriesString = "$seriesString { name:'$aggregateFunction', data: ")
  #set($seriesData = [])
  #foreach($summaryRow in $reportSummaryRows)
	#set($success = $seriesData.add($summaryRow.getAggregateValue($aggregateFunction)))
  #end
  #set($seriesString = "$seriesString $seriesData }")
  #if(($velocityCount + 1) == $aggregateFunctions.size())
	#set($seriesString = "$seriesString, ")
  #end
#end
#set($success = $series.add($seriesString))
#set($height=200)
#if($xAxisCategories.size() > 10)
  #set($height = $xAxisCategories.size() * 20)
#end
#if($aggregateFunctions.size() > 1)
  #set($height = $height * ($aggregateFunctions.size() * 0.8))
#end
#if(($aggregateFunctions.size() > 0) || ($groupings.size() > 0))
<script language="JavaScript">
var chart1 = new Highcharts.Chart({
         chart: {
            renderTo: "chart_$report.getInternalReportName()",
            defaultSeriesType: 'bar',
			height: $height,
			margin: [50, 50, 60, 100]
         },
		 credits: {
		 	enabled: false
		 },
         title: {
            text: '$chartTitle'
         },
         xAxis: {
            categories: $xAxisCategories
         },
         yAxis: {
            title: {
               text: '$yAxisTitle'
            }
         },
         series: $series
      });
</script>
#end
#if($mobile_device)<p>
	#parse("gui/mobile/pane2_footer.vm")
#end
$viewTools.stopTimer("gui/reports_and_tables/tabs/summary")
