##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## This template displays a single chart. It expects these variables to be defined:
## - $report
## - $reportSummary
## - $reportSummaryRows
#set($chart_id = "chart_$reportSummary.getId()")
#set($groupings = $reportSummary.getGroupings())
#set($aggregateFunctions = $reportSummary.getAggregateFunctions())
#if($reportSummary.equals($report.getReportSummary()) && (!$dashboard))
  #set($chart_classes="default_chart")
#else
  #set($chart_classes="summary_chart")
  #if($suggested)
	#set($chart_classes = "$chart_classes suggested")
  #end
#end
<div id="$chart_id" class="$chart_classes"></div>
## Work out if we can display data as a time series
#set($dateAxis = true)
#foreach($grouping in $groupings)
  #set($fieldCategory = $grouping.getGroupingReportField().getBaseField().getFieldCategory())
  #if($fieldCategory == "DATE")
    #set($groupingModifier = $grouping.getGroupingModifier())
	#if(($groupingModifier != "DATE_YEAR") && ($groupingModifier != "DATE_MONTH"))
      #set($dateAxis = false)
	  #break
	#end
  #else
	#set($dateAxis = false)
	#break
  #end
  #if(($groupings.size() == 1) && ($fieldCategory == "DATE"))
	#if($groupingModifier != "DATE_YEAR")
	  #set($dateAxis = false)
	#end
  #end
#end
## Work out if we can display data as a pie chart
#set($pieChart = false)
#if((!$dateAxis) && ($reportSummaryRows.size() < 5))
  #set($pieChart = true)
#end
#if($reportSummaryRows.size() > 0)
#set($chartTitle = "$reportSummary.getTitle()")
#set($yAxisTitle = "$viewTools.joinWith($aggregateFunctions,', ')")
#if((!$dateAxis) && (!$pieChart))
  ## we need to create category labels
  #set($xAxisCategories = [])
  #set($maxXAxisChars = 5)
  #foreach($summaryRow in $reportSummaryRows)
    #set($xAxisCategory = "")
    #foreach($grouping in $groupings) 
	  #if($grouping.equals($groupings.first()))
	    #set($xAxisCategory = $summaryRow.getGroupingValue($grouping))
	  #else
	    #if($grouping.getGroupingModifier() == "DATE_QUARTER")
		  #set($xAxisCategoryAddition = "Q$summaryRow.getGroupingValue($grouping)")
	    #else
		  #set($xAxisCategoryAddition = "$summaryRow.getGroupingValue($grouping)")
	    #end
	    #set($xAxisCategory = "$xAxisCategory | $xAxisCategoryAddition")
	  #end
    #end
    #if($maxXAxisChars < $xAxisCategory.length())
	  #set($maxXAxisChars = $xAxisCategory.length())
    #end
    #set($success = $xAxisCategories.add("'$viewTools.escape($xAxisCategory)'"))
  #end ## end each summary row
#end ## end if not date axis
#set($series = [])
#set($seriesString = "")
#foreach($aggregateFunction in $aggregateFunctions)
  #set($seriesName = $viewTools.escape("$aggregateFunction").toLowerCase())
  #if(!$dashboard)
    ## Add grand total to series
	#if(($aggregateFunction.getAggregateFunction() == "SUM") || ($aggregateFunction.isCountFunction()))
	  #set($grandTotal = "$mathTool.roundTo(2,$reportSummaryData.getGrandTotal($aggregateFunction))")
	  #if($grandTotal.endsWith(".00"))
		#set($endPos = $grandTotal.length() - 3)
		#set($grandTotal = $grandTotal.substring(0, $endPos))
	  #elseif($grandTotal.endsWith(".0"))
		#set($endPos = $grandTotal.length() - 2)
		#set($grandTotal = $grandTotal.substring(0, $endPos))
	  #end
	  #set($seriesName = "$seriesName = $grandTotal")
	#end
  #end
  #set($seriesString = "$seriesString { name:'$seriesName', data: ")
  #set($seriesData = [])
  #if($dateAxis) ## Time series chart
    #foreach($summaryRow in $reportSummaryRows)
	  #set($day = 1)
	  #set($month = 1)
	  #set($year = 0)
	  #set($point = [])
	  #foreach($grouping in $groupings)
		#set($groupingModifier = $grouping.getGroupingModifier())
		#if($groupingModifier == "DATE_YEAR")
		  #set($year = $summaryRow.getGroupingValue($grouping))
		#elseif($groupingModifier == "DATE_MONTH")
		  #set($month = $summaryRow.getGroupingValue($grouping))
		#else
		  $viewTools.log("Error: unrecognised grouping modifier $groupingModifier for a date axis in summary $summaryReport")
		#end
	  #end
	  ## Don't add null grouping
	  ## NB on some graphs, the null grouping can have the largest value
	  #if(($year!= "") && ($month!= ""))
	    #set($success = $point.add("Date.UTC($year,$month,$day)"))
		#set($success = $point.add($summaryRow.getAggregateValue($aggregateFunction)))
	    #set($success = $seriesData.add($point))
	  #end
    #end
  #elseif($pieChart)
	#set($maxLegendChars = 5)
    #foreach($summaryRow in $reportSummaryRows)
	  #set($point = [])
	  #set($wedgeName = "")
	  #foreach($grouping in $groupings)
		#if($velocityCount == 1)
		  #set($wedgeName = "$summaryRow.getGroupingValue($grouping)")
		#else
		  #set($wedgeName = "$wedgeName | $summaryRow.getGroupingValue($grouping)")
		#end
	  #end
	  #if($wedgeName.length() > $maxLegendChars)
	    #set($maxLegendChars = $wedgeName.length())
      #end
	  #set($success = $point.add("'$viewTools.escape($wedgeName)'"))
	  #set($success = $point.add($summaryRow.getAggregateValue($aggregateFunction)))
	  #set($success = $seriesData.add($point))
    #end
  #else ## Column / bar chart
    #foreach($summaryRow in $reportSummaryRows)
	  #set($success = $seriesData.add($summaryRow.getAggregateValue($aggregateFunction)))
    #end
  #end
  #set($seriesString = "$seriesString $seriesData }")
  #if($velocityCount < $aggregateFunctions.size())
	#set($seriesString = "$seriesString, ")
  #end
#end
#set($success = $series.add($seriesString))
## Set chart sizing
#set($height = 200)
#if($dateAxis)
  #set($xAxisMargin = 70)
#else
  #set($xAxisMargin = 20 + ($maxXAxisChars * 7) - $maxXAxisChars)
  #if($xAxisCategories.size() > 10)
    #set($height = $xAxisCategories.size() * 20)
  #end
#end
#if($aggregateFunctions.size() > 1)
  #set($height = $height * ($aggregateFunctions.size() * 0.8))
#end
#if(($aggregateFunctions.size() > 0) || ($groupings.size() > 0))
  #if($reportSummary.equals($report.getReportSummary()) && !$dashboard) ## if default chart in pane 3
	#set($margin = "[10, 50, 60, $xAxisMargin]") ## top, right, bottom, left
  #elseif($dashboard)
    #if($dateAxis)
      #set($width = 300)
    #elseif($pieChart)
      #set($xAxisMargin = 10)
	  #set($legendWidth = ($maxLegendChars * 7) - $maxLegendChars)
      #set($width = 100 + $legendWidth)
	  #set($height = 150)
	  #set($pieMidX = $height / 2)
	  #set($pieMidY = $pieMidX)
    #else
      #set($width = $xAxisMargin + 175)
    #end
	#set($margin = "[50, 10, 60, $xAxisMargin]")
    #set($height = $height * 0.9)
	#set($height = $height + 40)
  #else ## named chart in pane 3
	#set($margin = "[50, 50, 60, $xAxisMargin]")
	#set($height = $height + 40)
  #end
  #set($title = "")
  #set($subtitle = "")
  #if($dashboard)
	#set($title = "$report")
	#if($reportSummary.getTitle())
	  #set($title = "$reportSummary.getTitle()")
	  #set($subtitle = "$report")
	#end
  #else
    #set($title = $reportSummary.getTitle())
  #end
  <script language="JavaScript">
    var $chart_id = new Highcharts.Chart({
         chart: {
            renderTo: "$chart_id",
			#if($dateAxis)
              defaultSeriesType: 'area',
			  zoomType: 'x',
			#elseif($pieChart)
			  defaultSeriesType: 'pie',
			#else
              defaultSeriesType: 'bar',
			#end
			#if($dashboard)
			  width: $width,
			#end
			height: $height,
			margin: $margin
         },
		 credits: {
		 	enabled: false
		 },
		 #if($title != "")
		   title: { text: "$title" },
		   #if($subtitle != "")
		     subtitle: { text: "$subtitle" },
		   #end
		 #else
           title: {
             style: {
			   margin: '0px',
			   height: '0px',
			   display: 'none'
			 }
           },
		 #end
		 #if(!$pieChart)
           xAxis: {
		     #if($dateAxis)
               type: 'datetime',
			   maxZoom: 60 * 24 * 3600000, // two months
		     #else
               categories: $xAxisCategories
		     #end
           },
           yAxis: {
              title: {
                 enabled: false
              }
           },
		 #end
		 legend: {
		 	style: {
		      position: 'absolute',
			  textTransform: 'lowercase',
		      #if($pieChart)
			    layout: 'vertical',
				top: '40px',
				left: '100px'
			  #else
				zIndex: 10,
				bottom: '10px',
				left: '120px',
				padding: '5px'
			  #end
			}
		 },
		 tooltip: {
		   #if($dashboard)
		     enabled: false
		   #else
		   formatter: function() {
						return '<b>'+ this.series.name.replace(/\=.*$/,'') +'</b><br/>'+
							this.x +': '+ this.y;
		   }
		   #end
		 },
		 #if($dashboard)
		   plotOptions: {
		     bar: {
			   animation: false,
			   groupPadding: 0.1,
			   pointPadding: 0,
			   borderWidth: 1,
			   shadow: false
			 }
			 #if($dateAxis)
			   ,area: {
			     marker: { enabled: false },
				 lineWidth: 0
			   }
			 #elseif($pieChart)
			   ,pie: {
			     center: ['50', '50']
			   }
			 #end
		   },
		 #end
         series: $series
      });
  </script>
#end ## end javascript
#end
