##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## Show charts and other summaries for the report
$viewTools.startTimer("gui/reports_and_tables/tabs/summary")
#set($mathTool = $viewTools.getMathTool())
#set($tabCaption='summary')
#if(!$report)
  #set($report = $sessionData.getReport())
#end
#set($chart = $report.getChart())
#set($defaultChart = $chart)
#set($groupings = $chart.getGroupings())
#set($aggregateFunctions = $chart.getAggregateFunctions())
#set($numCols = 1 + $groupings.size() + $aggregateFunctions.size())
#set($loggedInUserAllowedToEdit = $view.loggedInUserAllowedTo("EDIT_TABLE_DATA", $report.getParentTable()))
#set($showManageUi = false)
##$printout set in gui/reports_and_tables/report_data_print.vm
#if((!$printout) && (!$mobile_device) && ($loggedInUserAllowedToEdit))
  #set($showManageUi = true)
#end
#if($mobile_device)
  #set($return_template="gui/mobile/pane2_selector")
#else
  #set($return_template="gui/reports_and_tables/pane3")
#end
## Saved charts
#set($savedCharts = $report.getSavedCharts())
<div id="saved_charts" #if($savedCharts.size() > 2) class="two_cols" #end>
#foreach($savedChart in $savedCharts)
  #if(!$savedChart.equals($defaultChart))
    #set($chart = $savedChart)
    #set($chartData = $view.getChartData($chart))
    #set($chartRows = $chartData.getChartDataRows())
    #parse('gui/reports_and_tables/tabs/summary_chart.vm')
  #end
#end
## And a word cloud
#set($wordCloudField = $report.getWordCloudField())
#if($wordCloudField)
  #set($stopWords = $viewTools.getNewStringSet())
  ## min font size, max font size, max number of tags
  #set($wordCloud = $view.getReportWordCloud($report, $wordCloudField, $stopWords, 7,30,60))
  #foreach($word in $wordCloud)
    #set($hue = ${word.getWeight()} * (360 / 23))
    #set($saturation = ${word.getWeight()} * (100 / 23))
    #set($lightness = ${word.getWeight()} * (60 / 23))
    ##set($colour = ${word.getWeight()} * 9 - 50)
    <span style="font-size:${word.getWeight()}pt; color:hsl($hue, $saturation, $lightness)">&nbsp;${word}&nbsp;</span>
  #end
#end
</div>
## Reset to the default report summary - the chart being edited
#set($chart = "")
#set($chart = $report.getChart())
#set($groupings = $chart.getGroupings())
#set($aggregateFunctions = $chart.getAggregateFunctions())
#if($showManageUi)
## Separator
<table id="reportData"><tr class="separator">
	<td class="leading">&nbsp;</td>
	<td class="capitalised printoutfieldnamecolumn">
	<span class="fieldname">Add a new chart or word cloud</span>
	</td>
	<td class="trailing">&nbsp;</td>
</tr></table>
<div class="chart_controls">
<div id="wordcloud_controls">
  <form name="wordcloud" method="post" action="AppController.servlet">
    <input type="hidden" name="set_word_cloud_field" value="true">
    <input type="hidden" name="return" value="$return_template">
    #set($wordCloudTableField = $wordCloudField.getBaseField())
    #set($primaryKey = $report.getParentTable().getPrimaryKey())
    or generate a word cloud from text in 
    <select name="internalfieldname" onchange="fSubmitWordCloud();">
      <option value="" #if(!$wordCloudField) selected #end>--please select a field--</option>
      <option value="$primaryKey.getInternalFieldName()" #if($primaryKey.equals($wordCloudTableField)) selected #end>- All report text -</option>
      #foreach($reportField in $report.getReportFields())
        #set($tableField = $reportField.getBaseField())
        #if($tableField.getDbType() == "VARCHAR")
          <option value="$tableField.getInternalFieldName()" #if($tableField.equals($wordCloudTableField)) selected #end>$reportField</option>
        #end
      #end
    </select>
  </form>
</div>
<form name=addgrouping method=post action="AppController.servlet">
#if($groupings.size() > 0)
  Choose groupings: 
  #foreach($grouping in $groupings)
  <span class="existing_element"><a href="AppController.servlet?return=$return_template&remove_grouping_from_chart=true&internalfieldname=$grouping.getGroupingReportField().getInternalFieldName()">
    $grouping
	#set($groupingModifier = false)
	#set($groupingModifier = $grouping.getGroupingModifier())
	#if($groupingModifier)
	  - $groupingModifier.getDescription()
	#end
  </a></span>&nbsp;
  #end
#else
  Groupings:
#end
<script language="JavaScript">
function fShowAddGroup() {
  jQuery("#addGroup").show("normal");
  jQuery("#addGroupLink").hide();
}

function fShowAddAgg() {
  jQuery("#addAgg").show("normal");
  jQuery("#addAggLink").hide();
}

function fSubmitGroup() {
  if (jQuery("#groupselect").val() != "") {
    document.addgrouping.submit();
  }
}

function fSubmitWordCloud() {
  document.wordcloud.submit();
}

function fSubmitFunction() {
  var aggregateFunction = jQuery("#aggregatefunction").val();
  var aggregateFunctionField = jQuery("#aggregatefunctionfield").val();
  if (aggregateFunction != "" && aggregateFunctionField != "") {
    document.addaggregate.submit();
  }
}
 
</script>
<a href="#" onclick="fShowAddGroup();" id="addGroupLink">add...</a>
<div id="addGroup" style="display:none"><br>
  <input type="hidden" name="return" value="$return_template" />
  <input type="hidden" name="add_grouping_to_chart" value="1" />
        <select name="internalfieldname" id="groupselect" onchange="fSubmitGroup();">
	  <option value="" selected>-- please choose one --</option>
          #foreach($reportField in $report.getReportFields())
			#set($baseField = $reportField.getBaseField())
			#set($category = $baseField.getFieldCategory())
              #if ($category == "RELATION") ## added to show display field name for relation fields
                	<option value="$reportField.getInternalFieldName()">$reportField.getBaseField().getRelatedTable().getTableName(): $reportField.getBaseField().getDisplayField()</option>
              #else
          			#if(!($baseField.equals($baseField.getTableContainingField().getPrimaryKey())))
					## Dont't allow grouping by text without lookups
					## unless the field is from a different table.
					## Don't allow files in any situation
					#if(!( (($category == "TEXT") && ($baseField.usesLookup() == false) && ($baseField.getTableContainingField().equals($report.getParentTable()))) || ($category =="FILE") ))
						#if($category == "DATE")
							<option value="$reportField.getInternalFieldName()_year">$reportField - year</option>
							<option value="$reportField.getInternalFieldName()_quarter">$reportField - quarter</option>
							<option value="$reportField.getInternalFieldName()_month">$reportField - month</option>
							<option value="$reportField.getInternalFieldName()_day">$reportField - day</option>
						#else
							<option value="$reportField.getInternalFieldName()">$reportField</option>
						#end
					#end
				#end
              #end
          #end
    	</select>
<!-- <input type="submit" value="add group"> -->
</div>
</form>
<br>
<form name=addaggregate method=post action="AppController.servlet">
#if($aggregateFunctions.size() >0)
  Choose functions: 
  #foreach($aggregateFunction in $aggregateFunctions)
    <span class="existing_element"><a href="AppController.servlet?return=$return_template&remove_function_from_chart=true&internalaggregatename=$aggregateFunction.getInternalAggregateName()">
      $aggregateFunction
    </a></span>&nbsp;
  #end
#else
  Functions: 
#end
<a href="#" onclick="fShowAddAgg();" id="addAggLink">add...</a>
<div id="addAgg" style="display:none"><br>
        	<input type="hidden" name="return" value="$return_template" />
          <input type="hidden" name="add_function_to_chart" value="1" />
          <select name="function" id="aggregatefunction" onchange="fSubmitFunction();">
			<option value="" selected>-- please choose a function --</option>
            	#foreach($function in $chart.getPossibleFunctionTypes())
              	  <option value="$function.toString()">$function.getLabel()</option>
            #end
          </select> 
		<select name="internalfieldname" id="aggregatefunctionfield" onchange="fSubmitFunction()">
			  <option value="" selected>-- please choose a field --</option>
              #foreach($reportField in $report.getReportFields())
              	#set($baseField = $reportField.getBaseField())
              	#if($baseField.equals($baseField.getTableContainingField().getPrimaryKey()))
                  <option value="$reportField.getInternalFieldName()">each '$baseField.getTableContainingField()' record</option>
				#else
                  <option value="$reportField.getInternalFieldName()">$reportField.getFieldName()</option>
                #end
              #end
          </select>
		<!-- <input type="submit" value="add calculation"> -->
</div>
</form><br>
#set($currentFilterReportField = $defaultChart.getFilterReportField())
#set($currentChartFilter = $defaultChart.getChartFilter())
#if(($aggregateFunctions.size() >0) || $currentFilterReportField || $currentChartFilter)
  ## display advanced options
  #set($dateReportFields = [])
  #foreach($reportField in $report.getReportFields())
    #if($reportField.getBaseField().getDbType() == "TIMESTAMP")
  	#set($temp = $dateReportFields.add($reportField))
    #end
  #end
  #if($dateReportFields.size() > 0)
    Date range: 
  <form name="setfilterfield" method="post" action="AppController.servlet">
    <input type="hidden" name="return" value="$return_template" />
    <input type="hidden" name="set_chart_filter_field" value="1" />
    <select name="internalfieldname" onchange="document.setfilterfield.submit();">
  	<option value="">-- please choose a field --</option>
  	#foreach($dateReportField in $dateReportFields)
      <option value="$dateReportField.getInternalFieldName()" #if($dateReportField.equals($currentFilterReportField)) selected #end>$dateReportField</option>
  	#end
    </select>
  </form> 
  <form name="setfilter" method="post" action="AppController.servlet">
    <input type="hidden" name="return" value="$return_template" />
    <input type="hidden" name="set_chart_filter" value="1" />
    <select name="summaryfilter" onchange="document.setfilter.submit();">
  	<option value="">-- please choose a filter --</option>
      <option value="LAST_30_DAYS" #if($currentChartFilter == "LAST_30_DAYS") selected #end>Last 30 days</option>
      <option value="LAST_90_DAYS" #if($currentChartFilter == "LAST_90_DAYS") selected #end>Last 90 days</option>
      <option value="THIS_YEAR" #if($currentChartFilter == "THIS_YEAR") selected #end>This year</option>
      <option value="YEAR_ON_YEAR" #if($currentChartFilter == "YEAR_ON_YEAR") selected #end>Year on year</option>
    </select>
  </form><br>
  #end
  <form name="setlimit" method="post" action="AppController.servlet">
    #set($rangeDirection = $defaultChart.getRangeDirection())
    #set($rangePercent = $defaultChart.getRangePercent())
    <input type="hidden" name="return" value="$return_template" />
    <input type="hidden" name="set_chart_range" value="1" />
    Show 
    <input type="radio" name="rangedirection" value="true" #if($rangeDirection) checked #end> highest 
    <input type="radio" name="rangedirection" value="false" #if(!$rangeDirection) checked #end> lowest 
    <input type="number" name="rangepercent" value="$rangePercent"> % of results
    <input type="submit" name="submit" value="Set limit">
  </form><br>
  <form name="savechart">
  	Choose title: 
  	#set($title = $defaultChart.getTitle())
  	<input type="text" name="summarytitle" #if($title && $title != "") value="$title" #end />
  	<input type="hidden" name="return" value="$return_template" />
  	<input type="hidden" name="save_chart" value="true" />
  	<input type="submit" value="save chart" />
  </form>
#end ## end advanced options display
</div> ## End chart_controls div
#end
## Display the default chart
#set($chartData = $view.getChartData($chart))
#set($chartRows = $chartData.getChartDataRows())
#parse('gui/reports_and_tables/tabs/summary_chart.vm')
#if($mobile_device)<p>
	#parse("gui/mobile/pane2_footer.vm")
#end
$viewTools.stopTimer("gui/reports_and_tables/tabs/summary")
