##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
$viewTools.startTimer("gui/reports_and_tables/tabs/summary")
#set($mathTool = $viewTools.getMathTool())
## Show summary data for the report

#set($tabCaption='summary')
#if(!$report)
  #set($report = $sessionData.getReport())
#end
#set($reportSummary = $report.getReportSummary())
#set($groupings = $reportSummary.getGroupings())
#set($aggregateFunctions = $reportSummary.getAggregateFunctions())
#set($numCols = 1 + $groupings.size() + $aggregateFunctions.size())
#set($reportSummaryData = $view.getReportSummaryData($report))
#set($reportSummaryRows = $reportSummaryData.getReportSummaryDataRows())
#set($loggedInUserAllowedToEdit = $view.loggedInUserAllowedTo("EDIT_TABLE_DATA", $report.getParentTable()))
#set($showManageUi = false)
##$printout set in gui/reports_and_tables/report_data_print.vm
#if((!$dashboard) && (!$printout) && (!$mobile_device) && ($loggedInUserAllowedToEdit))
  #set($showManageUi = true)
#end
#if($mobile_device)
  #set($return_template="gui/mobile/pane2_selector")
#else
  #set($return_template="gui/reports_and_tables/pane3")
#end

#set($chart_id = "chart_$reportSummary.getId()")
#if($showManageUi)
<div class="chart_controls">
<form name=addgrouping method=post action="/portalBase/AppController.servlet">
#if($groupings.size() > 0)
  1. Choose groupings: 
  #foreach($grouping in $groupings)
  <span class="existing_element"><a href="AppController.servlet?return=$return_template&remove_grouping_from_summary_report=true&internalfieldname=$grouping.getGroupingReportField().getInternalFieldName()">
    $grouping
	#set($groupingModifier = false)
	#set($groupingModifier = $grouping.getGroupingModifier())
	#if($groupingModifier)
	  - $groupingModifier.getDescription()
	#end
  </a></span>&nbsp;
  #end
#else
  No groupings 
#end
<script language="JavaScript">
function fShowAddGroup() {
  jQuery("#addGroup").show("normal");
  jQuery("#addGroupLink").hide();
}

function fShowAddAgg() {
  jQuery("#addAgg").show("normal");
  jQuery("#addAggLink").hide();
}
</script>
<a href="#" onclick="fShowAddGroup();" id="addGroupLink">add...</a>
<div id="addGroup" style="display:none"><br>
  <input type="hidden" name="return" value="$return_template" />
  <input type="hidden" name="add_grouping_to_summary_report" value="1" />
  						            <select name="internalfieldname">
							              #foreach($reportField in $report.getReportFields())
												#set($baseField = $reportField.getBaseField())
												#set($category = $baseField.getFieldCategory())
								                #if ($category == "RELATION") ## added to show display field name for relation fields
								                  	<option value="$reportField.getInternalFieldName()">$reportField.getBaseField().getRelatedTable().getTableName(): $reportField.getBaseField().getDisplayField()</option>
								                #else
							              			#if(!($baseField.equals($baseField.getTableContainingField().getPrimaryKey())))
														## Dont't allow grouping by text without lookups
														## unless the field is from a different table.
														## Don't allow files in any situation
														#if(!( (($category == "TEXT") && ($baseField.usesLookup() == false) && ($baseField.getTableContainingField().equals($report.getParentTable()))) || ($category =="FILE") ))
															#if($category == "DATE")
																<option value="$reportField.getInternalFieldName()_year">$reportField - year</option>
																<option value="$reportField.getInternalFieldName()_quarter">$reportField - quarter</option>
																<option value="$reportField.getInternalFieldName()_month">$reportField - month</option>
																<option value="$reportField.getInternalFieldName()_day">$reportField - day</option>
															#else
																<option value="$reportField.getInternalFieldName()">$reportField</option>
															#end
														#end
													#end
								                #end
							              #end
					            	</select>
									<input type="submit" value="add group">
</div>
</form>
<br>
<form name=addaggregate method=post action="/portalBase/AppController.servlet">
#if($aggregateFunctions.size() >0)
  2. Choose functions: 
  #foreach($aggregateFunction in $aggregateFunctions)
    <span class="existing_element"><a href="AppController.servlet?return=$return_template&remove_function_from_summary_report=true&internalaggregatename=$aggregateFunction.getInternalAggregateName()">
      $aggregateFunction
    </a></span>&nbsp;
  #end
#else
  No functions 
#end
<a href="#" onclick="fShowAddAgg();" id="addAggLink">add...</a>
<div id="addAgg" style="display:none"><br>
					            	<input type="hidden" name="return" value="$return_template" />
						            <input type="hidden" name="add_function_to_summary_report" value="1" />
						            <select name="function" id="aggregatefunction">
						              	#foreach($function in $reportSummary.getPossibleFunctionTypes())
							              	  <option value="$function.toString()">$function.getLabel()</option>
							            #end
						            </select> 
									<select name="internalfieldname">
							              #foreach($reportField in $report.getReportFields())
							              	#set($baseField = $reportField.getBaseField())
							              	#if($baseField.equals($baseField.getTableContainingField().getPrimaryKey()))
							                  <option value="$reportField.getInternalFieldName()">each '$baseField.getTableContainingField()' record</option>
											#else
							                  <option value="$reportField.getInternalFieldName()">$reportField.getFieldName()</option>
							                #end
							              #end
						            </select>
									<input type="submit" value="add calculation">
</div>
</form><br>
<form name="savechart">
	3. Choose title: 
	<input type="text" name="charttitle" />
	<input type="submit" value="save chart" />
</form>
</div> ## End chart_controls div
#end
<div id="$chart_id" style="width:100%"></div>
#if($reportSummaryRows.size() > 0)
#set($chartTitle = "$report - $viewTools.joinWith($aggregateFunctions,', ')")
#set($yAxisTitle = "$viewTools.joinWith($aggregateFunctions,', ')")
#set($xAxisCategories = [])
#foreach($summaryRow in $reportSummaryRows)
  #set($xAxisCategory = "")
  #foreach($grouping in $groupings)
	#if($grouping.equals($groupings.first()))
	  #set($xAxisCategory = $summaryRow.getGroupingValue($grouping))
	#else
	  #set($xAxisCategory = "$xAxisCategory | $summaryRow.getGroupingValue($grouping)")
	#end
  #end
  #set($success = $xAxisCategories.add("'$viewTools.escape($xAxisCategory)'"))
#end
#set($series = [])
#set($seriesString = "")
#foreach($aggregateFunction in $aggregateFunctions)
  #set($seriesName = $aggregateFunction.toString().toLowerCase())
  #if(!$dashboard)
    ## Add grand total to series
	#if(($aggregateFunction.getAggregateFunction() == "SUM") || ($aggregateFunction.isCountFunction()))
	  #set($grandTotal = "$mathTool.roundTo(2,$reportSummaryData.getGrandTotal($aggregateFunction))")
	  #if($grandTotal.endsWith(".00"))
		#set($endPos = $grandTotal.length() - 3)
		#set($grandTotal = $grandTotal.substring(0, $endPos))
	  #elseif($grandTotal.endsWith(".0"))
		#set($endPos = $grandTotal.length() - 2)
		#set($grandTotal = $grandTotal.substring(0, $endPos))
	  #end
	  #set($seriesName = "$seriesName = $grandTotal")
	#end
  #end
  #set($seriesString = "$seriesString { name:'$seriesName', data: ")
  #set($seriesData = [])
  #foreach($summaryRow in $reportSummaryRows)
	#set($success = $seriesData.add($summaryRow.getAggregateValue($aggregateFunction)))
  #end
  #set($seriesString = "$seriesString $seriesData }")
  #if(($velocityCount + 1) == $aggregateFunctions.size())
	#set($seriesString = "$seriesString, ")
  #end
#end
#set($success = $series.add($seriesString))
#set($height=200)
#if($xAxisCategories.size() > 10)
  #set($height = $xAxisCategories.size() * 20)
#end
#if($aggregateFunctions.size() > 1)
  #set($height = $height * ($aggregateFunctions.size() * 0.8))
#end
#if(($aggregateFunctions.size() > 0) || ($groupings.size() > 0))
<script language="JavaScript">
var chart1 = new Highcharts.Chart({
         chart: {
            renderTo: "$chart_id",
            defaultSeriesType: 'bar',
			height: $height,
			margin: [10, 50, 60, 120]
         },
		 credits: {
		 	enabled: false
		 },
         title: {
            style: {
				margin: '0px',
				height: '0px',
				display: 'none'
			}
         },
         xAxis: {
            categories: $xAxisCategories
         },
         yAxis: {
            title: {
               enabled: false
            }
         },
		 legend: {
		 	style: {
				position: 'absolute',
				zIndex: 10,
				bottom: '10px',
				left: '120px',
				padding: '5px',
				textTransform: 'lowercase'
			}
		 },
         series: $series
      });
</script>
#end
#end   ## end if reportSummaryRows.size > 0
#if($mobile_device)<p>
	#parse("gui/mobile/pane2_footer.vm")
#end

$viewTools.stopTimer("gui/reports_and_tables/tabs/summary")
