#if(!$sessionTable)
  #set($sessionTable = $sessionData.getCustomTable("tabTable"))
#end
#if(!$sessionRowId)
  #set($sessionRowId = $sessionData.getRowId($sessionTable))
#end
#if(!$parentTable)
  #set($parentTable = $sessionData.getTable())
#end
#set($tableDataRow = $view.getTableDataRow($sessionTable, $sessionRowId))
#set($formStyle = $parentTable.getFormStyle()) ## Inherit form style from the parent
#if(($formStyle == "TWO_COLUMNS") && (!$component))
  <div class="two_cols">
#end
#set($fields = $sessionTable.getFields())
#set($primaryKey = $sessionTable.getPrimaryKey())
#set($lastField = $fields.last())
#if($formStyle == "SINGLE_COLUMN")
  <table id="reportData" cellspacing="0" cellpadding="0" border="0" >
#end
#set($updateAsType=true)
#parse("gui/reports_and_tables/tabs/edit_content.vm")
#if($formStyle == "SINGLE_COLUMN")
  </table>
#elseif(($formStyle == "TWO_COLUMNS") && (!$component))
  </div>
#end
