##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($sessionTable = $sessionData.getCustomTable("tabTable"))
#set($parentTable = $sessionData.getTable())
#set($updateAsType=true)
## Get the tab object associated with the tab table
#foreach($testFormTab in $parentTable.getFormTabs())
  #if($testFormTab.getTable().equals($sessionTable))
    #set($formTab = $testFormTab)
  #end
#end
#if(!$formTab)
  <div class="warningmessage">Form not found for $sessionTable, child of $parentTable. The only form tabs are $parentTable.getFormTabs()</div>
#else
  #set($parentRowId = $sessionData.getRowId($parentTable))
  #set($selectorReport = $formTab.getSelectorReport())
  #if($selectorReport)
    #set($filter = $viewTools.getNewFilterMap())
    #set($success = $filter.put($parentTable.getPrimaryKey(), "$parentRowId"))
    #set($datarows = $view.getReportDataRows($selectorReport,50,$filter,true))
    #if($datarows.size() > 1)
      #set($sessionReport = $selectorReport)
      #set($table_part_only = true)
      #set($data_part_only = true)
      ## Work out which record should be displayed
      #set($sessionRowId = $sessionData.getRowId($sessionTable))
      #set($sessionRowFound = false)
      #if($sessionRowId > -1)
        #foreach($datarow in $datarows)
          #if($datarow.getRowId() == $sessionRowId)
            #set($sessionRowFound = true)
          #end
        #end
      #end
      #if(!$sessionRowFound)
        ## Revert to the first item in the list
        #set($sessionRowId = $datarows.get(0).getRowId())
      #end
      <div class="selectorReport">
        <table id=reportData cellspacing="0"><tbody name=reportBody id=reportBody class="selectable">
          #parse("gui/reports_and_tables/report_data.vm")
        </tbody></table>
      </div>
    #end ## end if datarows.size > 0
  #end ## if selectorReport
  #if($sessionRowId > -1)
    #set($tableDataRow = $view.getTableDataRow($sessionTable, $sessionRowId))
    #set($formStyle = $parentTable.getFormStyle()) ## Inherit form style from the parent
    #if($formStyle == "TWO_COLUMNS")
      <div class="two_cols">
    #end
    #set($fields = $sessionTable.getFields())
    #set($primaryKey = $sessionTable.getPrimaryKey())
    #set($lastField = $fields.last())
    #if($formStyle == "SINGLE_COLUMN")
      <table id="reportData" cellspacing="0" cellpadding="0" border="0" >
    #end
    #parse("gui/reports_and_tables/tabs/edit_content.vm")
    #if($formStyle == "SINGLE_COLUMN")
      </table>
    #elseif($formStyle == "TWO_COLUMNS")
      </div>
    #end
  #else
    <div class="tab_new_record"><img style="vertical-align:middle;" src="resources/toolbar/new.png">&nbsp;new $sessionTable.getSingularName()</div>
  #end 
#end