##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($grandchild = true)
#set($filter = $viewTools.getNewFilterMap())
#set($success = $filter.put($sessionTable.getPrimaryKey(), "$sessionRowId"))
#set($gcFormTabs = $sessionTable.getFormTabs())
#set($gcParentTable = $sessionTable)
#set($sessionTableInternalName = $sessionTable.getInternalTableName())
#set($lookupRowId = true) ## Used by tab_selector_report
#if(!$formTab)
  #foreach($parentFormTab in $parentTable.getFormTabs())
    #if($parentFormTab.getTable().equals($gcParentTable))
      #set($formTab = $parentFormTab)
    #end
  #end
#end
#foreach($gcFormTab in $gcFormTabs)
  #set($selectorReport = $gcFormTab.getSelectorReport())
  ## Stop a particular record from being highlighted
  ###set($sessionRowId = -1) ## $sessionData.getRowId($gcFormTab.getTable()))
  #set($datarows = $view.getReportDataRows($selectorReport,50,$filter,true))
  <div class="block grandchildren">
	#set($gcFormTabTableInternalName = $gcFormTab.getTable().getInternalTableName())
	<h1>$gcFormTab <a href="AppController.servlet?return=gui/reports_and_tables/report_data&set_table=$sessionTable.getInternalTableName()&set_report=$formTab.getSelectorReport().getInternalReportName()&set_row_id=$sessionRowId&rowidinternaltablename=$sessionTableInternalName&save_new_record=true&internaltablename=$gcFormTabTableInternalName&set_custom_table=true&tablekey=tabTable&custominternaltablename=$gcFormTabTableInternalName&cachebust=$viewTools.getRandomString()" target="pane_2"><img src="resources/toolbar/new.png" style="height: 1.3em; font-size: 9pt; vertical-align: top;"/></a></h1>
	#if($datarows.size() > 0)
      ## Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=549114
	  <table style="width:100%"><tr><td style="column-break-inside: avoid;"> 
		#parse("gui/reports_and_tables/tabs/tab_selector_report.vm")
	  </td></tr></table>
    #end
  </div>
#end