##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#if($fieldCategory == "SEPARATOR")
  #if(!$field.equals($firstField))
    </td></tr></table>
    </div> <!-- end of previous section block -->
  #end
  #if($firstSection)
    <div class="two_cols"> <!-- start of sections container -->
    #set($hasSections = true)
    #set($firstSection = false)
  #end
  <div class="block"> <!-- start of section block -->
  ## Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=549114
  <table><tr><td style="column-break-inside: avoid;">
  <h1>$field</h1>
#else
  #if($field.equals($firstField))
    <div class="block two_cols non_section">
  #end
  #if(!$field.getClass().getSimpleName().equals("RelationFieldDefn"))
    ## relation field name included in resources/input/relation.vm
    #set($fieldValueObject = $tableDataRow.get($field))
    ## Don't print field names next to images, ususally obvious what the field is
    #if(!$fieldValueObject.isImage() || $fieldValueObject.isNull())
      $field
    #end
  #end
  #parse('gui/resources/input/input.vm')
#end
#if($field.equals($lastField))
  </div> <!-- end of last block -->
  #if($hasSections)
    </div> <!-- end of two sections container -->
  #end
#end