##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## Used by view.vm
## $tableDataRow and $field must be defined
#set($loggedInUser = $view.getLoggedInUser())
#set($contractedSections = $loggedInUser.getContractedSections())
#set($internalFieldName = $field.getInternalFieldName())
#set($fieldCategory = $field.getFieldCategory())
#set($printoutSetting = $field.getPrintoutSetting().name())
## don't show primary key field
## don't show referenced fields if the raw data in the ref. field report parent table has already been displayed
#set($refFieldTableEncountered = false)
#set($refFieldTableEncountered = $tablesEncountered.containsKey($field.getReferencedReport().getParentTable()))
#if((!$field.getTableContainingField().getPrimaryKey().equals($field)) && (!$refFieldTableEncountered))
  #if($address)
  	#if($address.size() > 0)
  	  #if($address.firstKey().equals($field)) #set($partOfAddress = true) #end
        #if($partOfAddress && $address.firstKey().equals($field))
  	    #set($firstLineOfAddress = true)
  	  #else
  	    #set($firstLineOfAddress = false)
  	  #end
  	#end
  #end
  #if($partOfAddress)
  	#if($firstLineOfAddress)
      <p>
  		#set($rowCount = $rowCount + 1)
      ##<div id="map" style="width:100px; height:100px; float:left;"></div>
    #end
    #parse('gui/resources/input/input.vm')
  	#if($address.lastKey().equals($field))
  		##<script langauge="JavaScript">
  		##  loadMap("$tableDataRow.get($field).toString()");
  		##</script>
      #set($partOfAddress = false)
      </p>
  	#end
  #else ## not part of address
  	#set($referencedData = "")
  	#if($fieldCategory == "REFERENCED_REPORT_DATA")
  	  ## Capture the output of the parsing into a variable. We want to know whether a value
  	  ## exists or not for this field so we can choose whether to display the row
  	  #set($referencedData = "#parse('gui/resources/input/referenced_report_data.vm')")
  	#end
  	#if(($fieldCategory != "REFERENCED_REPORT_DATA") || $referencedData.contains("span")) ## Only show referenced data that is not empty
  	  #if(($fieldCategory != "FILE") || (!$ab_calendar_display)) ## Don't show file fields in calendar editor for now
      	#set($rowCount = $rowCount + 1)
        #if($fieldCategory == 'SEPARATOR')
          #set($contracted = false)
          #if($contractedSections.contains($internalFieldName))
            #set($contracted = true)
          #end
        #end
        #if($fieldCategory == 'SEPARATOR')
          #set($rowCount=0)
          <h2 class="greytext">$field</h2>
        #else
          #if(($printoutSetting == "NAME_AND_VALUE") && ($fieldCategory != "REFERENCED_REPORT_DATA"))
            <!-- class printoutfieldnamecolumn is only defined when printing - see detail.vm -->
            #if($field.getClass().getSimpleName().equals("RelationFieldDefn"))
              <span class="fieldname">$field.getSimplifiedFieldName()</span>
            #else
              <span class="fieldname">$field</span>
            #end
            : #parse('gui/resources/input/input.vm')
          #else
            #if(($rowCount == 1) && ($printoutSetting == "VALUE_ONLY") && (!$tableDataRow.get($field).isUrl()) && (!$tableDataRow.get($field).isEmailAddress()))
              <b>$field.getTableContainingField().$field: #parse('gui/resources/input/input.vm')</b>
            #else
              #parse('gui/resources/input/input.vm')
            #end
          #end
        #end ## end not separator
      #end ## end of not file in calendar
	  #end ## end of non-empty referenced data or normal field
  #end ## end if not partOfAddress
#end ## remove to show primary key field
