##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($theFormTable = $sessionTable.getFormTable())
#if($fieldCategory == "SEPARATOR")
  #if(!$field.equals($firstField))
    #if($formStyle == 'TWO_COLUMNS')
      </td></tr></table>
    #end
    </div> <!-- end of previous section block -->
  #end
  #if($firstSection)
    #if($formTabs.size() > 0)
      #parse("gui/reports_and_tables/tabs/form_tabber.vm")
    #end
    <div #if(($formStyle == "TWO_COLUMNS") && !$parentTable) class="two_cols" #end #if($theFormTable && (!$theFormTable.equals($sessionTable))) style="display:none" data-formtable="$formTable" #end id="form_tabs_$sessionTable.getInternalTableName()_$sessionTable.getInternalTableName()"> <!-- start of sections container -->
    #set($firstSection = false)
  #end
  #if($formStyle == 'TWO_COLUMNS')
    <div class="block"> <!-- start of section block -->
    ## Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=549114
    <table style="width:100%"><tr><td style="column-break-inside: avoid;">
  #else
    <div class="block #if(!$parentTable) two_cols non_section #end">
  #end
  <h1>$field</h1>
  #set($sectionHasImage=false)
#else
  #if($field.equals($firstField))
    #if((!$hasSections) && ($formTabs.size() > 0))
      #parse("gui/reports_and_tables/tabs/form_tabber.vm")
      <div class="block #if(!$parentTable) two_cols non_section #end" #if($theFormTable && (!$theFormTable.equals($sessionTable))) style="display:none" data-formtable="$formTable" #end id="form_tabs_$sessionTable.getInternalTableName()_$sessionTable.getInternalTableName()">
    #else
      <div class="block #if(!$parentTable) two_cols non_section #end">
    #end
  #end
  #set($fieldClass = $field.getClass().getSimpleName())
  ## inline-block workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=549114
  <div title="$field.getFieldDescription()" class="row" #if(($field.getContentSize() > 50) || ($fieldValue.length() > 100)) style="display:inline-block; width:100%" #end>
    #if(!$fieldClass.equals("RelationFieldDefn") && ($fieldCategory != "FILE") && ($fieldCategory != "COMMENT_FEED"))
      ## These field names included in resources/input/relation.vm etc.
      <span class="fieldname">$field</span>
    #end
    #parse('gui/resources/input/input.vm')
  </div>
#end
## Divs / tables are closed in edit_content.vm