## For each child tab of the table of the current record, 
## show whether related data exists.
## Output JSON
#set($table = $sessionData.getTable())
#set($formTabs = $table.getFormTabs())
[ ## Start JSON array
#foreach($formTab in $formTabs)
	## Really we should use tab report, but the table is likely to be a lot faster in some cases
	#set($tabTable = $formTab.getTable())
	#if($view.childDataRowsExist($tabTable))
	  "$tabTable.getInternalTableName()",
	#end
#end
""] ## End JSON array