##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
$viewTools.startTimer("gui/reports_and_tables/tabs/view")
#set($rowCount = 0)

## view the data in the session table, plus related data
#set($tabCaption='view')
#set($viewOnly=true) ## $viewOnly used by resources/input/input.vm
#set($sessionTable=$sessionData.getTable())
#set($sessionReport=$sessionData.getReport())
#if(!$sessionRowId)
  #set($sessionRowId=$sessionData.getRowId())
#end
#if($sessionRowId == -1)
	<div class="warningmessage">
		<b>No record selected:</b><p>
		Pick a record from above to view data or press the 'New' button to create a record
	</div>
#else
	#set($fieldsEncountered = {})
	<table cellspacing="0" cellpadding="0" border="0" #if($mobile_device) id="reportDataView" #else id="reportData" #end>
	  ## NB: session table data used to be here
		## Show related data
		#foreach($reportField in $sessionReport.getReportFields())
		  ## don't show fields we've already shown
		  #set($field = $reportField.getBaseField())
		  #set($fieldTable = $field.getTableContainingField())
		    ## if we have a relation to another table, show that table's data
		    ## (if it has any related data)
		    #if($field.equals($fieldTable.getPrimaryKey()))
			 #if($fieldTable.equals($sessionTable))
			   #set($relatedRowIds = [])
			   #if(!$mobile_device) ## View and edit tabs are merged on mobile devices, don't display the session table data here
			     #set($success = $relatedRowIds.add($sessionRowId))
			   #end
			 #else
		       #set($relatedRowIds = $view.getRelatedRowIds($sessionRowId, $fieldTable))
		     #end
			 #set($numRelatedRows = $relatedRowIds.size())
       #if ($numRelatedRows > 0)
	 	      ## attempt to only display related data if it's a managable amount
		       #if(($numRelatedRows == 1) || (($numRelatedRows * ($fieldTable.getFields().size() - 1)) < 30))
		        #foreach($relatedRowId in $relatedRowIds)
		         #set($tableDataRow=$view.getTableDataRow($fieldTable, $relatedRowId))
		         #if ($tableDataRow.size() != 0)
    	     	   <thead>
    		        	<tr><th class="leading">&nbsp;</th>			
    		        	<th>$fieldTable</th>
    		        	<th>&nbsp;</th>			
    		        	<th class="trailing">&nbsp;</th></tr>			
    		        </thead>
					#set($rowCount = 0)
					#set($address = $viewTools.getAddress($tableDataRow))
		            #foreach($field in $fieldTable.getFields())
		          	  #set($tableDataValue = $tableDataRow.get($field))
					  #set($fieldCategory = $field.getFieldCategory())
            		  ## don't display hidden or blank fields
            		  #if($fieldCategory=="REFERENCED_REPORT_DATA" || $fieldCategory=="SEPARATOR" || (($field.getHidden() == false) && (!($tableDataValue.toString() == ''))))
            			 ## don't display checkbox values that are false
            		     #if(!(($tableDataValue.getClass().getSimpleName().equals("CheckboxValueDefn")) && ($tableDataValue.toString() == "false")))
                           #if($fieldCategory == "RELATION")
							 #set($fieldEncountered = $field.getDisplayField())
						   #else
							 #set($fieldEncountered = $field)
						   #end
						   #if(!$fieldsEncountered.containsKey($fieldEncountered))
						     #parse("gui/reports_and_tables/tabs/table_data_row.vm")
							 #set($success = $fieldsEncountered.put($fieldEncountered, true))
						   #end
						 #end
               	      #end
		            #end ## end foreach field in table
					#if($fieldTable.equals($sessionTable))
						## Display calculations if there are any in the current report
                		#set($calculationReportFields = [])
                		#foreach($reportField in $sessionReport.getReportFields())
                		  #if($reportField.getClass().getSimpleName() == "ReportCalcFieldDefn")
                			#set($success = $calculationReportFields.add($reportField))
                		  #end
                		#end
                		#if($calculationReportFields.size() > 0)
                		  #set($reportFilter = $viewTools.getNewFilterMap())
                		  #set($success = $reportFilter.put($sessionTable.getPrimaryKey(),"$sessionRowId"))
                		  #set($reportDataRows = $view.getReportDataRows($sessionReport, 10, $reportFilter, true))
                		  <tr>
                            <td class="leading">&nbsp;</td>
                			<td class="capitalised printoutfieldnamecolumn">Calculations</td>
							<td class="calculations">
                			  #foreach($reportDataRow in $reportDataRows)
                				#foreach($calcField in $calculationReportFields)
                				  <span class="greytext">$calcField: </span>
                				  $reportDataRow.getValue($calcField.getBaseField())<br>
                				#end
                			  #end
                			</td>
                            <td class="trailing">&nbsp;</td>
                		  </tr>
                		#end ## End of calculations display
					#end
		         #end ## end if ($tableDataRow.size() != 0)
		        #end ## end foreach related row id
		       #else
		   #set($rowCount = $rowCount+1)
           <tr #if($rowCount%2!=0) class=rowa #else class=rowb #end>
             <td class="leading">&nbsp;</td>
             <td>$numRelatedRows related records</td>
             <td>#if($numRelatedRows > 0)not shown #else &nbsp; #end</td>
             <td class="trailing">&nbsp;</td>
		   </tr>
		       #end ## end if number of related rows is a manageable amount
		      #end
		    #end
		#end
		<tr class="trailing">
	      <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		</tr>
	</table>
#end
$viewTools.stopTimer("gui/reports_and_tables/tabs/view")