##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## Hard code values to anonymise a sample agileBase account

## Only allow anonymisation to be run on the test/backup server
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
<head>
  <title>Anonymise data in an entire company</title>
  <script src="resources/jquery.js" language="Javascript"></script>
  <script src="resources/development/anonymise_company.js" language="Javascript"></script>
</head>
<body>
Running on $viewTools.getAppUrl()<p>
###if(!$viewTools.getAppUrl().matches("gtwmbackup"))
  <button value="Anonymise" id="anonymise" onclick="anonymiseCompany(0); this.disabled = true;">Anonymise</button>
  <div id="results"></div>
###else
##  Anonymisation can only be run on the test/backup server
###end
</body>
</html>