##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
</head>
<body>
#set($company = $view.getLoggedInUser().getCompany())
<h1>Tab addresses for $company</h1>
#set($tabAddresses = $company.getTabAddresses())
#foreach($tabAddress in $tabAddresses)
  $tabAddress <a href="?return=gui/development/manage_tab_addresses&remove_tab_address=true&internalcompanyname=$company.getInternalCompanyName()&tabaddress=$tabAddress">remove</a><p>
#end
<p>
<form method="post" name="add_tab_address" action="AppController.servlet">
<input type="hidden" name="add_tab_address" value="true">
<input type="hidden" name="return" value="gui/development/manage_tab_addresses">
<input type="text" name="tabaddress" size="80">
<input type="submit" value="Add Tab Address">
</form>
</body>
</html>