##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">

<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Send Requests</title>
	<style>
	  * { 
		  font-family:Arial;
			font-size:10pt;
			}
	
	  textarea {
		  width:900px;
			font-family: Courier;
			border:1px solid silver;
			}
			
	  select {
		  width:400px;
			font-family: Courier;
			border:1px solid silver;
			}
			
		hr {
		  clear:left;
			height:1px;
			color:silver;
			}
			
		#currentRequest {
		  font-family: Courier;
			border:1px solid silver;
			width:900px;
			overflow:hidden;
			padding:7px;
			
	</style>
	<script src="resources/jquery.js" language="Javascript"></script>
	<script language="JavaScript" type="text/javascript">
    <!--	
	  function fGo() {
        var oRequests=document.getElementById('requests');
		var oPending=document.getElementById('pending');
		var oCurrentRequest=document.getElementById('currentRequest');
			
		function fPopulatePending() {
  		  var sRequests=oRequests.getAttribute('value');
  		  oRequests.setAttribute('value','');
  			
  		  var aRequests=sRequests.split('\n');
  		  
		  for (var i=0;i<aRequests.length;i++) {
		    var sRequest=aRequests[i];
			sRequest=sRequest.replace(/(\n|\r|\t)/ig,'');
  			if(sRequest=='') continue;
  			if(sRequest.match(/^--/)) continue;  // treat any line begining with -- as a comment
  			var oOption=new Option(sRequest);
  			oOption.setAttribute('value',sRequest);
  			oPending.add(oOption);
  		  }
  		}
  		
    	function fHTTPRequest(sPostVars, fCallback){
		  function fCheckRequest(oReqObj){
  		    if (oReqObj.readyState == 4){  
  			  if (oReqObj.status != 200){  
  			    alert('Warning!!\n'+oReqObj.statusText);
  				return false;
  			  }
  			return true
  	  	    }
		  }
		
          function fComplete(){  
    	    if (fCheckRequest(oReq)) fCallback(oReq.responseText,oReq.responseXML);
    	  }
    			 		
    	  if (window.XMLHttpRequest) var oReq = new XMLHttpRequest(); // the download object for Moz
    	  else var oReq = new ActiveXObject("Microsoft.XMLHTTP");
    	  oReq.onreadystatechange=fComplete;
    	  oReq.open('POST','AppController.servlet',true);

      sPostVars=encodeURI(sPostVars);
      sPostVars=sPostVars.replace(/\+/ig,'%2B');

    	  oReq.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
      oReq.send(sPostVars);
    	}
			
	  function fReqComplete() {
	    var oSent=document.getElementById('sent');
		var oOption=new Option(oCurrentRequest.getAttribute('innerHTML'));
		oOption.setAttribute('value',oCurrentRequest.getAttribute('innerHTML'));
		oSent.add(oOption);
		oCurrentRequest.setAttribute('innerHTML','Dim');
				
		fSendRequest(); // this will check whether there is a new request to send
	  }
		
  	  function fSendRequest() {
  	    var oPending=document.getElementById('pending');
  		if (oPending.options.length<1) return;
				
		var sRequest=oPending.options[0].getAttribute('value');
  			
  		oCurrentRequest.setAttribute('innerHTML',sRequest);
  		oPending.removeChild(oPending.options[0]);
				
		var oReq=new fHTTPRequest(sRequest,fReqComplete);
  	  }			
			
	  fPopulatePending();
	  fSendRequest();
	}
		
	function fStop() {
      // works because it will copy all of the elements out of the pending and back into the text edit box
	  // fSendRequest will then not have a next request
	  // the request currently being processed won't be stopped however
	  var oPending=document.getElementById('pending');
	  var oRequests=document.getElementById('requests');
	  var aOptions=oPending.options;
	  while (aOptions.length>0) {
	    oRequests.setAttribute('value',oRequests.getAttribute('value')+'\n'+aOptions[0].getAttribute('value'));
		oPending.removeChild(aOptions[0]);
	  }
	}
	
  //-->
  </script>

	
</head>
<body>
  <textarea id="requests" rows="10" cols="100"></textarea><br>
	<button onclick="new fGo()">Send requests</button>
	<hr>
	
	<div style="float:left; margin-right:20px;">
	  Pending:<br>
		<select id="pending" size="10">
	
	  </select><br>
		<button onclick="fStop()">stop</button>
	</div>

	<div>
	  Sent:<br>
		<select id="sent" size="10" ondblclick="alert(this.getAttribute('value'))">
	
	  </select>
	</div>	
	<hr>
	Current request:<br>
	<div id="currentRequest">Dim</div>
	
</body>
</html>
