##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#if($customAction)
  #set($fieldValue=$field.getDefault())
#else
  #set($fieldValue=$tableDataRow.get($field).getValueBoolean())
#end
#if($userCanEdit)
  #if($globalEdit)
    	<input type=checkbox name=$field.getInternalFieldName()> ## always unchecked
  #else
    	<input type=checkbox name=$field.getInternalFieldName() #if($updateAsType) gtpb_update_record=true onclick="new fChange(this)" #end #if($fieldValue == true) checked #end>
  #end
  
    #if($globalEdit)
      <script language="Javascript">
        function fUpdateGlobalCheckbox() {
          function fResponse(sResponseText, sResponseXML) {
            if(sResponseXML.getElementsByTagName('rowsTotal')[0]) {
  	            var sRowsToChange=sResponseXML.getElementsByTagName('rowsTotal')[0].firstChild.nodeValue;
  	            #if($field.getClass().getSimpleName().equals("RelationFieldDefn"))
                var sFieldName='$field.getSimplifiedFieldName()';
              #else
                var sFieldName='$field';
              #end
              var sFieldValue=oField.checked?'true':'false';
  	            if(confirm('Are you sure that you want to change the value of '+sFieldName+' to '+sFieldValue+'?\nThis will update '+sRowsToChange+' records'))              
				new fChange(oField);
            }
          }
          
          var oField=this.field;
          var aPostVars=new Array();
          aPostVars['returntype']='xml'; 
          aPostVars['return']='gui/resources/sessionReportInfo';
          var oReq=new fRequest('AppController.servlet',aPostVars,fResponse,0);
        }
        var oElement=document.getElementsByName('$field.getInternalFieldName()')[document.getElementsByName('$field.getInternalFieldName()').length-1];
        oElement.setAttribute('gtpb_global_edit','true');
        var oButton=document.createElement('BUTTON');
        $(oButton).addClass('globalEdit');
        oButton.innerHTML='update globally';
        oButton.field=oElement;
        ##oButton.addEventListener('click',fUpdateGlobalCheckbox,false);
        $(oButton).click(fUpdateGlobalCheckbox);
        
        oElement.parentNode.appendChild(oButton);
      </script>
    #end
  
#else
	$fieldValue
#end