##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#if($globalEdit)
  #set($fieldValue = "")
#end

#set($all_items = $field.getItems())
#if($all_items.size() > 0) ##if any items in the combo
	<select class="combo-component" name="$field.getInternalFieldName()_dropdown"
	#if($globalEdit || !$updateAsType)
		id="$field.getInternalFieldName()_dropdown_global-edit"
	#else
		id="$field.getInternalFieldName()_dropdown_edit"
	#end
	tabindex="$tabIndex">
    
    	<option value="">-- please pick one --</option>
    
    #set($filtered_items = $field.getItems($sessionData.getReport(), $sessionData.getReportFilterValues()))
    #if($all_items.size() == $filtered_items.size())
    	## there are no items filtered
    	#foreach($item in $all_items)
    		#set($washedItem = $viewTools.escape($item))
    		#if($fieldValue == $item)
    			<option value="$washedItem" selected="true">$washedItem</option>
        	#else
    			<option value="$washedItem">$washedItem</option>
    		#end
    	#end
    #else
    	<optgroup label="filtered">
    	#foreach($item in $filtered_items)
    		#set($washedItem = $viewTools.escape($item))
    		<option value="$washedItem">$washedItem</option>
    	#end
    	</optgroup>
    
    	<optgroup label="all items">
    	#foreach($item in $all_items)
    		#set($washedItem = $viewTools.escape($item))
    		#if($fieldValue == $item)
    			<option value="$washedItem" selected="true">$washedItem</option>
        	#else
    			<option value="$washedItem">$washedItem</option>
    		#end
    	#end
    	</optgroup>
    #end
    
    	<option value="new-custom-option">-- add new entry --></option>
    
    </select>

#end ## end if more than 1 item in the combo

<input type="text" name="$field.getInternalFieldName()"
	#if($globalEdit || !$updateAsType)
		 id="$field.getInternalFieldName()_text_global-edit"
	#else
		 id="$field.getInternalFieldName()_text_edit"	
	#end
	value="$fieldValue" 
	#if((!$globalEdit) && ($updateAsType)) 
		onkeyup="top.oBuffer.writeBuffer(this)" 
		gtpb_update_record=""
	#end
	#if($mobile_device && $updateAsType)
		onblur="top.oBuffer.writeBuffer(this)"
	#end
>

