#if(!$field.getFieldCategory())
  #set($field = $sessionData.getCustomField("comment"))
#end
#foreach($comment in $view.getComments($field))
  <div class="comment">
    #set($t = $foreach.count % 2)
    <span class="comment_text" #if(($foreach.count % 2) == 0) style="text-align: right" #end>$t $comment.getText()</span> - $comment.getAuthor(), $comment.getTimestampString()
  </div>
#end
