##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($calendar = $viewTools.getCalendar())##
#set($CONST_DAY_OF_MONTH = $viewTools.getCalendarConstant("DAY_OF_MONTH"))##
#set($CONST_MONTH = $viewTools.getCalendarConstant("MONTH"))##
#set($CONST_YEAR = $viewTools.getCalendarConstant("YEAR"))##
#set($CONST_HOUR_OF_DAY = $viewTools.getCalendarConstant("HOUR_OF_DAY"))##
#set($CONST_MINUTE = $viewTools.getCalendarConstant("MINUTE"))##
#set($CONST_SECOND = $viewTools.getCalendarConstant("SECOND"))##
##Calendar values are ordered as DAY_OF_MONTH < HOUR_OF_DAY < MINUTE etc.
##i.e. values denoting shorter time periods are larger numbers
#if(!$tableDataRow || $tableDataRow.get($field).isNull() || $globalEdit)##
  #set($days="0")##
  #set($months="0")##
  #if($globalEdit || $field.getDateResolution() == $CONST_YEAR)##
    #set($years="")##
  #else
    #set($years=$viewTools.getCalendar().get($CONST_YEAR))##
  #end
  #set($hours="00")##
  #set($minutes="00")##
  #set($seconds="00")##
#else##
  #set($fieldValue=$tableDataRow.get($field).getValueDate())##
  #set($days=$fieldValue.get($CONST_DAY_OF_MONTH))##
  #set($months=$fieldValue.get($CONST_MONTH)+1)##
  #set($years=$fieldValue.get($CONST_YEAR))##
  #set($hours=$fieldValue.get($CONST_HOUR_OF_DAY))##
  #set($minutes=$fieldValue.get($CONST_MINUTE))##
  #set($seconds=$fieldValue.get($CONST_SECOND))##
#end##
#set($dateResolution = $field.getDateResolution())##

#if($globalEdit) #set($non_xml_update=true) #end

#if($userCanEdit)##
  <style>
    div.date {
      display:inline;
    }
  
    div.date[changed=true] {
      text-decoration:none;
    }
    div.date[changed=true] select {
      background-color:ltgrey;
    }
    div.date[changed=true] input {
      text-decoration:underline;
    }
  </style>  
  <div id="date_wrapper_$field.getInternalFieldName()" #if($updateAsType) update_as_type="true" #end date_resolution="$dateResolution" class="date" name="$field.getInternalFieldName()" value="$field.formatCalendar($fieldValue)" #if($globalEdit) gtpb_global_edit="true" #else gtpb_update_record="true" #end gtpb_rowid="$sessionRowId" gtpb_internaltablename="$sessionTable.getInternalTableName()" gtpb_$field.getInternalFieldName()_days="$days" gtpb_$field.getInternalFieldName()_months="$months" gtpb_$field.getInternalFieldName()_years="$years" gtpb_$field.getInternalFieldName()_hours="$hours" gtpb_$field.getInternalFieldName()_minutes="$minutes" gtpb_$field.getInternalFieldName()_seconds="$seconds">
  ## date_js was here
  #if($dateResolution >= $CONST_DAY_OF_MONTH)
	<select #if(!$updateAsType) name="$field.getInternalFieldName()_days" #end wrapperAttribute="gtpb_$field.getInternalFieldName()_days" onchange="fChangeEvent(this);" #if($globalEdit) global_edit="true" #end>
	  <option value="">day</option>
	  #foreach($i in [1..31])
		<option value="$i" #if($i == $days) selected #end>$i</option>
	  #end
	</select>
  #end
  #if($dateResolution >= $CONST_MONTH)
    <select #if(!$updateAsType) name="$field.getInternalFieldName()_months" #end wrapperAttribute="gtpb_$field.getInternalFieldName()_months" onchange="fChangeEvent(this);" #if($globalEdit) global_edit="true" #end>
      <option value="">month</option>
	  #foreach($month in ["January","February","March","April","May","June","July","August","September","October","November","December"])
		<option value="$foreach.count" #if($foreach.count == $months) selected #end>$month</option>
	  #end
    </select>
  #end
  <input type="text" #if(!$updateAsType) name="$field.getInternalFieldName()_years" #end maxlength="4" size="4" maxKeyCount="4" value="$years" wrapperAttribute="gtpb_$field.getInternalFieldName()_years" onkeyup="fKeyUpEvent(this)" #if($globalEdit) global_edit="true" #end>
  #if($dateResolution >= $CONST_HOUR_OF_DAY)
	time 
    <input type="text" #if(!$updateAsType) name="$field.getInternalFieldName()_hours" #end maxlength="2" size="2" maxKeyCount="2" value="$hours" wrapperAttribute="gtpb_$field.getInternalFieldName()_hours" onkeyup="fKeyUpEvent(this)" #if($globalEdit) global_edit="true" #end>
  #end
  #if($dateResolution >= $CONST_MINUTE) 
    : <input type="text" #if(!$updateAsType) name="$field.getInternalFieldName()_minutes" #end maxlength="2" size="2" maxKeyCount="2" value="$minutes" wrapperAttribute="gtpb_$field.getInternalFieldName()_minutes" onkeyup="fKeyUpEvent(this)" #if($globalEdit) global_edit="true" #end>
  #elseif($dateResolution == $CONST_HOUR_OF_DAY)
	hundred hours
  #end
  #if($dateResolution >= $CONST_SECOND) 
    : <input type="text" #if(!$updateAsType) name="$field.getInternalFieldName()_seconds" #end maxlength="2" size="2" maxKeyCount="2" value="$seconds" wrapperAttribute="gtpb_$field.getInternalFieldName()_seconds" onkeyup="fKeyUpEvent(this)" #if($globalEdit) global_edit="true" #end>
  #end
  #if($dateResolution >= $CONST_DAY_OF_MONTH)
	###if($mobile_device)
    ##  <div class="dp-choose-date" id="date_picker_$field.getInternalFieldName()" inline="true"></div>
    ###else
	  <input type="hidden" class="dp-choose-date" id="date_picker_$field.getInternalFieldName()" inline="false">
	###end
  #end
  #if($globalEdit)
	<button class="globalEdit" onclick="fUpdateGlobalDate(this)">update globally</button>
  #end
  </div>

  #if($userCanEdit && !$globalEdit)
	#if($field.getNotNull() && ( ($tableDataRow.get($field).isNull() || $customAction) ))
		<span class="mandated">* Mandatory field - please enter a value</span>
	#end
  #end
#else ##user can't edit
$field.formatCalendar($fieldValue)##
#end##
##found date for $field.getFieldName(): $days/$months/$years
