##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($fieldValueObject = $tableDataRow.get($field))
#set($fieldValue=$fieldValueObject.toString())
#if($globalEdit)
  <br><i><span class="greytext">files can't be altered in bulk</span></i>
#else
  #if(!$fieldValueObject.isNull())
    ## Download URL
    #if($relatedRowId)
	  #set($downloadBase = "uploads/$field.getTableContainingField().getInternalTableName()/$field.getInternalFieldName()/$relatedRowId/")
      ## if we're parsing non-parent table data in the view tab
    #else
      #set($downloadBase = "uploads/$field.getTableContainingField().getInternalTableName()/$field.getInternalFieldName()/$sessionRowId/")
	#end
	#set($downloadUrl = $viewTools.escapeForURL("$downloadBase$fieldValue"))
	## Users were frequently having problems with browsers caching old document versions
	#set($downloadUrl = "$downloadUrl?cachebust=$viewTools.getRandomString()")
    ## File icon
    #if(!$fieldValueObject.isImage())
      <img border="0" style="float:left" src="resources/icons/filetypes/${fieldValueObject.getIconName()}.png"/> $fieldValue
      <a href="$downloadUrl">download</a>
	  #if(!$userCanEdit)
	    #set($previousFileVersions = $field.getPreviousFileVersions($viewTools.getWebAppRoot(), $sessionRowId, $fieldValue))
	    #if($previousFileVersions.size() > 0)
		  <br clear="left">
		  <div class="greytext"><i>Previous versions</i>
		  #foreach($previousFileVersion in $previousFileVersions)
			<br>
		    #set($lastModified = $previousFileVersion.getLastModified())
		    #set($yearConst = $viewTools.getCalendarConstant("YEAR"))
		    #set($monthConst = $viewTools.getCalendarConstant("MONTH"))
		    #set($dayConst = $viewTools.getCalendarConstant("DAY_OF_MONTH"))
			#set($downloadUrl = $viewTools.escapeForURL("$downloadBase$previousFileVersion"))
			#set($lastModifiedMonth = $lastModified.get($monthConst) + 1)
		    $lastModified.get($dayConst)/$lastModifiedMonth/$lastModified.get($yearConst)
			- <a href="$downloadUrl" style="color:gray">$previousFileVersion</a>
		  #end
		  </div>
	    #end
	  #end ## !$userCanEdit
    #end
  #end ## if !$fieldValueObject.isNull()
  #if($userCanEdit && (!$mobile_device))
    ##For file uploads, do a normal post not an XMLHttpRequest for now. Look at getting the AJAX stuff working later
	##when Firefox supports upload progress info (coming in v 3.7)
    <form method="post" enctype="multipart/form-data" action="AppController.servlet">
      <input type="hidden" name="return" value="gui/reports_and_tables/pane3" />
      <input type="hidden" name="update_record" value="true" />
      <input tabindex="$tabIndex" type="file" name="$field.getInternalFieldName()" onchange="uploadFile(this);" /> <span class="upload_info" upload_speed="$view.getUploadSpeed()"></div>
    </form>
  #end
  #if(!$fieldValueObject.isNull())
    #if($fieldValueObject.isImage())
	  #if($userCanEdit)<br />#end
      <a href="$downloadUrl" target="_blank">
      <img border="0" src="$downloadUrl" style="max-width:500px; float:left" />
      </a>
    #end
  #end
#end ## if !$globalEdit