##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($fieldValueObject = $tableDataRow.get($field))
#set($fieldValue=$fieldValueObject.toString())
#if($globalEdit)
  <br><i><span class="greytext">global editing of files not yet supported</span></i>
#else
  #if(!$fieldValueObject.isNull())
    ## Download URL
    #if($relatedRowId)
      #set($downloadUrl = "uploads/$field.getTableContainingField().getInternalTableName()/$field.getInternalFieldName()/$relatedRowId/$fieldValue")
      ## if we're parsing non-parent table data in the view tab
    #else
      #set($downloadUrl = "uploads/$field.getTableContainingField().getInternalTableName()/$field.getInternalFieldName()/$sessionRowId/$fieldValue")
    #end
	#set($downloadUrl = $viewTools.escapeForURL($downloadUrl))
    ## File icon
    #if(!$fieldValueObject.isImage())
      <img border="0" style="float:left" src="resources/icons/filetypes/${fieldValueObject.getIconName()}.png"/> $fieldValue
      <a href="$downloadUrl">download</a>    
    #end
  #end
  #if($userCanEdit && (!$mobile_device))
    ##For file uploads, do a normal post not an XMLHttpRequest for now. Look at getting the AJAX stuff working later
    <form method="post" enctype="multipart/form-data" action="AppController.servlet">
      <input type="hidden" name="return" value="gui/reports_and_tables/pane3" />
      <input type="hidden" name="update_record" value="true" />
      <input tabindex="$tabIndex" type="file" name=$field.getInternalFieldName() /> <input type="submit" value="Attach" />
    </form>
  #end
  #if(!$fieldValueObject.isNull())
    #if($fieldValueObject.isImage())
      <a href="$downloadUrl" target="_blank">
      <img border="0" src="$downloadUrl" style="max-width:50%" />
      </a>
    #end
  #end
#end