##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($fieldCategory=$field.getFieldCategory())

#if($viewOnly)
  #set($userCanEdit=false)
#elseif($gtpbPublicTable)
  #set($userCanEdit=true)
#elseif($view.loggedInUserAllowedTo('EDIT_TABLE_DATA',$sessionData.getTable()))
  ## the user is allowed to edit data in the table
  #set($userCanEdit=true)
#else
  #set($userCanEdit=false)
#end

#set($fieldValue="") ##reset fieldValue since last usage
#if(!$tabIndex) #set($tabIndex = 0) #end
#set($tabIndex = $tabIndex + 1)
#set($activateComments = false)
#if($userCanEdit && (!$globalEdit) && (!$gtpbPublicTable))
  #set($activateComments = true)
#end
#set($singleColumn = ($formStyle == "SINGLE_COLUMN") || $mobile_device)
#if($activateComments && (!$singleColumn))
  <img src="resources/icons/comment.png" class="comment_toggle" title="add a comment" alt="add comment"/>
#end
#parse("gui/resources/input/${fieldCategory.toString().toLowerCase()}.vm")
#if($activateComments)
  #if($singleColumn)
    <img src="resources/icons/comment.png" class="comment_toggle" title="add a comment" alt="add comment"/>
  #end
  <div class="add_comment_row"><input type="text" class="comment_input" placeholder="Add message" rowid="$sessionRowId" internalfieldname="$field.getInternalFieldName()" internaltablename="$sessionTable.getInternalTableName()"/><input type="button" value="add" /></div>
  <div class="comments" id="comments_$field.getInternalFieldName()">
    #parse("gui/resources/input/comments.vm")
  </div>
#end
#if(!$singleColumn)
  <br clear="right">
#end
##&nbsp; ## Todo: check in single column