##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#if($referencedData.contains("span")) ## If there's any referenced data predefined
	$referencedData
#else
	#set($referencedData = false)
    #set($fieldTable = $field.getTableContainingField())
    #set($primaryKey = $fieldTable.getPrimaryKey())
    #set($referencedReport = $field.getReferencedReport())
    #set($reportBaseFields = $referencedReport.getReportBaseFields())
    #if(!$reportBaseFields.contains($primaryKey))
	  $viewTools.log("Error in report $sessionData.getReport(): ID field for table $field.getTableContainingField() not found in referenced report $referencedReport")
      <div class="errormessage">Error: ID field for table $field.getTableContainingField() not found in referenced report $referencedReport</div>
	#end
	#if(!$rrd_rowId)
	  #set($rrd_rowId = $sessionData.getRowId())
	#end
    #set($filter = $viewTools.getNewFilterMap())
    #set($success = $filter.put($primaryKey, "$rrd_rowId"))
    #set($rrd_reportDataRows = $view.getReportDataRows($referencedReport, 20, $filter, true))
    #foreach($rrd_reportDataRow in $rrd_reportDataRows)
      #set($rowContainsData = false)
      #foreach($reportBaseField in $reportBaseFields)
    	#if(($reportBaseField.getClass().getSimpleName().equals("CalculationFieldDefn")) || (!$reportBaseField.getTableContainingField().equals($fieldTable)))
        	#set($fieldCategory = $reportBaseField.getFieldCategory())
        	#if($fieldCategory == "TEXT" || $fieldCategory == "DATE")
        	  #set($rrd_displayValue = $rrd_reportDataRow.getValue($reportBaseField).getDisplayValue())
        	  #if($rrd_displayValue != "")
        		#set($rowContainsData = true)
				#set($displayCategory = "")
				#if($rrd_displayValue.length() < 20)
				  #set($displayCategory = $rrd_displayValue.toLowerCase())
				  #set($displayCategory = $displayCategory.replaceAll("[^a-z]",""))
				  #if($displayCategory.startsWith("phone"))
					<img src="resources/icons/applications/16x16/Dial.png" class="mini_icon"> 
				  #elseif($displayCategory.startsWith("email"))
					<img src="resources/icons/applications/16x16/E-mail.png" class="mini_icon"> 
				  #elseif($displayCategory.startsWith("todo"))
					<img src="resources/icons/applications/16x16/Problem.png" class="mini_icon"> 
				  #elseif($displayCategory.startsWith("inprogress"))
					<img src="resources/icons/applications/16x16/Hourglass.png" class="mini_icon"> 
				  #elseif($displayCategory.startsWith("complete") || $displayCategory.startsWith("actioncomplete") || $displayCategory == "done")
					<img src="resources/icons/applications/16x16/Apply.png" class="mini_icon"> 
				  #elseif($displayCategory.startsWith("partner") || $displayCategory.startsWith("team") || $displayCategory.startsWith("client"))
					<img src="resources/icons/applications/16x16/Person.png" class="mini_icon"> 
				  #elseif($displayCategory == "hot")
					<img src="resources/icons/applications/16x16/Hot.png" class="mini_icon"> 
				  #elseif($displayCategory == "warm")
					<img src="resources/icons/applications/16x16/Warm.png" class="mini_icon"> 
				  #elseif($displayCategory.startsWith("cold") || $displayCategory.startsWith("cool"))
					<img src="resources/icons/applications/16x16/Cold.png" class="mini_icon"> 
				  #elseif($displayCategory.startsWith("high"))
					<img src="resources/icons/applications/16x16/Star.png" class="mini_icon"> 
					<img src="resources/icons/applications/16x16/Star.png" class="mini_icon"> 
					<img src="resources/icons/applications/16x16/Star.png" class="mini_icon"> 
				  #elseif(($displayCategory == "med") || ($displayCategory == "medium"))
					<img src="resources/icons/applications/16x16/Star.png" class="mini_icon"> 
					<img src="resources/icons/applications/16x16/Star.png" class="mini_icon"> 
				  #elseif($displayCategory == "low")
					<img src="resources/icons/applications/16x16/Star.png" class="mini_icon">
				  #end
				#end
        		<span class="greytext">$reportBaseField:</span> $rrd_displayValue<br>
			  #end
			#elseif($fieldCategory == "FILE")
        	  #set($rrd_displayValue = $rrd_reportDataRow.getValue($reportBaseField).getDisplayValue())
        	  #if($rrd_displayValue != "")
			    #set($downloadBase = "uploads/$reportBaseField.getTableContainingField().getInternalTableName()/$reportBaseField.getInternalFieldName()/$rrd_rowId/")
			    #set($downloadUrl = $viewTools.escapeForURL("$downloadBase$rrd_displayValue"))
			    File from table $reportBaseField.getTableContainingField(), file $reportBaseField: $downloadUrl
			    <a href="$downloadUrl" target="_blank">
				  <img border="0" src="$downloadUrl" style="max-width:300px; float:left; position: relative; top:0" />
			    </a>
			  #end
		    #end
    	#end
      #end
      #if($rowContainsData && ($rrd_reportDataRows.size() > $foreach.count)) <p></p> #end
    #end
#end