##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($internalTableName = $sessionTable.getInternalTableName())
#set($internalFieldName = $field.getInternalFieldName())
#set($relatedField=$field.getRelatedField())##
#set($relatedTable = $relatedField.getTableContainingField())
##
#set($fieldValue=$tableDataRow.get($relatedField).toString())##
#set($fieldDisplayValue = $field.getDisplayValue($fieldValue))##
#set($useSecondaryDisplayValue = false)
#if($field.getSecondaryDisplayField())
  #set($secondaryDisplayValue = $field.getSecondaryDisplayValue($fieldValue))
  #if($secondaryDisplayValue && $secondaryDisplayValue != "")
	#set($useSecondaryDisplayValue = true)
  #end
#end
##
## sessionTableName is set in edit.vm
#if($globalEdit)##
	#set($inputId="${internalFieldName}-globalEdit")##
#elseif($userCanEdit)
	#set($inputId="${internalFieldName}-edit")##	
#else
	#set($inputId="$internalFieldName")##	
#end
## Get an estimate of row count in the related table
## to see if we can use a dropdown instead of a relation picker
#set($useDropdown = false)
#if($mobile_device && (!$globalEdit) && $userCanEdit)
	#set($relatedTableReport = $relatedTable.getDefaultReport())
	#set($rowCount = $relatedTableReport.getRowCount())
	#if($rowCount == 0)
		## If the row count hasn't been cached in the report object yet, find it
		#set($temp = $view.getReportData($relatedTableReport))
		#set($rowCount = $relatedTableReport.getRowCount())
	#end
	#if($rowCount < 30)
		#set($useDropdown = true)
	#end
#end
#if($useDropdown)
	#set($items = $field.getItems(true))
	<select name="$internalFieldName" gtpb_update_record="true" id="${internalFieldName}_dropdown" class="combo-component">
    <option value="-1">-- please pick one --</option>
	#foreach($displayValue in $items.keySet()) ## TODO: use entrySet
		#set($internalValue = $items.get($displayValue))
		#set($washedDisplayValue = $viewTools.escape($displayValue))
    	#if($fieldValue == $internalValue)
    		<option value="$internalValue" selected="true">$washedDisplayValue</option>
        #else
    		<option value="$internalValue">$washedDisplayValue</option>
    	#end
	#end
	</select>
#else
  #if($userCanEdit)
  <div class="relation_field">##
    <input name="$internalFieldName" ##
  	type="hidden" class="relation_hidden" ##
  	gtpb_update_record="true" ##
  	value="$fieldValue" ##
    #if($field.getClass().getSimpleName().equals("RelationFieldDefn"))##
      field_name="$field.getSimplifiedFieldName()" ##
    #else ##
      field_name="$field" ##
    #end ##
  	displayValue="${fieldDisplayValue} #if($useSecondaryDisplayValue) {${secondaryDisplayValue}}#end" ##
  	internalFieldName="$internalFieldName" ##
  	internalTableName="$internalTableName"##
	#if($globalEdit) ##
	  gtpb_global_edit="true"
	#else
	  ## set the row ID for the related table
	  ## so that if we choose a relation value for a particular record
	  ## then click 'New' to add additional records, the same relation value is used
  	  gtpb_rowidinternaltablename="$relatedTable.getInternalTableName()"##
  	  gtpb_set_row_id="$fieldValue"##
	#end ##
	id="$inputId">##
	#set($wholeDisplayValue = $viewTools.escape($fieldDisplayValue))
	#if($useSecondaryDisplayValue == true)
	  #set($wholeDisplayValue = "$wholeDisplayValue {" + $viewTools.escape("$secondaryDisplayValue") + "}")
    #end
	<input type="text" internalTableName="$internalTableName" internalFieldName="$internalFieldName" ##
	  class="autocomplete" ##
	  value="$wholeDisplayValue">
	#if($userCanEdit && (!$ab_calendar_display))
	  <a href="#" class="clicker">change...</a>
	  #if($globalEdit)
	    <button class="globalEdit">update globally</button>
	  #end
	#end
  </div>##
  <script language="JavaScript" src="resources/picker.js"></script>  
  <!--[if IE]>
    <style>
      /* this block is overwriting styles below it.  Appears that in IE (v7 anyway) that
         higher style blocks take precidence over blocks below.  Of course, in the sheet
         itself, styles still cascade top to bottom */
         
      div.relation_picker div#toolbar {
        height:24px;
        width:auto;
      }

    </style>
  <![endif]-->
  <style>   
    div.relation_field input {
      margin-right:10px;
    }
	
	div.relation_field span {
	  padding-right:10px;
	}
    
    div.relation_field a {
      font-size:8pt;
      margin-right:15px;
    }
     
    div.relation_picker {
      display:inline;
      background-color:white;
      /*width:100%;*/
	  max-width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      padding-top:30px;
    }
    
    div.relation_picker div#toolbar {
      border-bottom:1px solid black;
      background-color:#F1F2ED;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:30px;
      font-size:8pt;
      padding:3px 10px;
      z-index:999;
    }
    
    div.relation_picker div#toolbar select {
      margin:0;
    }
    
    div.relation_picker div#toolbar a {
      float:right;
      color:black;
      text-decoration:none;
      margin-top:5px;
    }
    
    div.relation_picker div#toolbar a:hover {
      text-decoration:underline;
    }
    
    div.relation_picker div#content {
      position:relative;
      height:100%;
      /*width:100%;*/
      overflow:scroll;
    }
    
  </style>
  
  #if(($field.getNotNull()) && ($tableDataRow.get($field).isNull()) && (!$globalEdit))
    <span class="mandated">* Mandatory field - please enter a value</span>
  #end

  #else ##read-only
    $fieldDisplayValue##
  #end ## End read only
#end ## End not dropdown