##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
[
#set($relationField = $sessionData.getCustomField("relationField"))
## javascript autocompleter sets the 'q' parameter
#set($requestParameters = $viewTools.getRequestParameters())
#set($q = $requestParameters.get("search").get(0))
#set($blank_value = "--blank value")
#if(($blank_value.startsWith($q)) && ($q.length() > 1))
  {"id":-1,"text":"$blank_value"}
#else
  #set($items = $relationField.getItems(true,$q,50))
  #set($itemsEntrySet = $items.entrySet())
  #set($numItems = $itemsEntrySet.size())
  #foreach($item in $itemsEntrySet)
    #set($displayValue = $item.getValue())
    {"id":$displayValue,"text":"$item.getKey()"}
    #if($foreach.count < $numItems),#end
  #end
  #if($numItems < 50)
    #if($numItems > 0),#end
    {"id":-2,"text":"add a new one..."}
  #end
#end
]