##
##  Copyright 2013 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#if($globalEdit)
  #set($fieldValue = "")
#else
  #set($fieldValue = $fieldValue.trim())
#end

#set($tags = $fieldValue.asTags())
#if($tags.size() > 0)
  <div class="tags">
    #foreach($tag in $tags)
      <span class="tag">$tag</span>
    #end
  </div>
#end
#set($allTags = $field.getItems())
#set($tagsData = $viewTools.joinWith($allTags,"|"))
<input type="text" class="add_tag" data-terms="list:$tagsData" />
#if($allTags.size() < 20)
  <div class="all_tags">
    #foreach($tag in $allTags)
      $tag,
    #end
  </div>
#end