##
##  Copyright 2013 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#if($globalEdit)
  #set($fieldValue = "")
  Global editing of tags not yet supported 
#else
  <div class="tags">
    #set($fieldValue = $fieldValue.trim())
    #set($tags = $fieldValueObject.toTags())
    <div class="saved_tags">
      #foreach($tag in $tags)
        <span class="tag">$tag <span class="remove"><i class="icon-remove"></i></span></span>
      #end
    </div>
    #set($allTags = $field.getItems())
    #set($tagsData = $viewTools.joinWith($allTags,"|"))
    #set($fieldNameLower = $field.getFieldName().toLowerCase())
    <input type="text"  data-internalfieldname="$field.getInternalFieldName()" data-internaltablename="$sessionTable.getInternalTableName()" data-rowid="$sessionRowId" class="add_tag" data-terms="list:$tagsData" placeholder="add $fieldNameLower" /><input type="button" value="add" class="add_tag_button" />
  </div>
#end

