##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<style>  
  input[focused][type='text'],
  textarea[focused] {
    border:2px solid #A2B6FF;
    background-color:#ECF0FF;
  }
  .gtpb_youtube {
    padding-top:10px;
  }
</style>
#set($fieldValueObject = $tableDataRow.get($field))##
##
#if($globalEdit)##
  #set($fieldValue = "")##
#else##
  #set($fieldValue=$fieldValueObject.toString())##
#end##
##
#if($userCanEdit)##
	  #if(($field.getContentSize() > 50) || ($fieldValue.length() > 100))##
	    #set($numCols = 50)##
	    #set($numRows = 3)##
	    #set($numCols = $numCols + ($fieldValue.length() / 20))##
	    #if($numCols > 80)##
	      #set($numCols = 80)##
	      #set($numRows = $fieldValue.length() / 80)##
	      #if($numRows > 5)##
	        #set($numRows = 5)##
	      #end##
	    #end##
		#if($mobile_device)##
		  #set($numCols=30)##
		  #set($numRows = $numRows + 1)##
		#end##
	    #if($globalEdit)##
	      <textarea tabindex="$tabIndex" gtpb_rowid="$sessionRowId" gtpb_internaltablename="$sessionTable.getInternalTableName()" cols="$numCols" rows="$numRows" name="$field.getInternalFieldName()" onkeyup="fResizeTextArea(this);" onclick="fResizeTextArea(this);" onfocus="this.setAttribute('focused','true')" onblur="this.removeAttribute('focused')">$fieldValue</textarea>##
	    #else##
	      <textarea tabindex="$tabIndex" cols="$numCols" rows="$numRows" name="$field.getInternalFieldName()" #if($updateAsType) gtpb_update_record gtpb_rowid="$sessionRowId" gtpb_internaltablename="$sessionTable.getInternalTableName()" onkeyup="fResizeTextArea(this); top.oBuffer.writeBuffer(this);" maxKeyCount="15" #else onkeyup="fResizeTextArea(this);" #end onclick="fResizeTextArea(this);" onfocus="this.setAttribute('focused','true')" onblur="this.removeAttribute('focused'); #if($mobile_device && $updateAsType) top.oBuffer.writeBuffer(this); #end">$fieldValue</textarea>##
		  #if ($fieldValueObject.isURL())##      
		    <a href="$fieldValueObject.getFormattedURL()" target="_blank" class="gtpb_url">website</a>##
	      #end##
		#end##
	  #else ## start of normal (not big text) field
	    #if($field.usesLookup())##
			#parse("gui/resources/input/combo_component.vm")##
	    #else##
	      #if($globalEdit)##
        	<input tabindex="$tabIndex" type="text" gtpb_rowid="$sessionRowId" gtpb_internaltablename="$sessionTable.getInternalTableName()" name="$field.getInternalFieldName()" value="$fieldValue" gtpbBasicTextField="true" onfocus="this.setAttribute('focused','true')" onblur="this.removeAttribute('focused')">##
	      #else##
	        <input tabindex="$tabIndex" type="text" name="$field.getInternalFieldName()" value="$fieldValue" #if(($field.getContentSize() > 35) || ($fieldValue.length() > 35)) style="width:296px" #end
				#if($updateAsType) maxKeyCount="6" gtpb_update_record gtpb_rowid="$sessionRowId" gtpb_internaltablename="$sessionTable.getInternalTableName()" onkeyup="top.oBuffer.writeBuffer(this)" gtpbBasicTextField="true"#end onfocus="this.setAttribute('focused','true')" onblur="this.removeAttribute('focused'); #if($mobile_device && $updateAsType) top.oBuffer.writeBuffer(this); #end">##
	      #end##
		    #end##
		##
    #if((!$globalEdit) && $updateAsType)##
  		    #if ($fieldValueObject.isEmailAddress())##
		        <a href="mailto:$fieldValue">email</a>##
		      #elseif ($fieldValueObject.isURL())##      
		        <a href="$fieldValueObject.getFormattedURL()" target="_blank" class="gtpb_url">website</a>##
		      #elseif ($fieldValueObject.isPostcode())##
		        <a href="http://maps.google.co.uk/maps?f=q&hl=en&q=$fieldValue" target="_blank">map</a>##
			  #elseif ($mobile_device && $fieldValueObject.isPhoneNumber())##
				<a href="tel:$fieldValue">phone</a>##
		      #end##
    #end##
		##
    #if($field.allowNotApplicable())##
		      <br><input type="checkbox" name="$field.getInternalFieldName()" value="$field.getNotApplicableValue()">$field.getNotApplicableDescription()##
		    #end##
	  #end ## end of normal (not big text) field
	##
    #if($globalEdit)##
      <script language="Javascript">
        function fUpdateGlobalText() {
          function fResponse(sResponseText, sResponseXML) {
            if(sResponseXML.getElementsByTagName('rowsTotal')[0]) {
  	            var sRowsToChange=sResponseXML.getElementsByTagName('rowsTotal')[0].firstChild.nodeValue;
  	            #if($field.getClass().getSimpleName().equals("RelationFieldDefn"))
                  var sFieldName='$field.getSimplifiedFieldName()';
                #else
                  var sFieldName='$field';
                #end
  	            if(confirm('Are you sure that you want to change the value of '+sFieldName+' to '+oField.value+'?\nThis will update '+sRowsToChange+' records'))
                new fChange(oField);
            }
          }
          
          var oField=this.field;
          var aPostVars=new Array();
          aPostVars['returntype']='xml'; 
          aPostVars['return']='gui/resources/sessionReportInfo';
          var oReq=new fRequest('AppController.servlet',aPostVars,fResponse,0);           
        }
        
        var oElement=document.getElementsByName('$field.getInternalFieldName()')[document.getElementsByName('$field.getInternalFieldName()').length-1];
        oElement.setAttribute('gtpb_global_edit','true');
        var oButton=document.createElement('BUTTON');
        $(oButton).addClass('globalEdit');
        oButton.appendChild(document.createTextNode('update globally'));
        oButton.field=oElement;
        // attaching this way means that the click function points to the one just declared.
        // this means that we can code some velocity variables straight into the JS rather than finding
        // them from expandos on the element which will save some client processing time and memory
        ##oButton.addEventListener('click',fUpdateGlobalText,false);
        $(oButton).click(fUpdateGlobalText);
                
        oElement.parentNode.appendChild(oButton);
      </script>
    #end##
##
#else ## user can't edit
  #if(($field.getContentSize() <= 50) && ($fieldValue.length() <= 100))##
	#set($isPhoneNumber = $fieldValueObject.isPhoneNumber())
	#if ($fieldValueObject.isEmailAddress())##
      <a href="mailto:$fieldValue">$fieldValue</a>##
	#elseif ($fieldValueObject.isURL())##
  	  <a href="$fieldValueObject.getFormattedURL()" target="_blank" class="gtpb_url">$fieldValue</a>##
	#elseif ($fieldValueObject.isPostcode())##
  	  <a href="http://maps.google.co.uk/maps?f=q&hl=en&q=$fieldValue" target="_blank">$fieldValue</a>##
    #elseif ($mobile_device && $isPhoneNumber)##
	  <a href="tel:$fieldValue">$fieldValue</a> <i>$viewTools.getAreaForPhoneNumber($fieldValue)</i>##
    #else##
      $fieldValue #if($isPhoneNumber)<i>$viewTools.getAreaForPhoneNumber($fieldValue)</i>#end##
    #end##
  #else##
    ## can have long URLs
    #if ($fieldValueObject.isURL())
	  <a href="$fieldValueObject.getFormattedURL()" target="_blank" class="gtpb_url">$fieldValue</a>##
	#else
      $viewTools.lineBreaksToParas($fieldValue)##
	#end
  #end##
#end