##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
<request>
  #set($internalReportName = $viewMethods.getSessionData().getCustomVariable("parentreport"))
  #set($table = $viewMethods.findTableContainingReport($internalReportName))
  #set($report = $table.getReportByInternalName($internalReportName))
  ## send the default report when requiring the fields of a table
  #foreach($reportField in $report.getReportFields())
				    #if(! $reportField.getBaseField().getClass().getSimpleName().equals("RelationFieldDefn"))
      <option>
        <display_value>$reportField.getFieldName()</display_value>
        <internal_value>$reportField.getInternalFieldName()</internal_value>
      </option>
    #end
  #end
  ## if we're really trying to see fields in a table, also return any hidden fields
  #if($report.getParentTable().getDefaultReport().equals($report))
    #foreach($field in $report.getParentTable().getFields())
      #if($field.getHidden())
        <option>
          <display_value>$field.getFieldName()</display_value>
          <internal_value>$field.getInternalFieldName()</internal_value>
        </option>
      #end
    #end
  #end
</request>
