* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family:arial;
}

div#_md_blank {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:transparent url('blank.png');
  z-index:999;
}

div#_md_blank div#_md_dialog {
  border:1px solid #A09F9A;
  border-top:3px solid #EABA72;
  background-color:#FFFFFF;
  width:500px;
  height:400px;
  margin:auto;
  padding-top:30px;
  padding-bottom:50px;
  position:relative;
}

div#_md_blank div#_md_dialog div#_md_title {
  position:absolute;
  height:30px;
  padding:7px 5px; /* top&bottom, left&right */
  width:100%;
  top:0;
  left:0;
  overflow:hidden;
  
  background-color:#A09F9A;
  
  color:white;
  font-weight:bold;
  text-transform:uppercase;
  font-family:"Trebuchet MS" "Verdana" Arial _sans-serif;
}

div#_md_blank div#_md_dialog div#_md_toolbar {
  width:100%;
  height:50px;
  padding:6px 10px;
  position:absolute;
  bottom:0;
  border-top:1px solid #A09F9A;
  background-color:#F1F2ED;
  text-align:right;
}

div#_md_blank div#_md_dialog div#_md_toolbar div#_md_spacer {
  display:inline;
  padding-left:20px;
}

div#_md_blank div#_md_dialog div#_md_toolbar button {
  height:35px;
}

div#_md_blank div#_md_dialog div#_md_toolbar button span {
  background-position:right top;
  background-repeat:no-repeat;
  padding-right:35px;
  display:block;
  padding-top:4px;
  padding-bottom:4px;
  font-size:10pt;
}

div#_md_blank div#_md_dialog div#_md_toolbar button[caption="next"] span {
  background-image: url('next.png');
}


div#_md_blank div#_md_dialog div#_md_toolbar button[caption="back"] span {
  padding-right:0;
  padding-left:35px;
  background-position:left top;
  background-image: url('back.png');
}

div#_md_blank div#_md_dialog div#_md_toolbar button[caption="ok"] span {
  background-image: url('ok.png');
}

div#_md_blank div#_md_dialog div#_md_toolbar button[caption="cancel"] span {
  background-image: url('cancel.png');
}

div#_md_blank div#_md_dialog div#_md_toolbar button[disabled="true"] span {
  background-image:none!important;
}

div#_md_blank div#_md_dialog div#_md_content {
  width:100%;
  height:100%;
  position:relative;
  overflow:auto;
}

div#_md_blank div#_md_dialog div#_md_content h1 {
  font-family:"Trebuchet MS";
}

div#_md_blank div#_md_dialog div#_md_content table#reportData {
  width:100%;
  height:100%;
  border-collapse:collapse;    
}

div#_md_blank div#_md_dialog div#_md_content table#reportData td {
  padding:3px 7px;
  border-right:1px solid #cecece;
  vertical-align:top;
  cursor:default;
  height:20px;
}
div#_md_blank div#_md_dialog div#_md_content table#reportData td.delete {
  text-align:center;
}

div#_md_blank div#_md_dialog div#_md_content table#reportData td.delete img {
  cursor:pointer;
}
  
div#_md_blank div#_md_dialog div#_md_content table#reportData tr.first td {
  font-size:0px;
  height:15px;
}
  
div#_md_blank div#_md_dialog div#_md_content table#reportData td.rowa,
div#_md_blank div#_md_dialog div#_md_content table#reportData td.rowb { 
  height:25px;
}
  
div#_md_blank div#_md_dialog div#_md_content table#reportData .trailing {
  border-right:0 none;
}
  
div#_md_blank div#_md_dialog div#_md_content table#reportData tr#errorRow,
div#_md_blank div#_md_dialog div#_md_content table#reportData tr#errorRow:hover td {
  background-color:#ffd588!important;
}  
  
div#_md_blank div#_md_dialog div#_md_content table#reportData tr.rowb {
  background-color:#f1f2ed;
}

div#_md_blank div#_md_dialog div#_md_content table#reportData th { 
  background-color:#f1f2ed; 
  font-size:10pt; 
  color:black;
  font-weight:bold;
  border:1px solid #cecece;
  padding:7px;
  text-align:left;
  height:30px; 
  text-transform: capitalize;
  cursor:default;
  background-repeat:no-repeat;
  background-position:right center;
}

div#_md_blank div#_md_dialog div#_md_content table#reportData th div {
  width:100%;
  overflow:hidden;
  white-space:nowrap;
}

div#_md_blank div#_md_dialog div#_md_content table#reportData thead tr#fieldFilters { 
  background-color:#e2e1d9 
}

div#_md_blank div#_md_dialog div#_md_content table#reportData thead tr#fieldFilters input { 
  width:100%;
}
					  
div#_md_blank div#_md_dialog div#_md_content table#reportData thead td { 
  border-bottom:1px solid#cecece 
}					  

div#_md_blank div#_md_dialog div#_md_content table#reportData tbody td { 
  vertical-align:top 
}
					  
div#_md_blank div#_md_dialog div#_md_content table#reportData tbody tr.rowa:hover td,
div#_md_blank div#_md_dialog div#_md_content table#reportData tbody tr.rowb:hover td { 
  background-color:#dae2ff;
}			

div#_md_blank div#_md_dialog div#_md_content table#reportData tr.trailing td { 
  height:auto 
}		  
		

div#_md_blank div#_md_dialog div#_md_content div#_mdp_relationPicker {
  width:100%;
  height:100%;
  position:relative;
  padding-top:50px;
}

div#_md_blank div#_md_dialog div#_md_content div#_mdp_relationPicker div#_mdp_toolbar {
  position:absolute;
  top:0;
  left:0;
  background-color:#FAF5F2;
  border-bottom:1px solid #cecece;
  border-top:1px solid #ffffff;
  width:100%;
  height:49px;
  padding:12px 20px;
}

div#_md_blank div#_md_dialog div#_md_content div#_mdp_relationPicker div#_mdp_content {
  height:100%;
  width:100%;
  overflow:auto;
  position:relative;
}

div#_md_blank div#_md_dialog div#_md_content div#_mdp_relationPicker div#_mdp_content table {
  height:100%;
}

div#_md_blank div#_md_dialog div#_md_content div#_mdp_relationPicker div#_mdp_content table#reportData tr#_mfp_current_row td { 
  background-color:#ffd588;
}

/* From tabs.css */
.separator {
  background:transparent url(line.gif) repeat-x scroll 0pt 28px;
  color:#888888;
  font-style:italic;
  font-weight:bold;
  margin-bottom:-3px;
  position:relative;
}

.separator td {
  padding-top:20px!important;
  border-right:0px!important;
}

.separator span {
  background:#FFFFFF none repeat scroll 0% 0%;
  padding: 0px 5px;
}

.separator .fieldname {
  margin-left:-25px;
  font-size: 12pt;
}

