##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($company = $view.getLoggedInUser().getCompany())
#set($enabledApps = $company.getApps())
#set($appCost = $enabledApps.size() * 25)
#if(!$usageStats)
  #set($usageStats = $view.getUsageStats())
#end
#set($tableCost = $usageStats.getMonthlyTableCost())
#set($totalCost = $tableCost + $appCost)
<request>
  <caption>agileBase App Store</caption>
  #parse('gui/customisations/wizard_result.vm') 
    <okTemplate>gui/help/end</okTemplate>
    <htmlContent><![CDATA[
    <style>
      ul.app_list {
        list-style: none;
      }
      ul.app_list li {
        padding: 0.2em;
        padding-bottom: 1em;
      }
      ul.app_list li img {
        float: left;
        margin-right: 10px;
      }
    </style>
    <div style="padding:5px">
      <h1>Available Apps</h1>
      These apps enhance the core agileBase platform. They can be installed company-wide, there is <b>no per-user cost</b>.
      &pound;25/month each supports unlimited use - just tick to enable<p>
      <ul class="app_list">
        <li>
          <input type="checkbox" name="enable" value="true" #if($enabledApps.contains("dashboard")) checked #end gtpb_app="dashboard" gtpb_enable_disable_app="true" onclick="new fChange(this)"> <img src="resources/toolbar/dashboard.png"><b>Executive dashboard</b> To help helps executives "see" their organisation in full, using charts, usage and automated exception reporting
        </li>
        <li>
          <input type="checkbox" name="enable" value="true" #if($enabledApps.contains("calendar")) checked #end gtpb_app="calendar" gtpb_enable_disable_app="true" onclick="new fChange(this)"> <img src="resources/toolbar/calendar.png"><b>Calendar</b> An operational calendar fully integrated with agileBase data to aid shared scheduling and visual management
        </li>
        <li>
          <input type="checkbox" name="enable" value="true" #if($enabledApps.contains("wiki")) checked #end gtpb_app="wiki" gtpb_enable_disable_app="true" onclick="new fChange(this)"> <img src="resources/toolbar/wiki.png"><b>Wiki</b> A company wiki aids knowledge capture and collaboration on 'un-structured' data
        </li>
        <li>
          <input type="checkbox" name="enable" value="true" #if($enabledApps.contains("a3")) checked #end gtpb_app="a3" gtpb_enable_disable_app="true" onclick="new fChange(this)"> <img src="resources/toolbar/a3.png"><b>A3 Reports</b> A3 reports promote improved problem solving and decision making - see www.a3reports.co.uk
        </li>
        <li>
          <input type="checkbox" name="enable" value="true" #if($enabledApps.contains("tagcloud")) checked #end gtpb_app="tagcloud" gtpb_enable_disable_app="true" onclick="new fChange(this)"> <img src="resources/toolbar/tagcloud.png"><b>Word clouds</b> For retrospective sense-making of data, reducing manual categorisation processes
        </li>
        <li>
          <input type="checkbox" name="enable" value="true" #if($enabledApps.contains("forms")) checked #end gtpb_app="forms" gtpb_enable_disable_app="true" onclick="new fChange(this)"> <img src="resources/toolbar/forms.png"><b>Public forms</b> Embed agileBase forms into public websites - allows data gathering from your customers/partners
        </li>
      </ul>
      <h1>Beta Apps</h1>
      These apps are currently in development or limited access testing - if you're interested in trying any, please <a href="mailto:oliver@agilebase.co.uk">let us know</a>
      <ul class="app_list">
        <li>
          <input type="checkbox" name="enable" value="true" #if($enabledApps.contains("mkis")) checked #end gtpb_app="mkis" gtpb_enable_disable_app="true" onclick="new fChange(this)"> <img src="resources/toolbar/mkis.png"><b>Marketing information system</b> Integrate with 3rd party analytics from various sources to show a timeline-based overview of all marketing activity and it's effect
        </li>
        <li>
          <input type="checkbox" disabled name="enable" value="true" #if($enabledApps.contains("search")) checked #end gtpb_app="search" gtpb_enable_disable_app="true" onclick="new fChange(this)"><img src="resources/toolbar/search.png"><b>Global search</b> For large installations, a global search can help quickly find data, even searching within documents
        </li>
        <li>
          <input type="checkbox" disabled name="enable" value="true" #if($enabledApps.contains("treemap")) checked #end gtpb_app="treemap" gtpb_enable_disable_app="true" onclick="new fChange(this)"><img src="resources/toolbar/treemap.png"><b>Treemap</b> Provides a graphical analysis comparing values in hierarchical data
        </li>
      </ul>
      <h1>Licensing calculation</h1>
      The total monthly figure is calculated from the no. tables you've created and the number of apps you have enabled (chosen above).<p>
      <ul>
        <li>$company has $usageStats.getNumberOfTables() tables</li>
        <li>Monthly cost per table is &pound;10 for the first twenty tables and &pound;5 for any subsequent</li>
        <li>Base monthly cost = <b>&pound;$tableCost</b></li>
        <li>App monthly cost = $enabledApps.size() apps x 25 = <b>&pound;$appCost</b></li>
        <li>Total = <b>&pound;$totalCost</b></li>
      </ul>
    </div>
    ]]>
  </htmlContent>
</request>