##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<request>
  <caption>agileBase App Store</caption>
  #parse('gui/customisations/wizard_result.vm') 
    <okTemplate>gui/help/end</okTemplate>
    <htmlContent><![CDATA[
    <style>
      ul.app_list {
        list-style: none;
      }
      ul.app_list li {
        padding: 0.2em;
        padding-bottom: 1em;
      }
      ul.app_list li img {
        float: left;
        margin-right: 10px;
      }
    </style>
    <div style="padding:5px">
      <h1>Available Apps</h1>
      These apps enhance the core agileBase platform. They can be installed company-wide, there is <b>no per-user cost</b>.
      &pound;50/month (&pound;25/month for subsequent apps) supports unlimited use<p>
      <ul class="app_list">
        <li>
          <input type="checkbox" name="app" value="dashboard"> <img src="resources/toolbar/dashboard.png"><b>Executive dashboard</b> To help helps executives "see" their organisation in full, using charts, usage and automated exception reporting
        </li>
        <li>
          <img src="resources/toolbar/calendar.png"><b>Calendar</b> An operational calendar fully integrated with agileBase data to aid shared scheduling and visual management
        </li>
        <li>
          <img src="resources/toolbar/wiki.png"><b>Wiki</b> A company wiki aids knowledge capture and collaboration on 'un-structured' data
        </li>
        <li>
          <img src="resources/toolbar/a3.png"><b>A3 Reports</b> A3 reports promote improved problem solving and decision making - see www.a3reports.co.uk
        </li>
        <li>
          <img src="resources/toolbar/tagcloud.png"><b>Word clouds</b> For retrospective sense-making of data, reducing manual categorisation processes
        </li>
      </ul>
      <h1>Beta Apps</h1>
      These apps are currently in development or limited access testing - if you're interested in trying any, please <a href="mailto:oliver@agilebase.co.uk">let us know</a>
      <ul class="app_list">
        <li>
          <img src="resources/toolbar/forms.png"><b>Public forms</b> Embed agileBase forms into public websites - allows data gathering from your customers/partners
        </li>
        <li>
          <img src="resources/toolbar/mkis.png"><b>Marketing information system</b> Integrate with 3rd party analytics from various sources to show a timeline-based overview of all marketing activity and it's effect
        </li>
        <li>
          <img src="resources/toolbar/search.png"><b>Global search</b> For large installations, a global search can help quickly find data, even searching within documents
        </li>
      </ul>
      Please contact support@agilebase.co.uk to enable/disable apps. Soon you'll be able to manage them from this screen.
    </div>
    ]]>
  </htmlContent>
</request>