#set($apps = $view.getLoggedInUser().getCompany().getApps())
<a id="home" href="#" alt="agileBase"><img src="/agileBase/website/images/logo-agilebase.png"></a>
<div id="links">
  #set($left = 0)
  #if($current_app == "calendar")
    <div id="new_record" class="bare_button" style="left: ${left}px;">
      <i class="icon-plus-sign"></i><br>add
    </div>
    #set($left = $left + 100)
  #end
  <div class="bare_button" style="left: ${left}px;">
    #set($left = $left + 100)
    #if($mobile_device)
      #set($databaseReturn = "gui/pane1")
    #else
      #set($databaseReturn = "gui/display_application")     
    #end
    <a href="?return=$databaseReturn">
      <i class="icon-reorder"></i><br>database
    </a>
  </div>
  <div class="bare_button" style="left: ${left}px;">
    #set($databaseReturn = "s/treemap")     
    <a href="?return=$databaseReturn">
      <i class="icon-th-large"></i><br>tiles
    </a>
  </div>
  #if($apps.contains("dashboard"))
    #set($left = $left + 100)
    <div class="bare_button" style="left: ${left}px;">
      #set($databaseReturn = "s/treemap")     
      <a href="?return=$databaseReturn">
        <i class="icon-dashboard"></i><br>dashboard
      </a>
    </div>
  #end
  #if($apps.contains("calendar"))
    #set($left = $left + 100)
    <div class="bare_button" style="left: ${left}px;">
      <a href="?return=gui/calendar/calendar">
        <i class="icon-calendar"></i><br>calendar
      </a>
    </div>
  #end
  #if($apps.contains("mkis"))
    #set($left = $left + 100)
    <div class="bare_button" style="left: ${left}px;">
      <a href="?return=gui/customisations/common/mkis/mkis">
        <i class="icon-bar-chart"></i><br>marketing
      </a>
    </div>
  #end
</div> ## end links
#if($current_app == "dashboard")
  #set($headlineNotices = $dashboard.getHeadlineNotices())
  #foreach($headlineNotice in $headlineNotices)
    #set($firstWord = $headlineNotice.replaceAll(" .*",""))
    #if($firstWord.length() > 1) ## Ignore really small numbers
      #set($rest = $headlineNotice.replaceAll("^.*? ",""))
      <div class="headline"><span class="firstword">$firstWord</span> $rest</div>
    #end
  #end
#end
