#set($apps = $view.getLoggedInUser().getCompany().getApps())
<div id="mini_links">
  #set($left = 0)
  <div class="button" style="left: ${left}px;">
    #if($mobile_device)
      #set($databaseReturn = "gui/pane1")
    #else
      #set($databaseReturn = "gui/display_application")     
    #end
    <a href="?return=$databaseReturn">
      <img src="customisations/common/dashboard/panes.png" /> Database
    </a>
  </div>
  #if($apps.contains("dashboard"))
    #set($left = $left + 100)
    <div class="button" style="left: ${left}px;">
      #set($databaseReturn = "gui/customisations/common/dashboard/dashboard")     
      <a href="?return=$databaseReturn">
        <img src="resources/toolbar/dashboard.png" /> Dashboard
      </a>
    </div>
  #end
  #if($apps.contains("calendar"))
    #set($left = $left + 100)
    <div class="button" style="left: ${left}px;">
      <a href="?return=gui/calendar/calendar">
        <img src="resources/toolbar/calendar.png" /> Calendar
      </a>
    </div>
  #end
  #if($apps.contains("mkis"))
    #set($left = $left + 100)
    <div class="button" style="left: ${left}px;">
      <a href="?return=gui/customisations/common/mkis/mkis">
        <img src="resources/toolbar/mkis.png" /> Marketing
      </a>
    </div>
  #end
  #if($apps.contains("forms"))
    #set($left = $left + 100)
    <div class="button" style="left: ${left}px;">
      <a href="?return=gui/edit_nav/edit_nav">
        <img src="resources/toolbar/forms.png" /> Forms
      </a>
    </div>
  #end
</div> ## end links
#if($current_app == "dashboard")
  #set($headlineNotices = $dashboard.getHeadlineNotices())
  #foreach($headlineNotice in $headlineNotices)
    #set($firstWord = $headlineNotice.replaceAll(" .*",""))
    #if($firstWord.length() > 1) ##ÊIgnore really small numbers
      #set($rest = $headlineNotice.replaceAll("^.*? ",""))
      <div class="headline"><span class="firstword">$firstWord</span> $rest</div>
    #end
  #end
#end
