#set($apps = $view.getLoggedInUser().getCompany().getApps())
<div id="mini_links">
  <div class="button">
    #if($mobile_device)
      #set($databaseReturn = "gui/pane1")
    #else
      #set($databaseReturn = "gui/display_application")     
    #end
    <a href="?return=$databaseReturn">
      <img src="customisations/common/dashboard/panes.png" /> Database
    </a>&nbsp;
  </div>
  #if($apps.contains("dashboard"))
    <div class="button">
      #set($databaseReturn = "gui/customisations/common/dashboard/dashboard")     
      <a href="?return=$databaseReturn">
        <img src="resources/toolbar/dashboard.png" /> Dashboard
      </a>&nbsp;
    </div>
  #end
  #if($apps.contains("calendar"))
    <div class="button">
      <a href="?return=gui/calendar/calendar">
        <img src="resources/toolbar/calendar.png" /> Calendar
      </a>&nbsp;
    </div>
  #end
  #if($apps.contains("mkis"))
    <div class="button">
      <a href="?return=gui/customisations/common/mkis/mkis">
        <img src="resources/toolbar/mkis.png" /> Marketing
      </a>&nbsp;
    </div>
  #end
  #if($apps.contains("forms"))
    <div class="button">
      <a href="?return=gui/edit_nav/edit_nav">
        <img src="resources/toolbar/forms.png" /> Forms
      </a>&nbsp;
    </div>
  #end
</div> ## end links
