##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<style>
	#information_export {
		background-color: #f1f2ed;
	}
	
	.dashboard_blob {
		background-color: white;
		margin: 2em;
		padding: 1.5em;
		margin-left: 0px;
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
	}
	
	.dashboard_blob td {
		font-size: 10pt!important;
		width:50%;
	}
	
	/* override report admin tab CSS in manage_tabs.css */
	.options_wrapper div.options_set td:first-child:first-line {
		font-weight: normal;
	}
</style>

$viewTools.startTimer("gui/administration/information/option_sets/information_export_data.vm")
Please click a link below to download full detail for each graph.<p>

<div class="dashboard_blob">
<table border="0"><tr>
<td style="border-right: 1em solid #f1f2ed">
<span class="sparkline_logins">...</span> 
<a href="?return=gui/administration/information/export/login&returntype=download&returnfilename=logins.csv">Logins</a>
<br>
Date, time and IP address of each user's login<p>

<span class="sparkline_report_views" alt="report_views">...</span> 
<a href="?return=gui/administration/information/export/report_view&returntype=download&returnfilename=report_views.csv">Report views</a>
<br>
Which users viewed which reports<p>

<span class="sparkline_data_edits">...</span> 
<a href="?return=gui/administration/information/export/data_change&returntype=download&returnfilename=data_changes.csv">Data changes</a>
<br>
Date, time, user and record identifier for each insertion, edit or record delete<p>
</td>
<td><h2>Operational</h2>
These 'sparkline' charts show trends in adoption and usage of agileBase over the past year
</td>
</tr></table>
</div>

<div class="dashboard_blob">
<table border="0"><tr>
<td style="border-right: 1em solid #f1f2ed">
<span class="sparkline_report_additions">...</span> <span style="color:blue">Report building</span><br>
<span class="sparkline_report_removals">...</span> <span style="color:red">Demolishing</span><br>
Report building includes report creation, field additions etc.<br>
Demolishing includes field deletions and report deletions<br>
<a href="?return=gui/administration/information/export/report_schema_change&returntype=download&returnfilename=report_schema_changes.csv">Download all changes</a>
</td>
<td><h2>Tactical</h2>
These charts are a pointer to levels of analysis rather than pure data entry
</td>
</tr></table>
</div>

<div class="dashboard_blob">
<table border="0"><tr>
<td style="border-right: 1em solid #f1f2ed">
<span class="sparkline_table_additions">...</span> <span style="color:blue">Table building</span><br>
<span class="sparkline_table_removals">...</span> <span style="color:red">Demolishing</span><br>
Data includes table creations, field creations, table deletions and field deletions<br>
<a href="?return=gui/administration/information/export/table_schema_change&returntype=download&returnfilename=table_schema_changes.csv">Download all changes</a>
</td>
<td><h2>Strategic</h2>
Table building points to agileBase use in new areas or projects. Removals suggest halts and cost reductions.
</td>
</tr></table>
</div>

$viewTools.stopTimer("gui/administration/information/option_sets/information_export_data.vm")
