<html>
	<head>
#literal()
<style>
#infovis {  
    position:relative;  
    width:900px;  
    height:500px;  
    margin:auto;  
    background-color:#1D1D20;  
}  
  
#infovis div {  
    position:absolute;  
    overflow:hidden;  
}  
  
#infovis .content {  
    background-color:#333;  
    border:0px solid #111;  
}  
  
#infovis .head {  
    height:12px;  
    color:white;  
    background-color:#444;  
}  
  
#infovis .head.in-path {  
    background-color:#655;  
}  
  
#infovis .body {  
    background-color:black;  
}  
  
#infovis .leaf {  
    color:white;  
    background-color:#111;  
    display:table-cell;  
    vertical-align:middle;  
}  
  
#infovis .over-leaf {  
    border:1px solid #9FD4FF;  
}  
  
#infovis .over-content {  
    background-color: #9FD4FF;  
}  
  
#infovis .over-head { /* ...boy i'm funny */  
    background-color:#A4D9FF;  
    color:black;  
}  
  
/* tooltips style */  
.tip {  
    color: #fff;  
    z-index: 13000;  
    background-color: black;  
    padding:5px;  
    position:absolute;  
}  
</style>
#end ##end literal
<script language="JavaScript" src="resources/jquery.js"></script>
<script language=Javascript src="resources/jit.js"></script>
#set($treeMap = $viewMethods.getUsageStats().getTreeMap())
<script language="JavaScript">
#literal()
$(document).ready(function(){
#end
   var json = $viewMethods.getUsageStats().getTreeMapJSON();
		
    var tm = new TM.Squarified({  
                //Where to inject the Treemap  
                rootId: 'infovis'  
             });  
    tm.loadJSON(json);
});
</script>
</head>
<body>
<div id="infovis" /> 
</body>
	</html>