button.gtpb {
  border:0;
  width:68px; /* formerly 70px */
  height:40px;
  text-decoration:none;
  text-align:center;
  color:black;
  font-size:8pt;
  text-shadow: 0px 1px 0px white;
  float: left;
  border-radius: 1em;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
  background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
}

button.gtpb.captioned {
  height: 55px;
}
	 
button.gtpb img { border:0; }

.buttonGroup.joined button.gtpb {
  border: 1px solid #b6b6b6;
  border-right: none;
  border-radius:0;
}

.buttonGroup.joined button.gtpb:last-child {
	/* Four corners clockwise from top left */
  border-right: 1px solid #b6b6b6;
  border-radius: 0 1em 1em 0;
}

.buttonGroup.joined button.gtpb:first-child {
  border-radius: 1em 0 0 1em;
}

button.gtpb:hover { cursor: pointer; }		 
button.gtpb:active { background-color: gray; }
button.gtpb.selected {
  background: -moz-linear-gradient(top, #555555, #999999);
  background: -webkit-linear-gradient(top, #555555, #999999);
  background: -ms-linear-gradient(top, #555555, #999999);
  background: linear-gradient(top, #555555, #999999);
  border: 1px solid #b6b6b6; /* icon colour */
}

button.gtpb[disabled],
button.gtpb[disabled]:hover,
button.gtpb[disabled]:active,
button.gtpb[disabled].selected { background:#f0f0f0; color:#aaaaaa }
