##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<request>
  #parse('gui/customisations/wizard_result.vm')
  <nextTemplate>gui/calendar_export/export_chooser</nextTemplate>
  <htmlContent><![CDATA[        
        <form style="padding:10px;">
          <h1>Please choose a calendar to export to</h1><br><br>
		  <input type="hidden" name="set_custom_string" value="true">
		  <input type="hidden" name="stringkey" value="calendar_export_destination">
		  <input type="radio" name="customstringvalue" value="google" id="export_google" checked>
		  <label for="export_google"><img style="vertical-align: middle" src="http://calendar.google.com/googlecalendar/images/calendar_logo_sm_en-GB.gif"> Google Calendar</label>
		  <br><br><br>
		  <input type="radio" name="customstringvalue" value="ipad" id="export_ipad">
		  <label for="export_ipad"><img style="vertical-align: middle" src="resources/icons/ipad_calendar_blank.png"> iPad or iPhone</label>
        </form>
    ]]>
  </htmlContent>  
  <caption>Export report data to calendar</caption>
</request>
