##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<request>
  #parse('gui/customisations/wizard_result.vm')
  <nextTemplate>gui/calendar_export/export_chooser</nextTemplate>
  <htmlContent><![CDATA[        
        <form style="padding:10px;">
          <h1>Setup instructions</h1>
		  Once you've carried out these steps once, you won't need to again. Google Calendar will keep itself up to date automatically.
		  <ol>
		    <li>Log in to <a href="http://calendar.google.com" target="calendar">calendar.google.com</a></li>
			<li>From the bottom left of the screen, choose Add -> Add by URL</li>
			</li>
			  Copy and paste this code in:<br>
		      #parse("gui/calendar_export/calc_calendar_url.vm")
		      <textarea style="width:100%">$calendarUrl</textarea>
 			</li>
		  </ol>
        </form>
    ]]>
  </htmlContent>  
  <caption>Export report data to Google calendar</caption>
</request>
