##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<request>
	<caption>Help Centre</caption>
	#parse('gui/customisations/wizard_result.vm') 
    <okTemplate>gui/help/end</okTemplate>
	  <htmlContent><![CDATA[
      <style>
         table#_choice_table {
           width:85%;
           margin-top:50px;
         }
         
        table#_choice_table td {
           text-align:center;
         }
         
         table#_choice_table tr.labels td {
           padding-top:30px;
         }
		 
		 .helpfooter {
		   vertical-align:bottom;
		   padding: 5px;
		   margin-top:90px;
		   text-align:right;
		 }
      </style>
	  
  		<div style="padding:5px">
        <h1>Choose a link to get help</h1>
        <table id="_choice_table" border="0" cellpadding="0" cellspacing="0" align="center">
          <tr>
            <td>
              <img src="resources/icons/help/book.png" />
            </td>
            <td>
              <img src="resources/icons/help/questions.png" />
            </td>
          </tr>
          <tr class="labels">
            <td>
              Read documentation<p>
			  <a href="http://gtwebmarque.com/wikis/gtwm/index.php/Annotated_Screenshot" target="_blank" title="Quick start guide in the documentation wiki">Introductory tour</a> or 
			  <a href="http://gtwebmarque.com/wikis/gtwm/index.php/GT_portalBase" target="_blank" title="The documentation wiki">comprehensive guide</a>
            </td>
            <td>
              Send a question via the forum<p>
			  <a href="http://www.agilebase.co.uk/forum" target="_blank">Visit forum</a>
            </td>
          </tr>          
        </table>
		</div>
		<div class="helpfooter">
		  View our <a href="http://www.agilebase.co.uk/help" target="_blank">support policy</a>
		</div>
    ]]>
  </htmlContent>
</request>