#set($sessionTable = $sessionData.getTable())
#set($primaryKey = $sessionTable.getPrimaryKey())
#set($sessionRowId = $sessionData.getRowId())
#set($dependentTables = $view.getDirectlyDependentTables($sessionTable))
#foreach($dependentTable in $dependentTables)
  #set($linkingReports = [])
  #set($reports = $dependentTable.getReports())
  #foreach($report in $reports)
    #if($report.getReportBaseFields().contains($primaryKey))
      #set($success = $linkingReports.add($report))
    #end
  #end
  <div class="slide"> 
    <section class="middle"> 
      <div class="title">
      $dependentTable.getSimpleName()
      <select name="$dependentTable.getInternalTableName()_select">
        #foreach($report in $linkingReports)
          <option value="$report.getInternalReportName()">$report.getModule() - $report</option>
        #end
        <option value="$dependentTable.getDefaultReport().getInternalReportName()">all records</option>
      </select>
      </div>
      #if($linkingReports.size() == 0)
        #set($report = $dependentTable.getDefaultReport())
      #else
        #set($report = $linkingReports.get(0))
      #end
      #set($filters = $viewTools.getNewFilterMap())
      #if($report.equals($dependentTable.getDefaultReport()))
        #foreach($field in $report.getReportBaseFields())
          #if($field.getRelatedTable().equals($sessionTable))
            #set($success = $filters.put($field, "$sessionRowId"))
            #break
          #end
        #end
      #else
        #set($success = $filters.put($primaryKey, "$sessionRowId"))
      #end
      #parse("gui/edit_nav/report_content.vm")
    </section>
  </div>
#end
