#set($sessionTable = $sessionData.getTable())
#set($sessionRowId = $sessionData.getRowId())
#set($dependentTables = $view.getDirectlyDependentTables($sessionTable))
## TODO: remove those which are covered by cross-referenced fields
#foreach($dependentTable in $dependentTables)
#if($view.loggedInUserAllowedTo("VIEW_TABLE_DATA", $dependentTable))
  #set($linkingReports = [])
  #set($reports = $dependentTable.getReports())
  #foreach($report in $reports)
    #if(($view.loggedInUserAllowedToViewReport($report)) && ($report.getReportBaseFields().contains($primaryKey)) && (!$report.getReportName().contains("dbvcalc")) && (!$report.getReportName().contains("dbvcrit")))
      #set($success = $linkingReports.add($report))
    #end
  #end
  #if($linkingReports.size() > 0)
    #set($report = $linkingReports.get(0))
    #parse("gui/edit_nav/dependent_slide.vm")  
  #end
#end
#end ## end dependent tables
## add in tables for cross referenced fields
#foreach($field in $sessionTable.getFields())
  #if($field.getFieldCategory() == "REFERENCED_REPORT_DATA")
    #set($report = $field.getReferencedReport())
    #set($success = $crossReferencedTableReports.put($referencedReport.getParentTable(), $referencedReport))
  #end
#end

