#set($sessionTable = $sessionData.getTable())
<div class="breadcrumb_title">edit $sessionTable.getSimpleName()</div>
<div class="presentation"> 
  <div id="presentation-counter"></div> 
  <div class="slides">
    <div class="slide"> 
      <section class="middle"> 
        #set($edit_nav = true)
        <div class="this_table">
          #parse("gui/reports_and_tables/tabs/edit.vm")
        </div>
        <div class="dependent_tables">
          ## tableDataRow will have been set in edit.vm above
          #if(!$tableDataRow)
            #set($tableDataRow = $view.getTableDataRow())
          #end
          ## each relation field
          #foreach($field in $sessionTable.getFields())
            #if($field.getFieldCategory() == "RELATION")
              #set($relatedTable = $field.getRelatedTable())
              #set($relatedRowIdValue = $tableDataRow.get($field.getRelatedField()))
              $relatedRowIdValue::
              #set($relatedRowId = $relatedRowIdValue.getValueInteger())
              #set($snippet = "")
              #set($active = false)
              #if($relatedRowId)
                #set($active = true)
                #set($relatedDataRow = $view.getTableDataRow($relatedTable, $relatedRowId))
                #set($fieldDisplayValue = $relatedDataRow.get($field.getDisplayField()))##
                #foreach($relatedField in $relatedDataRow.keySet())
                  #if(!$relatedField.equals($relatedField.getTableContainingField().getPrimaryKey()))
                  #set($fieldValue = $relatedDataRow.get($relatedField))
                    #if(($fieldValue != "") && ($fieldValue != "false"))
                      #set($snippet = "$snippet$fieldValue, ")
                    #end
                  #end
                #end
              #end
              <div class="dependent_table related #if($active) active #end" id="dependent_table_$relatedTable.getInternalTableName()" rowid="$relatedRowId">
                <h1><span class="count"><img src="resources/edit_nav/up.png" alt="up" /></span>$field.getSimplifiedFieldName(): $fieldDisplayValue</h1>
                <div class="record_snippets">
                  <div class="snippet">$snippet</div>
                </div>
              </div>
            #end
          #end
          ## dependent child tables
          #set($primaryKey = $sessionTable.getPrimaryKey())
          #set($dependentTables = $view.getDirectlyDependentTables($sessionTable))
          #foreach($dependentTable in $dependentTables)
            #if($view.loggedInUserAllowedTo("VIEW_TABLE_DATA", $dependentTable))
              #foreach($report in $dependentTable.getReports())
                #if(($view.loggedInUserAllowedToViewReport($report)) && ($report.getReportBaseFields().contains($primaryKey)) && (!$report.getReportName().contains("dbvcalc")) && (!$report.getReportName().contains("dbvcrit")))
                  <div class="dependent_table" id="dependent_table_$dependentTable.getInternalTableName()">
                    <h1><span class="count"></span>$dependentTable.getSimpleName()</h1>
                    <div class="record_snippets">
                    </div>
                  </div>
                  #break ## next table
                #end
              #end
            #end
          #end
        </div>
      </section> 
    </div>  
  </div> <!-- slides --> 
</div> <!-- presentation --> 