#set($sessionTable = $sessionData.getTable())
<div class="breadcrumb_title">edit $sessionTable.getSimpleName()</div>
<div class="presentation"> 
  <div id="presentation-counter"></div> 
  <div class="slides">
    <div class="slide"> 
      <section class="middle"> 
        #set($edit_nav = true)
        <div class="this_table">
          #parse("gui/reports_and_tables/tabs/edit.vm")
        </div>
        <div class="dependent_tables">
          #set($primaryKey = $sessionTable.getPrimaryKey())
          #set($dependentTables = $view.getDirectlyDependentTables($sessionTable))
          #foreach($dependentTable in $dependentTables)
            #if($view.loggedInUserAllowedTo("VIEW_TABLE_DATA", $dependentTable))
              #foreach($report in $dependentTable.getReports())
                #if(($report.getReportBaseFields().contains($primaryKey)) && (!$report.getReportName().contains("dbvcalc")) && (!$report.getReportName().contains("dbvcrit")))
                  <div class="dependent_table" id="dependent_table_$dependentTable.getInternalTableName()">
                    <h1><span class="count"></span>$dependentTable.getSimpleName()</h1>
                    <div class="record_snippets">
                    </div>
                  </div>
                  #break ## next table
                #end
              #end
            #end
          #end
        </div>
      </section> 
    </div>  
  </div> <!-- slides --> 
</div> <!-- presentation --> 