##
##  Copyright 2013 GT webMarque Ltd
##
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<!DOCTYPE html>

#set($user = $view.getLoggedInUser())
#set($company=$user.getCompany())
<html>
<head>
  <title>$company forms</title>
  <link type="text/css" rel="stylesheet" href="resources/pane1_amalgam.css" />
  <link type="text/css" rel="stylesheet" href="resources/pane3_amalgam.css" />
  <link type="text/css" rel="stylesheet" href="resources/edit_nav/edit_nav.css" />
  <link type="text/css" rel="stylesheet" href="resources/edit_nav/slides.css" />
  <link type="image/x-icon" rel="icon" href="resources/icons/gtpb.ico" /> <!-- favicon -->
  <script type="text/javascript" src="resources/jquery.js"></script>
  <script type="text/javascript" src="resources/pane1_amalgam.js"></script>
  <script type="text/javascript" src="resources/pane3_amalgam.js"></script>
  <script type="text/javascript" src="resources/edit_nav/edit_nav.js"></script>
  <script type="text/javascript" src="resources/edit_nav/slides.js"></script>
</head>

<body style="overflow: hidden"> ## override tabs.css
  <div id="breadcrumb"></div>
  <div id="mini_app_header">#parse("gui/appstore/mini_app_header.vm")</div>
  <div id="levels"></div>
</body>
</html>
