<div class="title">edit record</div>
<div class="presentation"> 
  <div id="presentation-counter"></div> 
  <div class="slides"> 
    <div class="slide"> 
      <section class="middle"> 
        #set($edit_nav = true)
        #parse("gui/reports_and_tables/tabs/edit.vm")
      </section> 
    </div>  
  </div> <!-- slides --> 
</div> <!-- presentation --> 