#set($report = $sessionData.getReport())
<div class="breadcrumb_title">$report</div>
<div id="search"><input name="search" type="search"> search</div>
<div id="reportDataView">
  #set($noOutput = true) ## we'll do our own output
  #parse("gui/reports_and_tables/report_data.vm")
  #parse("gui/edit_nav/report_content.vm")
</div>