#set($sessionTable = $sessionData.getTable())
#foreach($row in $data)
  #set($thisValues = $row.get(0))
  #set($rowColours = $row.get(3))
  <div class="related block">
    #foreach($cell in $thisValues)
      #set($cellNumber = $foreach.count - 1)
      #set($colour = $rowColours.get($cellNumber))
      #set($field = $fields.get($cellNumber).get(1))
      #set($fieldCategory = $field.getFieldCategory().toString())
      #set($thisUniqueId = $row.get(2))
      #set($image = false)
      #if($fieldCategory == "FILE")
        #set($fileValue = $viewTools.getFileValueTool($cell))
        #if($fileValue.isImage())
          #set($srcUrl = "/agileBase/uploads/$sessionTable.getInternalTableName()/$field.getInternalFieldName()/$thisUniqueId/$fileValue.40.$fileValue.getExtension()")
          <img src="$srcUrl" style="float:left"/>
          #set($image = true)
        #end
      #end
      #set($style="")
      #set($class="")
      #if($colour && $colour !="") #set($style="background-color:$colour; ") #set($class="colored") #end
      #if($cell && (!$image) && ($cell != ""))
        #set($printoutSetting = $field.getPrintoutSetting())
        #if($fieldCategory == "CHECKBOX")
          #if($cell == "true")
            <span style="$style" class="cell $class">$field</span>
          #end
        #elseif($printoutSetting == "NAME_AND_VALUE")
          <span class="fieldname">$field</span>: <span style="$style" class="cell $class">$cell</span><br>
        #else
          <span style="$style" class="cell $class">$cell</span>,
        #end
      #end
    #end
  </div>
#end