##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
#macro(radio_table_role $caption $privilege $pbfn)
  <label FOR="$table.getInternalTableName()${privilege}setrole$velocityCount">
    <input type=radio 
     id="$table.getInternalTableName()${privilege}setrole$velocityCount"
     name="tablemacrosetrole$velocityCount" 
     value="$privilege"
     gtpb_internalrolename="$role.getInternalRoleName()"
     gtpb_internaltablename="$table.getInternalTableName()"
     gtpb_privilegetype="$privilege"
	 gtpb_assignto="role"
     $pbfn
     onclick="new fChange(this)"
     #if($highestTablePrivilege.equals($privilege)) checked #end
    >
    <br>$caption
  </label>
#end

#set($table=$view.getSessionData().getTable())
<table cellspacing=0 border=0 cellpadding=0>
  <tr>
    <td>&nbsp;</td>
    <th colspan=4>privileges</th></tr>
    #foreach($role in $view.adminGetRoles())
      #set($highestTablePrivilege = "")
      #if($view.roleHasPrivilege($role, "MANAGE_TABLE", $table))
        #set($highestTablePrivilege = "MANAGE_TABLE")
      #elseif($view.roleHasPrivilege($role, "EDIT_TABLE_DATA", $table))
        #set($highestTablePrivilege = "EDIT_TABLE_DATA")
      #elseif($view.roleHasPrivilege($role, "VIEW_TABLE_DATA", $table))
        #set($highestTablePrivilege = "VIEW_TABLE_DATA")          
      #end
      <tr>
        <td>$role.getRoleName()</td>
        <td>#radio_table_role('none' '' 'gtpb_clear_all_table_privileges')</td>
        <td>#radio_table_role('read' 'VIEW_TABLE_DATA' 'gtpb_set_max_table_privilege')</td>
        <td>#radio_table_role('edit' 'EDIT_TABLE_DATA' 'gtpb_set_max_table_privilege')</td>
        <td>#radio_table_role('manage' 'MANAGE_TABLE' 'gtpb_set_max_table_privilege')</td>
      </tr>
  #end ##end of foreach
</table>