##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($table = $sessionData.getTable())
#set($company = $view.getLoggedInUser().getCompany())
#set($internalTableName = $table.getInternalTableName())
#if($view.getWhetherExceptionOccurred())
  #parse("gui/error.vm")
#end
<table cellspacing=0 border=0 cellpadding=0 style="width:100%">
  <tr valign="top">
    <td class="table_details">
	<b>Name:</b><br>
      <input type="text" name="tablename" gtpb_update_table value="$table.getTableName()" onkeyup="top.oBuffer.writeBuffer(this); parent.pane_1.fUpdateTitle('$internalTableName$table.getDefaultReport().getInternalReportName()', this.value);" maxKeyCount="6" identifier="$internalTableName" gtpb_internaltablename="$internalTableName" onfocus="this.setAttribute('focused','true')" onblur="this.removeAttribute('focused')"/><p>
    <b>Purpose:</b><br><span class="greytext" style="font-size:8pt">Purpose of table and key stakeholders who value it</span><br>
	  <textarea name="tabledesc" cols="50" rows="4" gtpb_update_table onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6" gtpb_internaltablename="$internalTableName" onfocus="this.setAttribute('focused','true')" onblur="this.removeAttribute('focused')">$table.getTableDescription()</textarea><p>
      <input type="checkbox" name="lockable" gtpb_update_table #if($table.getRecordsLockable()) checked #end onchange="top.oBuffer.writeBuffer(this);" identifier="$internalTableName" gtpb_internaltablename="$internalTableName">
	  Records lockable<br>
	  <span class="greytext" style="font-size:8pt">Allow custom actions (such as 'print invoice') to lock records against future editing</span><p>
      <input type="checkbox" name="tableformpublic" gtpb_update_table #if($table.getTableFormPublic()) checked #end onchange="top.oBuffer.writeBuffer(this);" identifier="$internalTableName" gtpb_internaltablename="$internalTableName">
	  Public data entry<br>
	  <span class="greytext" style="font-size:8pt">Publish a <a href="Public.ab?show_form=true&c=$company.getInternalCompanyName()&t=$internalTableName" target="_blank">form</a> which the general public can use to enter data.<br>Send notifications of new items to:</span><br>
    <input name="tableemail" gtpb_update_table #if($table.getEmail()) value="$table.getEmail()" #end onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6" identifier="$internalTableName" gtpb_internaltablename="$internalTableName" onfocus="this.setAttribute('focused','true')" onblur="this.removeAttribute('focused')"/>
    <p>
      <!-- table deletion button -->
      #set($tableDeleteEnabled = true)
      #if(!$view.loggedInUserAllowedTo('ADMINISTRATE'))
        #set($tableDeleteEnabled = false)
        #set($reason = "Only administrators can delete tables")
      #elseif($table.getReports().size() > 1)
        #set($tableDeleteEnabled = false)
        #set($reason = "All reports based on this table must be removed before deleting the table")
      #else
        #set($tableFields = $table.getFields())
        #set($pKey = $table.getPrimaryKey())
        #foreach($tableField in $tableFields)
          #if((!$tableField.getHidden()) && (!$tableField.equals($pKey)))
            #set($tableDeleteEnabled = false)
            #set($reason = "Please remove all table fields before deleting the table")
          #end
        #end
      #end
	<input type=button value="Delete Table" #if($tableDeleteEnabled) onclick="top.location='AppController.servlet?return=gui/display_application&remove_table=true&internaltablename=$internalTableName'" #else disabled=true title="$reason" #end>
    </td>
	<td class="table_details" style="background-color:#f4f4f4">
      <form method="POST" action="AppController.servlet" target="pane_1">
    	<input type="hidden" name="return" value="gui/pane1">
    	<input type="hidden" name="add_report" value="true">
    	<input type="hidden" name="set_custom_string" value="true">
    	<input type="hidden" name="key" value="report_tabindex">
    	<input type="hidden" name="value" value="6">		
    	<input type="submit" value="Create new report"><br>
    	<input type="checkbox" checked name="populatereport" value="true"> Populate the report with fields from this table (recommended)
      </form>
      <p>
      #if($table.getReports().size() > 1)
        Existing reports:<p>
        <ul>
        #foreach($tableReport in $table.getReports())
      	  #if(!$tableReport.equals($table.getDefaultReport()))
    		<li>#if($tableReport.getModule())$tableReport.getModule() - #end $tableReport</li>
    	  #end
        #end
        </ul>
      #else
        Create a report to allow data entry into this table as well as data analysis and filtering
      #end
	</td>
  </tr>
</table>
#set($current_layout = $table.getFormStyle())
<div id="layout_selector" style="width:100%; background-color:#f4f4f4; padding: 1em;">
  <h2>Choose a layout for the data entry form</h2>
  <div id="single_column" class="select_layout #if($current_layout == 'SINGLE_COLUMN') selected_layout #end">
    <img src="resources/tabs/1_column.png"><br>one column
  </div>
  <div id="two_columns" class="select_layout #if($current_layout == 'TWO_COLUMNS') selected_layout #end">
    <img src="resources/tabs/2_columns.png"><br>sections in two columns
  </div>
  <div id="two_columns_within_section" class="select_layout #if($current_layout == 'TWO_COLUMNS_WITHIN_SECTION') selected_layout #end">
    <img src="resources/tabs/2_columns_sectioned.png"><br>two columns within a section
  </div>
  <br style="clear:both" />
</div>
<div style="width:100%; background-color:#f4f4f4; padding: 1em;">
## Find tables which could be used as forms, i.e. those that contain a tab for *this* table
#set($potentialtableForms = $viewTools.getNewTableSet())
#foreach($testTable in $company.getTables())
  #foreach($formTab in $testTable.getFormTabs())
    #if($table.equals($formTab.getTable()))
      #set($success = $potentialtableForms.add($testTable))
    #end
  #end
#end
#if($potentialtableForms.size() > 0)
<div id="form_selector" style="float:right; width:50%">
  <h2>Choose a form for this table (optional)</h2>
  <form method="post" action="AppController.servlet">
    <input type="hidden" name="return" value="gui/reports_and_tables/pane3" />
    <input type="hidden" name="set_table_form" value="true" />
    <select name="forminternaltablename" onchange="form.submit();">
      <option value="">$table.getSimpleName()</option>
      #foreach($potentialtableForm in $potentialtableForms)
        <option value="$potentialtableForm.getInternalTableName()">$potentialtableForm.getSimpleName()</option>
      #end
    </select>
  </form>
  $potentialtableForms
</div>
#end
#set($formTabs = $table.getFormTabs())
<div id="tabs_selector" style="float:left; width: 50%">
  <h2>Choose child tabs for the form (optional)</h2>
  <form method="post" action="AppController.servlet">
    <input type="hidden" name="add_form_tab" value="true" />
    <input type="hidden" name="return" value="gui/reports_and_tables/pane3" />
		#if($current_layout != 'TWO_COLUMNS')
			## Tabs work with the two column layout, set this if not already set
		  <input type="hidden" name="update_table" value="true" />
		  <input type="hidden" name="formstyle" value="TWO_COLUMNS" />
		#end
    Add a tab: <select name="tabtable" onchange="form.submit();">
      <option value="">--select a table--</option>
      #set($dependentTables = $view.getDirectlyDependentTables($table)) ## child tables
      #set($formTables = [])
      #foreach($formTab in $formTabs)
        #set($success = $formTables.add($formTab.getTable()))
      #end
      #foreach($dependentTable in $dependentTables)
        #if(!$formTables.contains($dependentTable))
          <option value="$dependentTable.getInternalTableName()">$dependentTable</option>
        #end
      #end
    </select>
  </form>
  #set($parentPkey = $table.getPrimaryKey())
  #foreach($formTab in $formTabs)
    #set($tabTable = $formTab.getTable())    
    <a href="?return=gui/reports_and_tables/pane3&remove_form_tab=true&tabtable=$tabTable.getInternalTableName()"><img src="resources/toolbar/delete.png" alt="delete $fileName" style="width:13px; height:13px"></a>
    <select name="tabinternalreportname" onchange="new fChange(this);" gtpb_update_form_tab=true gtpb_tabinternaltablename="$tabTable.getInternalTableName()">
      #set($tabPkey = $tabTable.getPrimaryKey())
      #set($defaultReport = $tabTable.getDefaultReport())
      #foreach($prospectiveReport in $tabTable.getReports())
        #if($prospectiveReport.getReportBaseFields().contains($parentPkey) || ($prospectiveReport.equals($tabTable.getDefaultReport())))
          <option value="$prospectiveReport.getInternalReportName()" #if($prospectiveReport.equals($formTab.getSelectorReport())) selected #end>
          #if($prospectiveReport.equals($defaultReport))
            $tabTable.getSimpleName() - all data
          #else
            $prospectiveReport.getModule() - $prospectiveReport
          #end
          </option>
        #end
      #end
    </select><br />
  #end
</div>
</div>
