#set($table = $sessionData.getTable())
#set($company = $view.getLoggedInUser().getCompany())
#set($internalTableName = $table.getInternalTableName())
#if($view.getWhetherExceptionOccurred())
  #parse("gui/error.vm")
#end
<input type="checkbox" name="lockable" gtpb_update_table #if($table.getRecordsLockable()) checked #end onchange="top.oBuffer.writeBuffer(this);" identifier="$internalTableName" gtpb_internaltablename="$internalTableName">
Records lockable<br>
<span class="greytext" style="font-size:8pt">Allow custom actions (such as 'print invoice') to lock records against future editing</span><p>

<input type="checkbox" name="allownotifications" gtpb_update_table #if($table.getAllowNotifications()) checked #end onchange="top.oBuffer.writeBuffer(this);" identifier="$internalTableName" gtpb_internaltablename="$internalTableName">
Allow notifications<br>
<span class="greytext" style="font-size:8pt">Allow agileBase to send email notifications when comments are added to records</span><p>

<input type="checkbox" name="allowautodelete" gtpb_update_table #if($table.getAllowAutoDelete()) checked #end onchange="top.oBuffer.writeBuffer(this);" identifier="$internalTableName" gtpb_internaltablename="$internalTableName">
Auto delete<br>
<span class="greytext" style="font-size:8pt">Allow agileBase to automatically delete blank/unedited records or those with blank mandated fields</span><p>

<input type="checkbox" name="tableformpublic" gtpb_update_table #if($table.getTableFormPublic()) checked #end onchange="top.oBuffer.writeBuffer(this);" identifier="$internalTableName" gtpb_internaltablename="$internalTableName">
Public data entry<br>
<span class="greytext" style="font-size:8pt">Publish a <a href="Public.ab?show_form=true&c=$company.getInternalCompanyName()&t=$internalTableName&css=styles/public.css" target="_blank">form</a> which the general public can use to enter data.<br>Send notifications of new items to:</span><br>
<input name="tableemail" gtpb_update_table #if($table.getEmail()) value="$table.getEmail()" #end onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6" identifier="$internalTableName" gtpb_internaltablename="$internalTableName" /><br>
<span class="greytext" style="font-size: 8pt">Respond with custom message (leave blank for a default message):</span><br>
<textarea name="tableemailresponse" cols="80" rows="5" gtpb_update_table onkeyup="top.oBuffer.writeBuffer(this);" maxKeyCount="6" identifier="$internalTableName" gtpb_internaltablename="$internalTableName">#if($table.getEmailResponse()) $table.getEmailResponse() #end</textarea>
<p>