##
##  Copyright 2013 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($table = $sessionData.getTable())
#set($report = $sessionData.getReport())
#set($rowId = $sessionData.getCustomInteger("focus_row_id"))
#set($rrd_rowId = $rowId)
#set($tableDataRow = $view.getTableDataRow($table, $rowId))
#set($allComments = [])
#set($allTweets = [])
#set($allPhoneNumbers = [])
#set($allEmails = [])
#set($allUrls = [])
#set($allPostcodes = [])
#set($allImages = [])
#set($allDocuments = [])
#foreach($field in $table.getFields())
  #parse("s/tiles/focus/field.vm")
#end
## Related data from other tables
#foreach($reportField in $report.getReportFields())
  #set($field = $reportField.getBaseField())
  #if($field.isPrimaryKey())
    $viewTools.log("$field is primary key")
    #set($reportFieldTable = $field.getTableContainingField())
    $viewTools.log("$reportFieldTable equals $table? $reportFieldTable.equals($table)")
    #if(!$reportFieldTable.equals($table))
      #set($relatedRowIds = $view.getRelatedRowIds($rowId, $reportFieldTable))
      $viewTools.log("relatedRowIds $relatedRowIds")
      #if($relatedRowIds.size() == 1)
        #foreach($relatedRowId in $relatedRowIds) 
          #set($rrd_rowId = $relatedRowId)
          #set($tableDataRow=$view.getTableDataRow($reportFieldTable, $relatedRowId))
          #foreach($field in $reportFieldTable.getFields())
            #parse("s/tiles/focus/field.vm")
          #end
        #end
      #end
    #end
  #end
#end

#if($allComments.size() > 0)
  <div class="group comments">
    #foreach($fieldComments in $allComments)
      #foreach($comment in $fieldComments)
        <div class="comment">
          #set($profileImage = false)
          #set($profileImage = $view.getUserProfileImage($comment.getAuthorInternalName()))
          #if($profileImage)
            <img src="$profileImage" class="comment_author_picture" />
          #else
            <img src="resources/icons/file_placeholders/profile_photo.png" class="comment_author_picture" />
          #end
          <span class="comment_text">$comment.getText()</span> <span class="comment_attribution">- $comment.getAuthor(), $comment.getTimestampString()</span>
        </div>
      #end
    #end
  </div>
#end

#if($allTweets.size() > 0)
  <div class="group tweets">
    #foreach($tweet in $allTweets)
      <div class="twitter tweet query" data-username="$tweet"></div>
    #end
  </div>
#end

#if($allPhoneNumbers.size() > 0)
  <div class="group phones">
    #foreach($phoneNumber in $allPhoneNumbers)
      #set($phoneArea = false)
      #if($phoneNumber.isPhoneNumberGB())
        #set($phoneArea = $viewTools.getAreaForPhoneNumber("$phoneNumber"))
      #elseif($phoneNumber.isPhoneNumberInternational())
        #set($phoneArea = $viewTools.getCountryForPhoneNumber("$phoneNumber"))
      #else
        #set($phoneArea = "unknown phone area")
      #end
      <div class="phone_number"><i class="icon-large icon-phone"></i> <span style="font-size:180%">$phoneNumber</span>#if($phoneArea)<br>$phoneArea #end</div></div>
    #end
  </div>
#end

#if(($allEmails.size() > 0) || ($allUrls.size() > 0))
  <div class="group emails">
    #foreach($email in $allEmails)
      <div class="email"><a href="mailto:$email"><i class="icon-large icon-envelope"></i> $email</a></div>
    #end
    #foreach($url in $allUrls)
      <div class="email"><a href="$url" target="_blank"><img style="vertical-align: middle" src="https://getfavicon.appspot.com/$url?defaulticon=lightpng" /> $url.getShortURL()</a></div>
    #end
  </div>
#end

#if($allPostcodes.size() > 0)
  <div class="group postcodes">
    #foreach($postcode in $allPostcodes)
      #set($postcodeParam = $postcode.toString().replace(" ","+"))
      <a href="http://maps.google.com?q=$postcodeParam" style="height:100%" target="_blank">
        <div class="map" style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=$postcodeParam&size=250x250&zoom=10&maptype=terrain&sensor=false)"></div>
      </a>
    #end
  </div>
#end

#if($allImages.size() > 0)
  <div class="group images">
    #foreach($image in $allImages)
      <img src="$image" />
    #end
  </div>
#end

#if($allDocuments.size() > 0)
  <div class="group documents">
    #foreach($document in $allDocuments)
     <img border="0" style="float:left" src="resources/icons/filetypes/${document.getIconName()}.png"/> $document</a>    #end
  </div>
#end

