##
##  Copyright 2013 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($table = $sessionData.getTable())
#set($rowId = $sessionData.getCustomInteger("focus_row_id"))
#set($rrd_rowId = $rowId)
#set($tableDataRow = $view.getTableDataRow($table, $rowId))
#set($allComments = [])
#set($allTweets = [])
#set($allPhoneNumbers = [])
#set($allEmails = [])
#set($allUrls = [])
#set($allImages = [])
#set($allPostcodes = [])
#foreach($field in $table.getFields())
  #parse("s/tiles/focus/field.vm")
#end

#if($allComments.size() > 0)
  <div class="group comments">
    #foreach($fieldComments in $allComments)
      #foreach($comment in $fieldComments)
        <div class="comment">
          #set($profileImage = false)
          #set($profileImage = $view.getUserProfileImage($comment.getAuthorInternalName()))
          #if($profileImage)
            <img src="$profileImage" class="comment_author_picture" />
          #else
            <img src="resources/icons/file_placeholders/profile_photo.png" class="comment_author_picture" />
          #end
          <span class="comment_text">$comment.getText()</span> <span class="comment_attribution">- $comment.getAuthor(), $comment.getTimestampString()</span>
        </div>
      #end
    #end
  </div>
#end

#if($allTweets.size() > 0)
  <div class="group tweets">
    #foreach($tweet in $allTweets)
      <div class="twitter tweet query" data-username="$tweet"></div>
    #end
  </div>
#end

#if($allPhoneNumbers.size() > 0)
  <div class="group phones">
    #foreach($phoneNumber in $allPhoneNumbers)
      #set($phoneArea = false)
      #if($phoneNumber.isPhoneNumberGB())
        #set($phoneArea = $viewTools.getAreaForPhoneNumber("$phoneNumber"))
      #elseif($phoneNumber.isPhoneNumberInternational())
        #set($phoneArea = $viewTools.getCountryForPhoneNumber("$phoneNumber"))
      #else
        #set($phoneArea = "unknown phone area")
      #end
      <div class="phone_number"><i class="icon-large icon-phone"></i> <span style="font-size:180%">$phoneNumber</span>#if($phoneArea)<br>$phoneArea #end</div></div>
    #end
  </div>
#end
