##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link href="styles/report.css" type="text/css" rel="stylesheet" />
<style>
	html, body { font-family: "Arial", sans-serif; 
    			 color: black; 
    			 font-size: 11pt; 
    			 margin:0; 
    			 padding:0;
    			 height:100% }
</style>
<title>agileBase data import</title>
</head>
<body>
#if($view.getWhetherExceptionOccurred())
  #parse("gui/error.vm")
#else
<h1>Import Successful</h1>
<script language="JavaScript">
  top.window.location=top.window.location;
</script>
#end
</body>
</html>