##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($company = $view.getLoggedInUser().getCompany())
#set($companyName = $viewTools.cleanString($company.getCompanyName()))
#set($sessionTable = $sessionData.getTable())
<request>
  <nextTemplate>gui/import/goto_wizard_start_point</nextTemplate>
  <caption>Import data</caption>
  #parse('gui/customisations/wizard_result.vm') 
  <htmlContent><![CDATA[
      <style>
         table#_md_address_start_table {
           width:85%;
           margin-top:50px;
         }
         
        table#_md_address_start_table td {
           text-align:center;
         }
         
         table#_md_address_start_table tr.labels td {
           padding-top:30px;
         }
         
      </style>
  
      <form style="padding:5px">
        <h1>What type of import into $session_table would you like to do?</h1>
        <table id="_md_import_start_table" border="0" cellpadding="0" cellspacing="0" align="center">
          <tr>
            <td>
              <label for="wizard_start_point_update"><img src="resources/icons/import/update.png" /></label>
            </td>
            <td>
              <label for="wizard_start_point_new"><img src="resources/icons/import/new.png" /></label>
            </td>
          </tr>
          <tr class="labels">
            <td>
              <input type="radio" name="wizard_start_point" id="wizard_start_point_organisation" value="organisation" gtpb_set_table="a3b09a609b4c70624" gtpb_set_custom_string="true" gtpb_stringkey="wizard_start_point" gtpb_customstringvalue="organisation" checked>
              <label for="wizard_start_point_organisation">New organisation</label>
            </td>
            <td>
              <input type="radio" name="wizard_start_point" id="wizard_start_point_site" value="site" gtpb_set_table="a3b09a609b4c70624" gtpb_set_custom_string="true" gtpb_stringkey="wizard_start_point" gtpb_customstringvalue="site">
              <label for="wizard_start_point_site">New site</label>
            </td>
          </tr>          
        </table>
      </form>
    ]]>
  </htmlContent>
</request>