<i class="icon-remove close"></i>
<h1>choose a date</h1>
<div id="individualDateSelector"></div>
<div id="rangeWrapper">
  <h1>or drag a range</h1>
  <div id="dateRangeSelector"></div>
  <div id="dateRangeInputs">
    <input style="float:left; display:none;" id="rangeStart" />
    <input style="float:right; display:none;" id="rangeEnd" />
  </div>
  <div id="dateRangePresets">
    <button>today</button> 
    <button>yesterday</button> 
    <button>this week</button> 
    <button>last week</button> 
    <button>this month</button> 
    <button>last month</button> 
    <button>this year</button> 
    <button>last year</button> 
    <i class="icon-plus-sign zoom in"></i>  <i class="icon-minus-sign zoom out"></i>
  </div>
</div>
