<i class="icon-remove close"></i>
<h1>choose a date</h1>
<div id="individualDateSelector"></div>
<div id="rangeWrapper">
  <h1>or a date range <i class="icon-zoom-in"></i>  <i class="icon-zoom-out"></i></h1>
  <div id="dateRangeSelector"></div>
  <div id="dateRangeInputs">
    <input style="float:left; display:none;" id="rangeStart" />
    <input style="float:right; display:none;" id="rangeEnd" />
  </div>
</div>
