#if($field.getTableContainingField().equals($sessionTable))
  #set($fieldId = $thisUniqueId)
#else
  #if(!$thisValues)
    #set($thisValues = $row.get(0))
  #end
  #set($fieldId = $thisValues.get($pKeyFieldNums.get($field.getTableContainingField())))
#end
#set($srcUrl = "/agileBase/uploads/$field.getTableContainingField().getInternalTableName()/$field.getInternalFieldName()/$fieldId/$fileValue.40.$fileValue.getPreviewExtension()")
#set($cell = "<img src='$srcUrl' />")
 