##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## choose whether to show delete boxes
## if we're not listing tables then the user must have delete privileges
## otherwise, check that the user has delete privileges
## Don't show delete boxes for mobile devices either though, deleting will be via pane 3
#if($isNotTable||$view.loggedInUserAllowedTo('EDIT_TABLE_DATA',$sessionData.getTable()))
#if(!$mobile_device)
  #set($success=$fields.add(['','<input type="checkbox" onclick="fLocateDeleteMarkers(this); fSelectAll(this)">']))
  #set($thisUniqueId = -1)
  #foreach($row in $data)
   #set($lastUniqueId = $thisUniqueId)
   #set($thisUniqueId = $row.get(2))
   #if($thisUniqueId != $lastUniqueId)
    #set($success=$row.get(0).add('<input type="checkbox" onclick="fLocateDeleteMarkers(this)">'))
   #else
    #set($success=$row.get(0).add('&nbsp;'))
   #end
  #end ##end each row
#end
#end

#if($data_part_only)
	  #parse('gui/pane2/pane2_body.vm')
#elseif($table_part_only)
   #parse('gui/pane2/pane2_table.vm')
#else
	  #parse('gui/pane2/pane2.vm')
#end