##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
$viewTools.startTimer("gui/pane2/pane2_body")
#set($numRows=$data.size())
#set($uniqueIdCount = 0)
#set($thisUniqueId = -1)
#set($sessionData = $viewMethods.getSessionData())
#set($sessionRowId= $sessionData.getRowId())
#set($sessionTable = $sessionTable.getTable())

## Make an extra blank row for the record being edited if it's not already in the dataset on screen
## #if((!$selectionFound) && ($numRows > 0) && ($filtersShouldBeShown != 'true') && (!$isNotTable))
#if((!$selectionFound) && ($numRows > 0) && (!$mobile_device) && ($sessionRowId > -1) && (!$printout))
  #set($tableDataRow = $viewMethods.getTableDataRow())
  #set($mathTool = $viewTools.getMathTool())
  #if($tableDataRow.size() > 0)
	## Get data for all related tables
	## Not perfect because we can't get calc. values
	## or values for any data related more than one table away.
	## These could only come from the reprt but since the record may not be in the report
	## this is the best we can do
	#set($relatedDataMap = {})
	#foreach($field in $tableDataRow.keySet())
	  #set($tableContainingField = $field.getTableContainingField())
      #if($field.equals($tableContainingField.getPrimaryKey()) && (!$tableContainingField.equals($sessionTable)))
	    #set($relatedTable = $field.getTableContainingField())
		#set($relatedRowId = $mathTool.toInteger($tableDataRow.get($field)))
	    #set($relatedTableDataRows = $viewMethods.getTableDataRow($relatedTable, $relatedRowId))
		#set($temp = $relatedDataMap.put($relatedTable, $relatedTableDataRows))
	  #end
	#end
	
	## For value of $return, see reports_and_tables/report_data.vm
	#set($click="parent.pane_3.document.location='AppController.servlet?return=$return&set_row_id=$selection'")
    <tr title="The record currently being edited is not in the report data on this page"
      name="$selection" class="rowa excludedRecord" onclick="$click" forcehighlight="true">
      <td class="leading">&nbsp;</td>
      #foreach($field in $reportBaseFields)
	    #if ((!$field.getTableContainingField().getPrimaryKey().equals($field)) || ($sessionContext == "SYSADMIN"))##
		  <td nowrap="true">
		    #if($tableDataRow.get($field))
              $tableDataRow.get($field)
		    #else
			  #set($relatedValue = false)
			  #foreach($relatedTable in $relatedDataMap.keySet())
				#set($relatedDataRow = $relatedDataMap.get($relatedTable))
				#set($relatedValue = $relatedDataRow.get($field))
				#if($relatedValue) $relatedValue #break #end
			  #end
		    #end
		  </td>
	    #end
	  #end
	  <td>
		#if($viewMethods.loggedInUserAllowedTo('EDIT_TABLE_DATA',$viewMethods.getSessionData().getTable()))
		  <input type="checkbox" onclick="fLocateDeleteMarkers(this)">
		#end
	  </td>		
	  <td class="trailing">&nbsp;</td>
    </tr>
  #end
#end  ## end additional row if selected record not in dataset on screen

#foreach($row in $data)
  ## row[0] contains the data to display in each field
  ## row[1] contains the click event parameters for the row
  ## row[2] contains a unique identifier for the row
  ## row[3] contains colour information for each field
  ## row[4] tells whether the row is locked
  ## row[5] contains expando properties for the row
  #if($row.size()>=5)
	#if($row.get(4)!=true)
		#set($unlockedRecords=true) 
	#end
  #end
  #set($lastValues = $thisValues)
  #set($thisValues = $row.get(0))
  #set($lastUniqueId = $thisUniqueId)
  #set($thisUniqueId = $row.get(2))
  #if($thisUniqueId != $lastUniqueId)
    #set($uniqueIdCount = $uniqueIdCount + 1)
  #end  
  <tr #if($sessionRowId == $thisUniqueId) id="currentRow" #end
      name="$thisUniqueId" 
      #if($uniqueIdCount%2!=0) class="rowa" #else class="rowb" #end
      #if($row.size()>=6 && $row.get(5))
        #foreach($expando in $row.get(5))
          $expando.get(0)="$expando.get(1)"
        #end
      #end 
      onclick="$row.get(1)" 
      forcehighlight="true">
    <td class="leading">&nbsp;</td>
      ##If colour information present
      #if($row.size() > 3)
        #set($rowColours = $row.get(3))
        #foreach($cell in $thisValues)
          #set($cellNumber = $velocityCount - 1)
          #set($colour = $rowColours.get($cellNumber))
          #set($cellContentLength=$cell.length() / 2)
          <td #if($cellContentLength<=10)nowrap="true"#end #if($colour != "") style="background-color:$colour" class="colored"#end>
            <div style="min-width:${cellContentLength}">
              #if(!(($thisUniqueId == $lastUniqueId) && ($cell == $lastValues.get($cellNumber))))$cell#else<span class="greytext">$cell</span>#end
            </div>
          </td>
        #end
      #else ## no colour information present
        #foreach($cell in $thisValues)
          #set($cellNumber = $velocityCount - 1)
          #set($cellContentLength=$cell.length() / 2)
          <td #if($cellContentLength<=10)nowrap="true" #end>
            <div style="min-width:${cellContentLength}">
              #if(!(($thisUniqueId == $lastUniqueId) && ($cell == $lastValues.get($cellNumber))))$cell#end
            </div>
          </td>
        #end            
      #end
    <td class="trailing">&nbsp;</td>
  </tr>

#end ## end loop through report data rows
## a closing row
## also include count of records returned for the UI to pick up and display
<tr class=trailing>
  <td class=leading>&nbsp;##
  	## enable UI to pick up the number of rows returned, to display in pane 1
	#set($numRowsToDisplay = $numRows)
	#if($numRowsToDisplay == $sessionData.getReportRowLimit())
		#set($numRowsToDisplay = "<i>&gt;$numRowsToDisplay</i>")
	#end
	<div style="display:none" id="numrows">$numRowsToDisplay</div>##
    #set($sessionReport = $sessionData.getReport())##
	<div style="display:none" id="pane1id">${sessionReport.getParentTable().getInternalTableName()}${sessionReport.getInternalReportName()}</div>##
    <div style="display:none" id="pane3tab">#if(! $sessionReport.equals($sessionReport.getParentTable().getDefaultReport()))$sessionData.getCustomString('report_tabindex')#end</div>
  </td>
  #if($data.size() > 0)
    #set($firstRowCells = $data.get(0).get(0))
    #foreach($cell in $firstRowCells)
      <td>&nbsp;</td>
    #end
  #end
  <td class=trailing>&nbsp;</td>
</tr>
## A row to see more data if the full dataset isn't displayed
#set($totalRows = $sessionReport.getRowCount())
#set($totalRowsIsEstimate = $sessionReport.isRowCountEstimate())
#if(($numRows == $sessionData.getReportRowLimit()) && ($totalRows > $numRows))
<tr class="seemorerows">
	#set($numCols = $firstRowCells.size() + 2)
  <td colspan="$numCols">
    $numRows records out of #if($totalRowsIsEstimate)approximately#end $totalRows are displayed.<br>
	view 
	#set($viewMoreAmount = $sessionData.getReportRowLimit())
	## workaround for not having a while loop in Velocity
	#foreach($tmp in [1,2,3,4,5,6,7,8,9,10])
		#set($viewMoreAmount = $viewMoreAmount * 10)
		#if($viewMoreAmount * 3 > $totalRows)
			#set($viewMoreAmount = $totalRows * 2)
			<a href="?return=gui/reports_and_tables/report_data&set_report_row_limit=$viewMoreAmount">
				all $totalRows records</a>&nbsp;
		#else
			<a href="?return=gui/reports_and_tables/report_data&set_report_row_limit=$viewMoreAmount">
				$viewMoreAmount records</a>&nbsp;
		#end
		#if($viewMoreAmount > 6000) - could be slow#end&nbsp;&nbsp;
		#if(($viewMoreAmount * 3) > $totalRows) #break #end
	#end
  </td>
</tr>
#end
$viewTools.stopTimer("gui/pane2/pane2_body")