##
##  Copyright 2013 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($browser=$viewTools.getBrowser().getBrowserName())
<tr id="fieldFilterHeadings">
  <th class=leading><div>&nbsp;</div></th>
  #foreach($field in $fields)
    #if(((!$field.isPrimaryKey()) && (!$field.getReportCalcField().isReportHidden())) || ($sessionContext == "SYSADMIN") || $sectionedReport) ## basic checks
      #if((!$filterTextOnly) || ($field.getFieldCategory() == "TEXT")) ## check for text only filtering
        #if((!$filterExcludeLargeText) || ($field.getContentSize() < 100) || ($field.getFieldCategory() != "TEXT")) ## check for excluding large text fields
	      #set($internalFieldName = $field.getInternalFieldName())
	      ## Todo: merge fieldObject and field variables into one
	      #set($fieldObject = $field)
	      #set($fieldName = $fieldObject.toString())
	      #if($fieldObject.getHidden())
	        #set($fieldName = $fieldName.replace(" [Auto]",""))
	      #end
	      ## row0 contains the internal field name
	      ## row1 contains the display field
	      #set($className=$fieldObject.getClass().getSimpleName())
	      <th #if(($className == "TextFieldDefn") || ($className == "BigTextFieldDefn")) maxTextLength="$fieldObject.getContentSize()" #end #if(($className != "String") && ($internalFieldName!="")) internalName="$internalFieldName" onclick="fSetSort(this)"#end>
	      #if($fieldObject)
	        #if(($className != "String") && ($internalFieldName!=""))
	          <div class="ab_field_title">$fieldName</div>
	          <div class="ab_tooltip" rel="?return=gui/reports_and_tables/field_tooltip&set_custom_string=true&key=tooltip_internalfieldname&value=$internalFieldName"></div>
	        #else
	          <div>$fieldName</div>
	        #end
	      #else
	        <div>&nbsp;</div>
	      #end
	      </th>
	    #end
      #end
    #end ## end if not primary key etc.
  #end ## end loop through fields
  <th class=trailing><div>&nbsp;</div></th>
</tr>
#set($report = $sessionData.getReport())
#if(!$filters)
  #set($filters = $sessionData.getReportFilterValues())
#end
#set($viewingTable = $report.equals($report.getParentTable().getDefaultReport()))
<tr name="fieldFilters" id="fieldFilters" #if(!$filtersShouldBeShown) style="display:none" #end>
  <td class="leading" style="border-right:0">#if($mobile_device)&nbsp;#else<div id="filterhelp"><i class="icon-question-sign"></i></div><div class="ab_tooltip" rel="resources/reports/filtering_help.htm"></div>#end</td>
  #foreach($field in $fields)
    #if(((!$field.isPrimaryKey()) && (!$field.getReportCalcField().isReportHidden())) || ($sessionContext == "SYSADMIN") || $sectionedReport)
      #if((!$filterTextOnly) || ($field.getFieldCategory() == "TEXT")) ## check for text only filtering
        #if((!$filterExcludeLargeText) || ($field.getContentSize() < 100) || ($field.getFieldCategory() != "TEXT")) ## check for excluding large text fields
		    #set($internalFieldName = $field.getInternalFieldName())
		    #set($fieldObject = $field)
		    <td><div>
		      #if($field.getInternalFieldName())
		        #parse("gui/pane2/filter_input.vm")
		      #elseif($fields.size() == $foreach.count)
		        <span onclick="clearFilters();">clear</span>
		      #end
		    </div></td>
        #end
      #end    
    #end
  #end
  <td class=trailing><div>&nbsp;</div></td>      
</tr>
<tr id="fieldFilterControls" style="display:none">
  <td class="leading"><div>&nbsp;</div></td>
  <td colspan="$fields.size()" id="dateControlCell">
    <div id="dateControlWrapper">
    </div>
  </td>
  <td class=trailing><div>&nbsp;</div></td>      
</tr>
