##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($browser = $viewTools.getBrowser())
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
	#if($mobile_device)
	  <link href="resources/mobile/pane2_amalgam.css" type="text/css" rel="stylesheet" />
	#else
	  <link href="styles/report.css" type="text/css" rel="stylesheet" />
	  <link href="resources/module-colours.css" type="text/css" rel="stylesheet" />
	#end
    <style>
	      * {
		    -moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		  }
	
	      html, body { 
	        font-family: "Arial", sans-serif; 
    			    color: black; 
    			    font-size: 11pt; 
    			    margin:0; 
    			    padding:0;
    			    height:100%;
    			  }
				 
	      div#wrapper { 
				height:100%;
		        /*width:100%;*/
				#if($mobile_device)
				overflow:visible;
				#else
				/*overflow:auto;*/
				#end
			}
				  
	      input[type=text][changed=true] { 
	        text-decoration:underline 
	      }
	#if($browser != "Internet Explorer" && !$mobile_device)
	/* for fixed (frozen) table header */
		div#wrapper table#reportData {
		margin-top: 30px;
		}

		div#wrapper table#reportData.lowered {
		margin-top: 57px;
		}

		div#wrapper table#reportData thead {
		position:fixed;
		top: 0px;
		}

		div#wrapper table#reportData th {
		position:absolute;
		}
		
		div#wrapper table#reportData #fieldFilters {
		position: absolute;
		top: 30px;
		}
		
		##div#wrapper table#reportData #fieldFilters td {
		##position: absolute;
		##height: 27px;
		##background-color: #E2E1D9;
		##}
	#end
	</style>
  	<script src="resources/jquery.js" language="Javascript"> </script>
	#set($sessionReport = $sessionData.getReport())
	#set($sessionTable = $sessionData.getTable())
    <title>$sessionReport.getModule() - $sessionReport</title>
	#if($mobile_device)
	  <meta name = "viewport" content = "initial-scale = 1.0"> <!-- stop iPad automatically zooming out of large reports -->
	  <script src="resources/mobile/pane2_amalgam.js" type="text/javascript"></script>
	  <script type="text/javascript">
	  $(document).ready(function() {
	    assignButtonModuleActions();
	  });	  
	  </script>
	#else
	  <script src="resources/jquery.hoverIntent.js" type="text/javascript"></script>
	  <script src="resources/jquery.sparkline.js" type="text/javascript"></script>
	  #if($isNotTable)
      <script type="text/javascript">
        top.document.getElementById('filter').setAttribute('disabled','true');
      </script>
      #end
	  #if($isNotTable||$view.loggedInUserAllowedTo('EDIT_TABLE_DATA',$sessionTable))
  	    <script language=Javascript>
   	     top.document.getElementById('button_new').removeAttribute('disabled');
   	     top.document.getElementById('button_clone').removeAttribute('disabled');
   	     top.document.getElementById('button_delete').removeAttribute('disabled');
   	     top.document.getElementById('button_import').removeAttribute('disabled');
   	     top.document.getElementById('button_export').removeAttribute('disabled');
   	     top.document.getElementById('button_print').removeAttribute('disabled');
   	     top.document.getElementById('button_links').removeAttribute('disabled');
   	     if (top.document.getElementById('button_info')) {
		   top.document.getElementById('button_info').removeAttribute('disabled');
		 }
		 alert('not table or user has edit privileges');
        </script>
      #else
      <script language=Javascript>
        	 function fNew(){
        		  // do nothing
        		}
   		
   		     function fClone(){
   		       // do nothing
   		     }

   		        top.document.getElementById('button_new').setAttribute('disabled');
   	            top.document.getElementById('button_clone').setAttribute('disabled');
   		        top.document.getElementById('button_delete').setAttribute('disabled');
        		top.document.getElementById('button_import').setAttribute('disabled');
				alert('checking view privileges');
        	#if($view.loggedInUserAllowedTo('VIEW_TABLE_DATA',$sessionTable))
				alert('user is allowed to view');
	    	    top.document.getElementById('button_export').removeAttribute('disabled');
   	     		top.document.getElementById('button_print').removeAttribute('disabled');
   	     		top.document.getElementById('button_links').removeAttribute('disabled');
				if (top.document.getElementById('button_info')) {
   	     		  top.document.getElementById('button_info').removeAttribute('disabled');
				}
        	#else
        		top.document.getElementById('button_export').setAttribute('disabled');
        		top.document.getElementById('button_print').setAttribute('disabled');
   	            top.document.getElementById('button_links').setAttribute('disabled');
   	        #end
      </script>
	  #end
    <script language=Javascript src="resources/$resource_folder/new_delete.js"></script>
    <script language=Javascript src="resources/wait/request_setFilter.js"></script>
    <script language=Javascript src="resources/wait/jquery.ajaxmanager.js"></script>
    <script language=Javascript>
        #set($numRows = $data.size())
        #set($reportRowLimit = $sessionData.getReportRowLimit())
        #if($numRows < $reportRowLimit)
          parent.pane_1.fSetCurrentOption('$pane1_id','$numRows');##
        #else## if current set on screen isn't the full dataset, show a link to load more
    	  #set($rowCount = $sessionReport.getRowCount())
    	  #if($sessionReport.isRowCountEstimate())
            parent.pane_1.fSetCurrentOption('$pane1_id','<i title="$rowCount is the approximate number of records in total">$rowCount</i>');
          #else
            parent.pane_1.fSetCurrentOption('$pane1_id','$rowCount');##
          #end
        #end
    	#if(!$isNotTable)
          top.document.getElementById('filter').removeAttribute('disabled');
    	#end
    	## Enable the dashboard if relevant
    	#parse('gui/resources/dashboard_enabled.vm')
    	#if($dashboard_enabled)
    	  #set($userType = $view.getLoggedInUser().getUserType())
    	  #if($userType == "EXECUTIVE" || $userType == "MANAGERIAL")
    	    top.document.getElementById('button_dashboard').removeAttribute('disabled');
    	  #end
    	#end
    	  
	  function loadPane3() {
		  var url = 'AppController.servlet?return=$return';
		  #set($rowId = $sessionData.getRowId())
		  #if($rowId)
		    var rowId = $rowId;
		  #else
		    var rowId = -1;
		  #end
		  #if($sessionTable)
			  #if($sessionTable.getDefaultReport().equals($sessionReport))
				#set($numberOfTabs = '-1')
			  #else
			    #set($numberOfTabs = '2')
			    #if($view.loggedInUserAllowedTo("MANAGE_TABLE",$sessionTable))
				  #set($numberOfTabs = '6')
			    #elseif($view.loggedInUserAllowedTo("EDIT_TABLE_DATA",$sessionTable))
				  #set($numberOfTabs = '3')
				#end
			  #end
		  #end
		  loadIntoPane3(url,rowId,$numberOfTabs);
	  }

	#if($browser != "Internet Explorer")
	function alignTableHeaderCells() {
		var jqFirstRowCells = $("tbody#reportBody tr:first").children("td");
		var jqHeaderCells = $("#reportData thead tr:first").children("th");
		var jqFilterCells = $("#fieldFilters").children("td");
		var i = 0;
		jqFirstRowCells.each(function() {
		  var width = $(this).width();
		  var left = $(this).offset().left - 1;   // 1px border
		  var jqHeaderElement = jqHeaderCells.filter(":eq(" + i + ")");
		  var jqFilterElement = jqFilterCells.filter(":eq(" + i + ")");
		  if (jqHeaderElement.children("div").size() > 0) {
		    jqHeaderElement.children("div:eq(0)").width(width + 6);  // 3px difference in th/td padding either side
		  }
		  jqFilterElement.children("div").width(width + 6);
		  jqHeaderElement.css("left",left);
		  jqFilterElement.css("left",left+1);
		  i++;
		});
	}
	#end
	
	$(document).ready(function() {
	  var hoverIntentConfig = {    
         over: showTooltip,
         out: hideTooltip,
         interval: 400
	  };
	  $("#filterhelp").hoverIntent(hoverIntentConfig);
	  $(".ab_field_title").hoverIntent(hoverIntentConfig);
	  #if($browser != "Internet Explorer")
	    alignTableHeaderCells();
	    setInterval("alignTableHeaderCells()", 2000);
	  
	    $(window).scroll(function() {
	      var left = document.body.scrollLeft || window.pageXOffset;
	      $("thead").css("left", -1 * left);
	    });
	  #end
	});
	</script>
	<script src="resources/pane2.js" language="Javascript"> </script>
    #end ## end if not mobile device
  </head>

  #if($view.getWhetherExceptionOccurred())
	<body onload="loadPane3();">
		#parse("gui/error.vm")
	</body>
	#stop
  #end
  
  #set($filters = $sessionData.getReportFilterValues())
  #if(($sessionData.getCustomString('filtering_on')=='true') || $mobile_device)
    #set($filtersShouldBeShown='true')
  #else
    #set($filtersShouldBeShown='false')
  #end
  #if ($resource_folder=='user' || $resource_folder=='roles')
    #set($filtersShouldBeShown='false')
  #end
  <body #if(!$mobile_device) onload="#if($selection||($data.size()==0))loadPane3(); #else eval(document.getElementById('reportBody').rows[0].getAttribute('onclick')); #end" #end>
    <div id=wrapper>
	  #if($mobile_device)
		#parse("gui/mobile/pane2_header.vm")
	  #end
	  <table id=reportData cellspacing="0" #if($filtersShouldBeShown == 'true') class='lowered' #end>
        <thead>
          <tr>
            <th class=leading><div>&nbsp;</div></th>
            #foreach($field in $fields)
              #set($internalFieldName = $field.get(0))
              #set($fieldObject = $field.get(1))
              ## row0 contains the internal field name
	          ## row1 contains the display field
      		  <th #if(($fieldObject.getClass().getSimpleName() == "TextFieldDefn") || ($fieldObject.getClass().getSimpleName() == "BigTextFieldDefn")) maxTextLength="$fieldObject.getContentSize()" #end #if($field.get(0) && $internalFieldName!="")internalName="$internalFieldName" onclick="fSetSort(this)"#end>
				#if($fieldObject)
	              #if($internalFieldName && $internalFieldName!="")
	                <div class="ab_field_title">$fieldObject</div>
					<div class="ab_tooltip" rel="?return=gui/reports_and_tables/field_tooltip&set_custom_string=true&key=tooltip_internalfieldname&value=$internalFieldName"></div>
				  #else
					<div>$fieldObject</div>
	              #end
			    #else
	              <div>&nbsp;</div>
				#end
      		  </th>
            #end
            <th class=trailing><div>&nbsp;</div></th>
          </tr>
          ## filtersShouldBeShown should either print the string 'true' or 'false'
          <tr name="fieldFilters" id="fieldFilters" #if($filtersShouldBeShown == 'false') style="display:none" #end>
            <td class="leading">#if($mobile_device)&nbsp;#else<div id="filterhelp">?</div><div class="ab_tooltip" rel="resources/reports/filtering_help.htm"></div>#end</td>
		            #foreach($field in $fields)
              #set($internalFieldName = $field.get(0))
              #set($fieldObject = $field.get(1))
              <td><div>
                #if($internalFieldName!='')
                  <input type=text name="$internalFieldName" is_filter="true" gtpb_internalfieldname="$internalFieldName" onkeyup="new fSetFilter(this)" gtpb_return="gui/reports_and_tables/report_data_only" #if($filters.get($fieldObject)) value="$filters.get($fieldObject)" #end #if($browser_cannot_detect_keyup) keyup_bug="true" onblur="new fSetFilter(this)"#end>
                #end
              </div></td>
		            #end
		            <td class=trailing><div>&nbsp;</div></td>      
          </tr>
        </thead>
        <tbody name=reportBody id=reportBody class="selectable">
          #parse("gui/pane2/pane2_body.vm")
		</tbody>
      </table>
	#if($mobile_device)<p>
		#parse("gui/mobile/pane2_footer.vm")
	#end
    </div>
  </body>
</html>