## Record which col. nos. store which primary keys, for reference by any included images
#set($fieldNum = 0)
#set($pKeyFieldNums = {})
#foreach($testField in $fields)
  #if($testField.isPrimaryKey())
    #set($success = $pKeyFieldNums.put($testField.getTableContainingField(),$fieldNum))
  #end
  #set($fieldNum = $fieldNum + 1)
#end
