##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($headingLevel = 1)
#set($numHeadingLevels = $headingTables.size())
<div id="fieldFilters" #if(!$filtersShouldBeShown) style="display:none" #end>
  #foreach($headingLevel in [1..$numHeadingLevels])
    <div class="sectioned_filter_row">
      <span class="sectioned_filter_name">Header $headingLevel:</span>
      ## Find the table corresponding with this heading level
      #foreach($testHeadingTable in $headingTables)
        #if($headingMap.get($testHeadingTable) == $headingLevel)
          #set($headingTable = $testHeadingTable)
          #break
        #end
      #end
      #foreach($reportField in $sessionReport.getReportFields())
        #set($field = $reportField.getBaseField())
        #if($reportField.getClass().getSimpleName() == "ReportCalcFieldDefn")
          #if($headingCalcMap.get($reportField) == $headingLevel)
            $field <input type="text" name="$field.getInternalFieldName()" /> &nbsp;&nbsp;&nbsp;
          #end
        #elseif(!$field.isPrimaryKey())
          #set($table = $field.getTableContainingField())
          #if($table.equals($headingTable))
            $field <input type="text" name="$field.getInternalFieldName()" /> &nbsp;&nbsp;&nbsp;
          #end
        #end
      #end
    </div>
  #end
  <div class="sectioned_filter_row">
    <span class="sectioned_filter_name">Detail:</span> 
    #foreach($reportField in $sessionReport.getReportFields())
      #set($field = $reportField.getBaseField())
      #if($reportField.getClass().getSimpleName() == "ReportCalcFieldDefn")
        #if(!$headingCalcs.contains($reportField))
          $field <input type="text" name="$field.getInternalFieldName()" /> &nbsp;&nbsp;&nbsp;
        #end
      #elseif(!$field.isPrimaryKey())
        #set($table = $field.getTableContainingField())
        #if(!$headingTables.contains($table))
          $field <input type="text" name="$field.getInternalFieldName()" /> &nbsp;&nbsp;&nbsp;
        #end
      #end
    #end
  </div>
</div>