##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## A report style similar to CrystalReports / JasperReports
## ---
## First work out heading levels
#set($detailStarted = false)
#set($detailStartsNext = false)
#set($headingLevel = 1)
#set($previousTable = "")
#set($headingMap = {}) ## store heading level associated with each table
#set($detailMap = {})  ## store tables that are for the detail section
#set($detailCalculationsMap = {}) ## Calculations can either be heading or detail, separate the two types
#set($sessionReport = $sessionData.getReport())##
#set($sessionTable = $sessionReport.getParentTable())
#foreach($reportField in $sessionReport.getReportFields())
  #set($field = $reportField.getBaseField())
  #set($table = $field.getTableContainingField())
  #if($field.isPrimaryKey())
    #if(!$detailStarted)
      #if(!$table.equals($previousTable))
        #if($detailStartsNext)
          #set($detailStarted = true)
        #else
          #set($success = $headingMap.put($table, $headingLevel))
          #set($headingLevel = $headingLevel + 1)
          #set($previousTable = $table)
        #end
      #end
      #if($table.equals($sessionTable))
        #set($detailStartsNext = true) ## Detail starts at the next table we encounter
      #end
    #end
  #end
#end
#set($headingTables = $headingMap.keySet())
## Any tables which aren't for the heading must be for the detail
## Calculations are a but different as they can be calculated from data in various tables
## They will belong to detail if they include at least one table that isn't in the heading
#foreach($reportField in $sessionReport.getReportFields())
  #if($reportField.getClass().getSimpleName() == "ReportCalcFieldDefn")
    <p>Calculation found: $reportField = $reportField.getCalculationDefinition()<p>
    #foreach($fieldUsed in $reportField.getFieldsUsed())
      #set($table = $fieldUsed.getTableContainingField())
      #if(!$headingTables.contains($table))
        #set($success = $detailCalculationsMap.put($reportField, 1))
        Calculation $reportField is for the detail because it references $table.$fieldUsed, not one of the heading tables $headingTables<br>
        #break
      #end
    #end
  #end
#end
#set($numDetailFields = 0)
#foreach($reportField in $sessionReport.getReportFields())
  #set($table = $reportField.getBaseField().getTableContainingField())
  #if(!$headingTables.contains($table))
    #set($success = $detailMap.put($table, true))
    #if(($reportField.getClass().getSimpleName() != "ReportCalcFieldDefn") || ($detailCalculationsMap.keySet().contains($reportField)))
      #set($numDetailFields = $numDetailFields + 1)
    #end
  #end
#end
#set($detailTables = $detailMap.keySet())
## Now the actual data
#foreach($row in $data)
  ## row[0] contains the data to display in each field
  ## row[1] contains the click event parameters for the row
  ## row[2] contains a unique identifier for the row
  ## row[3] contains colour information for each field
  ## row[4] tells whether the row is locked
  ## row[5] contains expando properties for the row
  #set($lastValues = $thisValues)
  #set($thisValues = $row.get(0))
  #set($thisUniqueId = $row.get(2))
  ## See if we're due any headings
  #foreach($cell in $thisValues)
    #set($headingLevel = 0)
    #set($cellNumber = $foreach.count - 1)
    #set($field = $fields.get($cellNumber).get(1))
    #set($table = $field.getTableContainingField())
    #if($headingTables.contains($table) && $field.isPrimaryKey())
      #if($cell != $lastValues.get($cellNumber))
        #set($headingLevel = $headingMap.get($table))
        <tr name="$thisUniqueId" 
          #if($row.size()>=6 && $row.get(5))
            #foreach($expando in $row.get(5))
              $expando.get(0)="$expando.get(1)"
            #end
          #end 
          onclick="$row.get(1)" 
          forcehighlight="true"
          class="h${headingLevel}">
          <td class="leading">&nbsp;</td>
          <td colspan="$numDetailFields">
            #foreach($testCell in $thisValues)
              #set($testCellNumber = $foreach.count - 1)
              #set($field = $fields.get($testCellNumber).get(1))
              #if($field.getClass().getSimpleName() == "CalculationFieldDefn")
                #set($reportCalcField = $field.getReportCalcField())
                #if(!$detailCalculationsMap.keySet().contains($reportCalcField))
                  | $field = $testCell | &nbsp;&nbsp;&nbsp;&nbsp;
                #end
              #elseif((!$field.isPrimaryKey()) && $field.getTableContainingField().equals($table))
                $field: $testCell &nbsp;&nbsp;&nbsp;&nbsp;
              #end
            #end
          </td>
          <td class="trailing">&nbsp;</td>
        </tr>
      #end
    #end
  #end
  ## Headings done (if any), print normal rows
  <tr name="$thisUniqueId" 
    #if($row.size()>=6 && $row.get(5))
      #foreach($expando in $row.get(5))
        $expando.get(0)="$expando.get(1)"
      #end
    #end 
    onclick="$row.get(1)" 
    forcehighlight="true">
    <td class="leading">&nbsp;</td>
    #foreach($cell in $thisValues)
      #set($cellNumber = $foreach.count - 1)
      #set($field = $fields.get($cellNumber).get(1))
      #if(($detailTables.contains($field.getTableContainingField()) || ($detailCalculationsMap.keySet().contains($field.getReportCalcField()))) && (!$field.isPrimaryKey()))
        #set($rightAlign = false)
        #set($fieldCategory = $field.getFieldCategory().toString())
        #if(($fieldCategory == "NUMBER") || ($fieldCategory == "SEQUENCE"))
          #set($rightAlign = true)
        #end
        #set($style="")
        #if($rightAlign) #set($style = "$style text-align:right; ") #end
        <td #if($style != "")style="$style"#end>$cell</td>
      #end
    #end
    <td class="trailing">&nbsp;</td>
  </tr>
#end