##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## A row to see more data if the full dataset isn't displayed
#set($numRows=$data.size())
#set($totalRows = $sessionReport.getRowCount())
#set($totalRowsIsEstimate = $sessionReport.isRowCountEstimate())
<tr class="seemorerows">
  #set($reportStyle = $sessionReport.getReportStyle())
  #if((!$isNotTable) && (($reportStyle == "SECTIONED") || ($reportStyle == "ONE_SECTION")))
    #set($numCols = $numDetailFields + 2)
  #else
    #set($numCols = $firstRowCells.size() + 2)
  #end
  <td colspan="$numCols">
    #if(($numRows == $sessionData.getReportRowLimit()) && ($totalRows > $numRows))
      $numRows records out of #if($totalRowsIsEstimate)approximately#end $totalRows are displayed.<br>
      view 
      #set($viewMoreAmount = $sessionData.getReportRowLimit())
      ## workaround for not having a while loop in Velocity
      #foreach($tmp in [1,2,3,4,5,6,7,8,9,10])
        #set($viewMoreAmount = $viewMoreAmount * 10)
        #if($viewMoreAmount * 3 > $totalRows)
          #set($viewMoreAmount = $totalRows * 2)
          <a href="?return=gui/reports_and_tables/report_data&set_report_row_limit=$viewMoreAmount">
            all $totalRows records</a>&nbsp;
        #else
          <a href="?return=gui/reports_and_tables/report_data&set_report_row_limit=$viewMoreAmount">
            $viewMoreAmount records</a>&nbsp;
        #end
        #if($viewMoreAmount > 6000) - could be slow#end&nbsp;&nbsp;
        #if(($viewMoreAmount * 3) > $totalRows) #break #end
      #end
    #else
      All $numRows records visible<br>
    #end
    #if($sessionReport.equals($sessionReport.getParentTable().getDefaultReport()))
      &nbsp;<a href="javascript:top.fImport();">import data...</a>
    #end
  </td>
</tr>
