## A row to see more data if the full dataset isn't displayed
#set($numRows=$data.size())
#set($totalRows = $sessionReport.getRowCount())
#set($totalRowsIsEstimate = $sessionReport.isRowCountEstimate())
<tr class="seemorerows">
  #if($sessionReport.getReportStyle() == "SECTIONED")
    #set($numCols = $numDetailFields + 2)
  #else
    #set($numCols = $firstRowCells.size() + 2)
  #end
  <td colspan="$numCols">
    #if(($numRows == $sessionData.getReportRowLimit()) && ($totalRows > $numRows))
      $numRows records out of #if($totalRowsIsEstimate)approximately#end $totalRows are displayed.<br>
      view 
      #set($viewMoreAmount = $sessionData.getReportRowLimit())
      ## workaround for not having a while loop in Velocity
      #foreach($tmp in [1,2,3,4,5,6,7,8,9,10])
        #set($viewMoreAmount = $viewMoreAmount * 10)
        #if($viewMoreAmount * 3 > $totalRows)
          #set($viewMoreAmount = $totalRows * 2)
          <a href="?return=gui/reports_and_tables/report_data&set_report_row_limit=$viewMoreAmount">
            all $totalRows records</a>&nbsp;
        #else
          <a href="?return=gui/reports_and_tables/report_data&set_report_row_limit=$viewMoreAmount">
            $viewMoreAmount records</a>&nbsp;
        #end
        #if($viewMoreAmount > 6000) - could be slow#end&nbsp;&nbsp;
        #if(($viewMoreAmount * 3) > $totalRows) #break #end
      #end
      <a href="javascript:top.fExport();">export all...</a>
      #if($sessionReport.equals($sessionReport.getParentTable().getDefaultReport()))
        &nbsp;<a href="javascript:top.fImport();">import...</a>
      #end
    #else
      All $numRows records visible<br>
      &nbsp;<a href="javascript:top.fExport();">export</a>
      #if($sessionReport.equals($sessionReport.getParentTable().getDefaultReport()))
        &nbsp;<a href="javascript:top.fImport();">import...</a>
      #end
    #end
##    <div class="mini_action">
##      <a href="javascript:top.fExport();"><img src="resources/icons/applications/tango/actions/edit-redo.png">&nbsp;export...</a>
##      #if($sessionReport.equals($sessionReport.getParentTable().getDefaultReport()))
##        <br>
##        <a href="javascript:top.fImport();"><img src="resources/icons/applications/tango/actions/go-jump.png">&nbsp;import...</a>
##      #end
##    </div>
  </td>
</tr>
