##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##

## Set a Google Maps API key for your domain if you wish integration with Google Maps
## functions that require the key, e.g. map previews next to addresses.
## If not, comment out the 'set' function to leave the variable undefined
##
## http://code.google.com/apis/maps/signup.html
	
## https://appserver.agilebase.co.uk
#set($google_maps_api_key = "ABQIAAAAAmhDcBizb6sHKLYdSFLnLBTyD2xy-M5qYkboiOMz-vg8XD0GKxShfmzsDX4T1YzJSslKlNzT32z2PA")
## http://gtwmbackup.dh.bytemark.co.uk
##set($google_maps_api_key = "ABQIAAAAAmhDcBizb6sHKLYdSFLnLBSbq2QrGLH6-sTBZsRN5v8hkZ_JVhQGcNdjP-HAyidfOtRG3ZJil2yTyw")
## http://localhost:8080
##set($google_maps_api_key = "ABQIAAAAAmhDcBizb6sHKLYdSFLnLBTwM0brOpm-All5BF6PoaKBxRWWERSSUxiSqbcKUP5HjoUw3OslN6QMbw")
