<html>
<head>
<script src="resources/jquery.js" language="Javascript"></script>
<script language="JavaScript">
var zoomPercent = 100;

function zoom(zoomIn) {
  if(zoomIn) {
    zoomPercent += 10;
  } else {
    zoomPercent -= 10;
  }
  if (zoomPercent < 1) { zoomPercent = 1;}
  if (zoomPercent > 1000) { zoomPercent = 1000;}
  $("#image").css("width",zoomPercent + "%");
}

$(document).keypress(function(event) {
  if(event.which == 45) { // -
	  zoom(false);
	} else if (event.which == 43) { // +
	  zoom(true);
	}
});
</script>
<style>
#zoom {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(196,196,196,0.5);
  padding: 1em;
  border-bottom-left-radius: 0.5em;
}

#zoom img {
	cursor: pointer;
}

#image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
</style>
</head>
<body>
  <div id="zoom">
    <img src="resources/preview/zoom_in_48.png" onclick="zoom(true);"><br/>
    <img src="resources/preview/zoom_out_48.png" onclick="zoom(false);">
  </div>
  #set($imgSrc = $sessionData.getCustomString("img_src"))
  <img id="image" src="$imgSrc"/>
</body>
</html>
    