##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
  <head>
	<title>$sessionData.getTable() data</title>
	#if($mobile_device)
		<link href="resources/mobile/pane3_amalgam.css" type="text/css" rel="stylesheet" />
	#else
    	<link href="styles/report.css" type="text/css" rel="stylesheet" />
    	<link href="resources/tabs/tabs.css" type="text/css" rel="stylesheet" />
    	<link href="resources/jquery.autocomplete.css" type="text/css" rel="stylesheet" />
	#end	
	## Import required stylesheets
	#foreach($style in $styles)
	  <link href="$style" type="text/css" rel="stylesheet" />
	#end
	<style>
    #if($mobile_device)
	  *[changed] { text-decoration:underline }
	  *[error] { color:red }
	  a[error] { font-size:8pt }
	#end
										
	td.trailing input[type=button] { 
	  font-size:8pt; 
	}	
    </style>  

	#parse('gui/display_error.vm')
    <script type="text/javascript" src="resources/jquery.js"></script>
 	#if($mobile_device)
		<meta name = "viewport" content = "width = device-width">
		<!-- <meta name="apple-mobile-web-app-capable" content="yes" /> broken -->
    	<script type="text/javascript" src="resources/mobile/pane3_amalgam.js"></script>
	    <script type="text/javascript">
	    $(document).ready(function() {
	      assignButtonModuleActions();
	    });
	    </script>
	#else
        <script type="text/javascript" src="resources/jquery.oembed.js"></script>
    	<script type="text/javascript" src="resources/wait/editBuffer_editData.js"></script>
    	<script type="text/javascript" src="resources/wait/request_setFilter.js"></script> 
        <script type="text/javascript" src="resources/tabs/tabs.js"></script>
    	<script type="text/javascript" src="resources/jquery.autocomplete.js"></script>
		<script type="text/javascript" src="resources/highcharts.js"></script>
        <script type="text/javascript" src="resources/highcharts_exporting.js"></script>
		<script type="text/javascript" src="resources/jquery.bgiframe.js"></script>
		<!--[if IE]>
		<link rel="stylesheet" type="text/css" media="all" href="resources/tabs/tabs-ie.css" />
		<link rel="stylesheet" type="text/css" media="all" href="resources/tabs/edit-ie.css" />
		<![endif]-->
		<SCRIPT type="text/javascript" src="resources/wait/jquery.ajaxmanager.js"></SCRIPT>
		#if($view.loggedInUserAllowedTo("MANAGE_TABLE",$sessionData.getTable()))
      	  <script type="text/javascript" src="resources/jquery.tablednd.js"></script>
		  <script type="text/javascript" src="resources/edit_area/edit_area_full.js"></script>
        #end
		<script language=Javascript> 
  	  // When submitting the newfield form to create a table field
  	  // disable all input elements not in the addNewField row of the reportData table
  	  // as they'll be irrelevant to the field creation
  	  function disableUneccessaryElements() {
  		  $("tr:not(#addNewField)").find(":input").each(function(i) {
  			    this.disabled = true;
  		  });
  	  }
		</script>
    <script language="JavaScript" type="text/javascript">
	## Used by individual tabs
    	  function fDeleteTabularItem(oObj) {
    	    	function fParent(oObj,sTag) {
    	    	  	oObj=oObj.parentNode;
    			      while(oObj && (oObj.tagName!=sTag))
    				      oObj=oObj.parentNode;
    			      return oObj;
    	    	}
    		
        		function fReqComplete(sResponseText,sResponseXML){
        		  	function fDeleteColumn(iCellIndex,oTable){
        		  	  	function fDeleteColFromObj(oObj,iCellIndex,iMinRowLength){
        		  	  	  	var aRows=oObj.rows;
    					          for (var iRow=0;iRow<aRows.length;iRow++){ 
    					            aRows[iRow].deleteCell(iCellIndex);
    					            if(aRows[iRow].cells.length<iMinRowLength)
    					  	            document.location=document.location.href;
    					          }
    				        }
    				        // many tables have a footer which contains colspans
    				        // if any of the rows fall below this length, or a cell is
    			        	// deleted from the footer (i.e. the one containing the span
    				        // is removed), reload the template and Velocity will display
    				        // it correctly
    				        var iMinRowLength=oTable.tFoot.rows[0].cells.length;
    			        	fDeleteColFromObj(oTable.tHead,iCellIndex,iMinRowLength);
    		        		fDeleteColFromObj(oTable.tBody,iCellIndex,iMinRowLength);
    				
    				        // reduce the length of the longest colspan on each row 
    				        // in the footer to remove the cell 				        
    				        var aRows=oTable.tFoot.rows;
    				        for (var iRow=0;iRow<aRows.length;iRow++){
    				          	var iMaxColspan=aRows[iRow].cells[0].colspan;
    					          var oMaxColspan=aRows[iRow].cells[0];
    					          for (var iCell=1;iCell<aRows[iRow].cells.length;iCell++){
    					            	if (aRows[iRow].cells[iCell].colspan>iMaxColspan)
    							              oMaxColspan=aRows[iRow].cells[iCell];
    					          }
    					          oMaxColspan.colspan=iMaxColspan-1;
    				        }
    				
    				        var aRows=oTable.rows;
    				        var iMinRowLength=oTable.tFoot.rows[0].cells.length;
    				        for (var iRow=0;iRow<aRows.length;iRow++){	    					
    					          if(aRows[iRow].cells.length<iMinRowLength)
    					            document.location=document.location.href;
    		        				}
    			      }
    			    		
    			      function fReformatTable(oContainer){
    			        var oRows=oContainer.rows;
    	 			
  			            var jqContainer = $(oContainer);
    			        if(oContainer.tagName=='TBODY') {
      			          jqContainer.find('tr:even').removeClass('rowb').addClass('rowa');
    			          jqContainer.find('tr:odd').removeClass('rowa').addClass('rowb');
    			        } else {
        			      jqContainer.find('tr:even').removeClass('rowa').addClass('rowb');
        			      jqContainer.find('tr:odd').removeClass('rowb').addClass('rowa');
    			        }
    			        	
    	        //		for (var i=0;i<oRows.length;i++)
    			//		          if((oRows[i].getAttribute('class')=='rowa')||(oRows[i].getAttribute('class')=='rowb')){
    			//		          	  if (oContainer.tagName=='TBODY') oRows[i].setAttribute('class',(i%2==0?'rowa':'rowb'));
    			//			            else oRows[i].setAttribute('class',(i%2!=0?'rowa':'rowb'));
    			//	        	  }
    	 		     }
    		
    			      sResponse=sResponseXML.getElementsByTagName('response')[0].firstChild.nodeValue;
         	 if(sResponse!='ok'){ // the action was not successfully processed by the server
         	   	alert(sResponseXML.getElementsByTagName('exception')[0].firstChild.nodeValue);
         		   oObj.removeAttribute('disabled');
         		   return;
         	 }         	
         	
         	 // we're deleting a column
         	 //alert(oObj.getAttribute('deleteColumn'));
         	 if(oObj.getAttribute('deleteColumn')=='true') {    
         		 /* don't delete col with JS, just refresh tab contents with AJAX
    	 			       var oCell=fParent(oObj,'TD')
    	 			       if(!oCell) oCell=fParent(oObj,'TH');
    	 		       	var oTable=fParent(oCell,'TABLE');
    	 			       var iCellIndex=oCell.cellIndex;
    	 			       fDeleteColumn(iCellIndex,oTable); 
    	 			       // we only need to call fReformatTable if deleting rows
    	 		*/
    	 			      parent.pane_2
    						.loadIntoPane3(
    								'AppController.servlet?return=gui/reports_and_tables/pane3',
    								-1, null);
         	 }
         	 // we're deleting a row
         	 else {
         		   var oRow=fParent(oObj,'TR');  // find the row so that we can delete the row by row index
         		   var oContainer=oRow.parentNode;  // this is TBODY etc if one exists, otherwise TABLE
         		   var iRowIndex=oContainer.tagName=='TABLE'?oRow.rowIndex:oRow.sectionRowIndex;         			
         		   oContainer.deleteRow(iRowIndex);
         		   fReformatTable(oContainer); 
         	 }        	
    		    }
    		
    		    function fDoDelete(oObj) {
    		      	function fSetPostVars(oObj){  
    		      	  // create a key value array of the variables to post with the request to the server
				            var aPostVars=new Array();
				            // always pass these in the post request
				            aPostVars['return']='gui/administration/xmlreturn_fieldchange';
				            aPostVars['returntype']='xml'; 
				    
				            /* look at all the attributes that the DOM object has and pass all the 
				               ones prefixed gtpb_ to the server in the post request   */
				            for (var i=0;i<oObj.attributes.length;i++)
				              with(oObj.attributes.item(i))
				                if (nodeName.search(/^gtpb_/)>=0)
				                  aPostVars[nodeName.replace(/^gtpb_/,'')]=nodeValue;
				            return aPostVars;
				          }
				            
				          oObj.setAttribute('disabled','true');
					          var oReq=new fRequest('AppController.servlet', fSetPostVars(oObj), fReqComplete, -1);
    		    }
    		
    		    var oObj=oObj;
				fDoDelete(oObj);
    	  }    
    </script>
    #end ## end if not mobile device
	<script type="text/javascript" src="resources/tabs/view.js"></script>
	#set($currentTab = $sessionData.getCustomString('report_tabindex'))
	#if(!$currentTab)
		#set($currentTab = "1")
	#end		
	#if(($pane2_id) && (!$mobile_device))
  	  <script language=Javascript>
	  	  var rowFound = parent.pane_2.fSetRowSelection('$pane2_id');
	  	  if ((!rowFound) && ($currentTab < 3)) {
	  		  jQuery.get("?return=gui/reports_and_tables/tabs/edit_warning", appendWarning);
	  	  }
  	  </script>
	#end
    #parse('gui/resources/google_maps_api_key.vm')
	#if($google_maps_api_key)
    <script src="http://maps.google.com/maps?file=api&v=2&key=$google_maps_api_key&sensor=false" type="text/javascript"></script>
	#end
  </head>
  <body>
  	<div class="wrapper tab-interface" id="gtpb_wrapper">    	
	#if($mobile_device)
		#parse('gui/mobile/pane3_selector.vm')
	#else
		## Create tab interface		
		<ul class="tab-list">
		#foreach($tab in $tabs)
    		#if($foreach.count == $currentTab)
    			<li class="current">
    		#else
    			<li>
    		#end
			<a href="AppController.servlet?return=$tab.get('tabSource')">$tab.get('tabName')</a></li>
		#end
		</ul>
		
		<div class="tab-content">
		</div>	
	#end
    </div>
  </body>
</html>
