##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## 'Widget' type space that the current app related content can go in
#set($table = $sessionData.getTable())
#set($rowId = $sessionData.getCustomInteger("preview_row_id"))
#set($tableDataRow = $view.getTableDataRow($table, $rowId))
#foreach($field in $table.getFields())
  #set($fieldValueObject = $tableDataRow.get($field))
  #set($fieldValue = $fieldValueObject.toString().trim())
  #set($category = $field.getFieldCategory())
  #if($category == "FILE")
    #set($downloadBase = "uploads/$table.getInternalTableName()/$field.getInternalFieldName()/$rowId/")
  	#set($downloadUrl = $viewTools.escapeForURL("$downloadBase$fieldValueObject"))
    ## Image
    #if($fieldValueObject.isImage())
      <div class="appelement image $field.getAttachmentType().name().toLowerCase()">
        <img src="$downloadUrl.500.$fieldValueObject.getExtension()" />
      </div>
    #elseif($downloadUrl.endsWith("pdf"))
      #set($previewUrl = "$downloadUrl.500.png?cachebust=$viewTools.getRandomString()")
      <div class="appelement image pdf">
        <img src="$previewUrl" />
      </div>
    #end
  #elseif($category == "TEXT") ##Ênot file
    #if ($fieldValueObject.isTwitterName() || ($field.getFieldName().toLowerCase().contains("twitter") && ($fieldValue.length() > 1)))
        <div class="appelement twitter tweet query" data-username="$fieldValueObject"></div>
    #elseif($fieldValueObject.isURL())
	  #set($url = $fieldValueObject.getFormattedURL())
	  <div class="appelement">
        #if($fieldValueObject.isImage()) ## remote image
          <a href="$url" target="_blank"><img src="$url" style="max-width: 100%" /></a>
        #else
          <a href="$url" target="_blank" class="gtpb_url"><img style="vertical-align: middle" src="https://getfavicon.appspot.com/$url?defaulticon=lightpng" /> $fieldValueObject.getShortURL()</a>
        #end
      </div>
    #elseif($fieldValueObject.isEmailAddress())
      <div class="appelement"><a href="mailto:$fieldValue"><i class="icon-envelope"></i> $fieldValue</a></div>
    #elseif($fieldValueObject.isPostcode())
      #set($postcodeParam = $fieldValue.replace(" ","+"))
      <img class="appelement map" src="https://maps.googleapis.com/maps/api/staticmap?center=$postcodeParam&size=200x200&zoom=10&maptype=terrain&sensor=false" />
##<iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=bs3+4ua&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=43.528905,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Bristol+BS3+4UA,+United+Kingdom&amp;t=m&amp;ll=51.442667,-2.5811&amp;spn=0.064198,0.102997&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe>
##      <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="200px" height="200px" src="https://maps.google.com/maps?q=$fieldValue&z=10&output=embed&mrt=loc"></iframe>
    #elseif($fieldValueObject.isPhoneNumber())
	  #set($phoneArea = false)
	  #if($fieldValueObject.isPhoneNumberGB())
	    #set($phoneArea = $viewTools.getAreaForPhoneNumber($fieldValue))
	  #elseif($fieldValueObject.isPhoneNumberInternational())
	    #set($phoneArea = $viewTools.getCountryForPhoneNumber($fieldValue))
	  #else
	    #set($phoneArea = "unknown phone area")
	  #end
      <div class="appelement"><i class="icon-phone"></i> <span style="font-size:200%">$fieldValueObject</span> #if($phoneArea) $phoneArea #end</div>
    #end
  #end ## end category checks
  ## Comments
  #set($comments = $view.getComments($field, $rowId))
  #if ($comments.size() > 0)
    <div class="appelement comments">
	#foreach($comment in $comments)
	  <div class="comment">
	    <span class="comment_text">$comment.getText()</span> <span class="comment_attribution">- $comment.getAuthor(), $comment.getTimestampString()</span>
      </div>
	#end
	</div>
  #end
#end