##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## 'Widget' type space that the current app related content can go in
#set($table = $sessionData.getTable())
#set($rowId = $sessionData.getCustomInteger("preview_row_id"))
#set($tableDataRow = $view.getTableDataRow($table, $rowId))
#foreach($field in $table.getFields())
  #set($fieldValueObject = $tableDataRow.get($field))
  #if($fieldValueObject.isImage())
    #set($downloadBase = "uploads/$table.getInternalTableName()/$field.getInternalFieldName()/$rowId/")
  	#set($downloadUrl = $viewTools.escapeForURL("$downloadBase$fieldValueObject "))
    <div class="image $field.getAttachmentType().name().toLowerCase()">
      <img src="$downloadUrl.500.$fieldValueObject.getExtension()" />
    </div>
  #else
  #end
#end