##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## 'Widget' type space that the current app related content can go in
##
## First, pull out interesting data (phone numbers, email addresses, maps etc.) from current record
#set($otherRelatedData = false)
<div class="block">
#set($valuesFound = 0)
#set($table = $sessionData.getTable())
#set($report = $sessionData.getReport())
#set($rowId = $sessionData.getCustomInteger("preview_row_id"))
#set($rrd_rowId = $rowId)
#set($tableDataRow = $view.getTableDataRow($table, $rowId))
#foreach($field in $table.getFields())
  #parse("gui/pane1/field.vm")
#end
## Related data
## otherRelatedData will store stuff not selected for display on first pass
#set($otherRelatedData = $viewTools.getNewStringObjectMap() )
#foreach($reportField in $report.getReportFields())
  #set($field = $reportField.getBaseField())
  #if($field.isPrimaryKey())
    #set($reportFieldTable = $field.getTableContainingField())
 	  #if(!$reportFieldTable.equals($table))
        #set($relatedRowIds = $view.getRelatedRowIds($rowId, $reportFieldTable))
        #if($relatedRowIds.size() == 1)
          ## We've got to here, there is related data
          ## Heading for the related data
          #set($needHeading = true)
          #foreach($relatedRowId in $relatedRowIds)	
            #set($rrd_rowId = $relatedRowId)
		    #set($tableDataRow=$view.getTableDataRow($reportFieldTable, $relatedRowId))
		    #foreach($field in $reportFieldTable.getFields())
              #parse("gui/pane1/field.vm")
		    #end
          #end
          #set($relatedRowId = false)
        #end
      #end
  #end
#end
</div>
## No interesting related data found? Show less interesting related data
#if(($valuesFound < 2) && ($otherRelatedData.size() > 0))
  #set($numOtherRelatedData = 0)
  <div class="block"><div class="appelement">
    #parse("gui/pane1/other_related_data.vm")
    ## No less interesting related data found? Fall back to less interesting table data
    #if($numOtherRelatedData == 0)
	  #foreach($field in $table.getFields())
		#parse("gui/pane1/field.vm")
      #end
      #parse("gui/pane1/other_related_data.vm")
    #end
  </div></div>
#end
###set($charts = $report.getSavedCharts())
###if($charts.size() > 0)
## #set($chart = $charts.toArray()[0])
##  #if($chart.getAggregateFunctions().size() > 0)
##    #set($chartData = $view.getChartData($chart))
##    #set($chartRows = $chartData.getChartDataRows())
##    #if($chartRows.size() > 0)
##      <div class="block"><div class="appelement">
##        #parse("gui/reports_and_tables/tabs/summary_chart.vm")
##      </div></div>
##    #end
##  #end
###end