#set($valuesFound = $valuesFound + 1)
#if($needHeading)
  #set($needHeading = false)
  </div> ## end previous block
  <div class="block">
##  <div class="appelement">
##    <b>$field.getTableContainingField().getSingularName()</b>
##  </div>
#end