Referenced data for $field<br>
#set($referencedData = "")
  ## Capture the output of the parsing into a variable. We want to know whether a value
  ## exists or not for this field so we can choose whether to display the row
  #set($referencedData = "")
  #set($referencedData = "#parse('gui/resources/input/referenced_report_data.vm')")
#if($referencedData.contains("span"))
  #parse("gui/pane1/heading.vm")
  <div class="appelement">$referencedData</div>
#end