##
##  Copyright 2013 GT webMarque Ltd
##
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#if ($fieldValueObject.isTwitterName() || ($field.getFieldName().toLowerCase().contains("twitter") && ($fieldValue.length() > 1)))
  #parse("gui/pane1/heading.vm")
  <div class="appelement twitter tweet query" data-username="$fieldValueObject"></div>
#elseif($fieldValueObject.isURL())
  #parse("gui/pane1/heading.vm")
  #set($url = $fieldValueObject.getFormattedURL())
  <div class="appelement">
    #if($fieldValueObject.isImage()) ## remote image
      <a href="$url" target="_blank"><img src="$url" style="max-width: 100%" alt="" /></a>
    #else
      <a href="$url" target="_blank" class="gtpb_url"><img style="vertical-align: middle" src="https://getfavicon.appspot.com/$url?defaulticon=lightpng" alt="" /> $fieldValueObject.getShortURL()</a>
    #end
  </div>
#elseif($fieldValueObject.isEmailAddress())
  #parse("gui/pane1/heading.vm")
  <div class="appelement"><a href="mailto:$fieldValue"><i class="icon-envelope"></i> $fieldValue</a></div>
#elseif($fieldValueObject.isPostcode())
  #parse("gui/pane1/heading.vm")
  #set($postcodeParam = $fieldValue.replace(" ","+"))
  <a href="http://maps.google.com?q=$postcodeParam" style="height:100%" target="_blank"><div class="appelement map" style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=$postcodeParam&size=250x150&zoom=10&maptype=terrain&sensor=false)"></div></a>
#elseif($fieldValueObject.isPhoneNumber())
  #parse("gui/pane1/heading.vm")
  #set($phoneArea = false)
  #if($fieldValueObject.isPhoneNumberGB())
    #set($phoneArea = $viewTools.getAreaForPhoneNumber($fieldValue))
  #elseif($fieldValueObject.isPhoneNumberInternational())
    #set($phoneArea = $viewTools.getCountryForPhoneNumber($fieldValue))
  #else
    #set($phoneArea = "unknown phone area")
  #end
  <div class="appelement"><i class="icon-phone"></i> <span style="font-size:180%">$fieldValueObject</span>#if($phoneArea)<br>$phoneArea #end</div>
#elseif(!$field.getHidden() && $otherRelatedData)
  #set($success = $otherRelatedData.put("$field",$fieldValue))
#end
