##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
$viewTools.startTimer("gui/administration/tables/navigation")
#parse('gui/administration/tables/buttons/table.vm')<br>
#parse('gui/administration/tables/buttons/usage.vm')<br>
 #if($view.loggedInUserAllowedTo('ADMINISTRATE'))
   #parse('gui/administration/tables/buttons/users.vm')<br>
   #parse('gui/administration/tables/buttons/roles.vm')
 #end
$viewTools.stopTimer("gui/administration/tables/navigation")
