## Create a collection $moduleReports: each module maps to an array of reports
#parse("gui/resources/calc_module_reports.vm")
#if($moduleReports.size() > 0)
## A bit of post-processing or the map - remove unsuitable reports
#set($numCalendarReports = 0)
#set($calendarModuleReportsProcessed = {})
#set($panelModuleReportsProcessed = {})
#set($hiddenReports = $user.getHiddenReports())
#set($modules = $moduleReports.keySet())
#foreach($module in $modules)
  #set($calendarModuleReports = $moduleReports.get($module))
  #set($temp = $calendarModuleReports.removeAll($hiddenReports))
  #set($panelModuleReports = [])
  #set($temp = $panelModuleReports.addAll($calendarModuleReports))
  ## Create a copy that we can use in a foreach loop
  #set($calendarModuleReportsCopy = [])
  #set($temp = $calendarModuleReportsCopy.addAll($calendarModuleReports))
  #foreach($report in $calendarModuleReportsCopy)
  #if(!$report.getCalendarField())
    #set($temp = $calendarModuleReports.remove($report))
  #else
    #set($temp = $panelModuleReports.remove($report))
  #end
  #end
  #if($calendarModuleReports.size() > 0)
    #set($temp = $calendarModuleReportsProcessed.put($module, $calendarModuleReports))
  #set($numCalendarReports = $numCalendarReports + $calendarModuleReports.size())
  #end
  #if($panelModuleReports.size() > 0)
    #set($temp = $panelModuleReportsProcessed.put($module, $panelModuleReports))
  #end
#end
#set($savedReports = $user.getOperationalDashboardReports())
<div id="report_selection_header" class="report_selection_header">&plusmn; calendars: </div>
<div id="report_selection" class="report_selection">
  ## Calculate colours
  #set($colourStyles = {}) ## map will hold style definition for each class, based on internal report name
  <ul>
  ## Display
  #foreach($module in $calendarModuleReportsProcessed.keySet())
    #set($calendarModuleReports = $calendarModuleReportsProcessed.get($module))
      #set($internalModuleName = $module.getInternalModuleName())
    <li id="$internalModuleName">
      <h2><span><img src="resources/icons/applications/tango/$module.getIconPath()"/> 
        $module
      </span></h2>
      <ul parent="$internalModuleName">
    #foreach($report in $calendarModuleReports) 
      #set($internalReportName = $report.getInternalReportName())
      #set($table=$report.getParentTable())
      #set($internalTableName = $table.getInternalTableName())
      #set($reportHash = $report.hashCode())
      #if($reportHash < 0)
        #set($reportHash = -1 * $reportHash)
      #end
      #set($colourHue = $reportHash % 360)
      #set($colourLightness = ($reportHash % 65) + 20)
      #set($colourSaturation = ($reportHash % 40) + 40)
      #set($colourStyle = "background-color: hsl($colourHue, $colourSaturation%, $colourLightness%);")
      #if($colourLightness < 45)
        #set($colourStyle = "$colourStyle color:white;")
      #else
        #set($colourStyle = "$colourStyle color:black;")
      #end
      #set($temp = $colourStyles.put("report_$internalReportName", $colourStyle))
      <li id="$internalTableName$internalReportName" title="from $report.getModule(), displayed by $report.getCalendarField()" class="has_calendar">
        <input type="checkbox" internaltablename="$internalTableName" internalreportname="$internalReportName" #if($savedReports.contains($report)) checked #end> 
        $report
        <span class="report_$internalReportName" style="display:none"></span> ## Just so JS can read colour style
      </li>
    #end ## end of loop through reports in a module
      </ul>
    </li>
  #end ## end loop through modules
  </ul>
#end ## end if there are any modules visible
</div>
<style>
#foreach($colourClass in $colourStyles.keySet())
  .$colourClass { $colourStyles.get($colourClass) }
  .$colourClass a { $colourStyles.get($colourClass) }
#end
</style>