##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
##<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
#set($mobile_device = $sessionData.getCustomBoolean("mobile_device"))
#set($user = $view.getLoggedInUser())
#set($company=$user.getCompany())
<html>
<head>
  <link rel="icon" href="resources/icons/gtpb.ico" type="image/x-icon"> <!-- favicon -->
  <title>
    $company calendar
  </title>
  <link type="text/css" href="resources/fullcalendar/fullcalendar.css" rel="stylesheet" />
  <link type="text/css" href="customisations/common/dashboard/dashboard.css" rel="stylesheet" />
  <link type="text/css" href="resources/tabs/tabs.css" rel="stylesheet" />
  <link type="text/css" href="resources/fullcalendar/calendar.css" rel="stylesheet" />
  <link type="text/css" href="resources/modalFramework/modalFramework.css" rel="stylesheet" />
  <link type="text/css" href="resources/jquery.autocomplete.css" rel="stylesheet" />
  <link type="text/css" href="resources/datePicker.css" rel="stylesheet" />
  <link type="text/css" href="styles/report.css" rel="stylesheet" />
  #if($mobile_device)
	<link href="resources/mobile/override.css" type="text/css" rel="stylesheet" />
	<link href="resources/mobile/wizard_override.css" type="text/css" rel="stylesheet" />
  #end
  <script src="resources/jquery.js" language="Javascript"></script>
  <script src="resources/date.js" language="Javascript"></script>
  <script src="resources/jquery.datePicker.js" language="Javascript"></script>
  <script src="resources/jquery.autocomplete.js" language="Javascript"></script>
  <script src="resources/wait/jquery.ajaxmanager.js" language="Javascript"></script>
  ##<script src="resources/jquery.qtip.js" language="Javascript"></script>
  <script src="resources/wait/request_setFilter.js" language="Javascript"></script>
  <script src="resources/tabs/tabs.js" language="Javascript"></script>
  <script src="resources/picker.js" language="Javascript"></script>
  <script src="resources/modalFramework/modalFramework.js" language="Javascript"></script>
  <script src="resources/fullcalendar/jquery-ui-custom.js" language="Javascript"></script>
  <script src="resources/fullcalendar/fullcalendar.js" language="Javascript"></script>
  <script src="resources/fullcalendar/calendar.js" language="Javascript"></script>
  <style>
  </style>
</head>
<body #if($mobile_device) id="mobile_device" #end>
<div id="header">
  #set($current_app = "calendar")
  #parse("gui/appstore/app_header.vm")
  <div id="selected_reports">
  </div>
</div>
#set($browser = $viewTools.getBrowser())
#if($browser == "Konqueror")
  <div class="warningmessage">
    <b>Browser incompatibility</b><p>
    At present, the calendar view is incompatible with the $browser web browser
  </div>
#end
## Create a collection $moduleReports: each module maps to an array of reports
#parse("gui/resources/calc_module_reports.vm")
#if($moduleReports.size() > 0)
## A bit of post-processing or the map - remove unsuitable reports
#set($numCalendarReports = 0)
#set($calendarModuleReportsProcessed = {})
#set($panelModuleReportsProcessed = {})
#set($hiddenReports = $user.getHiddenReports())
#set($modules = $moduleReports.keySet())
#foreach($module in $modules)
  #set($calendarModuleReports = $moduleReports.get($module))
  #set($temp = $calendarModuleReports.removeAll($hiddenReports))
  #set($panelModuleReports = [])
  #set($temp = $panelModuleReports.addAll($calendarModuleReports))
  ## Create a copy that we can use in a foreach loop
  #set($calendarModuleReportsCopy = [])
  #set($temp = $calendarModuleReportsCopy.addAll($calendarModuleReports))
  #foreach($report in $calendarModuleReportsCopy)
	#if(!$report.getCalendarField())
	  #set($temp = $calendarModuleReports.remove($report))
	#else
	  #set($temp = $panelModuleReports.remove($report))
	#end
  #end
  #if($calendarModuleReports.size() > 0)
    #set($temp = $calendarModuleReportsProcessed.put($module, $calendarModuleReports))
	#set($numCalendarReports = $numCalendarReports + $calendarModuleReports.size())
  #end
  #if($panelModuleReports.size() > 0)
    #set($temp = $panelModuleReportsProcessed.put($module, $panelModuleReports))
  #end
#end
#set($savedReports = $user.getOperationalDashboardReports())
<div id="rest_of_page">
<div id="report_selection_header" class="report_selection_header">&plusmn; calendars: </div>
<div id="report_selection" class="report_selection">
	## Calculate colours
	#set($colourStyles = {}) ## map will hold style definition for each class, based on internal report name
	<ul>
	## Display
	#foreach($module in $calendarModuleReportsProcessed.keySet())
	  #set($calendarModuleReports = $calendarModuleReportsProcessed.get($module))
  	  #set($internalModuleName = $module.getInternalModuleName())
	  <li id="$internalModuleName">
	    <h2><span><img src="resources/icons/applications/tango/$module.getIconPath()"/> 
	  	  $module
	    </span></h2>
	    <ul parent="$internalModuleName">
    #foreach($report in $calendarModuleReports) 
		  #set($internalReportName = $report.getInternalReportName())
		  #set($table=$report.getParentTable())
		  #set($internalTableName = $table.getInternalTableName())
      #set($reportHash = $report.hashCode())
      #if($reportHash < 0)
        #set($reportHash = -1 * $reportHash)
      #end
      #set($colourHue = $reportHash % 360)
      #set($colourLightness = ($reportHash % 65) + 20)
      #set($colourSaturation = ($reportHash % 40) + 40)
		  #set($colourStyle = "background-color: hsl($colourHue, $colourSaturation%, $colourLightness%);")
		  #if($colourLightness < 45)
			  #set($colourStyle = "$colourStyle color:white;")
		  #else
			  #set($colourStyle = "$colourStyle color:black;")
		  #end
		  #set($temp = $colourStyles.put("report_$internalReportName", $colourStyle))
		  <li id="$internalTableName$internalReportName" title="from $report.getModule(), displayed by $report.getCalendarField()" class="has_calendar">
		    <input type="checkbox" internaltablename="$internalTableName" internalreportname="$internalReportName" #if($savedReports.contains($report)) checked #end> 
		    $report
        <span class="report_$internalReportName" style="display:none"></span> ## Just so JS can read colour style
		  </li>
    #end ## end of loop through reports in a module
	    </ul>
	  </li>
	#end ## end loop through modules
	</ul>
#end ## end if there are any modules visible
</div>
<style>
#foreach($colourClass in $colourStyles.keySet())
  .$colourClass { $colourStyles.get($colourClass) }
  .$colourClass a { $colourStyles.get($colourClass) }
#end
</style>
<div id="calendar"></div>
<div id="panel_selection_header" class="report_selection_header">&plusmn; reports</div>
<div id="panel_selection" class="report_selection">
  <ul>
	#foreach($module in $panelModuleReportsProcessed.keySet())
	  #set($panelModuleReports = $panelModuleReportsProcessed.get($module))
  	  #set($internalModuleName = $module.getInternalModuleName())
	  <li id="$internalModuleName">
	    <h2><span><img src="resources/icons/applications/tango/$module.getIconPath()"/> 
	  	  $module
	    </span></h2>
	    <ul parent="$internalModuleName">
	    #foreach($report in $panelModuleReports) 
		  #set($internalReportName = $report.getInternalReportName())
		  #set($table=$report.getParentTable())
		  #set($internalTableName = $table.getInternalTableName())
		  <li id="$internalTableName$internalReportName" title="from $report.getModule(), displayed by $report.getCalendarField()" class="has_panel">
		    <input type="checkbox" internaltablename="$internalTableName" internalreportname="$internalReportName" #if($savedReports.contains($report)) checked #end> 
		    $report
		  </li>
	    #end ## end of loop through reports in a module
	    </ul>
	  </li>
	#end ## end loop through modules
  </ul>
</div>
#foreach($report in $savedReports)
  #if((!$report.getCalendarField()) && ($view.loggedInUserAllowedToViewReport($report)))
    #parse("gui/calendar/panel.vm")
  #end
#end
</div> ## end of rest_of_page
</body>
</html>