<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
#set($mobile_device = $sessionData.getCustomBoolean("mobile_device"))
#set($company=$view.getLoggedInUser().getCompany())
<html>
<head>
  <link rel="icon" href="resources/icons/gtpb.ico" type="image/x-icon"> <!-- favicon -->
  <title>
    $company calendar
  </title>
  <link type="text/css" href="resources/fullcalendar/fullcalendar.css" rel="stylesheet" />
  <link type="text/css" href="customisations/common/dashboard/dashboard.css" rel="stylesheet" />
  <link type="text/css" href="resources/fullcalendar/calendar.css" rel="stylesheet" />
  <script src="resources/jquery.js" language="Javascript"></script>
  <script src="resources/fullcalendar/jquery-ui-custom.js" language="Javascript"></script>
  <script src="resources/fullcalendar/fullcalendar.js" language="Javascript"></script>
  <script language="JavaScript">
  $(document).ready(function() {
    $('#calendar').fullCalendar({
        header: {
            left:   'title',
            center: 'month,agendaWeek,agendaDay',
            right:  'today prev,next'
		}
    })
  });
  </script>
  <style>
  </style>
</head>
<body>
<div id="header">
  <a id="home" href="#" alt="agileBase"><img src="/agileBase/website/images/logo-agilebase.png"></a>
  <div id="links">
    <div class="button" style="left: 0px;">
		#if($mobile_device)
		  <a href="?return=gui/pane1">
		#else
          <a href="?return=gui/display_application">
		#end
    	  <img src="customisations/common/dashboard/panes.png" /><br>Database
    	</a>
    </div>
  </div>
  <div id="selection">
    ## Create a collection $moduleReports: each module maps to an array of reports
    #parse("gui/resources/calc_module_reports.vm")
	<h1>Module reports are $moduleReports</h1>
    #if($moduleReports.size() > 0)
    #set($hiddenReports = $user.getHiddenReports())
    #foreach($module in $moduleReports.keySet())
	  <h1>Module is $module</h1>
	  #set($visibleModuleReports = $moduleReports.get($module))
	  #set($temp = $visibleModuleReports.removeAll($hiddenReports))
	  #if($visibleModuleReports.size() > 0)
    	#set($internalModuleName = $module.getInternalModuleName())
    	<li id="$internalModuleName">
    	  <h2><span><img src="resources/icons/applications/tango/$module.getIconPath()"/> 
    		$module
    	  </span></h2>
    	  <ul parent="$internalModuleName">
    	  #foreach($report in $visibleModuleReports) 
    		#set($table=$report.getParentTable())
    		<li id="$table.getInternalTableName()$report.getInternalReportName()">
    		  <div class="module-tree-item-wrap">
    			<a href="AppController.servlet?return=$pane2_template&set_table=$table.getInternalTableName()&set_report=$report.getInternalReportName()&set_report_row_limit=$reportRowLimit&clear_all_report_sorts=true&set_module=$module.getInternalModuleName()&cachebust=$viewTools.getRandomString()" #if(!$mobile_device)target="pane_2" class="report_tooltip" rel="AppController.servlet?return=gui/reports_and_tables/report_tooltip&set_custom_report=true&reportkey=tooltip_report&custominternalreportname=$report.getInternalReportName()"#end >
    				$report
    			</a>
    		  </div>
    		</li>
    	  #end ## end of loop through reports in a module
    	  </ul>
    	</li>
      #end
	#end ## end loop through modules
	#end ## end if there are any modules visible
  </div>
</div>
<div id="calendar"></div>
</body>
</html>