##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
##<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
#set($mobile_device = $sessionData.getCustomBoolean("mobile_device"))
#set($user = $view.getLoggedInUser())
#set($company=$user.getCompany())
<html>
<head>
  <link rel="icon" href="resources/icons/gtpb.ico" type="image/x-icon"> <!-- favicon -->
  <title>
    $company calendar
  </title>
  <link type="text/css" href="resources/fullcalendar/fullcalendar.css" rel="stylesheet" />
  <link type="text/css" href="customisations/common/dashboard/dashboard.css" rel="stylesheet" />
  <link type="text/css" href="resources/tabs/tabs.css" rel="stylesheet" />
  <link type="text/css" href="resources/fullcalendar/calendar.css" rel="stylesheet" />
  <link type="text/css" href="resources/modalFramework/modalFramework.css" rel="stylesheet" />
  <link type="text/css" href="styles/report.css" rel="stylesheet" />
  <script src="resources/jquery.js" language="Javascript"></script>
  ##<script src="resources/jquery.qtip.js" language="Javascript"></script>
  <script src="resources/wait/request_setFilter.js" language="Javascript"></script>
  <script src="resources/tabs/tabs.js" language="Javascript"></script>
  <script src="resources/modalFramework/modalFramework.js" language="Javascript"></script>
  <script src="resources/fullcalendar/jquery-ui-custom.js" language="Javascript"></script>
  <script src="resources/fullcalendar/fullcalendar.js" language="Javascript"></script>
  <script src="resources/fullcalendar/calendar.js" language="Javascript"></script>
  <style>
  </style>
</head>
<body>
<div id="header">
  <a id="home" href="#" alt="agileBase"><img src="/agileBase/website/images/logo-agilebase.png"></a>
  <div id="links">
    <div class="button" style="left: 0px;">
		#set($databaseReturn = "gui/customisations/common/dashboard/dashboard")			
        <a href="?return=$databaseReturn">
    	  <img src="resources/toolbar/dashboard.png" /><br>Database
    	</a>
    </div>
    <div class="button" style="left: 100px;">
		#if($mobile_device)
		  #set($databaseReturn = "gui/pane1")
		#else
		  #set($databaseReturn = "gui/display_application")			
		#end
        <a href="?return=$databaseReturn">
    	  <img src="customisations/common/dashboard/panes.png" /><br>Database
    	</a>
    </div>
	<div id="new_record" class="bare_button" style="left: 200px;">
		<img id="new_record" src="resources/toolbar/new.png" /><br>New event
	</div>
  </div>
  <div id="selected_reports">
  </div>
</div>
<div id="rest_of_page">
<div id="report_selection_header">Calendars: </div>

<div id="report_selection">
    ## Create a collection $moduleReports: each module maps to an array of reports
    #parse("gui/resources/calc_module_reports.vm")
    #if($moduleReports.size() > 0)
	<ul>
	## A bit of post-processing or the map - remove unsuitable reports
	#set($numReports = 0)
	#set($moduleReportsProcessed = {})
    #set($hiddenReports = $user.getHiddenReports())
	#set($modules = $moduleReports.keySet())
    #foreach($module in $modules)
	  #set($visibleModuleReports = $moduleReports.get($module))
	  #set($temp = $visibleModuleReports.removeAll($hiddenReports))
	  #set($visibleModuleReportsCopy = [])
	  #set($temp = $visibleModuleReportsCopy.addAll($visibleModuleReports))
	  #foreach($report in $visibleModuleReportsCopy)
		#if(!$report.getCalendarField())
		  #set($temp = $visibleModuleReports.remove($report))
		#end
	  #end
	  #if($visibleModuleReports.size() > 0)
	    #set($temp = $moduleReportsProcessed.put($module, $visibleModuleReports))
		#set($numReports = $numReports + $visibleModuleReports.size())
	  #end
	#end
	## Calculate colours
	#set($colourStyles = {}) ## map will hold style definition for each class, based on internal report name
	#set($colourHueStep = 360 / $numReports)
	#if($numReports > 19)
	  #set($colourHueStep = $colourHueStep * 2)
	#end
	#set($colourHue = 0)
	#set($colourSaturation = 70)
	## Display
	#set($savedReports = $user.getOperationalDashboardReports())
	#foreach($module in $moduleReportsProcessed.keySet())
	  #set($visibleModuleReports = $moduleReportsProcessed.get($module))
  	  #set($internalModuleName = $module.getInternalModuleName())
	  <li id="$internalModuleName">
	    <h2><span><img src="resources/icons/applications/tango/$module.getIconPath()"/> 
	  	  $module
	    </span></h2>
	    <ul parent="$internalModuleName">
		#set($colourLightness = 85)
		#set($colourLightnessStep = 80 / $visibleModuleReports.size())
		#if($visibleModuleReports.size() > 10)
		  #set($colourLightnessStep = $colourLightnessStep * 2)
		#end
	    #foreach($report in $visibleModuleReports) 
		  #set($internalReportName = $report.getInternalReportName())
		  #set($table=$report.getParentTable())
		  #set($internalTableName = $table.getInternalTableName())
		  #set($colourHue = $colourHue + $colourHueStep)
		  #if($colourHue > 360)
		    #set($colourHue = $colourHue - 360)
			#set($secondRound = true)
		  #end
		  #if($secondRound)
			#set($colourSaturation = $colourLightness + 10)
		    ###if($colourLightness > 50)
			##  #set($colourSaturation = 100)
			###else
			##  #set($colourSaturation = 30)
			###end
		  #end
		  #set($colourStyle = "background-color: hsl($colourHue, $colourSaturation%, $colourLightness%);")
		  #if($colourLightness < 45)
			#set($colourStyle = "$colourStyle color:white; border-style: none;")
		  #else
			#set($colourStyle = "$colourStyle color:black; border-style: none;")
		  #end
		  #set($temp = $colourStyles.put("report_$internalReportName", $colourStyle))
		  <li id="$internalTableName$internalReportName" class="report_$internalReportName" title="displayed by $report.getCalendarField()">
		    <input type="checkbox" internaltablename="$internalTableName" internalreportname="$internalReportName" #if($savedReports.contains($report)) checked #end> 
		    $report
		  </li>
		  #set($colourLightness = $colourLightness - $colourLightnessStep)
		  #if($colourLightness < 20)
			#set($colourLightness = 80)
		  #end
	    #end ## end of loop through reports in a module
	    </ul>
	  </li>
	#end ## end loop through modules
	</ul>
#end ## end if there are any modules visible
</div>
<style>
#foreach($colourClass in $colourStyles.keySet())
  .$colourClass { $colourStyles.get($colourClass) }
  .$colourClass a { $colourStyles.get($colourClass) }
#end
</style>
<div id="calendar"></div>
</div>
</body>
</html>