#set($rowLimit = $sessionData.getCustomInteger("operational_dashboard_row_limit"))
#if(!$rowLimit)
  #set($rowLimit = 5)
#end
#set($sessionReport = $report)
#set($sessionTable = $report.getParentTable())
#set($table_part_only = true)
#set($module = $report.getModule())
<div class="portlet">
<h1><img style="vertical-align: middle;" src="resources/icons/applications/tango/$module.getIconPath()"/> $module - $report</h1>
<div style="width: 100%; overflow: hidden">
#parse("gui/reports_and_tables/report_data.vm")
</div>
</div>