#set($rowLimit = $sessionData.getCustomInteger("operational_dashboard_row_limit"))
#if(!$rowLimit)
  #set($rowLimit = 5)
#end
#if(!$report)
  #set($report = $sessionData.getReport())
#end
#set($sessionReport = $report)
#set($sessionTable = $report.getParentTable())
#set($table_part_only = true)
#set($module = $report.getModule())
<div class="portlet" id="portlet_$report.getInternalReportName()">
<h1><img style="vertical-align: middle;" src="resources/icons/applications/tango/$module.getIconPath()"/> $module - $report</h1>
<div id="panel_content_$report.getInternalReportName()" style="width: 100%; overflow: auto">
#parse("gui/reports_and_tables/report_data.vm")
</div>
</div>