#set($rowLimit = $sessionData.getCustomInteger("operational_dashboard_row_limit"))
#if(!$rowLimit)
  #set($rowLimit = 5)
#end
#set($sessionReport = $report)
#set($sessionTable = $report.getParentTable())
#set($table_part_only = true)
<div class="portlet">
<h1>$report.getModule() - $report</h1>
## #parse("gui/reports_and_tables/report_data.vm")
</div>