##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<!DOCTYPE html>
<html>
<head>
  <title>Manage templates</title>
  <script language="JavaScript" src="resources/jquery.js"></script>
  <script language="JavaScript" src="resources/pane3_amalgam.js"></script>
</head>
<body>
<form class="fileUploader" method="POST" action="AppController.servlet">
<input type="hidden" name="return" value="gui/reports_and_tables/pane3" />
<input type="hidden" name="upload_custom_template" value="true" />
<input type="file" name="templatename" class="submit-trigger" onChange="uploadFile(this);" />
<div class="upload_progress_container">
  <div class="upload_progress_bar"></div>
  <span class="upload_info" upload_speed="$view.getUploadSpeed()"></span>
    </div>
  </form>
  #set($company = $view.getLoggedInUser().getCompany())
  #set($internalCompanyName = $company.getInternalCompanyName())
  #set($existingTemplates = $viewTools.listFiles("WEB-INF/templates/uploads/$internalCompanyName/$internalReportName"))
  #foreach($template in $existingTemplates)
    #set($filePath = $template.getName())
    #set($slashIndex = $filePath.lastIndexOf('/') + 1)
    #set($fileName = $filePath.substring($slashIndex))
    <a href="ReportDownloader.servlet?template=$fileName">$fileName</a> <a href="?return=gui/reports_and_tables/pane3&remove_custom_template=true&customtemplatename=$fileName"><img src="resources/toolbar/delete.png" alt="delete $fileName" style="width:13px; height:13px"></a><br>
  #end
</body>
</html>