##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<!DOCTYPE html>
<html>
<head>
  <title>Manage templates</title>
  <script language="JavaScript" src="resources/jquery.js"></script>
  <script language="JavaScript" src="resources/pane3_amalgam.js"></script>
  <link href="resources/pane3_amalgam.css" type="text/css" rel="stylesheet" />   
  <style>
  .infomessage {
	border-radius: 1em;
	border: 2px solid #DDE6EF;
	background: #eef3f9;
	margin: 10px;
	padding: 10px;
	position: relative;
	margin-top: 2em;
	clear: left;
  }
  </style>
</head>
<body>
<div class="infomessage">
  #set($company = $view.getLoggedInUser().getCompany())
  #set($internalCompanyName = $company.getInternalCompanyName())
  #set($report = $sessionData.getReport())
  #set($internalReportName = $report.getInternalReportName())
  #set($existingTemplates = $viewTools.listFiles("WEB-INF/templates/uploads/$internalCompanyName/$internalReportName"))
  #if($existingTemplates.size() > 0)
      Existing templates:<p>
	  #foreach($template in $existingTemplates)
	    #set($filePath = $template.getName())
	    #set($slashIndex = $filePath.lastIndexOf('/') + 1)
	    #set($fileName = $filePath.substring($slashIndex))
	    <a href="ReportDownloader.servlet?template=$fileName">$fileName</a> <a href="?return=gui/printouts/manage&remove_custom_template=true&customtemplatename=$fileName"><img src="resources/toolbar/delete.png" alt="delete $fileName" style="width:13px; height:13px"></a><br>
	  #end
	  <p>
  #end
Upload a new template for $report: 
<form class="fileUploader" method="POST" action="AppController.servlet">
<input type="hidden" name="return" value="gui/printouts/manage" />
<input type="hidden" name="upload_custom_template" value="true" />
<input type="file" name="templatename" class="submit-trigger" onChange="uploadFile(this);" />
<div class="upload_progress_container">
  <div class="upload_progress_bar"></div>
  <span class="upload_info" upload_speed="$view.getUploadSpeed()"></span>
</div>
</form>
</div>
</body>
</html>