##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($report = $sessionData.getReport())
#if($report.getModule())
  #set($module=$report.getModule())
#else
  #set($module=$sessionData.getTable().getTableName())
#end
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
  <head>
	<link href="resources/modalFramework/modalFramework.css" type="text/css" rel="stylesheet" />
	<link href="resources/button/button.css" type="text/css" rel="stylesheet" />
    <style>
	      * {
		    -moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		  }
	
	      html, body { 
	        font-family: "Arial", sans-serif; 
		    color: black; 
		    font-size: 11pt; 
		    margin:0; 
		    padding:0;
		    height:100% 
		  }
		  
		  body {
		    padding-top:75px;
		  }
		  
	      #toolbarDiv { 
	        height:72px;
	        top:0;
	        padding-left:20px; 
			padding-top:7px; 
			border-bottom:5px solid #eaba72;
	        z-index:1;
	        background-color:#f1f2ed; 
	        position:absolute; 
	        left:0px; 
	        width:100%; 
        	overflow:hidden; 
	      }   
								      
	      iframe#wrapper {
	        height:100%;
	        width:100%;
	        border:0;
	      } 
	      			  
		  button.gtpb img {
			display:block;
		  }
	    </style>
	    
	    <!--[if IE 7]>
		    <style>
				#toolbarDiv {
					height: 57px;
				}
				
		    </style>		
		<![endif]-->
	    
	<title>$module - $report</title>      
 	<script src="resources/jquery.js" language="Javascript"></script>
    <script language="JavaScript" src="resources/wait/request_setFilter.js"></script>
    <script language="JavaScript" src="resources/modalFramework/modalFramework.js"></script>   
  </head>
  <body> ## oncontextmenu="return false" disables right click
    <script src="resources/jquery.js" language="Javascript"> </script>
    <script languange="Javascript">
      function fMarkAsDraft(bMark) {
        oIframe.contentWindow.markAsDraft(bMark);
        bIsDraft=bMark;
      }
    
      function fCreateToolbar() {      
        function fClose() {
          window.close();
        }
        
		function fSelectPrintoutType() {
		  var printoutType = jQuery(this).val();
		  var jqIframe = jQuery("iframe#wrapper");
		  if(printoutType == 'individual_record') {
		    jqIframe.attr('src','?return=gui/printouts/record');
		  } else {
		    jqIframe.attr('src','?return=gui/printouts/records');
		  }
		}
		
        function fPrint() {
          function fDoPrint(sResponseText,sResponseXML) {
            try {
              // only allow changes from draft to non-draft
              if(sResponseXML.getElementsByTagName('record_lock_attempt')[0].firstChild.nodeValue=='yes') oIframe.contentWindow.markAsDraft(false);
              oIframe.contentWindow.print();
            } 
            catch(e) {
              alert('unable to print, please try again.\n'+e);
            }
          }
          
          #*
               user has manage privileges | draft status  || show print dialog
              =================================================================
                         0                |       X       ||        0
              -----------------------------------------------------------------
                         X                |       0       ||        0
              -----------------------------------------------------------------
                         1                |       1       ||        1
                         
              => show print dialog = user has manage privileges.draft status
          
          *#
		  
          #if($view.loggedInUserAllowedTo('MANAGE_TABLE',$sessionData.getTable())) ## the user has permission to lock records
            if(oIframe.contentWindow.isDraft) { //show the wizard to see if any records should be locked
              document.body.removeAttribute('printStatusSet'); // the dialog might change the print status
              fShowModalDialog('gui/printouts/pane2_printout_wizard', 'Print Wizard', fDoPrint, 'ok cancel', 'width=650px; height=500px');
            } 
            else oIframe.contentWindow.print();
          
          #else ## otherwise just print
            oIframe.contentWindow.print();
          #end    
        }
        
    function fEmail() {
      var bodyText = "";
      var jqBody = $(oIframe.contentWindow.document.getElementsByTagName('body')[0]);
      bodyText = jqBody.text().replace(/[\s{2,}\t]/g," ");
      var jqTitle = $(oIframe.contentWindow.document.getElementsByTagName('title')[0]);
      var subject = jqTitle.text();
      document.location="mailto:?subject=" + encodeURIComponent(subject) + "&body=" + encodeURIComponent(bodyText);
    }

      
        function fCreateButton(sCaption,sImg,sTooltip,fClick) {
          var oButton=document.createElement('button');
		  $(oButton).addClass('gtpb');
          oButton.setAttribute('title',sCaption);
		  $(oButton).css('float','right');
          $(oButton).click(fClick);
          $(oButton).mouseout(function() {$(oButton).blur});
          
          var oButtonImg=document.createElement('img');
          oButtonImg.setAttribute('src',sImg);
          oButton.appendChild(oButtonImg);
          
          oButton.appendChild(document.createTextNode(sCaption));
          oToolbar.appendChild(oButton);          
        }
		
		function fCreatePrintoutSelector(sCaption,fClick) {
          oToolbar.appendChild(document.createTextNode(sCaption + ' '));
		  var oRadio = document.createElement('input');
		  oRadio.setAttribute('type','radio');
		  oRadio.setAttribute('name','printout_selector');
		  oRadio.setAttribute('value','individual_record');
		  oRadio.setAttribute('checked','true');
          $(oRadio).click(fClick);
		  oToolbar.appendChild(oRadio);
		  oToolbar.appendChild(document.createTextNode(' individual record '));
		  oRadio = document.createElement('input');
		  oRadio.setAttribute('type','radio');
		  oRadio.setAttribute('name','printout_selector');
		  oRadio.setAttribute('value','report_rows');
          $(oRadio).click(fClick);
		  oToolbar.appendChild(oRadio);
		  oToolbar.appendChild(document.createTextNode(' report rows '));
		}
        
        var oToolbar=document.createElement('div');
        oToolbar.setAttribute('id','toolbarDiv');
        
        fCreateButton('Print','resources/toolbar/print_only.png','Print this content',fPrint);
        fCreateButton('Email','resources/toolbar/email_only.png','Email this content',fEmail);
        fCreateButton('Close','resources/toolbar/delete_only.png','Close the print preview',fClose);
        fCreatePrintoutSelector('Print out:',fSelectPrintoutType);
		
        document.body.appendChild(oToolbar);
        return oToolbar;
      }
      
      function fCreateIframe() {
        var oIframe=document.createElement('iframe');
        oIframe.setAttribute('id','wrapper');
        oIframe.setAttribute('src','AppController.servlet?return=gui/printouts/record');
        
        document.body.appendChild(oIframe);
        return oIframe;
      }
      
      oToolbar=fCreateToolbar();
      oIframe=fCreateIframe();
    </script>
  </body>
</html>