
##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
  <head>
    <title>Record Details Printout</title>
  <link href="styles/report.css" type="text/css" rel="stylesheet" />
  <link href="resources/tabs/tabs.css" type="text/css" rel="stylesheet" />
	<link href="resources/modalFramework/modalFramework.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
	      * {
		    -moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		  }
		  
		  html, body { padding:0;
      		margin:0;
			height:100%;
            width:100%;
		  }

      	  body { padding-bottom:25px;
           	position:absolute;
			font-family:sans-serif,Arial;
      	    font-size:10pt;
		  }
 
          table#reportData th {
            font-size: 11pt!important; /* override modalFramework.css */
            border-bottom: 1px solid #888888!important;
            border-top: none!important;
            border-left: none!important;
            border-right: none!important;
          }

	      td.trailing input[type=button] { font-size:8pt }	
		  td { padding-right: 1em; }
    </style>
    <script type="text/javascript" src="resources/jquery.js"></script>
    <script type="text/javascript" src="resources/jquery.oembed.js"></script>
    #parse('gui/resources/google_maps_api_key.vm')
	#if($google_maps_api_key)
    <script src="http://maps.google.com/maps?file=api&v=2&key=$google_maps_api_key&sensor=false" type="text/javascript"></script>
	#end
    <script type="text/javascript" src="resources/tabs/tabs.js"></script>
    <script type="text/javascript" src="resources/tabs/view.js"></script>
  </head>
  <body style="background-color: white; overflow: visible"> <!-- override tabs.css -->
	#set($printout=true)
    #parse('gui/reports_and_tables/tabs/view.vm')
  </body>
</html>
