##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
	#if(!$pickerReport)
	  #set($pickerReport=$sessionData.getCustomReport('picker_report'))
	  #set($reportBaseFields = $pickerReport.getReportBaseFields())
	#end
	
	#set($data=[])
	#foreach($datarow in $view.getReportDataRows($pickerReport,50))
		  #set($row=[])
		  #set($colours=[])
		  #set($dataRowFields = $datarow.getDataRowFields())
		  #foreach($field in $reportBaseFields)
		    #if ((!$field.getTableContainingField().getPrimaryKey().equals($field)) || ($sessionContext == "SYSADMIN"))
			      #set($dataRowField = $dataRowFields.get($field))
			      #set($success=$row.add($dataRowField.getDisplayValue()))
			      #set($success=$colours.add($dataRowField.getStandardDevHexColour()))
			    #end 
		  #end
		  #set($success=$colours.add("")) ## needs an extra one for some reason
		  #set($click="f_mdp_rowclick(this)")
		  #set($uniqueid=$datarow.getRowId())
		  #set($success=$data.add([$row,$click,$uniqueid,$colours,$expando]))
	#end
	
	#parse("gui/pane2/pane2_body.vm")