##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($pickerReport=$sessionData.getCustomReport('picker_report'))
#set($fields=[])
	#set($reportBaseFields = $pickerReport.getReportBaseFields())
	#foreach ($field in $reportBaseFields)
		  #if ( (!$field.getTableContainingField().getPrimaryKey().equals($field)) || ($sessionContext == "SYSADMIN"))
		##    #if ($field.getFieldCategory().getDescription().equals("Relation")) ## added to show display field name for relation fields
##      #set($relationFieldDisplay = "$field.getRelatedTable().getTableName(): $field.getDisplayField().getFieldName()")
##      #set($success=$fields.add([$field.getInternalFieldName(),$relationFieldDisplay]))		 ## added to show display field name for relation fields
		##    #else ## added to show display field name for relation fields
					      #set($success=$fields.add([$field.getInternalFieldName(),$field]))
##    #end ## added to show display field name for relation fields
			  #end ## uncomment to remove to show primary key field
	#end
  
#set($filters = $sessionData.getReportFilterValues())
<table id="reportData" cellspacing="0">
  <thead>
    <tr>
      <th class="leading">&nbsp;</th>
        #foreach($field in $fields)
          ## row0 contains the internal field name
    		      ## row1 contains the display field
          		<th #if($field.get(0) && $field.get(0)!="")internalName=$field.get(0)#end>
            				#if($field.get(1))
    				          #if($field.get(0) && $field.get(0)!="")
    				            <div title="$field.get(1)">
    				          #end
    				          $field.get(1)
    				          #if($field.get(0) && $field.get(0)!="")
    				            </div>
    				          #end
            #else
    				          &nbsp;
            				#end
          		</th>
        #end
      <th class="trailing">&nbsp;</th>
    </tr>
    <tr name="fieldFilters" id="fieldFilters" on="true">
      <td class="leading">&nbsp;</td>
		      #foreach($field in $fields)
        #set ($uiType = $field.getUiType())
        #set ($dbType = $field.getDbType())
        <td>
          #if($field.get(0)!='')
            <input type="text" name="$field.get(0)" is_filter="true" gtpb_internalfieldname="$field.get(0)" onkeyup="new fSetFilter(this); gDialog.customisations.fClearCompanySelector()" gtpb_return="gui/resources/modalFramework/report_body" value="$!filters.get($field.get(1))">
          #end
        </td>
		      #end
		      <td class="trailing">&nbsp;</td>      
    </tr>
  </thead>
  <tbody name="reportBody" id="reportBody">
    #parse('gui/resources/modalFramework/report_body.vm')
			  </tbody>
</table>