##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
<style>	
	  div#fieldOptionsSet { 
	    display:none;
	  }
	  
	  div#fieldOptionsSet[selected] { 
	    display:block;
	  }
	  
	  form { 
	    height:100%;
	  }
	
	  tr#addNewField td { 
	    vertical-align:top;
		font-size:8pt;
		border-top:1px solid orange;
	  }
</style>

<script language=javascript>
	  function fArrayContains(aArray, vTest){
	    	for (var i=0;i<aArray.length;i++)
			    if (aArray[i]==vTest) return true;
		    return false;
	  }
	</script>

<form action="AppController.servlet" target="pane_2" method=post id=newcalculation>
  <input type=hidden name=return value="gui/reports_and_tables/report_data" />
		  <input type=hidden name=add_calculation_to_report value=true>
    <table>
      <tr>
        <td style="vertical-align:top">Calculation name</td>
        <td><input type="text" name="calculationname" onfocus="this.setAttribute('focused','true')" onblur="this.removeAttribute('focused')" /></td>
      </tr>
      <tr>
        <td style="vertical-align:top">Return type</td>
        <td>
		          <select name="databasetype">
		            <option value="VARCHAR">Text</option>
		            <option value="INTEGER">Whole number</option>
		            <option value="FLOAT">Decimal number</option>
		            <option value="TIMESTAMP">Date/time</option>
		            <option value="INTERVAL">Time interval</option>
		          </select>
	    </td>
      </tr>
	  <tr>
	    <td style="vertical-align:top">Calculation definition<br>(SQL)</td>
		<td><textarea name="calculationdefn" id="calculationdefn" cols="80" rows="5"></textarea></td>
	  </tr>
	  <tr>
		<td>&nbsp;</td>
		<td><input type="submit" value="Create Calculation" /></td>
	  </tr>
  </table>
</form>
