##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($SQ="'")
#set($updateAsType = false)
#set($customAction = true)
#set($table = $gtpbPublicTable) ## Set in Public servlet
#set($company = $gtpbCompany)
<form name="agilebase_form" method="post" action="Public.ab">
  <input type="hidden" name="save_new_record" value="true">
  <input type="hidden" name="t" value="$table.getInternalTableName()"> 
  <input type="hidden" name="c" value="$company.getInternalCompanyName()"> 
  <table cellspacing="0" cellpadding="0" border="0" id="agilebase_form_table">
	#set($fields = $table.getFields())
	  #foreach($field in $fields)
		## Skip certain types of field
		#if(($field.getHidden() == false) && ($field.getClass().getSimpleName() != "RelationFieldDefn") && ($field.getClass().getSimpleName() != "ReferencedReportDataFieldDefn"))
          #parse("gui/reports_and_tables/tabs/table_data_row.vm")
		#end
	#end
  </table>	
  <input type="submit" value="Submit" />
</form>
