##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($SQ="'")
#set($updateAsType = false)
#set($customAction = true)
#set($table = $gtpbPublicTable) ## Set in Public servlet
#set($company = $gtpbCompany)
<style>
  input { margin: 10px; }
</style>
## Test for an exception caused by a previous save attempt
#if($exceptionCaught)
<div class="agilebase_error">
Please correct the error below and try entering the data again
#set($fieldCausingException = $exceptionCaught.getFieldCausingException()) <p>
#if($fieldCausingException)
  Error in $fieldCausingException: $exceptionCaught.getMessage()
#else
  $exceptionCaught.getMessage()
#end
</div>
#end
<form class="agilebase" name="agilebase_form" method="post" action="$viewTools.getAppUrl()">
  <input type="hidden" name="save_new_record" value="true">
  <input type="hidden" name="t" value="$table.getInternalTableName()"> 
  <input type="hidden" name="c" value="$company.getInternalCompanyName()">
  #if($formType == "table")
    <table cellspacing="0" cellpadding="0" border="0" id="agilebase_form_table">
  #else
	<ul>
  #end
  #set($fields = $table.getFields())
	  #foreach($field in $fields)
		## Skip certain types of field
		#if(($field.getHidden() == false) && ($field.getClass().getSimpleName() != "RelationFieldDefn") && ($field.getClass().getSimpleName() != "ReferencedReportDataFieldDefn"))
          #if($formType == "table")
		    #parse("gui/reports_and_tables/tabs/table_data_row.vm")
		  #else
		    #parse("gui/public/form_list_row.vm")
		  #end
		#end
	#end
  #if($formType == "table")
    </table>	
  #else
	</ul>
  #end
  <input type="submit" value="Submit" />
</form>
