##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<html>
  <head>
    <style>
      #thanks {
        font-size: 16pt;
        color: gray;
        padding: 3em;
        width: 100%;
        line-height: 2em;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="thanks">
      Thank you for your information<p>
      <button id="back" onclick="javascript:window.history.back();" value="Return" >Return</button>
      </p>
    </div>
  </body>
</html>
