html, body {
	background-color: #EEF3F9;
	font-family: Verdana, sans-serif;
}

#argument {
	display: inline-block;
}

figure {
	margin: 0;
}

.container {
	position: relative;
	z-index: 0;
	display: block;
	float: left;
	left: 0;
	top: 0;
	width: 1000px;
	height: 1414px;
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	/* margins compensate for zoom out */
	margin: -350px;
	margin-bottom: -700px;
	-webkit-perspective: 1500px;
	-moz-perspective: 1500px;
	-o-perspective: 1500px;
	perspective: 1500px;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	transition-duration: 1s;
	-moz-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.container:hover {
	transform: scale(0.3);
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
}

.card {
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	/* timing function same as .container */
	-moz-transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.card.flipped {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.container.zoomed {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	z-index: 10;
}

.container.zoomed.semi {
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
}

.container.unzoomed {
	opacity: 0.8;
  transform: scale(0.17);
  -webkit-transform: scale(0.17);
  -moz-transform: scale(0.17);
}

.card figure {
	border: 2px solid #cccccc;
	overflow: hidden; /* crop image corners under rounded border of container */
	border-radius: 2em;
	display: block;
	height: 100%;
	width: 100%;
	color: white;
	text-align: center;
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.card .front {
	background-color: white;
}

.card .back {
	background-color: #cccccc;
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 20pt;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.fieldcontent {
	font-family: Stylograph, Verdana, sans-serif;
	padding: 1em;
	background-color: white;
	margin: 1em;
	color: black;
}

.image {
	width: 100%;
}