#preview {
  background-color: rgba(219,219,219,0.9); /* #dbdbdb; 777788, bdbdbd */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  display: none;
  padding-top: 2.5em;
  z-index: 2; /* above toolbar */
}

.pane1_id { display: none; }

.reportDataView .block {
  margin: 2em;
  float: left;
  width: 250px;
  height: 300px;
  overflow: hidden;
  color: black;
  position: relative;
  -webkit-transition: all 7s ease-in-out;
  -moz-transition: all 7s ease-in-out;
  /* text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  padding: 1em;
  border: solid 1px #b4b4b4;
  border-radius: 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  word-wrap: break-word;
  line-height: 1.5em;
}

.reportDataView .block.landscape {
  height: 150px;
}

.reportDataView .block.portrait {
  height: 300px;
}

.reportDataView .block.big {
  height: 300px;
  width: 500px;
}

.reportDataView .block.current {
  background: white;
}

.reportDataView .block img.profile_photo {
  float: left;
  max-width: 50%;
  margin: 0;
  position: relative;
  top: -1em;
  left: -1em;
  border-top-left-radius: 1em;
}

.reportDataView .block img.image {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  border-radius: 1em;
}

.reportDataView .block.centrebox {
   /* flexbox, por favor */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
  
  overflow: visible; /* necessary for FF */
  
  /* Also style centrebox */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e7ea)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #e6e7ea); /* for firefox 3.6+ */
  background: -ms-linear-gradient(top,  #fff,  #e6e7ea);
  background: linear-gradient(top,  #fff,  #e6e7ea);
  
}

.reportDataView .block:hover {
  cursor: pointer;
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 99;
  box-shadow: 0 1px 3px rgba(80, 173, 214, 0.5); /* RGB ab light blue */
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  /* box-shadow: 0 1px 3px rgba(72, 111, 152, 0.3); /* RGB ab dark blue */
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
}

.slide.reportDataView .related {
  box-shadow: none;
  text-shadow: none;
  border: 1px solid #eeeeee;
  margin: 1.8em; /* fit three blocks to a slide */
}

.slide.reportDataView .related:hover {
  border-color: #50add6; /* ab light blue */
  box-shadow: 0 1px 3px rgba(80, 173, 214, 0.5); /* RGB ab light blue */
  /* box-shadow: 0 1px 3px rgba(72, 111, 152, 0.3); /* RGB ab dark blue */
}

#navrow {
  width: 100%;
  height: 40px;
}

#searchbox {
  margin-left: 2em;
  margin-top: 0.5em;
	width: 15em;
	font-size: 13pt;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2em;
  float: right;
  /* no webkit border radius, webkit styles search inputs anyway */
}

.report_including_content {
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.row_count {
	display: none;
}

.mini_action {
  font-size: 8pt!important;
  position: fixed;
  padding: 0.5em;
  background-color: #cccccc; /* f4f4f4 */
  height: 2.95em;
  font-weight: normal;
  text-transform: lowercase;
  top: 0;
  opacity: 0.9;
  z-index: 100;
}

.goodMatch {
  font-weight: bold;
}

.reportDataView .block.goodMatchBlock {
  box-shadow: 0 0 1em 1em white;
}

.imageCaption {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 1.5em;
  background-color: rgba(255,255,255,0.8);
  padding-left: 0.5em;
  font-size: 8pt;
	text-shadow: white 0 0 1px;
	color: gray;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

.infomessage {
		border-radius: 1em;
		border: 2px solid #DDE6EF;
		text-align: center;
		background: #eef3f9;
		margin: 10px;
		padding: 10px;
		position: relative;
		margin-top: 2em;
}

.infomessage h1 {
  font-size: 12pt;
}
