##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<script language=Javascript>
	
	function fAnimatePane1(pane1ChangePercent, currentWidth, targetWidth) {
	    var difference = (targetWidth - currentWidth);
		var change = difference * (pane1ChangePercent / 100);
		currentWidth = currentWidth + change;
	    document.getElementById('oViewPane').contentWindow.document.getElementById('colsWrapper').cols=(Math.round(currentWidth) + ',*');
		if (Math.abs(currentWidth - targetWidth) > 2) {
		  pane1ChangePercent = pane1ChangePercent * 2;
		  setTimeout('fAnimatePane1(' + pane1ChangePercent + ',' + currentWidth + ',' + targetWidth + ');');
		} else {
	      document.getElementById('oViewPane').contentWindow.document.getElementById('colsWrapper').cols=(targetWidth + ',*');
		}
	}
	
	function fTogglePane1(oButton) {
	  var currentWidth = 0;
	  var targetWidth = 250;
	  $(oButton).hasClass('selected') {
	  	currentWidth = 250;
		targetWidth = 0;
	  }
	  fAnimatePane1(0.1, currentWidth, targetWidth);
	}
</script>

#set($button_img='resources/toolbar/pane1.png')
#set($click="fTogglePane1(this)")
#set($caption='Modules')
#set($params='selected=true toggleButton=true')
#set($classes='selected toggleButton')
#set($tooltip='Show/hide the list of modules')
#parse('gui/resources/button.vm')