##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
## For <script>, see pane3.vm
#set($button_img='resources/toolbar/pane2.png')
#set($click="fFormatRHPanes(this)")
#set($id='pane2butt')
#set($caption='Report')
#set($params='selected=true toggleButton=true')
#set($classes='selected toggleButton')
#set($tooltip='Show/hide the report rows')
#parse('gui/resources/button.vm')