##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<script language="JavaScript" type="text/javascript">
	function fAnimateFrame(stepPercent, currentPercent, targetPercent, targetFrame) {
	    var difference = (targetPercent - currentPercent);
		var change = difference * (stepPercent / 100);
		currentPercent = currentPercent + change;
		var rowsVal;
		if(targetFrame == 2) {
		  rowsVal = Math.round(currentPercent) + '%,*';
		} else {
		  rowsVal = '*,' + Math.round(currentPercent) + '%';
		}
		alert('setting to ' + rowsVal);
		document.getElementById('oViewPane').contentWindow.document.getElementById('rowsWrapper').rows = rowsVal;
		if (Math.abs(targetPercent - currentPercent) > 1) {
		  stepPercent = stepPercent + 1;
		  //setTimeout('fAnimateFrame(' + stepPercent + ',' + currentPercent + ',' + targetPercent + ',' + targetFrame + ');', 100);
		}
	}
	
	// ^=XOR
	// if *only* one button is set then give priority to that, otherwise show both
	function fFormatRHPanes(oButton) {
	
	  function fInitFrameAnimation() {
		var currentRows = document.getElementById('oViewPane').contentWindow.document.getElementById('rowsWrapper').rows;
	    if (bPane2&&bPane3) {
		  targetPercent = 50;
		  if (currentRows.indexOf('*') == '0') {
		    targetFrame = 3;
		  }
		} else {
		  currentPercent = 50;
		  if (bPane2) {
		    targetFrame = 3;
	      }
		}
	  }
	  
	  function fRowsVal() {
	     if (bPane2&&bPane3) return '*,*';				 // if both are switched on split equally
	     if (bPane2^bPane3) return (bPane2?'*,0':'0,*'); // if one or the other show that one
	 	 
		 // if both are switched off, reset to show both
		 oPane2Butt.click(); // set the buttons down.  We know that both are off so a click will switch them on
	     oPane3Butt.click();
	     return ('*,*');
	  }
	  
	  var oButton=oButton;
	  //var oPane2Butt=top.document.getElementById('toolbarDiv').getElementById('pane2butt');
	  //var oPane3Butt=top.document.getElementById('toolbarDiv').getElementById('pane3butt');
	  var oPane2Butt=top.document.getElementById('pane2butt');
	  var oPane3Butt=top.document.getElementById('pane3butt');
	  
	  
	  // the match property returns the match if it exists (or array of matches ?) or null if no match
	  // convert this to a boolean for comparision operations below
	  // var bPane2=(oPane2Butt.getAttribute('selected')=='true');
	  // var bPane3=(oPane3Butt.getAttribute('selected')=='true');
	  var bPane2=($(oPane2Butt).hasClass('selected'));
	  var bPane3=($(oPane3Butt).hasClass('selected'));
	  
	  var targetPercent = 0;
      var targetFrame = 2;
	  var currentPercent = 0;
	  fInitFrameAnimation();
	  fAnimateFrame(10, currentPercent, targetPercent, targetFrame);
	  
	  document.getElementById('oViewPane').contentWindow.document.getElementById('rowsWrapper').rows=fRowsVal();					 						 
	}		
</script>

#set($button_img='resources/toolbar/pane3.png')
#set($click="fFormatRHPanes(this)")
#set($id='pane3butt')
#set($caption='Record')
#set($params='selected=true toggleButton=true')
#set($classes='selected toggleButton')
#set($tooltip='Show/hide the individual record information')
#parse('gui/resources/button.vm')