<?xml version='1.0' encoding='utf-8'?>

<hibernate-configuration
        xmlns="http://www.hibernate.org/xsd/hibernate-configuration"
        xsi:schemaLocation="http://www.hibernate.org/xsd/hibernate-configuration hibernate-configuration-4.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.datasource">java:comp/env/jdbc/agileBaseSchema</property>

    <!-- JDBC connection pool (use the built-in) -->
    <!-- <property name="connection.pool_size">1</property> -->

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <!-- Enable Hibernate's automatic session context management -->
    <!-- <property name="current_session_context_class">thread</property> -->

    <!-- Disable the second-level cache  -->
    <!-- <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> -->

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">false</property>
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>
    
    <!-- All sorts of stuff copied from old hibernate.properties -->
    <property name="query.substitutions">yes 'Y', no 'N'</property>
    <property name="default_batch_fetch_size">8</property>
    <property name="max_fetch_depth">1</property>
    <property name="jdbc.batch_versioned_data">true</property>
    <property name="jdbc.use_streams_for_binary">true</property>
    <property name="cache.region_prefix">hibernate.test</property>
    <property name="cache.use_structured_entries">true</property>
    <property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
    
    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">update</property>
  </session-factory>
</hibernate-configuration>