##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
$viewTools.startTimer("gui/reports_and_tables/tabs/table_fields/field_option ($fieldOption)")
## Display input form for a single field option, used when creating a table field
## Called from table_field_creator.vm which sets $fieldOption etc. variables
#set($formInputName = $fieldOption.getFormInputName())
<div style="white-space:nowrap">
#if($fieldOption.getClass().getSimpleName()=="BooleanFieldDescriptorOption")
  <input type="checkbox" name="$formInputName" value="1" id="${formInputName}1" />
  <label for="${formInputName}1">
    $fieldOption.getOptionDescription()
  </label>
#elseif($fieldOption.getClass().getSimpleName()=="ListFieldDescriptorOption")
  ## this is a good bodge.  A fields dropdown needs to know whether to look up table fields or report fields.
  ## so look at the type of the last dropdown created and assume that it's going to be related to that.
  #set($parentInputName = "")
  #if($formInputName.endsWith("table"))
    #set($type = "table")
    #set($lasttype=$type)
  #elseif($formInputName.endsWith("report"))
    #set($type = "report")
    #set($lasttype=$type)
    #set($return="xmlreturn_tablereports")
    #set($parentInputName = 'fieldpropertylisttable')
    #set($parentType='table')
  #elseif($formInputName.endsWith("field"))
    #if($lasttype=='table')
      #set($return='xmlreturn_tablefields')
      #set($parentInputName = 'fieldpropertylisttable')
    #else
	  #set($parentInputName = 'fieldpropertylistreport')    
      #set($return='xmlreturn_reportfields')
    #end
	#set($type = "fields")
	#set($parentType=$lasttype)
  #end
  <select name="$formInputName" #if($parentInputName != "")parent="$parentInputName" uselastordinal="true" return="$return" parenttype="$parentType"#end>
    ## where a list of tables, reports or fields need to be presented, generate the list here
    ## in all other cases, accept the list items generated by the Java objects:
    #if ($formInputName.endsWith("table"))
	  #foreach($table in $viewableTables)
        <option value="$table.getInternalTableName()">$table.getTableName()</option>
      #end
    #elseif ($FormInputName.endsWith("report"))
      #foreach($table in $viewableTables)
        <optgroup label="$table.getTableName()">
        #foreach($report in $view.getViewableReports($table))
          <option value="$report.getInternalReportName()">$report.getReportName()</option>
        #end
        </optgroup>
      #end
    #elseif ($formInputName.endsWith("field"))
      #foreach($table in $viewableTables)
        <optgroup label="$table.getTableName()">
        #foreach($field in $table.getFields())
          <option value="$field.getInternalFieldName()">$field.getFieldName()</option>
        #end
        </optgroup>
        #foreach($report in $view.getViewableReports($table))
		  <optgroup label="$report.getReportName()">
		  #foreach($field in $report.getReportFields())
            <option value="$field.getInternalFieldName()">$field.getFieldName()</option>
		  #end
          </optgroup>
        #end
      #end
    #else
      #foreach($fieldOptionOption in $fieldOption.getOptionsList().keySet())
        <option value="$fieldOptionOption">
          $fieldOption.getOptionsList().get($fieldOptionOption)
		</option>
      #end ##foreach option in list type        
    #end
  </select>
  $fieldOption.getOptionDescription()
  <script language=javascript src="resources/wait/interdependent_fields.js"></script>
#elseif($fieldOption.getClass().getSimpleName()=="TextFieldDescriptorOption")
  <input name="$fieldOption.getFormInputName()" />
  <label for="$fieldOption.getFormInputName()">
    $fieldOption.getOptionDescription()
  </label>
#end  ##if is boolean or list or text
<br>
</div> <!-- end of nowrap div -->
$viewTools.stopTimer("gui/reports_and_tables/tabs/table_fields/field_option ($fieldOption)")    		  