##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($appUser = $view.getLoggedInUser())
#set($company = $appUser.getCompany())
#set($app_launcher = true)
<div class="reportDataView" id="apps">
  <div id="launcher_title">
    <span id="companyname">$company</span>
    <div id="other_actions">
      <button id="all_apps" title="load all apps in one screen"><img src="resources/toolbar/agilebase.png" /> load all apps</button> 
    </div>
  </div>
  #parse("gui/reports_and_tables/report_list.vm")
</div>
<div>
  <button id="usage" title="show a treemap of app usage">show app usage</button>
  <input type="checkbox" name="uses_app_launcher" onchange="new fChange(this);" id="use_app_launcher" gtpb_internalusername="$appUser.getInternalUserName()" gtpb_update_user="true" #if($appUser.getUsesAppLauncher()) checked #end>
  <label for="uses_app_launcher">show this app list on startup</label>
</div>
<div id="treemap">
</div>
