#if(!$report)
  #set($report = $sessionData.getReport())
#end
#set($filterString = $sessionData.getGlobalFilterString($report).toLowerCase())
#if(!$filterString)
	#set($filterString = "")
#end
#set($table = $report.getParentTable())
#set($internalTableName = $table.getInternalTableName())
#set($reportBaseFields = $report.getReportBaseFields())##
#set($reportRowLimit = 10) ## hard code for now
#if(!$reportDataRows)
  #if(!$filters)
    #set($reportDataRows = $view.getGloballyFilteredReportDataRows($report))
  #else
    #set($reportDataRows = $view.getReportDataRows($report, $reportRowLimit, $filters, true))##
  #end
#end
<h1>There are $reportDataRows.size() rows, row limit is $reportRowLimit</h1>
#foreach($row in $reportDataRows)
  #set($thisUniqueId = $row.getRowId())
  #set($dataRowFields = $row.getDataRowFields())
    <section class="container">
    <div class="card" data-rowid="$thisUniqueId" >
      <figure class="front">
      #foreach($field in $reportBaseFields)##
        #set($dataRowField = $dataRowFields.get($field))
        #set($fieldCategory = $field.getFieldCategory().toString())
        #if($fieldCategory == "FILE")
          #set($cell = $dataRowField.getKeyValue())
          #set($fileValue = $viewTools.getFileValueTool($cell))
          #if($fileValue.isImage())
            #set($targetUrl = "/agileBase/uploads/$field.getTableContainingField().getInternalTableName()/$field.getInternalFieldName()/$thisUniqueId/$fileValue")
            #set($srcUrl = "/agileBase/uploads/$field.getTableContainingField().getInternalTableName()/$field.getInternalFieldName()/$thisUniqueId/$fileValue.500.$fileValue.getExtension()")
            <img class="image" data-bigsrc="$targetUrl" src="$srcUrl" />
            
          #end
        #end
      #end
      </figure>
      <figure class="back">2</figure>
    </div>
    </section>
#end