##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<!DOCTYPE html>
#set($appUser = $view.getLoggedInUser())
#set($company = $appUser.getCompany())
<html>
<head>
  <title>agileBase - $company</title>
  <link rel="icon" href="resources/icons/gtpb.ico" type="image/x-icon"> <!-- favicon -->
  <script src="resources/jquery.js" language="Javascript"></script>
  <link href="resources/display_application_amalgam.css" type="text/css" rel="stylesheet" />      
</head>
<body style="overflow: auto">
#parse("gui/preview/app_launcher.vm")
</body>
</html>