#if(!$report)
  #set($report = $sessionData.getReport())
#end
#set($table = $report.getParentTable())
#set($internalTableName = $table.getInternalTableName())
#set($fields = $report.getReportBaseFields())##
#set($assetManager = $sessionData.getCustomBoolean("assetmanager"))
<table id="filters">
  #set($filterTextOnly = true)
  #set($filterExcludeLargeText = true)
  #set($filterPlaceholders = true)
  #parse("gui/pane2/pane2_head.vm")
</table>
Asset manager is $assetManager<p>
#if($assetManager && $view.getLoggedInUserAllowedTo("EDIT_TABLE_DATA", $table))
  Upload a new asset<p>
  #parse("gui/preview/uploader.vm")
#end
<div id="argument">
  #parse("gui/preview/argument.vm")
</div>