#set($browser = $viewTools.getBrowser())
#set($version = $viewTools.getBrowserVersion())
#if($browser == "Internet Explorer")
  <div class="warningmessage">
    <b>browser compatibility</b><p>
    To access the library, please use one of these browsers:<p>
    <a href="http://chrome.google.com">Google Chrome</a><br>
    <a href="http://www.firefox.com">Firefox</a><br>
    <a href="http://www.apple.com/safari/">Safari</a>
  </div>
#elseif(($browser == "Firefox") && ($version < 15))
  <div class="warningmessage">
    <b>browser compatibility</b><p>
    Please <a href="http://www.firefox.com">upgrade Firefox</a> to use the library
  </div>
#end

#if(!$report)
  #set($report = $sessionData.getReport())
#end
#set($table = $report.getParentTable())
#set($internalTableName = $table.getInternalTableName())
#set($fields = $report.getReportBaseFields())##
#set($reportRowLimit = 20) ## hard code for now
#if(!$reportDataRows)
  #set($reportDataRows = $view.getReportDataRows($report, $reportRowLimit))
#end
#foreach($row in $reportDataRows)
  #set($thisUniqueId = $row.getRowId())
  #set($dataRowFields = $row.getDataRowFields())
    <section class="container">
    <div class="card" data-rowid="$thisUniqueId" >
      <figure class="front">
      #foreach($field in $fields)##
        #set($dataRowField = $dataRowFields.get($field))
        #set($fieldCategory = $field.getFieldCategory().toString())
        #if($fieldCategory == "FILE")
          #if($assetManager)
            #parse("gui/preview/card_content_asset.vm")
          #else
            #parse("gui/preview/card_content_argument.vm")
          #end
        #end
      #end
      </figure>
      <figure class="back">
        #if($assetManager)
          ## Set $field to the file field
          #foreach($testField in $fields)
            #if($testField.getFieldCategory().toString() == "FILE")
              #set($field = $testField)
              #set($dataRowField = $dataRowFields.get($field))
            #end
          #end
          #parse("gui/preview/card_back_asset.vm")
        #else
          #parse("gui/preview/card_back_argument.vm")
        #end
      </figure>
    </div>
    </section>
#end