#if(!$report)
  #set($report = $sessionData.getReport())
#end
#set($table = $report.getParentTable())
#set($internalTableName = $table.getInternalTableName())
#set($fields = $report.getReportBaseFields())##
<div style="">Back
<table id="filters">
  #set($filterTextOnly = true)
  #set($filterExcludeLargeText = true)
  #set($filterPlaceholders = true)
  #parse("gui/pane2/pane2_head.vm")
</table>
</div>
<div id="argument">
  #parse("gui/preview/argument.vm")
</div>