#if(!$report)
  #set($report = $sessionData.getReport())
#end
#set($table = $report.getParentTable())
#set($internalTableName = $table.getInternalTableName())
#set($fields = $report.getReportBaseFields())##
#set($reportRowLimit = 20) ## hard code for now
#if(!$reportDataRows)
  #set($reportDataRows = $view.getReportDataRows($report, $reportRowLimit))
#end
#foreach($row in $reportDataRows)
  #set($thisUniqueId = $row.getRowId())
  #set($dataRowFields = $row.getDataRowFields())
    <section class="container">
    <div class="card" data-rowid="$thisUniqueId" >
      <figure class="front">
      #foreach($field in $fields)##
        #set($dataRowField = $dataRowFields.get($field))
        #set($fieldCategory = $field.getFieldCategory().toString())
        #if($fieldCategory == "FILE")
          #if($assetManager)
            #parse("gui/preview/card_content_asset.vm")
          #else
            #parse("gui/preview/card_content_argument.vm")
          #end
        #end
      #end
      </figure>
      <figure class="back">
        #if($assetManager)
          #parse("gui/preview/card_back_asset.vm")
        #else
          #parse("gui/preview/card_back_argument.vm")
        #end
      </figure>
    </div>
    </section>
#end