<!DOCTYPE html>

<html>
<head>
  <title>argument presenter boot</title>
  <script type="text/javascript" src="resources/jquery.js"></script>
  <script type="text/javascript" src="resources/preview/argument.js"></script>
  <script type="text/javascript" src="resources/pane3_amalgam.js"></script>
  <link type="text/css" rel="stylesheet" href="resources/pane1_amalgam.css" />
  <link type="text/css" rel="stylesheet" href="resources/preview/argument.css" />
</head>

<body>
  <div id="sets">
      #set($hiddenReports = $view.getLoggedInUser().getHiddenReports())
      #set($module = $sessionData.getModule())
	  <h1><i class="fonticon icon-large $module.getIconPath()" ></i> $module: choose collection</h1><p>
	  #foreach($report in $view.getAllViewableReports())
	    #if((!$hiddenReports.contains($report)) && $module.equals($report.getModule()))
	      ## See if the report contains any images / files
	      #foreach($reportField in $report.getReportFields())
	        #if($reportField.getBaseField().getFieldCategory() == "FILE")
	          <button class="report_choice" data-assetmanager="$assetManager" data-internaltablename="$report.getParentTable().getInternalTableName()" value="$report.getInternalReportName()">$report</button><p>
	          #break
	        #end
	      #end
	    #end
	  #end
  </div>
</body>
</html>
