<!doctype html>
<html>
<head>
  <script language="JavaScript" src="resources/jquery.js"></script>
  <script language="JavaScript" src="resources/preview/argument.js"></script>
  <script language="JavaScript" src="resources/pane3_amalgam.js"></script>
  <link rel="stylesheet" type="text/css" href="resources/preview/argument.css" />
  <link rel="stylesheet" type="text/css" href="resources/tabs/tabs.css" />
</head>
<body>
  #parse("gui/preview/argument_presenter.vm")
</body>
</html>
