#set($tableDataRow = $view.getTableDataRow($table, $thisUniqueId))
#foreach($field in $tableDataRow.keySet())
  #set($fieldCategory = $field.getFieldCategory().toString())
  ## Show large text fields only
  #if($field.getContentSize() > 100)
    <div class="fieldname">$field</div>
    <div class="fieldcontent">$tableDataRow.get($field)</div>
  #end
#end
