#if($view.loggedInUserAllowedTo("EDIT_TABLE_DATA",$table))
  <div class="delete" title="delete" data-rowid="$thisUniqueId"><i class="icon-remove"></i></div>
#end
#foreach($backField in $fields)
  #set($backValue = $dataRowFields.get($backField))
  #if((!$backField.isPrimaryKey()) && ($backValue.getDisplayValue() != ""))
    <div class="fieldname">$backField.toString().replace(" [Auto]","")</div>
    <div class="fieldcontent">$backValue</div>
  #end
#end