##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($user = $view.getLoggedInUser())
#set($company=$user.getCompany())
#if(!$report)
  #set($report = $sessionData.getReport())
#end
#set($searchTitle = "$report.getModule() - $report")
#if($searchTitle.length() > 25)
	#set($searchTitle = "$report")
#end
<span id="searchTitle">$searchTitle</span>
<div class="reportDataView" id="homeContent">
  <div class="control" style="left: 0">
    <i class="icon-remove"></i>
    <i class="icon-repeat"></i>
  </div>
  <div class="control" style="right: 0">
    <i class="icon-zoom-in"></i>
    <i class="icon-zoom-out"></i>
  </div>
  #parse("gui/preview/report_content.vm")
</div>
