#if(!$report)
  #set($report = $sessionData.getReport())
#end
#set($filterString = $sessionData.getGlobalFilterString($report).toLowerCase())
#if(!$filterString)
	#set($filterString = "")
#end
#set($ratio = "landscape")
#set($table = $report.getParentTable())
#set($internalTableName = $table.getInternalTableName())
#set($reportBaseFields = $report.getReportBaseFields())##
#foreach($reportBaseField in $reportBaseFields)
  #if($reportBaseField.getAttachmentType() == "IMAGE")
    #set($ratio = "portrait")
  #end
#end
#set($reportRowLimit = 100) ## hard code for now
#if(!$reportDataRows)
  #if(!$filters)
    #set($reportDataRows = $view.getGloballyFilteredReportDataRows($report))
  #else
    #set($reportDataRows = $view.getReportDataRows($report, $reportRowLimit, $filters, true))##
  #end
#end
#set($numRows = $reportDataRows.size())
#if($numRows < $reportRowLimit)
  #set($rowCount = $numRows)
#else
  #set($rowCount = $report.getRowCount())
  #if($report.isRowCountEstimate())
    #set($rowCount = "<i title='$rowCount is the approximate number of records in total'>$rowCount</i>")
  #end
#end
<div class="row_count">$rowCount</div>
<div class="pane1_id">$internalTableName$report.getInternalReportName()</div>
#set($thisUniqueId = false)
#foreach($row in $reportDataRows)
  #set($dataRowFields = $row.getDataRowFields())
  #set($lastUniqueId = $thisUniqueId)
  #set($thisUniqueId = $row.getRowId())
  #set($emboldened = false)
	#set($captionNecessary = false)
	#set($cellsHtml = "")
  #if($thisUniqueId != $lastUniqueId)
    #set($goToTable = $report.getParentTable())
    #set($goToRowId = $thisUniqueId)
    ##onclick is workaround for iOS bug http://blog.alanszlosek.com/post/4369588562/jquerys-live-click-handler-on-mobile-safari
    <div class="related block current $ratio" data-rowid="$thisUniqueId" href="AppController.servlet?return=gui/display_application&set_table=$goToTable.getInternalTableName()&set_row_id=$goToRowId" onclick="fLoadFromPreview(this,event);"> 
			#set($fieldNum = 0)
			#set($details = false)
			#foreach($field in $reportBaseFields)##
        #if(!$field.isPrimaryKey())
          #set($dataRowField = $dataRowFields.get($field))
          #set($cell = $dataRowField.getDisplayValue())
          #set($colour = $dataRowField.getStandardDevHexColour())
          #set($fieldCategory = $field.getFieldCategory().toString())
          #set($image = false)
          #if($fieldCategory == "FILE")
            #set($fileValue = $viewTools.getFileValueTool($cell))
            #set($targetUrl = "/agileBase/uploads/$field.getTableContainingField().getInternalTableName()/$field.getInternalFieldName()/$thisUniqueId/$fileValue")
            #if($fileValue.isImage())
              #set($srcUrl = "/agileBase/uploads/$field.getTableContainingField().getInternalTableName()/$thisUniqueId/$fileValue.500.$fileValue.getExtension()")
              <a target = "_blank" href="AppController.servlet?return=gui/resources/image&set_custom_string=true&key=img_src&value=$targetUrl"><img src="$srcUrl" #if($field.getAttachmentType() == "PROFILE_PHOTO") class="profile_photo" #else class="image" #set($captionNecessary = true) #end/></a>
              #set($image = true)
						#elseif($cell.endsWith("pdf") && !$captionNecessary)
							#set($srcUrl = "$targetUrl.500.png")
							<img src="$srcUrl" class="image" />
							#set($captionNecessary = true)
              #set($image = true)
						#end
          #end
          #set($style="")
          #set($class="")
          #if($colour && $colour !="") #set($style="background-color:$colour; ") #set($class="colored") #end
					#if($cell && $filterString) ## avoid NullPointerException
  					#if($cell.toLowerCase().startsWith($filterString) && (!$field.usesLookup()))
  						#set($class = "$class goodMatch ")
  					#end
			    #end
          #if($cell && (!$image) && ($cell != ""))
						#set($fieldNum = $fieldNum + 1)
						#if($fieldNum == 5)
							#set($details = true)
							<div class="details">
						#end
            #set($printoutSetting = $field.getPrintoutSetting())
            #if($fieldCategory == "CHECKBOX")
              #if($cell == "true")
                <span style="$style" class="cell $class">$field</span>
              #end
            #elseif($printoutSetting == "NAME_AND_VALUE")
              <span class="fieldname">$field</span>: <span style="$style" class="cell $class">$cell</span><br>
            #else
              #if(!$emboldened)
                #set($style = "$style font-weight: bold; ")
							#elseif($field.getContentSize() > 100)
								#set($style = "$style color:gray; ")
              #end
              <span style="$style" class="cell $class">$cell</span>,
              #set($emboldened = true)
							#set($cellsHtml = "$cellsHtml <span style='$style' class='cell $class'>$cell</span>")
            #end
          #end
        #end ## end of not primary key
      #end ## end fields loop
			#if($details) </div> #end
			#if($captionNecessary)
				<div class="imageCaption">$cellsHtml</div>
			#end
    </div> ## end of block
  #end
#end ## end of reportDataRows
#if(($reportDataRows.size() < 15) && ($filterString != ""))
<div class="infomessage" id="schemaResults">
	<h1>Reports from other areas</h1>
	<ul>
	#set($reports = $view.getAllViewableReports())
	#foreach($report in $reports)
		#set($reportName = $report.getReportName().toLowerCase())
		#set($module = $report.getModule())
		#set($moduleName = $module.getModuleName())
		#set($reportDescription = $report.getReportDescription().toLowerCase())
		#if(!$reportName.contains("dbvcalc") && !$reportName.contains("dbvcrit"))
  		#if($reportName.contains($filterString) || $moduleName.contains($filterString) || $reportDescription.contains($filterString))
        #set($searchTitle = "$moduleName - $reportName")
        #if($searchTitle.length() > 25)
        	#set($searchTitle = "$reportName")
        #end
  			<li data-searchtitle="$searchTitle" data-internaltablename="$report.getParentTable().getInternalTableName()" data-internalreportname="$report.getInternalReportName()"><img style="vertical-align: middle;" src="resources/icons/applications/tango/$module.getIconPath()"/> $moduleName - $reportName <span style="color:gray">$reportDescription</span></li>
			#end
		#end
	#end
	</ul>
</div>
#end