##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($appUser = $view.getLoggedInUser())
#if(!$top_level_xml_element_set)<request>#end
  #set($app_action_caption="Set Password")
  <okTemplate>gui/set_password/2_closer</okTemplate>
  #parse('gui/customisations/wizard_result.vm') 
  <htmlContent><![CDATA[
<form method="post" enctype="multipart/form-data" action="AppController.servlet" style="padding: 5px;">
<input type="hidden" name="update_user" value="true" />
<input type="hidden" name="return" value="gui/set_password/after_set_password" />
<input type="hidden" name="internalusername" value="$appUser.getInternalUserName()" />
<h1>Please select a new password to use with agileBase</h1>
<table id="reportData">
#set($rowClass="rowa")
<tr class="$rowClass">
  <td>Password: <input type="password" name="password"></td>
  <td>&nbsp;</td>
</tr>
</table>
Tips:<ul>
  <li>Think of something that you'll be able to remember and won't have to write down</li>
  <li>Don't use anything obvious like 'password' or '123456'</li>
  <li>If you use online banking or a similar financial service, don't use that password</li> 
</ul>
<p>
</form>
	]]>
  </htmlContent>
  <caption>$app_action_caption</caption>  
#if(!$top_level_xml_element_set)</request>#end