##
##  Copyright 2011 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($company = $view.getLoggedInUser().getCompany())
#set($companyName = $viewTools.cleanString($company.getCompanyName()))

#if(!$top_level_xml_element_set)<request>#end
  <caption>Add Organisation - please correct your data</caption>
  <okTemplate>gui/customisations/$companyName/actions/add_address_data/add_organisation/4_closer</okTemplate>  
  #parse('gui/customisations/wizard_result.vm') 
  <htmlContent><![CDATA[
     #parse('gui/customisations/new_table_data.vm')
     ## set the session table back to organisations so that new data will be shown when P1 is refreshed
     ## this will only happen if no exception occurs
     <form>
      <input type="hidden" name="postset_table" value="a2e9a7e9e257153de" />
    </form>               
    ]]>
  </htmlContent>
#if(!$top_level_xml_element_set)</request>#end
