##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($user = $view.getLoggedInUser())
<!DOCTYPE html>
<html>
<head>
  <title>$user.getCompany() :: agileBase - password set</title>
  <link href="resources/pane3_amalgam.css" type="text/css" rel="stylesheet" />
  <link href="resources/pane2_amalgam.css" type="text/css" rel="stylesheet" />
</head>
<body style="padding: 5em">
Your password is now set, you can continue to log in to $user.getCompany() at<p>
<a href="http://www.agilebase.co.uk/start">http://www.agilebase.co.uk/start</a>
</body>
</html>