##
##  Copyright 2013 GT webMarque Ltd
##
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($user = $view.getLoggedInUser())
<!DOCTYPE html>
<html>
<head>
  <title>$user.getCompany() :: agilebase - password set</title>
    <link href="/agileBase/website/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
    <link href="http://agilebase.co.uk/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="/agileBase/website/gtpb.ico">
</head>
<body><div class="container">
  <div class="row abNav">
    <div class="span2 home">
      <img src="/agileBase/website/images/agilebase.png" />
      <div class="arrow"></div>
    </div>
  </div>
  <h1><img src="/agileBase/website/images/brandmark.png" /> : password set</h1>
    <div class="big spaced">
      <p>Your password is now set, you can continue to log in to $user.getCompany() at
      <p><a href="http://www.agilebase.co.uk/start">www.agilebase.co.uk/start</a>
    </div>
</body>
</html>