##
##  Copyright 2013 GT webMarque Ltd
##
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($user = $view.getLoggedInUser())
<!DOCTYPE html>
<html>
<head>
  <title>$user.getCompany() :: agilebase - set password</title>
    <link href="/agileBase/website/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
    <link href="http://agilebase.co.uk/styles.css" rel="stylesheet">
    <style type="text/css">
    #[[
      .good {
        background-color: #8DC63F;
      }
      .bad {
        background-color: #EC008C;
      }
      #strength {
        display: inline;
        float: right;
        color: white;
        font-weight: bold;
      }
    ]]#
    </style>
    <script type="text/javascript" src="resources/jquery.js"></script>
    <script type="text/javascript" src="resources/jquery.complexify.js"></script>
    <link rel="shortcut icon" href="/agileBase/website/gtpb.ico">
    <script type="text/javascript">
      $(document).ready(function() {
        $("#password").complexify({strengthScaleFactor: 0.8}, function(valid, complexity) {
          if (valid) {
            $(this).closest("form").addClass("good").removeClass("bad");
          } else {
            $(this).closest("form").addClass("bad").removeClass("good");
          }
          $("#strength").text(Math.round(complexity) + "% good");
        });
      });
    </script>
</head>
<body><div class="container">
  <div class="row abNav">
    <div class="span2 home">
      <img src="/agileBase/website/images/agilebase.png" alt="" />
      <div class="arrow"></div>
    </div>
  </div>
  <h1><img src="/agileBase/website/images/brandmark.png" alt="" /> : password set</h1>
#set($requested_username = $viewTools.getRequestParameters().get("u")[0])
#if($requested_username != $user.getUserName())
  <div class="big spaced">You are still logged in as $user. Please <a href="AppController.servlet?logout=true&return=boot">log out</a> then try the link again to reset $requested_username's password</div>
#elseif($user.getAllowPasswordReset())
   <div class="row big">
     <div class="span6">
      Please choose a password
      <div class="mid_spaced" style="margin-left: 1em;">
          <form name="changepassword" method="post" action="AppController.servlet" class="form-inline">
            <input type="hidden" name="return" value="gui/set_password/email_success" />
            <input type="hidden" name="update_user" value="true" />
            <input type="hidden" name="internalusername" value="$user.getInternalUserName()" />
            <input type="password" name="password" id="password" /><button type="submit" value="Set" class="btn">set</button>
            <div id="strength"></div>
          </form>
      </div>
    </div>
  </div>
  <div class="row big">
    <div class="span6">
	  Your details at $user.getCompany()
	  <ul class="mid_spaced" style="margin-left: 1em;">
	    <li>Name: $user.getForename() $user.getSurname()</li>
	    <li>Email: $user.getEmail()</li>
	    <li>Username: $user.getUserName()</li>
	  </ul>
    </div>
   </div>
#else
  <div class="big spaced">The password reset link you used has expired, please ask your administrative contact for another.</div>
#end
</div></body>
</html>