##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($user = $view.getLoggedInUser())
<!DOCTYPE html>
<html>
<head>
  <title>$user.getCompany() :: agilebase - set password</title>
    <link href="/agileBase/website/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
    <link href="http://agilebase.co.uk/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="/agileBase/website/gtpb.ico">
</head>
<body><div class="container">
#if($user.getAllowPasswordReset())
  <div class="row abNav">
    <div class="span2 home">
      <img src="/agileBase/website/images/agilebase.png" />
      <div class="arrow"></div>
    </div>
  </div>
  <h1><img src="/agileBase/website/images/brandmark.png" /> : your details</h1>
  <div class="row">
    <div class="span6">
	  These details have been set up by $user.getCompany()
	  <ul class="mid_spaced">
	    <li>Name: $user.getForename() $user.getSurname()</li>
	    <li>Email: $user.getEmail()</li>
	    <li>Username: $user.getUserName()</li>
	  </ul>
    </div>
   </div>
   <div class="row">
     <div class="span6">
	  <h2>Please choose a password</h2>
	  <div class="spaced">
	      <form name="changepassword" method="post" action="AppController.servlet">
	        <input type="hidden" name="return" value="gui/set_password/email_success" />
	        <input type="hidden" name="update_user" value="true" />
	        <input type="hidden" name="internalusername" value="$user.getInternalUserName()" />
	        <input type="password" name="password" /><input type="submit" value="Set" />
	      </form>
	  </div>
	</div>
  </div>
#else
  The password reset link you used has expired, please ask your administrative contact for another.
#end
</div></body>
</html>