##
##  Copyright 2012 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($user = $view.getLoggedInUser())
<!DOCTYPE html>
<html>
<head>
  <title>$user.getCompany() :: agileBase - set password</title>
  <link href="resources/pane3_amalgam.css" type="text/css" rel="stylesheet" />
  <link href="resources/pane2_amalgam.css" type="text/css" rel="stylesheet" />
</head>
<body>
#if($user.getAllowPasswordReset())
  <h1>Your $user.getCompany() details</h1>
  Name: $user.getForename() $user.getSurname()<br>
  Email: $user.getEmail()<br>
  Username: $user.getUsername()
  <h1>Please choose a password</h1>
  <form name="changepassword" method="post" action="AppController.servlet">
    <input type="hidden" name="return" value="gui/set_password/email_success" />
    <input type="hidden" name="update_user" value="true" />
    <input type="hidden" name="internalusername" value="$user.getInternalUserName()" />
    <input type="password" name="password" /><p>
    <input type="submit" value="Set" />
  </form>
#else
  The password reset link you used has expired, please ask your administrative contact for another.
#end
</body>
</html>