html, 
body {
	height:100%;
	overflow:hidden;
}

#scroller {
	height:100%;
	width:100%;
	overflow:auto;
	overflow-y:scroll;  * stop the page jumping around when the content exceeds the x height, IE only *
	text-align:center;
 }

#blocker {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;		
	background:white url('../images/loading_animation.gif') no-repeat center center;
	filter:alpha(opacity=80);
	opacity: 0.8;
}

#popup {
	width:700px;
	height:500px;
	position:absolute;
	background:transparent url('../images/bg-footer.png') no-repeat right 430px;
	padding-top:25px;
	padding-bottom:70px;
	top:0;
	left:0;
	overflow:hidden;
	visibility:hidden;
	text-align:left;
}

#popup #caption {
	height:40px;
	width:100%;
	padding:14px 10px;
	position:absolute;
	top:25px;
	left:0;
	color:black;
	font-size:16pt;
	border-top:2px solid #222222;
	background:#eaeaea;
}

#popup #content {
	width:100%;
	height:100%;
	overflow:auto;
	padding:10px;	
	font-size:10pt;
	border:0;
	background:#eaeaea;
	padding-top:50px;
}

#popup #closer {
	position:absolute;
	top:0px;
	right:0px;
	font-family:arial;
	color:#333333;
	font-size:14pt;
	text-decoration:none;
	font-weight:bold;
	width:100%;
	text-align:right;
	padding-right:10px;
	height:25px;
}

#popup #closer:hover {
	color:red;
}