/* Resetting browser styles */
body{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup,sub{line-height:-1px;vertical-align:text-top;}sub{vertical-align:text-bottom;}input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;}

/* Menu styles */
body{
	font: 9pt/1.6 Verdana,Arial,sans-serif;
  font-size-adjust: 0.58;
}

h1{
	position: relative; /* Fixes some obscure bug in IE */
	padding: 5px 0 8px 10px;
	/* background: #fff; */
	font-size: 12pt;
	text-transform: uppercase;
	margin-bottom: -3px;
	/* background: white url(tree/line.gif) repeat-x 0 50%; */
	color: #888;
	/* text-align: right; */
}

#tree h1 span {
	/* background: #fff; */
	padding: 0 10px;
}

#tree h2 {
	display: block;
	margin-bottom: -3px;
	padding: 8px 10px 5px 5px;
	cursor: hand;
	cursor: pointer;
	height: 23px;
	/*min-width: 250px; 
	overflow: hidden;*/
}

li:first-child h2 {
  border-radius: 1em 1em 0 0;
}

li:last-child h2 {
  border-radius: 0 0 1em 1em;
}

li:last-child.moduleexpanded h2 {
  border-radius: 0;
}

li#setup h2 {
	border-radius: 0;
}

span.notifications {
  padding-left: 0.5em;
}

span.notification {
  font-size: 60%;
  font-weight: bold;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0.5em;
  padding: 0.25em;
  -moz-transition-duration: 1800s; /* half an hour */
  -moz-transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -webkit-transition-duration: 1800s; /* half an hour */
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -ms-transition-duration: 1800s; /* half an hour */
  -ms-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -transition-duration: 1800s; /* half an hour */
  -transition-timing-function: ease-out;
  -transition-property: opacity;
}

span.notification.going {
  opacity: 0;
}

h2 span {
	padding-left: 20px;
	background-position: left;
	background-repeat: no-repeat;
	text-transform: capitalize;
}

/*
.moduleexpanded h2 span {
	background-image: url(tree/collapse.png);
}
*/

/*
.modulecollapsed h2 span {
	background-image: url(tree/expand.png);
}
*/

h2 img{
	vertical-align: middle;
}

.expandable {
	background: transparent url(tree/collapse.gif) no-repeat 0 0.6em;
	margin-left: -5px;
	padding-left: 20px;
	height: 100%;
}

.expandable.collapsed {
	background-image: url(tree/expand.gif)
}

ol{
	
}

ol li{
	
}

ol li ul{
	
}
		
ol li ul li ul{
	margin: 2px 10px 0 10px;
	padding-bottom: 2px;
	border-left: 1px dotted #CCC;
}
	
/* reports */
ol li ul li ul li.expanded div ul {
	display: block;
}

ol li ul li ul li.collapsed div ul {
	display: none;
}

ol li ul li.moduleexpanded ul{
	display: block;
}

ol li ul li.modulecollapsed ul{
	display: none;
}

/* tables */
ol li ul li.expanded ul{
	display: block;
}

ol li ul li.collapsed ul{
	display: none;
}

ol li ul li ul li{
	padding: 0 0 0 8px;
	background: transparent url(tree/line_hor.gif) no-repeat 0 0.55em;
}
	
.module-tree-item-wrap {
	padding: 2px 15px 2px 7px;
	text-transform: lowercase;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
		
.currentOption .module-tree-item-wrap {
	background-color: #CCCCCC;
}

.tree-item-wrap {
	padding: 2px 15px 2px 7px;
	text-transform: lowercase;
}

.currentOption .tree-item-wrap {
	background-color: #CCCCCC;
}

.loading {
  background-color: #f0f0f0;
}
	
/* links to tables, reports and admin functions */
ol li ul li ul li div a {
	color: #000;
	text-decoration: none;
}

ol li ul li ul li ul {
	background: none;
}

ol li ul li ul li li {
	background: none;
}

ol li ul li ul li li a {
	color: #00e;
	text-decoration: underline;
}				
	
ol li ul li ul li li a:hover {
	text-decoration: none;
}																		

.recordcount {
	display: none;
}

.currentOption .recordcount {
	display: inline;
}
						
.recordcount a {
	color: #00F;
	text-decoration: underline;
}
						
.recordcount a:hover {
	text-decoration: none;
}
	
ul.moduleaction {
	border-style: dotted;
	border-width: 0 1px 1px 1px;
	border-color: #999999;
	background-color: #f4f4f4;
	
}	
	
ul.moduleaction li {
	background: transparent url(icons/arrowRight.gif) no-repeat 3px 0.6em;
}

#reportsearch {
	position:absolute;
	top:0px; left:0px;
	padding:3px;
	background-color:white;
	z-index: 1;
	height: 22px;
}

#reportsearchbox {
	position: absolute;
	top: 3px; left: 28px;
	height: 16px;
	display: none;
	vertical-align: top;
	padding-top: 2px;
}

.greytext a {
	color: grey !important;
}

.found {
}

.module {
}

/* Mobile header */
#header {
	height:91px;
	background-color:#ffffff;
}

#header #home {
	display:block;
	position:absolute;
	height:65px;
	width:253px;
	left:15px;
	top:15px;
}
 
#header #home img {
 	border:0px;
}

#header #links {
	text-align:center;
	display:inline;
	position:absolute;
	left: 280px;
	top: 15px;
	height: 61px; /* height of logo */
}

#header #links .button {
	border: 1px solid #909090;
	border-radius: 5px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: absolute;
	width: 150px;
}

#header #links .button:hover {
	border-color: #486f98;
	/* -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); */
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

#header #links .button img {
	border: 0;
	vertical-align: top;
}

#header #links .button a {
	text-decoration: none;
	color: #486f98;
}
				