@font-face {
	font-family: "Jellyka - Estrya's Handwriting";
	src: url("Jellyka_Estrya_Handwriting.eot"); /* IE */
	src: url("Jellyka_Estrya_Handwriting.ttf") format("truetype"); /* Non-IE */
}

html, body {
	height: 100%;
	margin: 0;
}

#paper {
	max-width:100%;
	z-index: 0
}

#a3_report {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute; 
	left: 0px;
	top: 0px;
	margin-top: 60px;
	/* display: none; */
}

#stickies {
	position: absolute;
	left: 20%;
	top: 0px;
	z-index: 2;	
}

#stickies div {
	background: url('sticky.png');
	width: 172px;
	height: 15px;
	position: absolute;
	top: 0px;
	padding: 20px;
	padding-left: 40px;
	font-family: "Jellyka - Estrya's Handwriting";
	color: #486f98;
	font-size: 50px;
	line-height: 45%;
	cursor: pointer;
}

#stickies a {
	text-decoration: none;
	color: #486f98;
}

.selected_link:before {
	content: '* ';
}

#stickies div:first-child {
	-moz-transform:rotate(0.5deg);
	-webkit-transform:rotate(0.5deg);
	transform:rotate(0.5deg);
	top: -1px;
}

#stickies div:nth-child(2) {
	background: url('sticky2.png');
}

#leftcolumn {
	width: 50%;
}

#rightcolumn {
	width: 50%;
}

.field_display {
	margin-right: 30px;
	margin-bottom: 10px;
	font-size: 60px;
}

.title_name {
	text-align: right;
}

.title_display {
	border-bottom: 2px dashed gray;
	min-width: 50px;
}

.editable {
	font-family: "Jellyka - Estrya's Handwriting";
	color: #486F98;
	line-height: 50%;
	/* The [changed] colour effect will take some time */
    -webkit-transition: color 2s ease-in-out;
    -moz-transition: color 2s ease-in-out;
    -o-transition: color 2s ease-in-out;
    transition: color 2s ease-in-out;
    min-width: 200px;
    min-height: 20px;
    cursor: text;
}

.editable a {
  color: black;
  text-decoration: none;
}

/* Public website */
.title_display.editable {
	font-size: 40pt;
}

/* When logged in */
.title_display .editable {
	font-size: 40pt;
}

[contenteditable=true]:hover {
	outline: 1px dotted gray; /* similar to border but doesn't displace content */
}

.editable[changed] {
	color: black;
}

.actions_area {
	position: absolute;
	z-index: 10;
	top: 20%;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	background-color: black;
	/* padding: 10px; */
	padding: 2px;
	opacity: 0.8;
	color: white;
	font-family: Arial, sans-serif;
}

.actions_area h1 {
	color: white; /* #ff8040; agileBase orange */
}

.actions_area input {
	width: 100px;
}

.actions_area.left {
	left: 0px;
	border-left-width: 0px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}

.actions_area.right {
	right: 0px;
	border-right-width: 0px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-box-shadow: -10px 10px 5px #888;
	-webkit-box-shadow: -10px 10px 5px #888;
	box-shadow: -10px 10px 5px #888;
}

/* from http://experiments.brandoncash.net/sexybuttons */
input[type=button], button {
			opacity: 1;
			font-family: arial, sans-serif;
			font-size: 12pt;
			font-weight: bold;
			
			margin: 0.3em;
			/* padding: 5px 20px 5px 20px; */
			padding: 1px 5px 1px 5px;
			
			outline-width: 0;
			border: 1px solid #000;
			border-radius: 50px;
			-moz-border-radius: 50px;
			
			-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5),
				inset 0px 1px 0px rgba(255, 255, 255, 0.5);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5),
				inset 0px 1px 0px rgba(255, 255, 255, 0.5);
			
			-webkit-transition: background-color 0.2s ease-in-out,
					color 0.2s ease-in-out,
					-webkit-box-shadow 0.2s ease-in-out;
			-moz-transition: background-color 0.2s ease-in-out,
					color 0.2s ease-in-out,
					-moz-box-shadow 0.2s ease-in-out;
			-o-transition: background-color 0.2s ease-in-out,
					color 0.2s ease-in-out,
					box-shadow 0.2s ease-in-out;
			background-image: -webkit-gradient(linear, left top, left bottom,
					color-stop(0.0, rgba(255, 255, 255, 0.8)),
					color-stop(0.01, rgba(255, 255, 255, 0.6)),
					color-stop(0.4, rgba(255, 255, 255, 0.3)),
					color-stop(0.4, rgba(255, 255, 255, 0.2)),
					color-stop(1.0, rgba(255, 255, 255, 0.0)));
			background-image: -moz-linear-gradient(top,
					rgba(255, 255, 255, 0.6) 0%,
					rgba(255, 255, 255, 0.3) 40%,
					rgba(255, 255, 255, 0.2) 40%,
					rgba(255, 255, 255, 0.0) 100%);

			background-color: #444;
			color: #fff;
			text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
		}
		input[type=button]:hover, input[type=button]:focus, button:hover, button:focus {
			-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
			-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9),
				inset 0px 1px 0px rgba(255, 255, 255, 0.5);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9),
				inset 0px 1px 0px rgba(255, 255, 255, 0.5);
			background-color: #666;
			color: #fff;
		}
		input[type=button]:active, button:active {
			background-color: #222;
			color: #ccc;
			-webkit-transition-duration: 0.0s;
			-moz-transition-duration: 0.0s;
			-o-transition-duration: 0.0s;
		}
		
button#print:before {
  content: url(print.png);
}

button#share:before {
  content: url(share.png);
}

button#delete:before {
  content: url(delete.png);
}

button#manage:before {
  content: url(manage.png);
}

button#next_report {
  float: right;
}

input {
  -moz-border-radius: 5px;
}

#search {
  width: 9em;
}

#variables {
  display: none;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}