#paper {
  display: none;
}

#a3_report {
  width: 100%!important;
  margin: 0!important;
}

.editable {
  font-size: 64pt!important;
  line-height: 40%!important;
}

.actions_area {
  display: none;
}

.field_title {
  font-weight: bold;
}

.field_display {
  border: 1px solid gray;
  padding-left: 0.1em;
}

[contenteditable=true]:hover {
	outline: none!important; /* don't include the dotted hover-line: looks ugly on printout and no reason for it */
}
