#paper {
  display: none;
}

#a3_report {
  width: 100%!important;
  margin: 0!important;
}

.editable {
  font-size: 96pt!important;
}

.actions_area {
  display: none;
}

.field_title {
  font-weight: bold;
}
