##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
$viewTools.startTimer("gui/administration/information/list.vm")
#set($resource_folder='information')
#set($return='gui/administration/information/options')
#set($pane1_id='administrationinformation')
#set($isNotTable=true)
##test to see whether a record has previously been selected and is stored in the session
#set($selection=$session.getModule())

## No data in pane 2
#set($fields=[['','']])
#set($data=[])

#parse('gui/pane2/include_delete_checkboxes.vm')
$viewTools.stopTimer("gui/administration/information/list.vm")
