##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of GT portalBase.
##
##  GT portalBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  GT portalBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with GT portalBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($browser_name=$viewTools.getBrowser())
#set($mobile_device = $sessionData.getCustomBoolean("mobile_device"))
#if($mobile_device)
  #if($browser_name=='Safari on Symbian mobile') ## e.g. Nokia E-series
    #set($browser_cannot_expand_p1=true)
  #else
    ##iPhone
    #set($browser_cannot_detect_keyup=true)
  #end
#end

