<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>Utilisation information</title>
	<script src="resources/jquery.js" language="Javascript"></script>
	<script language=Javascript src="resources/jit.js"></script>
	<style>
	@import url('resources/display_application.css');
	</style>
</head>
<body>
#set($treeMap = $viewMethods.getUsageStats().getTreeMap())
<script language="JavaScript">
jQuery(document).ready(function(){
	
	// fit treemap to window
	jqInfovis = jQuery("#infovis");
	ivWidth = jQuery("#dashboard").css("width");
	ivWidth = ivWidth.substring(0,ivWidth.length - 2);
	ivWidthInt = parseInt(ivWidth) -15;
	ivWidth = ivWidthInt + "px";
	jqInfovis.css("width",ivWidth);

    var json = $viewMethods.getUsageStats().getTreeMapJSON();
	
	TM.Squarified.implement({  
    'onLeftClick': function(elem) {  
        var internalReportName = jQuery(elem).parent().attr("id");
		// if a report node
		if (internalReportName.substring(0,2) == "r_") {
			internalReportName = internalReportName.substring(2);
			var url = "AppController.servlet?return=gui/reports_and_tables/report_data";
			url = url + "&set_report=" + internalReportName;
			url = url + "&set_report_row_limit=100";
			opener.oViewPane.pane_2.location = url;
			window.close();
		}
    }  
	});  

    var tm = new TM.Squarified({  
                //Where to inject the Treemap  
                rootId: 'infovis',
				offset: 2,
				selectPathOnHover: true,
				addLeftClickHandler: true,
				Color: {  
        			//Allow coloring  
        			allow: true,  
        			//Select a value range for the $color  
    			    //property. Defaults to -100 and 100.  
     			    minValue: -750,  
     			    maxValue: 750,  
        			//Set color range. Default's to reddish and  
        			//greenish. It takes an array of three  
        			//integers as R, G and B values.  
        			//maxColorValue: [0, 255, 50],
        			maxColorValue: [255, 50, 50],
					minColorValue: [50, 150, 255]
     			},
				Tips: {  
       				allow: true,  
       				//add positioning offsets  
       				offsetX: 20,  
       				offsetY: 20,
       				//implement the onShow method to  
       				//add content to the tooltip when a node  
       				//is hovered  
       				onShow: function(tip, node, isLeaf, domElement) {
						if (isLeaf) {
							top.innerHTML = node.name;
							var internalReportName = jQuery(domElement).parent().attr("id");
							internalReportName = internalReportName.substring(2);
							tipParams = {
								"return": "gui/resources/report_view_stats",
								"set_custom_report": "true",
								"reportkey": "dashboard_report",
								"custominternalreportname": internalReportName
							}
           					jQuery(tip).load("AppController.servlet", tipParams);
						} else {
							tip.innerHTML = node.name + " module";
						}
       				}
				}
             });  
    tm.loadJSON(json);
	
	// 'grow' leaves to remove the gaps between them and make groups of leaves look more contiguous
	jQuery(".leaf").each(function(i) {
	  var jqLeaf = jQuery(this);
	  var width = jqLeaf.css("width");
	  width = width.substring(0,width.length - 2)
	  widthInt = parseInt(width) + 2;
	  width = widthInt + "px";
	  var height = jqLeaf.css("height");
	  height = height.substring(0,height.length - 2)
	  heightInt = parseInt(height) + 2;
	  height = heightInt + "px";
	  var top = jqLeaf.css("top");
	  top = top.substring(0,top.length - 2)
	  top = parseInt(top) -1;
	  top = top + "px";
	  var left = jqLeaf.css("left");
	  left = left.substring(0,left.length - 2)
	  left = parseInt(left) -1;
	  left = left + "px";
	  jqLeaf.css("width",width);
	  jqLeaf.css("height",height);
	  jqLeaf.css("top",top);
	  jqLeaf.css("left",left);
	  if((widthInt * heightInt) > 2500) {
	  	jqLeaf.css("font-size","8pt");
	  }
	});
	
});
</script>

<div id="dashboard">
<div id="key">
	<img src="resources/dashboard/large.png"> large = widely used report <img src="resources/dashboard/small.png"> small = less use<p>
	<img src="resources/dashboard/increasing.png"> red = increasing use <img src="resources/dashboard/decreasing.png"> blue = cooling (decreasing)<p>
</div>

<div id="infovis" /> 
</div>
</body>
</html>
