##
##  Copyright 2013 GT webMarque Ltd
##
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
<style>
  @import url("website/bootstrap/css/bootstrap.css");
  @import url("website/styles.css");
  @import url("styles/main.css");
</style>
<div class="container">
#if($view.getWhetherExceptionOccurred())
  #set($exception = $view.getException())
  #if($exception.getClass().getSimpleName() == "DisallowedException")
    #set($cause = $exception)
  #else
    #set($cause = $exception.getCause())
  #end
  #if($cause.getClass().getSimpleName() == "DisallowedException")
    <h1>Request access</h1>
    <div class="big spaced">
      <p>$cause.getMessage()
      <p>These administrators can grant you access if you request it:</p>
      #set($admins = $view.getAdministrators())
      <ul>
      #foreach($admin in $admins)
        <li>
          $admin.getForename() $admin.getSurname()
          #if($admin.getEmail() && ($admin.getEmail != ""))
            <a href="mailto:$admin.getEmail()?subject=agilebase%20access%20to%20$sessionData.getTable().getSimpleName()">$admin.getEmail()</a>
          #end
        </li>
      #end
      </ul>
    </div>
  #else
    <div id="errormessage">
      <b>Error</b><p>
      $exception.getMessage()<p>
    </div>
  #end
#else
  The error handling template has been called but there's no exception available - I can't tell what happened
#end
</div>
