##
##  Copyright 2009 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($temp = $sessionData.setReportRowLimit(-1))
#set($sessionReport = $sessionData.getReport())
## Column headings
#foreach ($field in $sessionReport.getReportFields())
$viewTools.escapeForCSV($field.toString().toLowerCase()),## no linebreak
#end
## linebreak

## CSV output
#foreach($datarow in $view.getReportDataRows())
#foreach($field in $sessionReport.getReportFields())
## Make sure full text of big text fields is exported
#if($field.getBaseField().getClass().getSimpleName().endsWith("TextFieldDefn"))
#set($cellValue = $datarow.getDataRowFields().get($field.getBaseField()).getKeyValue())
#else
#set($cellValue = $datarow.getDataRowFields().get($field.getBaseField()).getDisplayValue())
#end
## make suitable for CSV output
#set($cellValue = $viewTools.escapeForCSV($cellValue))
$cellValue,## no linebreak
#end
## linebreak

#end

#set($user = $view.getLoggedInUser())
,Exported from the $user.getCompany() portalBase report '$sessionReport.getModule() - $sessionReport' on $viewTools.getDatestampString() by $user.getForename() $user.getSurname(). Live data at www.gtportalbase.com/start
