##
##  Copyright 2010 GT webMarque Ltd
## 
##  This file is part of agileBase.
##
##  agileBase is free software: you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation, either version 3 of the License, or
##  (at your option) any later version.
##  agileBase is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with agileBase.  If not, see <http://www.gnu.org/licenses/>.
##
#set($mobile_device = $sessionData.getCustomBoolean("mobile_device"))
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
<head>
    #parse('gui/display_error.vm')
	#if($mobile_device)
	<meta name = "viewport" content = "width = device-width">
	<!-- <meta name="apple-mobile-web-app-capable" content="yes" /> -->
	<link rel="apple-touch-icon" href="resources/icons/apple-touch-icon.png"/>
	#end
	<title>$view.getApplicationName() version $view.getApplicationVersion() - $view.getLoggedInUser().getCompany()</title>
	## CSS
	#if($mobile_device)
	  <link href="resources/mobile/pane1_amalgam.css" type="text/css" rel="stylesheet" />
	#else
	  <link href="resources/pane1_amalgam.css" type="text/css" rel="stylesheet" />
	#end
	## JS
	<script type="text/javascript" src="resources/jquery.js"></script>
	#if($mobile_device)
	  <script type="text/javascript" src="resources/mobile/pane1_amalgam.js"></script>
	  <script type="text/javascript">
	  jQuery(document).ready(function() {
	    assignButtonModuleActions();
	  });
	  </script>
	#else
	<script type="text/javascript" src="resources/pane1_amalgam.js"></script>
	<script type="text/javascript">
	jQuery(document).ready(function() {
	  jQuery(".report_tooltip").cluetip({
	    showTitle: false,
		ajaxCache: true,
		waitImage: false,
		width: 229,
		hoverIntent: {  
		  interval: 500
		}
	  });
	  parent.pane_2.document.location='AppController.servlet?return=gui/reports_and_tables/report_data';
	  // Hide pane 1 when there's only one report visible
	  if(jQuery("a.report_tooltip").size() == 1) {
	    top.jQuery("button.toggleButton:first").click();
	  }
	});
    </script>
	#end
</head>
<body>
	<ol id="tree"> <!-- ordered list for sections -->      
	  #parse('gui/reports_and_tables/report_list.vm')
	  #if($mobile_device)
		<li><h1><span>&nbsp;</span></h1>
			<ul>
					<div id="logout">
						<form method="get" action="AppController.servlet">
							<input type="hidden" name="return" value="gui/display_application">
							<input type="hidden" name="logout" value="true">
							<input type="submit" value="logout">
						</form>
						<form method="get" action="AppController.servlet" style="float:right">
							<input type="hidden" name="return" value="gui/customisations/common/dashboard/dashboard">
							<input type="submit" value="dashboard">
						</form>
					</div>
			</ul>
		</li>
	  #else
        #set($manageableTables = $view.getTablesAllowedTo("MANAGE_TABLE"))
	    ## #if(($manageableTables.size() > 0) || $view.loggedInUserAllowedTo('ADMINISTRATE'))
	    <li id="setup"><h1><span>Setup</span></h1>
  		  <ul>
		  #parse('gui/reports_and_tables/table_list.vm')
		  #parse('gui/administration/administration.vm')
		  </ul>
	    </li>
	    #end
	  ## #end
	</ol> ## end list of sections	  
	  #if($view.getException().getMessage())
		   <script language="javascript">
		      alert('$viewTools.escape($view.getException().getMessage())');
		   </script>
	  #end
</body>
</html>